body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-display: swap;
  color: #333;
  overflow-x: hidden;
}

section,
footer {
  padding: 50px 0;
}
section h2,
footer h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #9b661e;
}
section p.section-blurb,
footer p.section-blurb {
  max-width: 650px;
  text-align: center;
  margin: 0 auto 4rem auto;
}
@media (max-width: 650px) {
  section p.section-blurb,
footer p.section-blurb {
    max-width: 100% !important;
  }
}

.phone-location {
  color: #555;
  font-size: 0.9rem;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 15;
}
@media (max-width: 750px) {
  .phone-location {
    padding: 0.25rem 0;
  }
  .phone-location .content {
    flex-direction: column;
    text-align: center;
    height: 60px !important;
    padding: 0.25rem 0;
  }
  .phone-location .content .phone {
    display: inline-block !important;
    line-height: 30px;
  }
  .phone-location .content .phone i {
    line-height: 30px;
    vertical-align: bottom;
  }
}
.phone-location .container .content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}
.phone-location a {
  text-decoration: underline;
}
.phone-location .phone {
  color: #008839;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.phone-location .phone a {
  color: #008839;
  font-weight: 700;
}

header {
  background: white;
  z-index: 6;
  position: relative;
}
@media (max-width: 992px) {
  header nav ul {
    display: none !important;
  }
}
header nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}
header nav .sidenav-trigger {
  width: 56px;
  background: #f1f1f1;
  text-align: center;
  margin: 0 0 0 0.5rem !important;
}
header nav ul {
  gap: 8px;
  display: inline-flex;
}
header nav ul li > a {
  font-weight: 500;
}
header nav ul li > a.cta-estimate {
  color: #fff;
  background: #1679CD;
  padding: 0 1.2rem;
  border-radius: 4px;
}
header nav ul li > a.cta-estimate:hover {
  background: #1d5391;
}
header img {
  width: 100%;
  max-width: 260px;
}

.sidenav li > a.cta-estimate {
  color: #fff !important;
  background: #1679CD !important;
}
.sidenav li > a.cta-estimate:hover {
  background: #1d5391 !important;
}

section.hero {
  background: #f5f5f4;
  padding: 0;
}
@media (max-width: 700px) {
  section.hero .container {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr;
  }
  section.hero .container .hero-pic {
    grid-row: 1/2;
  }
  section.hero .container .hero-pic img.hero-face {
    left: -2px !important;
  }
  section.hero .container .hero-info {
    grid-row: 2/3;
    padding: 0 1rem;
  }
  section.hero .container .hero-info h1 {
    font-size: 2rem;
  }
}
section.hero .container {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  align-items: center;
  height: 70vh;
  max-width: unset;
  width: 100%;
}
section.hero .container div {
  z-index: 1;
}
section.hero .container .hero-info {
  max-width: 500px;
  justify-self: flex-end;
  z-index: 5;
}
section.hero .container .hero-info a[href^="tel:"] {
  font-weight: 700;
}
@media (min-width: 600px) and (max-width: 1110px) {
  section.hero .container {
    max-width: 95%;
    margin-left: 5%;
  }
}
@media (max-width: 1030px) {
  section.hero .container:before {
    background-size: cover !important;
  }
}
section.hero .container .change-location-trigger {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #666;
}
section.hero .container h1 {
  font-size: 2.5rem;
}
section.hero .container .hero-pic {
  height: 100%;
  position: relative;
}
section.hero .container .hero-pic img.hero-face {
  position: absolute;
  height: calc(100% + 5px);
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
  top: -2px;
  left: -100px;
}
section.hero .container .hero-pic .hero-pic-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
section.hero .container .hero-pic .hero-pic-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section.about {
  background: white;
}
section.about h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-align: left;
}
section.about p {
  font-size: 2.3rem;
  margin-top: 0;
  line-height: 1;
}
section.about .container img {
  width: 100%;
  height: auto;
}

section.products .products-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  section.products .products-list {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr;
  }
  section.products .products-list li {
    height: 220px;
  }
}
section.products .products-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  height: 300px;
}
section.products .products-list li div {
  justify-self: flex-end;
}
section.products .products-list li .product-title-box {
  width: 100%;
  max-width: 350px;
}
section.products .products-list li h3 {
  font-family: "Playfair Display";
  font-size: 1.9rem;
  margin-bottom: 0;
}
section.products .products-list li p {
  margin-top: 0.25rem;
  color: #666;
}
section.products .products-list li img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.products .products-list li:nth-of-type(2) {
  margin: 50px 0;
}
section.products .products-list li:nth-of-type(2) div {
  justify-self: flex-start;
}
section.products .products-list li:nth-of-type(2) img {
  grid-column: 1/2;
  grid-row: 1;
}
section.products .products-list li:nth-of-type(2) div {
  grid-column: 2/3;
  grid-row: 1;
}

section.services {
  position: relative;
}
section.services:before {
  content: "";
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 400px;
  background: #f5f5f4;
  z-index: -1;
}
section.services .container {
  max-width: 1000px;
}
section.services h2 {
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  section.services h2 {
    margin-bottom: 1rem;
  }
  section.services .services-list li {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 200px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}
@media (max-width: 992px) {
  section.services .services-list {
    grid-template-columns: 1fr !important;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: 0 auto;
  }
  section.services .services-list li div {
    background: transparent !important;
  }
}
section.services .services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
section.services .services-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 280px;
}
section.services .services-list li div {
  background: white;
  height: 100%;
  align-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.services .services-list li div h3 {
  font-family: "Libre Baskerville";
  font-size: 1.9rem;
  margin-bottom: 0;
}
section.services .services-list li div p {
  margin-top: 0.25rem;
  color: #666;
}
section.services .services-list li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 650px) {
  section.brands .container h2,
section.brands .container p {
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}
section.brands .container .brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 992px) {
  section.brands .container .brands-list {
    grid-template-columns: repeat(3, 1fr);
  }
  section.brands .container .brands-list .section-blurb {
    margin: 0 auto 2rem auto !important;
  }
}
section.brands .container .brands-list li {
  width: 100%;
}
section.brands .container .brands-list li a:hover img, section.brands .container .brands-list li a:focus-visible img {
  transform: scale(1.05);
}
section.brands .container .brands-list li img {
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

section.estimate {
  background: #eaeae7;
}
section.estimate .container {
  max-width: 400px !important;
}
section.estimate input,
section.estimate textarea,
section.estimate select {
  margin-bottom: 1rem !important;
}
section.estimate form {
  display: inline-flex;
  flex-direction: column;
}
section.estimate button {
  align-self: center;
  background: #008839;
}
section.estimate button:hover, section.estimate button:focus {
  background: #007933;
}

section.certifications h2 {
  text-align: left;
}
section.certifications img {
  width: 100%;
}
section.certifications li {
  line-height: 1.8;
}

footer {
  background: #eaeae7;
  color: #555;
}
footer h2 {
  color: #333;
  text-align: left;
  margin-top: 1rem;
}
footer img {
  width: 100%;
}
footer img.logo-footer {
  max-width: 260px;
}
footer .social-heading {
  margin: 3rem 0 0 0 !important;
}
footer .social-links {
  display: inline-flex;
  gap: 8px;
}
footer .social-links li {
  width: 32px;
}
footer .social-links li img {
  width: 32px;
}
footer .social-links li:hover {
  opacity: 0.7;
}

section.clients {
  background: #ECF2F7;
}/*# sourceMappingURL=fow.css.map */