:root {
	--main-color: #3347a1;
	--secondary-color: #f3b51a;
}
@font-face {
	font-family: "Agustina-Signature";
	src: url(../fonts/agustina-signature.woff2) format("woff2");
	font-style: normal;
	font-weight: 400;
}

html {
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	background: var(--main-color);
	color: #fff;
	font-family: "Maven Pro", sans-serif;
}

main {
	margin-top: -94px;
}

main,
footer {
	a {
		color: white;
		text-decoration: underline dotted 1px white;
		text-underline-offset: 4px;
		transition: 0.3s ease-in-out;

		&:hover {
			text-decoration: underline solid 2px var(--secondary-color);
		}
	}
}

header {
	position: relative;
	display: flex;
	padding-top: 2rem;
	z-index: 10;
	top: 0;
	width: 100%;
	nav {
		background: none;
		box-shadow: none;

		.nav-wrapper {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}

		ul {
			text-transform: uppercase;
			font-weight: 500;

			li {
				a {
					padding: 4px 8px;
					line-height: initial;
					border-radius: 10px;
					font-size: 12px;

					&:hover {
						background-color: #fff;
						color: var(--main-color);
					}
				}
			}
		}
	}
	form {
		width: 170px;
		height: fit-content !important;
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		input {
			background-color: #fff;
			color: var(--main-color);
			border-radius: 20px;
			padding: 4px 8px;
			border: 0;
			margin-left: -40px;
			text-indent: 40px;
			width: 100%;
		}
		button {
			background: none;
			border: 0;
			cursor: pointer;
			border-radius: 20px;
			color: var(--main-color);
			&:hover,
			&:focus {
				background: rgba(black, 0.1);
			}
			i {
				height: 32px !important;
				width: 32px;
				line-height: 32px !important;
			}
		}
	}
}

section.include-dots {
	.container {
		position: relative;

		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 250px;
			height: 250px;
			background: url(../img/dots.png) center center no-repeat;
			background-size: contain;
			transform: translateX(-50%);
			z-index: -1;
			opacity: 0.5;
		}

		&:after {
			left: unset;
			right: 0;
			transform: translateX(50%);
		}
	}
	&.white-bg {
		.container {
			&:before,
			&:after {
				z-index: 0;
				filter: brightness(0) saturate(100%) invert(23%) sepia(96%) saturate(1051%) hue-rotate(206deg)
					brightness(89%) contrast(88%);
			}
		}
	}
}

section {
	padding: 100px 0;
}

// Misc
.img-spacer {
	width: 100%;
	height: 350px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.container {
	padding: 0 1rem;
}
.font-script {
	font-family: "Agustina-Signature";
	font-size: 8rem;
	color: var(--secondary-color);
	display: none;

	@media (min-width: 70em) {
		display: block;
	}
}
.white-bg {
	background-color: #fff;
	color: var(--main-color);

	.section-title {
		&:before {
			filter: brightness(0) saturate(100%) invert(23%) sepia(96%) saturate(1051%) hue-rotate(206deg)
				brightness(89%) contrast(88%);
		}
	}
}
.highlight {
	color: var(--secondary-color);
	font-weight: 600;
}

.section-title {
	position: relative;

	h1,
	h2 {
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: bold;
	}
	small {
		font-size: 2rem;
		font-weight: 400;
	}
	@media (min-width: 42em) {
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 2rem;
			width: 50px;
			height: 50px;
			background: url(../img/circle.png) center center no-repeat;
			background-size: contain;
			transform: translateX(-50%);
			z-index: 1;
		}
	}

	@media (min-width: 42em) {
		position: relative;
		padding-bottom: 80px;

		.font-script {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%) translateX(-90%);
		}
	}

	@media (min-width: 80em) {
		h1,
		h2 {
			font-size: 6rem;
			display: flex;
			flex-direction: column;
			line-height: 1;
		}
		small {
			text-indent: 8rem;
		}
	}
}

ol {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		counter-increment: li;
		&:before {
			content: counter(li) ".";
			padding-right: 0.5rem;
		}
	}
}

// Sections

section#inicio {
	position: relative;
	padding: 14rem 0 100px 0;

	.brand-logo {
		width: 100%;
		max-width: 250px;
	}

	.inicio-wrapper {
		width: 100%;
		max-width: 600px;
	}

	.container {
		&:before {
			transform: translateX(-50%) rotate(30deg);
		}
		&:after {
			transform: translateX(50%) rotate(-20deg);
		}
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.section-fg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		background: url(../img/fg_inicio.svg) top left no-repeat;
		z-index: 3;
		background-size: contain;
		opacity: 0.8;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/Mar.png) center center no-repeat;
		filter: grayscale(100%) contrast(200%);
		background-size: cover;
		z-index: 1;
	}

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: var(--main-color);
		mix-blend-mode: hard-light;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}

	.container {
		position: relative;
		z-index: 5;
		text-align: center;
	}

	.section-logos {
		display: flex;
		flex-wrap: wrap;
		gap: 4rem;
		justify-content: center;
		margin-top: 2rem;

		img {
			width: 150px;
			object-fit: contain;
		}
	}
}

section#orgaos {
	padding: 100px 0;

	.cards-wrapper {
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		.cards-list {
			width: 100%;
			display: grid;
			grid-auto-flow: column;
			gap: 1rem;

			.card {
				background: #001f8f;
				border-radius: 10px;
				padding: 1rem;
				box-shadow: none;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: calc(100vw - 6rem);
				scroll-snap-align: center;

				h3 {
					margin: 0;
					line-height: 1;
					font-size: 1.5rem;
					text-align: center;
					font-weight: 600;
				}

				p {
					margin: 0;
				}
				.highlight {
					text-transform: uppercase;
				}
			}
		}
	}

	@media (min-width: 42em) {
		.cards-wrapper {
			.cards-list {
				.card {
					width: calc(100vw / 2);
				}
			}
		}
	}

	@media (min-width: 80em) {
		.cards-wrapper {
			.cards-list {
				.card {
					width: 460px;
				}
			}
		}
	}
}

section#indicadores {
	text-align: center;

	.section-title {
		&:before {
			top: 0;
			transform: translateY(0);
		}
	}

	ol {
		font-size: 1.4rem;
		li {
			&:before {
				font-weight: 600;
			}
			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}
		}
		&:before,
		&:after {
			content: "";
			border: 4px solid var(--main-color);
			border-top: 0;
			width: 120px;
			height: 120px;
			position: absolute;
			bottom: -60px;
			left: 0;
			transform: translateX(50%);
		}

		&:before {
			border-right: 0;
		}
		&:after {
			border-left: 0;
			left: unset;
			right: 0;
			transform: translateX(-50%);
		}
	}
}

section#aquiculturaepesca {
	font-size: 1.2rem;
	text-align: center;

	.borders-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: fit-content;
	}

	@media (min-width: 80em) {
		.borders-wrapper {
			&:before,
			&:after {
				content: "";
				border: 4px solid #fff;
				border-top: 0;
				width: 120px;
				height: 120px;
				position: absolute;
				bottom: -60px;
				left: -8rem;
				transform: translateX(50%);
			}

			&:before {
				border-right: 0;
			}
			&:after {
				border-left: 0;
				left: unset;
				right: -8rem;
				transform: translateX(-50%);
			}
		}
	}
}

section#qualidade {
	font-size: 1.2rem;

	ol {
		z-index: 2;
		position: relative;
	}
}

section#legislacao {
	font-size: 1.2rem;
	.section-title {
		.font-script {
			transform: translateY(-50%) translateX(-60%);
		}
		margin-bottom: 2rem;
	}

	.border-cards-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 6rem 2rem;
		justify-content: center;
		padding-top: 4rem;

		.border-card {
			display: flex;
			flex-direction: column;
			border: 4px solid white;
			border-top: 0;
			width: 100%;
			max-width: 350px;
			padding: 0rem 1rem 3rem 1rem;
			position: relative;

			.border-card-content {
				margin-top: -2rem;
			}

			.title {
				text-transform: uppercase;
				line-height: 1;
				font-weight: 600;
				text-align: center;
			}

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 70px;
				height: 70px;
				background: url(../img/circle_simple.png) center center no-repeat;
				background-size: contain;
				transform: translateX(-50%) translateY(50%);
				z-index: 2;
			}
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 120px;
				height: 50px;
				background: var(--main-color);
				transform: translateX(-50%) translateY(50%);
				z-index: 1;
			}
		}
	}
}

footer {
	text-align: center;
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin: 0;
		padding: 0;

		li {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			grid-area: 1rem;
			text-align: center;
		}
	}

	ul.social-media {
		li {
			img {
				width: 40px;
				height: 40px;
				object-fit: contain;
			}
		}
	}

	ul.contact {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		width: fit-content;
		margin: 2rem auto 0 auto;
	}

	@media (min-width: 42em) {
		ul.contact {
			gap: 6rem;
		}
	}
}
