:root {
  --main-color: #3347a1;
  --secondary-color: #f3b51a;
}

@font-face {
  font-family: "Agustina-Signature";
  src: url(../fonts/agustina-signature.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-color);
  color: #fff;
  font-family: "Maven Pro", sans-serif;
}

main {
  margin-top: -94px;
}

main a,
footer a {
  color: white;
  -webkit-text-decoration: underline dotted 1px white;
          text-decoration: underline dotted 1px white;
  text-underline-offset: 4px;
  transition: 0.3s ease-in-out;
}
main a:hover,
footer a:hover {
  -webkit-text-decoration: underline solid 2px var(--secondary-color);
          text-decoration: underline solid 2px var(--secondary-color);
}

header {
  position: relative;
  display: flex;
  padding-top: 2rem;
  z-index: 10;
  top: 0;
  width: 100%;
}
header nav {
  background: none;
  box-shadow: none;
}
header nav .nav-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header nav ul {
  text-transform: uppercase;
  font-weight: 500;
}
header nav ul li a {
  padding: 4px 8px;
  line-height: initial;
  border-radius: 10px;
  font-size: 12px;
}
header nav ul li a:hover {
  background-color: #fff;
  color: var(--main-color);
}
header form {
  width: 170px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
header form input {
  background-color: #fff;
  color: var(--main-color);
  border-radius: 20px;
  padding: 4px 8px;
  border: 0;
  margin-left: -40px;
  text-indent: 40px;
  width: 100%;
}
header form button {
  background: none;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  color: var(--main-color);
}
header form button:hover, header form button:focus {
  background: rgba(0, 0, 0, 0.1);
}
header form button i {
  height: 32px !important;
  width: 32px;
  line-height: 32px !important;
}

section.include-dots .container {
  position: relative;
}
section.include-dots .container:after, section.include-dots .container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: url(../img/dots.png) center center no-repeat;
  background-size: contain;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.5;
}
section.include-dots .container:after {
  left: unset;
  right: 0;
  transform: translateX(50%);
}
section.include-dots.white-bg .container:before, section.include-dots.white-bg .container:after {
  z-index: 0;
  filter: brightness(0) saturate(100%) invert(23%) sepia(96%) saturate(1051%) hue-rotate(206deg) brightness(89%) contrast(88%);
}

section {
  padding: 100px 0;
}

.img-spacer {
  width: 100%;
  height: 350px;
}
.img-spacer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 0 1rem;
}

.font-script {
  font-family: "Agustina-Signature";
  font-size: 8rem;
  color: var(--secondary-color);
  display: none;
}
@media (min-width: 70em) {
  .font-script {
    display: block;
  }
}

.white-bg {
  background-color: #fff;
  color: var(--main-color);
}
.white-bg .section-title:before {
  filter: brightness(0) saturate(100%) invert(23%) sepia(96%) saturate(1051%) hue-rotate(206deg) brightness(89%) contrast(88%);
}

.highlight {
  color: var(--secondary-color);
  font-weight: 600;
}

.section-title {
  position: relative;
}
.section-title h1,
.section-title h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}
.section-title small {
  font-size: 2rem;
  font-weight: 400;
}
@media (min-width: 42em) {
  .section-title:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 50px;
    height: 50px;
    background: url(../img/circle.png) center center no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    z-index: 1;
  }
}
@media (min-width: 42em) {
  .section-title {
    position: relative;
    padding-bottom: 80px;
  }
  .section-title .font-script {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-90%);
  }
}
@media (min-width: 80em) {
  .section-title h1,
  .section-title h2 {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
  }
  .section-title small {
    text-indent: 8rem;
  }
}

ol {
  margin: 0;
  padding: 0;
}
ol li {
  list-style: none;
  counter-increment: li;
}
ol li:before {
  content: counter(li) ".";
  padding-right: 0.5rem;
}

section#inicio {
  position: relative;
  padding: 14rem 0 100px 0;
}
section#inicio .brand-logo {
  width: 100%;
  max-width: 250px;
}
section#inicio .inicio-wrapper {
  width: 100%;
  max-width: 600px;
}
section#inicio .container {
  display: flex;
  width: 100%;
  justify-content: center;
}
section#inicio .container:before {
  transform: translateX(-50%) rotate(30deg);
}
section#inicio .container:after {
  transform: translateX(50%) rotate(-20deg);
}
section#inicio .section-fg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: url(../img/fg_inicio.svg) top left no-repeat;
  z-index: 3;
  background-size: contain;
  opacity: 0.8;
}
section#inicio:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Mar.png) center center no-repeat;
  filter: grayscale(100%) contrast(200%);
  background-size: cover;
  z-index: 1;
}
section#inicio:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--main-color);
  mix-blend-mode: hard-light;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
section#inicio .container {
  position: relative;
  z-index: 5;
  text-align: center;
}
section#inicio .section-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin-top: 2rem;
}
section#inicio .section-logos img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

section#orgaos {
  padding: 100px 0;
}
section#orgaos .cards-wrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
section#orgaos .cards-wrapper .cards-list {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
section#orgaos .cards-wrapper .cards-list .card {
  background: #001f8f;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100vw - 6rem);
  scroll-snap-align: center;
}
section#orgaos .cards-wrapper .cards-list .card h3 {
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
section#orgaos .cards-wrapper .cards-list .card p {
  margin: 0;
}
section#orgaos .cards-wrapper .cards-list .card .highlight {
  text-transform: uppercase;
}
@media (min-width: 42em) {
  section#orgaos .cards-wrapper .cards-list .card {
    width: 50vw;
  }
}
@media (min-width: 80em) {
  section#orgaos .cards-wrapper .cards-list .card {
    width: 460px;
  }
}

section#indicadores {
  text-align: center;
}
section#indicadores .section-title:before {
  top: 0;
  transform: translateY(0);
}
section#indicadores ol {
  font-size: 1.4rem;
}
section#indicadores ol li:before {
  font-weight: 600;
}
section#indicadores ol li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
section#indicadores ol:before, section#indicadores ol:after {
  content: "";
  border: 4px solid var(--main-color);
  border-top: 0;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -60px;
  left: 0;
  transform: translateX(50%);
}
section#indicadores ol:before {
  border-right: 0;
}
section#indicadores ol:after {
  border-left: 0;
  left: unset;
  right: 0;
  transform: translateX(-50%);
}

section#aquiculturaepesca {
  font-size: 1.2rem;
  text-align: center;
}
section#aquiculturaepesca .borders-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 80em) {
  section#aquiculturaepesca .borders-wrapper:before, section#aquiculturaepesca .borders-wrapper:after {
    content: "";
    border: 4px solid #fff;
    border-top: 0;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -60px;
    left: -8rem;
    transform: translateX(50%);
  }
  section#aquiculturaepesca .borders-wrapper:before {
    border-right: 0;
  }
  section#aquiculturaepesca .borders-wrapper:after {
    border-left: 0;
    left: unset;
    right: -8rem;
    transform: translateX(-50%);
  }
}

section#qualidade {
  font-size: 1.2rem;
}
section#qualidade ol {
  z-index: 2;
  position: relative;
}

section#legislacao {
  font-size: 1.2rem;
}
section#legislacao .section-title {
  margin-bottom: 2rem;
}
section#legislacao .section-title .font-script {
  transform: translateY(-50%) translateX(-60%);
}
section#legislacao .border-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 2rem;
  justify-content: center;
  padding-top: 4rem;
}
section#legislacao .border-cards-wrapper .border-card {
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  border-top: 0;
  width: 100%;
  max-width: 350px;
  padding: 0rem 1rem 3rem 1rem;
  position: relative;
}
section#legislacao .border-cards-wrapper .border-card .border-card-content {
  margin-top: -2rem;
}
section#legislacao .border-cards-wrapper .border-card .title {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
section#legislacao .border-cards-wrapper .border-card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 70px;
  background: url(../img/circle_simple.png) center center no-repeat;
  background-size: contain;
  transform: translateX(-50%) translateY(50%);
  z-index: 2;
}
section#legislacao .border-cards-wrapper .border-card:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 120px;
  height: 50px;
  background: var(--main-color);
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
}

footer {
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-area: 1rem;
  text-align: center;
}
footer ul.social-media li img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer ul.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0 auto;
}
@media (min-width: 42em) {
  footer ul.contact {
    gap: 6rem;
  }
}/*# sourceMappingURL=style.css.map */