.js-Carousel {
	background: #272822;
	height: 600px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 800px;
}
.js-Carousel > ul {
	height: 600px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 9999px;
}
.js-Carousel > ul li {
	display: inline-block;
	float: left;
	width: 800px;
  height: 100%;
	transition: margin-left 0.3s ease;
	position: relative;
}

.js-Carousel > ul li span{
position: absolute;
bottom: 8px;
left: 8px;
z-index: 1;
text-shadow: 0 0 10px black;
}
.js-Carousel > ul li img {
	width: 100%;
  height: 100%;
  object-fit: cover;
}
.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
	background: transparent;
	border: 0;
	color: #e0e0e0;
	cursor: pointer;
	font: 400 10em sans-serif;
	height: 600px;
	outline: 0;
	position: absolute;
	top: 0;
	text-shadow: 0 0 10px #444444;
	width: 90px;
	transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-arrowPrev:hover,
.js-Carousel .js-Carousel-arrowNext:hover {
	color: #aaaaaa;
}
.js-Carousel .js-Carousel-arrowPrev {
	left: 0;
}
.js-Carousel .js-Carousel-arrowNext {
	right: 0;
}
.js-Carousel .js-Carousel-dots {
	display: inline-block;
	height: 1.25em;
	margin: 0;
	position: absolute;
	bottom: 1em;
	right: 1em;
	width: auto;
}
.js-Carousel .js-Carousel-dots li {
	background: #aaaaaa;
	border-radius: 0.75em;
	cursor: pointer;
	display: inline-block;
	height: 0.75em;
	margin: 0 0.75em;
	width: 0.75em;
	transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-dots li.is-active {
	background: #ffffff;
	box-shadow: 0 0 3px 3px #ddd;
}
.js-Carousel .js-Carousel-dots li:hover {
	background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop,
.js-Carousel .js-Carousel-btnPlay {
	background: #aaaaaa;
	border: 0;
	cursor: pointer;
	height: 2.25em;
	position: absolute;
	bottom: 1em;
	left: 2em;
	text-align: center;
	width: 5em;
	transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-btnStop:hover,
.js-Carousel .js-Carousel-btnPlay:hover {
	background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop {
	left: 100px;
}

@media (max-width: 80em) {
  .js-Carousel {
	height: 400px;
	width: 600px;
}
.js-Carousel > ul {
	height: 400px;
}
.js-Carousel > ul li {
	width: 100%;
  width: 600px;
  height: 100%;
}

.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
	height: 400px;
}
}

@media (max-width: 40em) {
  .js-Carousel {
	height: 200px;
	width: 300px;
}
.js-Carousel > ul {
	height: 200px;
}
.js-Carousel > ul li {
	width: 100%;
  width: 300px;
  height: 100%;
}

.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
	height: 200px;
  font-size: 80px;
  width: 60px;
}
}