.vertical-align-top{vertical-align:top}.card-animation-1,.image-n-margin{margin-top:-50px;-webkit-transition:0.3s;transition:0.5s}.card-animation-1:hover .image-n-margin{margin-top:-80px;margin-bottom:30px;-webkit-transition:0.3s;transition:0.5s}#blog-list .card.horizontal{overflow:hidden;max-height:200px}#blog-list .social-icon{width:7.5rem}#blog-list .social-icon .material-icons:hover{cursor:pointer !important}@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px){#blog-list .social-icon{display:inline-flex;padding-left:0px}}@media screen and (max-width: 768px){#blog-list .card-panel .mt-3.social-icon{margin-top:2% !important}}@media screen and (max-width: 600px){#blog-list .card-panel .mt-3.social-icon{margin-top:1% !important}}@media screen and (max-width: 480px){#blog-list{margin-top:3rem}}
/*# sourceMappingURL=page-blog.css.map */
