.collapsible {
  border-top: 1px solid $collapsible-border-color;
  margin: $element-top-margin 0 $element-bottom-margin 0;

  li{
    border-bottom: 1px solid $collapsible-border-color;

    &.active .collapsible-header{  
      &:after{
        content: "keyboard_arrow_up";
      }
    }
  }

}

.collapsible-extended{
  .collapsible-header{
    display: inline-flex;
    gap: 2rem;

    &-img{
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba($primary-color, .1);

      i{
        margin-right: 0;
        font-size: 2rem;
        color: $primary-color-dark;
      }

      img{ 
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title{
      p{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0;
      }
    }
  }
  .collapsible-body{
    padding-top: 0;
    padding-left: calc(3rem + 80px);
  }
}

.collapsible-header {
  &:focus {
    outline: 0
  }
  transition: .3s border-bottom ease-in-out;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: $collapsible-header-color;
  position: relative;
  font-size: 1.6rem;
  
  @media screen and (max-width: 600px) {
    font-size: 1rem;
    padding: 1.5rem 1rem;
  }

  i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
  }

  &:after{
    content: "keyboard_arrow_down";
    font-family: 'Material Icons';
    font-size: 2rem;
    width: 24px;
    height: fit-content;
    position: relative;
  }

    
}
.keyboard-focused .collapsible-header:focus {
  background-color: #eee;
}

.collapsible-body {
  display: none;
  // border-bottom: 1px solid $collapsible-border-color;
  box-sizing: border-box;
  padding: 2rem;

  @media #{$small-and-down} {
    padding: 1rem 0;    
  }
}

// Sidenav collapsible styling
.sidenav,
.sidenav.fixed {

  .collapsible {
    border: none;
    box-shadow: none;

    li { padding: 0; }
  }

  .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 $sidenav-padding;
    

    &:hover { background-color: rgba(0,0,0,.05); }
    i { line-height: inherit; }
  }

  .collapsible-body {
    border: 0;
    background-color: $collapsible-header-color;

    li a {
      padding: 0 (7.5px + $sidenav-padding)
               0 (15px + $sidenav-padding);
    }
  }

}

// Popout Collapsible

.collapsible.popout {
  border: none;
  box-shadow: none;
  > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    // transform: scaleX(.92);
    margin: 0 24px;
    transition: margin .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  > li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;
    // transform: scaleX(1);
  }
}
