/*!
 * autocomplete.js v0.3.0
 * http://autocompletejs.com/
 *
 * Copyright 2013 Chris Oakman
 * Released under the MIT license
 * http://autocompletejs.com/license
 *
 * Date: 20 Oct 2013
 */

div.clear-53545 {
  clear: both;
}

div.autocomplete-container-7a26d {
  /* border: 2px solid #ccc; */
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-transform: capitalize;
  position: relative;
}

div.autocomplete-container-7a26d span.sinonimos{
  color: #666;
  font-style: italic;
  font-size: 14px !important;
}

div.placeholder-d722a {
  color: #777;
  float: left;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 0 0;
}

input.input-8f2fe {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
  float: left;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: 120px;
}

div.token-group-c7334 {
  background: #2E5790;
  border: 1px solid #f5f5f5;
  color: #fff;
  cursor: pointer;
  float: left;
  margin: 4px;
  padding: 4px 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.token-group-c7334 span.sinonimos{
  display: none;
}

span.remove-token-group-53474 {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 2px;
}

div.selected-token-group-359b9 {
  background: #b0d1f9;
  background: -moz-linear-gradient(top,#d2e6fd 0%,#b0d1f9 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d2e6fd),color-stop(100%,#b0d1f9));
  background: -webkit-linear-gradient(top,#d2e6fd 0%,#b0d1f9 100%);
  background: -o-linear-gradient(top,#d2e6fd 0%,#b0d1f9 100%);
  background: -ms-linear-gradient(top,#d2e6fd 0%,#b0d1f9 100%);
  background: linear-gradient(top,#d2e6fd 0%,#b0d1f9 100%);
}

span.token-container-75233 {
  margin: 0 2px;
}

ul.dropdown-a3d44 {
  background: #e3e3e3;
  border: 1px solid #ccc;
  margin: 12px 0 0 0;
  max-height: 150px;
  min-width: 140px;
  width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  z-index: 10;
  top: 0px !important;
}

li.list-item-d13e9 {
  background: #f9f9f9;
  border-bottom: 1px solid #d8d8d8;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 4px;
}

li.option-7b59f {
  cursor: pointer;
}

li.highlighted-ea4c1 {
  background: #00519d;
  color: #fff;
}

li.highlighted-ea4c1 span.sinonimos{
  color: #a3d3ff;
}

li.last-option-c1e64 {
  border-bottom: 0;
}

span.children-indicator-ca540 {
  float: right;
}