body.cb-body{background:#673ab7;height:100vh;overflow:hidden}body.cb-body .cb-wrapper{margin-top:15vh;text-align:center;width:100%}body.cb-body .cb-wrapper .cb-logo{margin-bottom:10px}body.cb-body .cb-wrapper .cb-box{margin:0 auto;width:95%;max-width:600px;background:#fff;padding:30px 15px;border-radius:6px;box-shadow:5px 5px 10px rgba(0,0,0,0.1)}body.cb-body .cb-wrapper .cb-box .cb-icon img{width:100px}body.cb-body .cb-wrapper .cb-box h1{font-size:30px}body.cb-body .cb-wrapper .cb-box .cb-btn{display:inline-flex;padding:5px 20px;border-radius:6px;background:#ff4081;color:#fff}body.cb-body .cb-wrapper .cb-square{margin-top:30px;filter:invert(1) contrast(100%)}
/*# sourceMappingURL=callback.css.map */
