.customer-estimates{

	thead tr, tbody tr{
		display: flex;
		align-items: stretch;
	}

	th, td{
		width: calc(100% / 6);
	}

	thead{
		display: table-header-group;
	}

	tbody{
		display: block;
		max-height: 300px;
		overflow-y: auto; 
		tr{
			table-layout:fixed;
		}
	}
}