.customer-estimates thead tr,.customer-estimates tbody tr{display:flex;align-items:stretch}.customer-estimates th,.customer-estimates td{width:calc(100% / 6)}.customer-estimates thead{display:table-header-group}.customer-estimates tbody{display:block;max-height:300px;overflow-y:auto}.customer-estimates tbody tr{table-layout:fixed}
/*# sourceMappingURL=customer.css.map */
