.dashboard-chart{
    overflow: hidden;
    .chart-wrapper{
        margin-bottom: 0px;
        margin-top: 0px;
        canvas{
            max-height: 122px;
        }
    }
} 

.recent-clients-card, .recent-orders-card{
    .collection{
        border: none !important;

        .collection-item{
            border: none !important;
            padding: 10px 0px;
        }
    }
}