*, *:before, *:after{
    box-sizing: border-box;
}

body{
    background: #eef2f3;
    font-family: 'Muli', Helvetica, Arial, sans-serif;

    a{
        color: #3949ab;
        text-decoration: none;
    }

    .email-wrapper{
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 0;
    }
}

.email-header{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 60px;
    align-items: center;
    &--company{
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        img{
            width: 40px;
            float: left;
        }
    }

    &--info{
        color: #666;
        font-size: 14px;
    }
}

.email-body{
    background: #fff;
        border: 1px solid rgba(black, .1);
        border-top: 10px solid #f5b000;
        border-radius: 4px;
        padding: 40px;
        

        .greetings{
            font-size: 22px;
            margin: 0px;
        }

        .btn{
            margin-top: 5px;
            padding: 0px 15px;
            border-radius: 20px;
            height: 36px;
            line-height: 36px;
            display: inline-flex;
            align-items: center;
            &.btn-primary{
                background: #3949ab;
                color: #fff;
    
                &:hover{
                    background: lighten(#3949ab, 10%);
                }
            }
    
            &.btn-secondary{
                background: #f5b000;
                color: #333;
                
                &:hover{
                    background: lighten(#f5b000, 20%);
                }
            }
        }

        
}

.email-footer{
    display: grid;
    grid-template-columns: 240px auto;
    grid-gap: 10px;
    height: 60px;
    align-items: center;

    @media screen and (max-width: 600px){
      grid-template-columns: 1fr;
    }
    &--logo{
        display: flex;
        justify-content: space-between;
        &>div{
          display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 600;
        font-size: 12px;
        }
        img{
            width: 100px;
            float: left;
        }
    }

    &--info{
        color: #666;
        font-size: 14px;
        text-align: right;
    }
}


// Tables
table, th, td {
   border: none;
}

table {
  width:100%;
  display: table;
  border: 1px solid rgba(black, .12);
  border-radius: 4px !important;
  border-collapse: collapse;
  border-spacing: 0;
  background: rgba(black, .03);

  &.striped {
    tr {
      border-bottom: none;
    }

    > tbody {
      > tr:nth-child(odd) {
        background-color: #e9e9e9;
      }

      > tr > td {
        border-radius: 0;
      }
    }
  }

  &.highlight > tbody > tr {
    transition: background-color .25s ease;
    &:hover {
      background-color: #f1f1f1;
    }
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }
}

tr {
  border-bottom: 1px solid rgba(black, .12);
}

td, th{
  padding: 15px 10px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

// Responsive Table
@media (max-width: 600px) {

  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    td:empty:before {
      content: '\00a0';
    }

    th,
    td {
      margin: 0;
      vertical-align: top;
    }

    th { text-align: left; }
    thead {
      display: block;
      float: left;

      tr {
        display: block;
        padding: 0 10px 0 0;

        th::before {
          content: "\00a0";
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    th {
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    tr {
      border-bottom: none;
      padding: 0 10px;
    }

    /* sort out borders */
    thead {
      border: 0;
      border-right: 1px solid rgba(black, .12);
    }
  }

}