<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">

<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Email</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500&display=swap" rel="stylesheet" style="box-sizing: border-box;">
    <link rel="stylesheet" href="email-welcome.css">
</head>

<body>
    <div class="email-wrapper">
        <table class="email-header">
            <tbody>
                <tr>
                    <td style="width: 50%; padding: 0 0 20px 40px; vertical-align: bottom;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="woffice-logo"><img src="/woffice.svg" alt=""></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </td>
                    <td style="width: 50%; padding: 0;vertical-align: top;">
                    <table style="">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="email-header--background"><img src="/bg-email.png" alt=""></div>
                                </td>
                            </tr>
                        </tbody>
                    </table></td>
                    
                    
                </tr>
            </tbody>
        </table>
        <section class="email-body">
            <div class="greetings">
                Hey {{customer name}},
            </div>
            <p>Now you can measure every part of your business and optimize your time with Woffice. We are very happy that you joined this team. </p>
            <p>Before we start we would like to warn you that Woffice is currently 100% free software, and the more you use it, the more you save by not using other paid software on the market, it strengthens this community, and you can have more data and reports for good decision making and management of your business.</p>
            <p>We are inviting you to try the latest version of our software, and this is very special. You will have access before many to features that will be released soon. It is a version that we call BETA. So your experience, evaluation and suggestion is very important to us.</p>
            <p>We have prepared a special video to explain a little more about Woffice:
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JDLKTUWVDbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </p>
            <p>If you have any questions, suggestions or problems, we are always available to assist you 24/7 at <a href="http://support.woffice.app">support.woffice.app</a>.
            </p>
            <p>Access your Wofficeplace at:</p>
            <p><a href="xxxx.woffice.site">xxxx.woffice.site</a><br>
                <strong>username:</strong> email <br>
                <strong>password:</strong> the name registered on the site
            </p>
            <section class="email-signature">
                <p>Be very welcome.</p>
                <img class="signature" src="signature.jpg" alt="">
                <p>Luciano Soares</p>
                <p>Commercial VP
                </p>
                <div class="woffice-logo-footer">
                <img src="/woffice.svg"  alt="" class="woffice-logo-footer-img">
                </div>
            </section>
        </section>
    </div>

</body>

</html>