<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">

<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Email</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500&display=swap" rel="stylesheet" style="box-sizing: border-box;">
    <style>
        *,*:before,*:after{box-sizing:border-box}body{background:#eef3f5;color:#555;font-family:"Muli", Helvetica, Arial, sans-serif;margin:0;padding:0;font-size:16px;line-height:21px;overflow-x:hidden}body a{color:#3949ab;text-decoration:none}body strong{font-weight:600}body .email-wrapper{width:90%;margin:40px auto 40px auto;position:relative;background:#fff;box-shadow:0 0 15px rgba(0,0,0,0.1);border-radius:6px;z-index:5}@media screen and (max-width: 1000px){body .email-wrapper{max-width:950px}}@media screen and (min-width: 1001px){body .email-wrapper{max-width:800px}}.email-header{height:100px;width:100%;overflow:hidden;display:inline-flex;justify-content:flex-start;padding:0 30px;align-items:center;border-radius:6px 6px 0 0;position:relative;background:#ffd059}.email-header .woffice-logo{width:120px;display:flex;justify-content:center;align-items:center}.email-header .woffice-logo img{width:85%;position:relative;z-index:1}.email-header:before{content:"";position:absolute;width:150px;height:150px;border-radius:30px;z-index:0;background:#fff;top:-40px;left:10px;transform:rotate(-30deg)}.email-body{border-radius:6px;padding:40px;overflow:hidden}.email-body .greetings{font-size:18px;margin:0px;color:#444}.email-body .btn{margin-top:5px;padding:0px 15px;border-radius:20px;height:36px;line-height:36px;display:inline-flex;align-items:center}.email-body .btn.btn-primary{background:#3949ab;color:#fff}.email-body .btn.btn-primary:hover{background:#5262c5}.email-body .btn.btn-secondary{background:#f5b000;color:#333}.email-body .btn.btn-secondary:hover{background:#ffd15c}.email-body .woffice-logo-footer{width:50px;height:auto;margin-top:-35px;float:right}.email-signature{border-top:1px solid #f5b000;margin-top:30px;padding-top:20px;color:#666}.email-signature p{margin:2px 0}.email-signature img.signature{margin-top:10px;width:130px}.email-footer{display:grid;grid-template-columns:240px auto;grid-gap:10px;height:60px;align-items:center}@media screen and (max-width: 600px){.email-footer{grid-template-columns:1fr}}.email-footer--logo{display:flex;justify-content:space-between}.email-footer--logo>div{display:flex;flex-direction:column;align-items:flex-start;font-weight:600;font-size:12px}.email-footer--logo img{width:100px;float:left}.email-footer--info{color:#666;font-size:14px;text-align:right}table,th,td{border:none}table{width:100%;display:table;border:1px solid rgba(0,0,0,0.12);border-radius:4px !important;border-collapse:collapse;border-spacing:0;background:rgba(0,0,0,0.03)}table.striped tr{border-bottom:none}table.striped>tbody>tr:nth-child(odd){background-color:#e9e9e9}table.striped>tbody>tr>td{border-radius:0}table.highlight>tbody>tr{transition:background-color 0.25s ease}table.highlight>tbody>tr:hover{background-color:#f1f1f1}table.centered thead tr th,table.centered tbody tr td{text-align:center}tr{border-bottom:1px solid rgba(0,0,0,0.12)}td,th{padding:15px 10px;display:table-cell;text-align:left;vertical-align:middle;border-radius:2px}@media (max-width: 600px){table.responsive-table{width:100%;border-collapse:collapse;border-spacing:0;display:block;position:relative}table.responsive-table td:empty:before{content:"\00a0"}table.responsive-table th,table.responsive-table td{margin:0;vertical-align:top}table.responsive-table th{text-align:left}table.responsive-table thead{display:block;float:left}table.responsive-table thead tr{display:block;padding:0 10px 0 0}table.responsive-table thead tr th::before{content:"\00a0"}table.responsive-table tbody{display:block;width:auto;position:relative;overflow-x:auto;white-space:nowrap}table.responsive-table tbody tr{display:inline-block;vertical-align:top}table.responsive-table th{display:block;text-align:right}table.responsive-table td{display:block;min-height:1.25em;text-align:left}table.responsive-table tr{border-bottom:none;padding:0 10px}table.responsive-table thead{border:0;border-right:1px solid rgba(0,0,0,0.12)}}
    </style>
</head>

<body>
    <div class="email-wrapper">
        <section class="email-header">
            <div class="woffice-logo"><img src="/woffice.svg" alt=""></div>
        </section>
        <section class="email-body">
            <div class="greetings">
                Hey {{customer name}},
            </div>
            <p>
                Now you can measure every part of your business and optimize your time with Woffice. We are very happy that you joined this team. </p>
            <p>Before we start we would like to warn you that Woffice is currently 100% free software, and the more you use it, the more you save by not using other paid software on the market, it strengthens this community, and you can have more data and reports for good decision making and management of your business.
            </p>
            <p>We are inviting you to try the latest version of our software, and this is very special. You will have access before many to features that will be released soon. It is a version that we call BETA. So your experience, evaluation and suggestion is very important to us.
            </p>
            <p>We have prepared a special video to explain a little more about Woffice:
            <div class="video-wrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JDLKTUWVDbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </p>
            <p>If you have any questions, suggestions or problems, we are always available to assist you 24/7 at <a href="http://support.woffice.app">support.woffice.app</a>.
            </p>
            <p>Access your Wofficeplace at:</p>
            <p><a href="xxxx.woffice.site">xxxx.woffice.site</a><br>
                <strong>username:</strong> email <br>
                <strong>password:</strong> the name registered on the site
            </p>
            <section class="email-signature">
                <p>Be very welcome.</p>
                <img class="signature" src="signature.jpg" alt="">
                <p>Luciano Soares</p>
                <p>Commercial VP</p>
                <div class="woffice-logo-footer">
                    <img src="/woffice-w.svg" alt="">
                </div>
            </section>
        </section>
    </div>

</body>

</html>