*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #eef3f5;
  color: #333;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  overflow-x: hidden;

  table, table * {
    border: none;
    background: white;
    border-color: white;
  }

  a {
    color: #3949ab;
    text-decoration: none;
  }

strong{
    font-weight: 600;
  }
 
  .email-wrapper {
    width: 90%;
    margin: 40px auto 40px auto;
    position: relative;
    background: #fff;
    box-shadow: 0 0 15px rgba(black, 0.1);
    border-radius: 6px;
    z-index: 5;
    @media screen and (max-width: 1000px) {
      max-width: 950px;
    }
    @media screen and (min-width: 1001px) {
      max-width: 800px;
    }
    
  }
}

.email-header {
  height: 120px;
  width: 100%;
  overflow: hidden;
  padding: 0 30px;
  border-radius: 6px 6px 0 0;
  position: relative;
  background: white;

  td{
    padding: 0;
  }

  &--background{
    background: white;
    text-align: right;
    img{
      width: 240px;
    }
  }

  .woffice-logo {
    width: 50%;
    background: #fff;
    
    img {
      width: 130px;
    }
  }
}

.email-body {
  // border: 1px solid rgba(black, .1);
  // border-top: 10px solid #f5b000;

  border-radius: 6px;
  padding: 40px;
  overflow: hidden;

  .greetings {
    font-size: 18px;
  }

  .btn {
    padding: 0px 15px;
    border-radius: 20px;
    height: 36px;
    line-height: 36px;
    display: inline-flex;
    align-items: center;
    &.btn-primary {
      background: #3949ab;
      color: #fff;

      &:hover {
        background: lighten(#3949ab, 10%);
      }
    }

    &.btn-secondary {
      background: #f5b000;
      color: #333;

      &:hover {
        background: lighten(#f5b000, 20%);
      }
    }
  }

  .woffice-logo-footer {
    width: 120px;
    .woffice-logo-footer-img{
      width: 100%;
    }
  }
}

.email-signature {
  border-top: 1px solid #f5b000;
  padding-top: 20px;
  color: #555;

  p {
    margin: 2px 0;
  }

  .signature {
    padding-top: 10px;
    width: 130px;
  }
}

.email-footer {
  display: grid;
  grid-template-columns: 240px auto;
  grid-gap: 10px;
  height: 60px;
  align-items: center;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  &--logo {
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 600;
      font-size: 12px;
    }
    img {
      width: 100px;
      float: left;
    }
  }

  &--info {
    color: #666;
    font-size: 14px;
    text-align: right;
  }
}

// Tables
table,
th,
td {
  border: none;
}

table {
  width: 100%;
  display: table;
  border: 1px solid rgba(black, 0.12);
  border-radius: 4px !important;
  border-collapse: collapse;
  border-spacing: 0;
  background: rgba(black, 0.03);

  &.striped {
    tr {
      border-bottom: none;
    }

    > tbody {
      > tr:nth-child(odd) {
        background-color: #e9e9e9;
      }

      > tr > td {
        border-radius: 0;
      }
    }
  }

  &.highlight > tbody > tr {
    transition: background-color 0.25s ease;
    &:hover {
      background-color: #f1f1f1;
    }
  }

  &.centered {
    thead tr th,
    tbody tr td {
      text-align: center;
    }
  }
}

tr {
  border-bottom: 1px solid rgba(black, 0.12);
}

td,
th {
  padding: 15px 10px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

// Responsive Table
@media (max-width: 600px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    td:empty:before {
      content: "\00a0";
    }

    th,
    td {
      margin: 0;
      vertical-align: top;
    }

    th {
      text-align: left;
    }
    thead {
      display: block;
      float: left;

      tr {
        display: block;
        padding: 0 10px 0 0;

        th::before {
          content: "\00a0";
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    th {
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    tr {
      border-bottom: none;
      padding: 0 10px;
    }

    /* sort out borders */
    thead {
      border: 0;
      border-right: 1px solid rgba(black, 0.12);
    }
  }
}
