.m-area{
	position: relative;	
	z-index: 0;
	border: 1px solid rgba(black, .1);
	border-radius: 4px;

	@media screen and (max-width: 992px) {

	}

	.btn-close-area
	{
		color: #999;
		position: absolute;

		top: 5px;
		right: 5px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		z-index: 1;
		&:hover{
			background: #e0e0e0;
		}
	}

	.m-area--measures{
		display: grid;
		padding: 0 5px;
		grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
		grid-gap: 7px;
	}
}

.stepper-head-only{
	height: 84px !important; 
	min-height: 84px !important;
	padding: 0 10px !important;

	@media screen and (max-width: 992px) {
		height: 60px !important; 
	min-height: 60px !important;
	overflow: hidden !important;
	margin: 0 -12px !important;
		.step{
			height: 0px !important;
			padding: 0px !important;
			visibility: hidden;
			&.active{
				visibility: visible;
			}

			
		}

	}
	.step-title,.step{
		
		&:hover{
			background-color: unset !important;
		}
	}

	.step{
		a{
			color: #666;
			&:hover{
				background: rgba(black, .05);
			}
		}
		&:hover{
			background-color: #fff !important;
		}
	}
	.waves-ripple{
		opacity: 0 !important;
	}
}


.product-area{
	position: relative;	
	z-index: 10;
	float: left;
	width: 100%;
	padding: 10px 5px;
	margin-bottom: 30px;
	border: 1px solid rgba(black, .1);
	border-radius: 4px;
	&:last-of-type{
		margin-bottom: 0px;
	}

	.btn-close-product-area{
		position: absolute;
		top: 5px;
		right: 5px;
		color: #999;
		height: 32px;
		width: 32px;
		border-radius: 50%;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		z-index: 1;
		&:hover{
			background: #e0e0e0;
		}

	}

	.areas-available{
		padding-left: 0px;
		padding-right: 32px;
		a.select-all-areas, a.select-all-areas:visited{
			color: #1e96f3;
		}
		.chip{
			background: #f1f1f1;
			color: #666;
			cursor: pointer;
			&:hover:not(.selected){
				color: #e0f7fa;
				background: #2196f3;
				box-shadow: 0 5px 10px rgba(black, .2);
			}
			&:active{
				box-shadow: none;
			}
			&.selected{
				color: #e0f7fa;
				background: #2196f3;
			}
		}
	}

	.areas-selected{
		.chip{
			background: #e0f7fa;
			color: #2196f3;

			.close{
				color: #666;
			}
		}
	}
	
	.product{
		border-radius: 4px;
		float: left;
		width: 100%;
		padding: 0 10px;
		background: #fff;
		transition: .3s all ease-in-out;



		&.new-product{
			cursor: pointer;
			position: relative;
			background: transparent !important;

			&:after{
				content: "add";
				font-family: 'Material icons';
				font-size: 24px;
				border-radius: 4px;
				width: 30px;
				height: 30px;
				position: absolute;
				color: #fff;
				text-align: center;
				line-height: 30px;
				top: 5px;
				left: 13px;
				z-index: -1;
				background: rgba(black, .3);
			}

			&:hover{
				&:after{
					background: rgba(black, .5);
				}
			}


			.btn-add-product{
				display: none !important;
			}
			*{
				cursor: pointer;
			}
			.btn-remove-product{
				display: none;
			}
			.row{
				opacity: 0;

				
			}
		}

		.calc-fields:last-of-type{
			position: relative;
			input{
				width: calc(100% - 30px);
			}
		}

		.btn-remove-product{
			position: absolute;
			right: 10px;
			top: 10px;
			color: #999;
			&:hover{
				color: #ff0000;
			}
		}


		

		&:nth-of-type(2n+1){
			background: #f5f5f5;
			input.autocomplete.autocomplete-products{
				background: #fff !important;
			}
		}	

		.calc-fields{
			opacity: 1;
		}

		.products-search{
			padding-top: 5px;
			position: relative;

			.switch{
				margin: 0 -30px 2px 0;
			}
			

			span{
				font-weight: 600 !important;
			}

			.products-search-field-box{
				float: left;
				width: 100%;

				input.autocomplete-products{
					background: rgba(black, .02);
					border-radius: 20px;
					// margin: 0 0 8px 0 !important;
					height: 42px;
					border-top-width: 2px !important;
					padding-left: 20px;
					padding-right: 0px;
					position: absolute;
					width: 100%;
				}
				ul{
					z-index: 99999 !important;
				}
				.btn-add-product{
					width: 36px;
					height: 42px;
					color: #3f51b5;
					position: absolute;
					background: transparent;
					border-radius: 50%;
					top: 1px;
					right: -15px;
					z-index: 1;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				
			}
			

			.autocomplete-product-value{
				border-radius: 20px;
				padding-left: 20px;
				padding-right: 0px;
				margin-top: 32px;
				background: #e0e0e0;	
			}

		}

		.products-selection{
			background: #fff;
			border: 1px solid #e0e0e0;
			border-bottom: none;

			&:last-of-type{
				border-radius: 0 0 4px 4px;
			}
		}
	}

	.products-suggestions{
		width: 100%;
		float: left;
		border-top: 1px solid rgba(black, .2);
		padding: 10px 5px 5px 5px;
		.suggestions-title{
			font-size: 18px;
		}
		a{
			float: left;
			
			margin-right: 20px;
			margin-bottom: 10px;
			display: inline-block;
			color: #1e96f3;
			&:hover{
				text-decoration: underline;
			}
			&:visited{
				color: #1e96f3;
			}
			&:last-of-type{
				margin-right: 0px;
				margin-bottom: 0px;
			}
		}
	}

}

.estimate-schedule-list{
	max-height: 180px;
	overflow-y: auto; 
	overflow-x:  hidden;
	.row{
		border-radius: 5px;
		width: 100%;
		margin-left: 0px;
		padding: 0px 5px;
		.col{
			padding: 0px;
		}
	}
}