.m-area{
	position: relative;	
	z-index: 0;
	border: 1px solid rgba(black, .1);
	border-radius: 4px;

	.btn-close-area
	{
		color: #999;
		position: absolute;

		top: 5px;
		right: 5px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		z-index: 1;
		&:hover{
			background: #e0e0e0;
		}
	}
}

.stepper-head-only{
	height: 84px !important; 
	min-height: 84px !important;
	padding: 0 10px !important;

	.step .step-title{
		cursor: default !important;
		&:hover{
			background-color: #fff !important;
		}
	}
	.waves-ripple{
		opacity: 0 !important;
	}
}

.subtotal-area{
	margin-bottom: 30px;
}


.product-area{
	position: relative;	
	z-index: 10;
	float: left;
	width: 100%;
	padding: 10px 5px;
	margin-bottom: 10px;
	border: 1px solid rgba(black, .1);
	border-radius: 4px;
	&:last-of-type{
		margin-bottom: 0px;
	}

	.btn-close-product-area{
		position: absolute;
		top: 5px;
		right: 5px;
		color: #999;
		height: 32px;
		width: 32px;
		border-radius: 50%;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		z-index: 1;
		&:hover{
			background: #e0e0e0;
		}

	}

	.areas-available{
		padding-left: 0px;
		padding-right: 32px;
		.chip{
			background: #f1f1f1;
			color: #666;
			cursor: pointer;
			&:hover:not(.selected){
				color: #e0f7fa;
				background: #2196f3;
				box-shadow: 0 5px 10px rgba(black, .2);
			}
			&:active{
				box-shadow: none;
			}
			&.selected{
				color: #e0f7fa;
				background: #2196f3;
			}
		}
	}

	.areas-selected{
		.chip{
			background: #e0f7fa;
			color: #2196f3;

			.close{
				color: #666;
			}
		}
	}
	
	.product{
		border-radius: 4px;
		float: left;
		width: 100%;
		padding: 0 10px;
		background: #fff;
		transition: .3s all ease-in-out;



		&.new-product{
			cursor: pointer;
			position: relative;
			background: transparent !important;

			&:after{
				content: "add";
				font-family: 'Material icons';
				font-size: 24px;
				border-radius: 4px;
				width: 30px;
				height: 30px;
				position: absolute;
				color: #fff;
				text-align: center;
				line-height: 30px;
				top: 5px;
				left: 13px;
				z-index: -1;
				background: rgba(black, .3);
			}

			&:hover{
				&:after{
					background: rgba(black, .5);
				}
			}


			.btn-add-product{
				display: none !important;
			}
			*{
				cursor: pointer;
			}
			.btn-remove-product{
				display: none;
			}
			.row{
				opacity: 0;

				
			}
		}

		.calc-fields:last-of-type{
			position: relative;
			input{
				width: calc(100% - 30px);
			}
		}

		.btn-remove-product{
			position: absolute;
			right: 10px;
			top: 10px;
			color: #999;
			&:hover{
				color: #ff0000;
			}
		}


		

		&:nth-of-type(2n+1){
			background: #f5f5f5;
			input.autocomplete.autocomplete-products{
				background: #fff !important;
			}
		}	

		.calc-fields{
			opacity: 1;
		}

		&.new-product{

		}



		.products-search{
			padding-top: 5px;
			position: relative;
			

			span{
				font-weight: 600 !important;
			}

			

			.products-sugestions{
				position: absolute;
				width: 95%;
				box-shadow: none;
				transition: .3s all ease-in-out;
				overflow: hidden;
				background: #fff;
				opacity: 0;
				left: 15px;
				max-height: 0px;
				z-index: 5;
				padding: 0px 5px;
				top: 60px;

				



				&.active{
					
					padding: 5px;
					max-height: 300px; 
					opacity: 1;



					box-shadow: 0 0 5px rgba(black, .2);
					border-radius: 4px;
				}

			}

			.products-search-field-box{
				float: left;
				width: 100%;

				input.autocomplete-products{
					background: rgba(black, .02);
					border-radius: 20px;
					// margin: 0 0 8px 0 !important;
					height: 42px;
					border-top-width: 2px !important;
					padding-left: 20px;
					padding-right: 0px;
					position: absolute;
					width: 100%;
				}
				ul{
					z-index: 99999 !important;
				}
				.btn-add-product{
					width: 36px;
					height: 42px;
					color: #3f51b5;
					position: absolute;
					background: transparent;
					border-radius: 50%;
					top: 1px;
					right: -15px;
					z-index: 1;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				
			}
			

			.autocomplete-product-value{
				border-radius: 20px;
				padding-left: 20px;
				padding-right: 0px;
				margin-top: 32px;
				background: #e0e0e0;	
			}

			.products-sugestions{

				.chip{
					cursor: pointer;
					background:#fce4ec;
					color: #e91e63;
					&:hover{
						background: lighten(#e91e63, 25%);
						color: #fff;
						box-shadow: 0 5px 10px rgba(black, .2);
					}
					&:active{
						box-shadow: none;
					}
				}
			}
		}

		.products-selection{
			background: #fff;
			border: 1px solid #e0e0e0;
			border-bottom: none;

			&:last-of-type{
				border-radius: 0 0 4px 4px;
			}
		}
	}
	// &:nth-of-type(2n+1){
	// 	background: #f9f9f9;
	// }	
}

.deposit{
	position: relative;	
	z-index: 0;
	border: 1px solid rgba(black, .1);
	border-radius: 4px;

	.btn-close-deposit
	{
		color: #999;
		position: absolute;
		cursor: pointer;
		top: 5px;
		right: 5px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		z-index: 1;
		&:hover{
			background: #e0e0e0;
		}
	}	
}
.finish-order-steps{
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 20px;
	*{
		transition: all .3s ease-in-out;
	}
}
.finish-order-step{
	
	@media screen and (max-width: 600px){
		.step-content{
			padding-left: 0px !important;

			.signature{
				height: 200px !important;
			}
		}
	}

	&.signature{
		.step-icon:before{
			content: "gesture";
		}

		.step-content{
			form{
				display: inline-flex;
				flex-direction: column;
				float: left;
			}
		}
	}

	&.photos{
		.step-icon:before{
			content: "camera_alt";
		}
	}
	
	&.toggled{
		.step-content{
			height: auto !important;
			overflow: unset !important;
			.signature, .file-field{
				float: left;
				padding-bottom: 10px;
			}

		}
	}

	&.done{
		background: #f3fff4;
		border-radius: 4px;
		cursor: pointer;
		.step-title{
			color: #00a832;
			.step-icon{
				background: #00a832;
				&:before{
					content: "done" !important;
				}
			}
		}
		.step-content{
			height: 0px;
			overflow: hidden;
		}
	}

	.step-title{
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		float: left;
		width: 100%;
		padding: 10px;

		.step-icon{
			height: 40px;
			line-height: 40px;
			width: 40px;
			border-radius: 50%;
			margin-right: 10px;
			text-align: center;
			background: #2a83f9;
			color: #fff;
			font-weight: 600;
			position: relative;
			&:before{
				// content: "";
				font-family: "Material Icons";
				font-size: 20px;
				color: #fff;
				position: absolute;
				top: 0px;
				left: 10px;
			}
		}
	}
	.step-content{
		padding-left: 60px;
		transition: all .3s ease-in-out;

		.file-field{
			max-width: 500px;
			width: 100%;
			float: left;
			margin: 0;
		}
		.signature{
			width: 100%;
			height: 300px;
			canvas{
				border-radius: 4px;
				border: 1px solid rgba(black, .1);
				float: left;
				width: 100%;
				max-width: 500px;
				height: 100%;
				background: #f7f7f7;
			}

		}
		.signature-actions{
			float: left;
			width: 100%;
			max-width: 500px;
			display: inline-flex;
			justify-content: space-between;
			padding: 3px 0px;
			
			a{
				display: inline-flex;
				align-items: center;
				padding: 8px 5px;
				border-radius: 4px;

				i{
					margin-right: 5px;
				}

				&:hover{
					background: rgba(black, .05);
				}

				&.clear-signature{
					color: #666;
				}
				&.save-signature{
					color: #00a832;
				}
			}
		}
	}
}