.settings_container{
	.company_logo{
		img{
			width: 100%;
			max-width: 250px;
		}
	}	
	.tabs{
		background: transparent;
		 margin: 20px 0;

		 .indicator{
			 background-color: #3949ab;
		 }

		a{
			color: #3949ab !important;
			li.tab{
				&:first-of-type{
					padding-left: 0px !important;
				}
				&:last-of-type{
					padding-right: 0px !important;
				}
			}
			&.active{
				&:focus{
					background-color: rgba(#3949ab, .1);
					color: #3949ab !important;
				}
				background-color: #3949ab;
				color: #fff !important;
				outline: none;
			}
		}
	}
}