

.login-bg{
    height: 100%;
    overflow: hidden;
    background-image: none !important;
    background: linear-gradient(90deg, #f5a700 0px, #f5a700 50%, #ffffff 50%) !important ;
    position: relative;
    @media screen and (max-width:600px){
        overflow: scroll;
        height: auto;
    }
    &:before{
        content: "";
        background-image: url("bg-login.jpeg");
        background-color: #f5a700;
        background-size: cover;
        position: absolute;
        background-position: -500px;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        z-index: -1;
        opacity: .7;
        background-blend-mode: soft-light;
        
    }
}
#login-page{
    flex-direction: column;
    align-items: flex-start !important;
    width: calc(100% - 200px);
    min-width: 320px;
    padding: 24px;
    background: #fff;
    float: right;
    box-shadow: -10px 0px 10px rgba(0,0,0, .1);
    height: 100% !important;
    min-height: 100vh;

    @media screen and (max-width:600px){
        padding-top: 0px !important;
        h5{
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width:321px) and (max-width: 600px){
        width: calc(100% - 90px);
    }

    @media screen and (max-width:320px){
        width: 100vw;
        min-width: 260px;
    }


}
.login-card{
    width: 100%;
    float: left;
    max-width: 500px;
    border-radius: 10px;
    width: 100%;
}
.login-logo{
    width: 100%;
    float: left;
    margin-top: 20px;
    img{
        width: 120px;
    }
}