body {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 20px;

    @media screen and (max-height: 400px) and (max-width: 800px) {
        overflow-y: visible !important;
        overflow-x: hidden !important;
    }
}
.reverse {
    animation-direction: reverse !important;
}

.welcome-wrapper {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    color: #666;

    a {
        color: #3949ab;
        font-weight: 500;
    }

    h1 {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        width: 100%;
        margin-bottom: 50px;
    }

    @media screen and (max-width: 600px) {
        width: 95% !important;

        .welcome-logo{
            margin-bottom: 20px !important;
        }
        .welcome-content{
            padding: 60px 20px 20px 20px !important;
            font-size: 15px !important;
            &:before{
                height: 130px !important;
            }
        }
        h1 {
            font-size: 25px;
            text-align: center;
            font-weight: 700;
            width: 100%;
            margin-bottom: 30px !important;
        }
        .welcome-content {
            
        }

        .welcome-msg {
            text-align: center;
            align-items: center;
        }
    }

    .welcome-content {
        width: 100%;
        float: left;
        padding: 80px 30px 30px 30px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 0 20px rgba(black, 0.1);
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            width: 100%;
            height: 180px;
            position: absolute;
            top: 0;
            left: 0;
            background: url(welcome-bg.svg) no-repeat;
            background-size: cover;
            z-index: -1;
        }
    }

    .welcome-logo {
        width: 100%;
        float: left;
        text-align: center;
        margin: 5vh auto 50px auto;
        img {
            width: 120px;
        }
    }

    .welcome-img {
        float: left;
        width: 110%;
        img {
            float: left;
            width: 100%;
        }
    }

    .welcome-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        float: left;

        .btn-welcome {
            width: fit-content;
            animation-delay: 0.5s;
        }
    }
}
