.modal-location {
  max-width: 550px;
}
@media (min-width: 600px) {
  .modal-location {
    max-height: 300px;
  }
}

.btn-ghost {
  background: transparent;
  border: 2px solid #1d5391;
  color: #1d5391;
  box-shadow: none;
  font-size: 1rem;
  height: auto !important;
  display: inline-flex;
  align-items: center;
}
.btn-ghost:hover, .btn-ghost:focus {
  background: #1D5391;
  color: #fff;
}

.btn-green {
  background-color: #008839 !important;
}

.text-accent {
  color: #9b661e;
  font-weight: 600;
}

.panel {
  padding: 1rem;
}
.panel.--info {
  background-color: #d4e3f5;
}
.panel.--info .panel-title {
  color: #1d5391;
}
.panel.--warning {
  background-color: #faf8e0;
}
.panel.--warning .panel-title {
  color: #9b661e;
}
.panel.--danger {
  background-color: #f5d4d4;
}
.panel.--danger .panel-title {
  color: #8c0101;
}
.panel.--success {
  background-color: #d5f5d4;
}
.panel.--success .panel-title {
  color: #2a792a;
}
.panel-title {
  font-weight: 600;
}
.panel p {
  margin-bottom: 0;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-display: swap;
  color: #333;
  overflow-x: hidden;
  font-size: 1.15rem;
}

section,
footer {
  padding: 50px 0;
}
section h2,
footer h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #9b661e;
}
section p.section-blurb,
footer p.section-blurb {
  max-width: 650px;
  text-align: center;
  margin: 0 auto 4rem auto;
}
@media (max-width: 650px) {
  section p.section-blurb,
footer p.section-blurb {
    max-width: 100% !important;
  }
}

.phone-location {
  color: #555;
  font-size: 0.9rem;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 15;
}
@media (max-width: 750px) {
  .phone-location {
    padding: 0.25rem 0;
  }
  .phone-location .content {
    flex-direction: column;
    text-align: center;
    height: 60px !important;
    padding: 0.25rem 0;
  }
  .phone-location .content .phone {
    display: inline-block !important;
    line-height: 30px;
  }
  .phone-location .content .phone i {
    line-height: 30px;
    vertical-align: bottom;
  }
}
.phone-location .container .content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}
.phone-location a {
  text-decoration: underline;
}
.phone-location .phone {
  color: #008839;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.phone-location .phone a {
  color: #008839;
  font-weight: 700;
}

header {
  background: white;
  z-index: 6;
  position: relative;
}
@media (max-width: 992px) {
  header nav ul {
    display: none !important;
  }
}
header nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}
header nav .sidenav-trigger {
  width: 56px;
  background: #f1f1f1;
  text-align: center;
  margin: 0 0 0 0.5rem !important;
}
header nav ul {
  gap: 8px;
  display: inline-flex;
}
header nav ul li > a {
  font-weight: 500;
}
header nav ul li > a.cta-estimate {
  color: #fff;
  background: #1679cd;
  padding: 0 1.2rem;
  border-radius: 4px;
}
header nav ul li > a.cta-estimate:hover {
  background: #1d5391;
}
header img {
  width: 100%;
  max-width: 260px;
}

.sidenav.hidden {
  visibility: hidden;
}

.sidenav li > a.cta-estimate {
  color: #fff !important;
  background: #1679cd !important;
}
.sidenav li > a.cta-estimate:hover {
  background: #1d5391 !important;
}

section.hero {
  background: #f5f5f4;
  padding: 0;
}
@media (max-width: 700px) {
  section.hero .container {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr;
  }
  section.hero .container .hero-pic {
    grid-row: 1/2;
  }
  section.hero .container .hero-pic img.hero-face {
    left: -2px !important;
  }
  section.hero .container .hero-info {
    grid-row: 2/3;
    padding: 0 1rem;
  }
  section.hero .container .hero-info h1 {
    font-size: 2rem;
  }
}
section.hero .container {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  align-items: center;
  height: 70vh;
  max-width: unset;
  width: 100%;
}
section.hero .container div {
  z-index: 1;
}
section.hero .container .hero-info {
  max-width: 500px;
  justify-self: flex-end;
  z-index: 5;
}
section.hero .container .hero-info a[href^="tel:"] {
  font-weight: 700;
}
@media (min-width: 600px) and (max-width: 1110px) {
  section.hero .container {
    max-width: 95%;
    margin-left: 5%;
  }
}
@media (max-width: 1030px) {
  section.hero .container:before {
    background-size: cover !important;
  }
}
section.hero .container .change-location-trigger {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #666;
}
section.hero .container h1 {
  font-size: 2.5rem;
}
section.hero .container .hero-pic {
  height: 100%;
  position: relative;
}
section.hero .container .hero-pic img.hero-face {
  position: absolute;
  height: calc(100% + 5px);
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
  top: -2px;
  left: -100px;
}
section.hero .container .hero-pic .hero-pic-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
section.hero .container .hero-pic .hero-pic-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section.about {
  background: white;
}
section.about h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-align: left;
}
section.about p {
  font-size: 2.3rem;
  margin-top: 0;
  line-height: 1;
}
section.about .container img {
  width: 100%;
  height: auto;
}

section.products .products-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  section.products .products-list li a {
    grid-template-columns: 1fr !important;
    grid-template-rows: 150px 1fr;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  section.products .products-list li div {
    justify-self: flex-start !important;
  }
  section.products .products-list li .product-title-box {
    padding: 1rem;
  }
}
section.products .products-list li a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  height: 300px;
  transition: 0.3s ease-in-out all;
}
section.products .products-list li a:hover, section.products .products-list li a:focus-visible {
  background: #eaeae7;
}
section.products .products-list li div {
  justify-self: flex-end;
}
section.products .products-list li .product-title-box {
  width: 100%;
  max-width: 350px;
}
section.products .products-list li h3 {
  font-family: "Playfair Display";
  font-size: 1.9rem;
  margin-bottom: 0;
  color: #333;
}
section.products .products-list li p {
  margin-top: 0.25rem;
  color: #666;
}
section.products .products-list li img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.products .products-list li:nth-of-type(2) {
  margin: 50px 0;
}
@media screen and (min-width: 600px) {
  section.products .products-list li:nth-of-type(2) img {
    grid-column: 1/2;
    grid-row: 1;
  }
  section.products .products-list li:nth-of-type(2) div {
    justify-self: flex-start;
    grid-column: 2/3;
    grid-row: 1;
  }
}

section.services {
  position: relative;
}
section.services:before {
  content: "";
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 400px;
  background: #f5f5f4;
  z-index: -1;
}
section.services .container {
  max-width: 1000px;
}
section.services h2 {
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  section.services h2 {
    margin-bottom: 1rem;
  }
  section.services .services-list li {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 200px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}
@media (max-width: 992px) {
  section.services .services-list {
    grid-template-columns: 1fr !important;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin: 0 auto;
  }
  section.services .services-list li div {
    background: transparent !important;
  }
}
section.services .services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
section.services .services-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 280px;
}
section.services .services-list li div {
  background: white;
  height: 100%;
  align-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.services .services-list li div h3 {
  font-family: "Libre Baskerville";
  font-size: 1.9rem;
  margin-bottom: 0;
}
section.services .services-list li div p {
  margin-top: 0.25rem;
  color: #666;
}
section.services .services-list li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 650px) {
  section.brands .container h2,
section.brands .container p {
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}
section.brands .container .brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 992px) {
  section.brands .container .brands-list {
    grid-template-columns: repeat(3, 1fr);
  }
  section.brands .container .brands-list .section-blurb {
    margin: 0 auto 2rem auto !important;
  }
}
section.brands .container .brands-list li {
  width: 100%;
}
section.brands .container .brands-list li a:hover img, section.brands .container .brands-list li a:focus-visible img {
  transform: scale(1.05);
}
section.brands .container .brands-list li img {
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

section.estimate {
  background: #eaeae7;
}
section.estimate .container {
  max-width: 400px !important;
}
section.estimate input,
section.estimate textarea,
section.estimate select {
  margin-bottom: 1rem !important;
}
section.estimate form {
  display: inline-flex;
  flex-direction: column;
}
section.estimate button {
  align-self: center;
  background: #008839;
}
section.estimate button:hover, section.estimate button:focus {
  background: #007933;
}

section.certifications h2 {
  text-align: left;
}
section.certifications img {
  width: 100%;
}
section.certifications li {
  line-height: 1.8;
}

footer {
  background: #eaeae7;
  color: #555;
  font-size: 1rem;
}
footer h2 {
  color: #333;
  text-align: left;
  margin-top: 1rem;
}
footer img {
  width: 100%;
}
footer img.logo-footer {
  max-width: 260px;
}
footer .social-heading {
  margin: 3rem 0 0 0 !important;
}
footer .social-links {
  display: inline-flex;
  gap: 8px;
}
footer .social-links li {
  width: 32px;
}
footer .social-links li img {
  width: 32px;
}
footer .social-links li:hover {
  opacity: 0.7;
}

section.clients {
  background: #ecf2f7;
}
section.clients h2 {
  margin-bottom: 4rem;
  color: #333;
}
section.clients .container {
  max-width: 600px;
}
section.clients ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
section.clients ul li:nth-of-type(2n) .testimonial {
  flex-direction: row-reverse;
}
@media screen and (max-width: 600px) {
  section.clients ul li:nth-of-type(2n) .testimonial {
    flex-direction: column;
    align-items: flex-end;
  }
}
section.clients ul li:nth-of-type(2n) .testimonial-content {
  border-radius: 16px 0 16px 16px;
}
section.clients ul li .testimonial {
  display: inline-flex;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  section.clients ul li .testimonial {
    flex-direction: column;
  }
}
section.clients ul li .testimonial-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
section.clients ul li .testimonial-content {
  padding: 1rem;
  background: #fff;
  border-radius: 0 16px 16px 16px;
}
section.clients ul li .testimonial-content p {
  margin-top: 0;
}
section.clients ul li .testimonial-person-name {
  text-align: right;
  font-weight: 600;
  margin-bottom: 0;
}

section.latest-posts ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
section.latest-posts ul img {
  width: 100%;
}
section.latest-posts ul .post {
  list-style-type: none !important;
}
section.latest-posts ul .post-date {
  font-size: 0.875rem;
}
section.latest-posts ul .post-title {
  font-size: 1.5rem;
  margin: 0;
}
section.latest-posts ul .post-title a {
  color: #333;
}
section.latest-posts ul .post-title a:hover {
  -webkit-text-decoration: 2px underline black;
          text-decoration: 2px underline black;
}

.page {
  padding-top: 100px;
}
@media screen and (max-width: 600px) {
  .page {
    padding-top: 50px;
  }
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  text-align: left;
}
.page h2,
.page h3 {
  color: #9b661e;
}
.page h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.page h4,
.page h5,
.page h6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.page.--blog .page-title {
  text-align: center;
  margin-bottom: 50px;
}
.page.--blog .post.--latest {
  width: 100%;
  margin-bottom: 100px;
}
.page.--blog .post.--latest .post-card {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto;
}
@media screen and (min-width: 600px) {
  .page.--blog .post.--latest .post-card {
    grid-template-columns: 50% auto;
  }
}
.page.--blog .post.--latest .post-card .post-title {
  font-size: 1.9rem;
}
.page.--blog ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .page.--blog ul {
    padding: 0 2rem;
  }
}
.page.--blog ul img {
  width: 100%;
}
.page.--blog .post {
  list-style-type: none !important;
}
.page.--blog .post-date {
  font-size: 0.875rem;
}
.page.--blog .post-title {
  font-size: 1.5rem;
  margin: 0;
}
.page.--blog .post a {
  color: #333;
}
.page.--blog .post a img {
  transition: 0.2s all ease-in-out;
  outline: 0 solid #c6c6be;
}
.page.--blog .post a:hover {
  text-decoration: underline;
}
.page.--blog .post a:hover img {
  outline: 0.25rem solid #c6c6be;
}
.page.--post {
  padding-top: 0px;
  font-size: 1.2rem;
  line-height: 1.6;
}
.page.--post img {
  width: 100%;
}
.page.--post .post-author,
.page.--post .post-date {
  opacity: 0.9;
}
.page.--post .page-head {
  background: #eaeae7;
  padding: 100px 0;
  margin-bottom: 100px;
}
.page.--post .page-head .row {
  position: relative;
}
@media screen and (max-width: 992px) {
  .page.--post .page-head {
    padding-bottom: 0px;
  }
  .page.--post .page-head .post-img {
    position: relative !important;
    right: 0 !important;
    left: 20%;
    width: 60% !important;
    margin-top: 50px;
    margin-bottom: -50px;
  }
  .page.--post .page-head .post-img:before {
    top: 80% !important;
  }
}
@media screen and (max-width: 700px) {
  .page.--post .page-head {
    padding: 50px;
  }
  .page.--post .page-head .post-img {
    display: none;
  }
}
.page.--post .page-head .post-info {
  width: 50%;
}
.page.--post .page-head .post-info .post-author {
  width: 100%;
  display: inline-block;
}
.page.--post .page-head .post-info .post-blurb {
  font-size: 1.2rem;
}
.page.--post .page-head .post-info .page-title {
  font-size: 4rem !important;
}
@media screen and (max-width: 992px) {
  .page.--post .page-head .post-info {
    width: 100%;
  }
}
.page.--post .page-head .post-img {
  position: absolute;
  right: 10%;
  top: 25%;
  width: 40%;
  max-width: 500px;
  max-height: 430px;
}
.page.--post .page-head .post-img:before {
  content: "";
  width: 160px;
  height: 120px;
  background: #9b661e;
  position: absolute;
  right: -10%;
  top: -20%;
}
.page.--post .page-head .post-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.page.--product .page-head {
  display: grid;
  grid-template-columns: auto 55%;
  gap: 3rem;
  min-height: 500px;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  .page.--product .page-head {
    grid-template-columns: 1fr;
    grid-template-rows: auto 300px;
  }
  .page.--product .page-head .page-head-image {
    margin-top: -40px;
  }
  .page.--product .page-head .page-head-image:before {
    width: 100vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .page.--product .page-head {
    grid-template-columns: 55% auto;
  }
}
.page.--product .page-head .product-slogan {
  font-size: 1.75rem;
}
.page.--product .page-head-image {
  width: calc(100% + 0.75rem);
  height: 100%;
  max-height: 500px;
  margin-top: -70px;
  position: relative;
}
.page.--product .page-head-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page.--product .page-head-image:before {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 2rem;
  top: 2rem;
  background: #eaeae7;
  z-index: -1;
}
.page.--product .page-title {
  font-family: "Libre Baskerville", serif;
  margin-bottom: 0.5rem;
}
.page.--product .page-content {
  font-size: 1.15rem;
}
.page.--services .page-head {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.page.--services .page-head .page-title {
  text-align: center;
  margin-bottom: 0;
}
.page.--services .page-head .page-title,
.page.--services .page-head p {
  max-width: 60ch;
}
.page.--services .service {
  margin-bottom: 4rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  .page.--services .service {
    margin-bottom: 2rem;
  }
  .page.--services .service img {
    max-height: 200px;
  }
}
.page.--services .service:first-of-type:before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 500px;
  top: 50%;
  left: -50%;
  background: #eaeae7;
  z-index: -1;
}
.page.--aboutus .container > .row {
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .page.--aboutus .page-content .row img {
    width: 130%;
  }
  .page.--aboutus .page-content .row:nth-of-type(2n) img {
    float: right;
  }
}
.page.--aboutus .showroom {
  width: 100%;
}
.page.--aboutus .showroom-images {
  position: relative;
  width: 100%;
  height: 540px;
}
@media screen and (max-width: 992px) {
  .page.--aboutus .showroom-images {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 12px;
  }
  .page.--aboutus .showroom-images img {
    position: relative !important;
  }
  .page.--aboutus .showroom-images img:last-of-type {
    max-width: 100% !important;
  }
}
.page.--aboutus .showroom-images:before {
  content: "";
  width: 50%;
  height: 60%;
  position: absolute;
  top: 15%;
  left: 20%;
  background: #eaeae7;
  z-index: -1;
}
.page.--aboutus .showroom-images img {
  position: absolute;
}
.page.--aboutus .showroom-images img:first-of-type {
  width: 100%;
  max-width: 400px;
  top: 0;
  left: 0;
  z-index: 1;
}
.page.--aboutus .showroom-images img:last-of-type {
  width: 100%;
  max-width: 750px;
  bottom: 0;
  right: 0;
}
.page.--aboutus .store-locations {
  position: relative;
  text-align: center;
}
.page.--aboutus .store-locations h2 {
  color: #333;
  text-align: center;
}
.page.--aboutus .store-locations .addresses {
  text-align: left;
}
.page.--aboutus .store-locations:before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eaeae7;
  z-index: -1;
}
.page.--aboutus .covarage .counties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
}
@media screen and (max-width: 700px) {
  .page.--aboutus .covarage .counties {
    grid-template-columns: repeat(2, 1fr);
  }
}
.page.--aboutus .covarage .counties li {
  list-style-type: none;
}
.page.--gallery .page-content {
  display: grid;
  grid-template-columns: 40% 60%;
}
.page.--gallery h1 {
  width: 40%;
  display: inline;
  grid-column: 1/2;
}
@media screen and (max-width: 600px) {
  .page.--gallery h1 {
    grid-column: 1/3;
  }
}
.page.--gallery .gallery-cover {
  grid-column: 2/3;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .page.--gallery .gallery-cover {
    grid-column: 1/3;
    margin-bottom: 1rem;
  }
}
.page.--gallery .image-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(15, 1fr);
  padding: 0;
  grid-column: 1/3;
}
.page.--gallery .image-gallery li {
  list-style-type: none;
}
.page.--gallery .image-gallery li:nth-of-type(2n) {
  grid-column: 1/8;
  padding-top: 2rem;
}
.page.--gallery .image-gallery li:nth-of-type(2n + 1) {
  grid-column: 9/16;
}
.page.--gallery .image-gallery li:nth-of-type(1) {
  grid-column: 1/6;
}
.page.--gallery .image-gallery li:nth-of-type(2) {
  grid-column: 8/16;
}
.page.--gallery .image-gallery li:nth-of-type(3) {
  grid-column: 2/15;
}
.page-body.--has-page-images {
  display: grid;
  grid-template-columns: auto 40%;
  grid-template-rows: 1fr auto;
}
@media screen and (max-width: 800px) {
  .page-body.--has-page-images {
    grid-template-columns: 1fr;
  }
}
.page-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
}
.page-content img {
  width: 100%;
  text-align: center;
}
.page-content ul {
  padding-left: 2rem;
}
.page-content ul li {
  margin-bottom: 1rem;
  list-style-type: disc;
}
.page-images {
  float: right;
  width: 100%;
  max-width: 400px;
  padding: 0 0 1rem 1rem;
  gap: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  grid-column-start: 2;
  grid-row-start: 1;
}
@media screen and (max-width: 800px) {
  .page-images {
    grid-column-start: 1;
    max-width: 100%;
    flex-direction: row;
    padding: 0;
    margin-bottom: 1rem;
  }
  .page-images img {
    width: calc((100% - 2rem) / 3) !important;
  }
}
.page-images:before {
  content: "";
  width: 90%;
  height: 60%;
  position: absolute;
  top: 15%;
  left: 20%;
  background: #eaeae7;
  z-index: -1;
}
.page-images img {
  width: 90%;
  shape-outside: rectangle(100% 100%);
}
.page-images img:first-of-type {
  width: 100%;
}/*# sourceMappingURL=fow.css.map */