html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

.woffice-easy-flow {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 3rem 0 1.38rem;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		line-height: 1.3;
	}

	h1 {
		margin-top: 0;
		font-size: 1.802rem;
	}

	h2 {
		font-size: 1.602rem;
	}

	h3 {
		font-size: 1.424rem;
	}

	h4 {
		font-size: 1.266rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	small,
	.text_small {
		font-size: 0.889rem;
	}

	p,
	label {
		color: #444;
	}

	//  Inputs

	input:invalid {
		border-bottom: 1px solid rgba(red, 0.8) !important;
		box-shadow: none !important;
	}

	.input-field > label {
		// position: relative !important;
		// left: 0;
		&:not(.label-icon).active {
			color: $w-indigo;
			font-weight: 600;
		}
	}

	// .input-field {
	// 	input:invalid + label:not(.label-icon) {
	// 		color: rgba(red, 0.8) !important;
	// 	}
	// }

	textarea {
		height: 6rem;
		border: 1px solid #9e9e9e;
		border-radius: 6px;
		padding: 0.5rem;
		width: 100%;
		background: #fff;
		resize: vertical;

		& + label {
			left: 1.7rem !important;
			&.active {
				transform: translateY(-14px) translateX(-0.7rem) scale(0.8) !important;
			}
		}
	}

	.two-options,
	.ask-reply {
		[type="radio"]:not(:checked) + span:before {
			border: 2px solid $w-indigo;
		}
		[type="radio"]:checked + span:before {
			background-color: $w-indigo;
		}
		[type="radio"].with-gap:checked + span:after {
			background-color: #fff;
		}

		[type="radio"] + span:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			z-index: -10;
			transition: 0.28s ease;
			background: transparent;
			border-radius: 6px;
			transform: scale(1);
			border: 0;
			box-shadow: 0 0 0 0px rgba($w-indigo, 0.2);
			opacity: 0;
		}

		[type="radio"]:checked + span:after {
			box-shadow: 0 0 0 6px rgba($w-indigo, 0.2);
			opacity: 1;
		}
		[type="radio"]:not(:checked) + span:after {
			// -webkit-transform: scale(0);
			// transform: scale(0);
		}
		[type="radio"] + span:before {
			content: "";
			position: absolute;
			left: 24px;
			top: calc(50% - 12px);
			margin: 4px;
			width: 16px;
			height: 16px;
			z-index: 0;
			-webkit-transition: 0.28s ease;
			transition: 0.28s ease;
		}
		[type="radio"]:not(:checked) + span,
		[type="radio"]:checked + span {
			position: relative;
			padding: 15px 20px 15px 55px !important;
			cursor: pointer;
			display: inline-block;
			height: auto;
			line-height: unset;
			font-size: 1rem;
			-webkit-transition: 0.28s ease;
			transition: 0.28s ease;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		[type="radio"]:checked + span {
			// color: #fff;
		}
		[type="radio"]:not(:checked),
		[type="radio"]:checked {
			position: absolute;
			opacity: 0 !important;
			pointer-events: none;
		}
	}

	.btn {
		&:focus,
		&:focus-visible {
			outline: 2px solid black;
			outline-offset: 2px;
		}
	}
}
