html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.woffice-easy-flow h1,
.woffice-easy-flow h2,
.woffice-easy-flow h3,
.woffice-easy-flow h4,
.woffice-easy-flow h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
.woffice-easy-flow h1 {
  margin-top: 0;
  font-size: 1.802rem;
}
.woffice-easy-flow h2 {
  font-size: 1.602rem;
}
.woffice-easy-flow h3 {
  font-size: 1.424rem;
}
.woffice-easy-flow h4 {
  font-size: 1.266rem;
}
.woffice-easy-flow h5 {
  font-size: 1.125rem;
}
.woffice-easy-flow small,
.woffice-easy-flow .text_small {
  font-size: 0.889rem;
}
.woffice-easy-flow p,
.woffice-easy-flow label {
  color: #444;
}
.woffice-easy-flow input:invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 0.8) !important;
  box-shadow: none !important;
}
.woffice-easy-flow .input-field > label:not(.label-icon).active {
  color: #3f51b5;
  font-weight: 600;
}
.woffice-easy-flow textarea {
  height: 6rem;
  border: 1px solid #9e9e9e;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100%;
  background: #fff;
  resize: vertical;
}
.woffice-easy-flow textarea + label {
  left: 1.7rem !important;
}
.woffice-easy-flow textarea + label.active {
  transform: translateY(-14px) translateX(-0.7rem) scale(0.8) !important;
}
.woffice-easy-flow .two-options [type=radio]:not(:checked) + span:before,
.woffice-easy-flow .ask-reply [type=radio]:not(:checked) + span:before {
  border: 2px solid #3f51b5;
}
.woffice-easy-flow .two-options [type=radio]:checked + span:before,
.woffice-easy-flow .ask-reply [type=radio]:checked + span:before {
  background-color: #3f51b5;
}
.woffice-easy-flow .two-options [type=radio].with-gap:checked + span:after,
.woffice-easy-flow .ask-reply [type=radio].with-gap:checked + span:after {
  background-color: #fff;
}
.woffice-easy-flow .two-options [type=radio] + span:after,
.woffice-easy-flow .ask-reply [type=radio] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: 0.28s ease;
  background: transparent;
  border-radius: 6px;
  transform: scale(1);
  border: 0;
  box-shadow: 0 0 0 0px rgba(63, 81, 181, 0.2);
  opacity: 0;
}
.woffice-easy-flow .two-options [type=radio]:checked + span:after,
.woffice-easy-flow .ask-reply [type=radio]:checked + span:after {
  box-shadow: 0 0 0 6px rgba(63, 81, 181, 0.2);
  opacity: 1;
}
.woffice-easy-flow .two-options [type=radio] + span:before,
.woffice-easy-flow .ask-reply [type=radio] + span:before {
  content: "";
  position: absolute;
  left: 24px;
  top: calc(50% - 12px);
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: 0.28s ease;
}
.woffice-easy-flow .two-options [type=radio]:not(:checked) + span,
.woffice-easy-flow .two-options [type=radio]:checked + span,
.woffice-easy-flow .ask-reply [type=radio]:not(:checked) + span,
.woffice-easy-flow .ask-reply [type=radio]:checked + span {
  position: relative;
  padding: 15px 20px 15px 55px !important;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: unset;
  font-size: 1rem;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.woffice-easy-flow .two-options [type=radio]:not(:checked),
.woffice-easy-flow .two-options [type=radio]:checked,
.woffice-easy-flow .ask-reply [type=radio]:not(:checked),
.woffice-easy-flow .ask-reply [type=radio]:checked {
  position: absolute;
  opacity: 0 !important;
  pointer-events: none;
}
.woffice-easy-flow .btn:focus, .woffice-easy-flow .btn:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

#main {
  min-height: calc(100vh - 126px) !important;
}

.woffice-easy-flow {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background: none !important;
}
.woffice-easy-flow section {
  transition: 0.8s ease-in-out;
  transition-property: opacity, max-height, margin;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  margin: 0;
}
.woffice-easy-flow section.two-options:first-of-type.active {
  margin: 25vh 0 0 0;
}
.woffice-easy-flow section.two-options.active {
  min-height: calc(75vh - 216px);
}
.woffice-easy-flow section h2 {
  display: inline-block;
}
.woffice-easy-flow section.active {
  visibility: visible;
  pointer-events: all;
  max-height: 100%;
  opacity: 1;
  min-height: calc(100vh - 116px);
}
.woffice-easy-flow section.flow-step.two-options, .woffice-easy-flow section.flow-step.ask-reply {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .woffice-easy-flow section.flow-step.two-options .flow-options, .woffice-easy-flow section.flow-step.ask-reply .flow-options {
    flex-direction: column;
  }
  .woffice-easy-flow section.flow-step.two-options .flow-options [type=radio] + span::after, .woffice-easy-flow section.flow-step.ask-reply .flow-options [type=radio] + span::after {
    width: 100%;
  }
}
.woffice-easy-flow section.flow-step.two-options .flow-options,
.woffice-easy-flow section.flow-step.two-options .flow-ask, .woffice-easy-flow section.flow-step.ask-reply .flow-options,
.woffice-easy-flow section.flow-step.ask-reply .flow-ask {
  display: inline-flex;
  gap: 2rem;
}
.woffice-easy-flow section.flow-step.two-options .flow-options label,
.woffice-easy-flow section.flow-step.two-options .flow-ask label, .woffice-easy-flow section.flow-step.ask-reply .flow-options label,
.woffice-easy-flow section.flow-step.ask-reply .flow-ask label {
  padding: 0;
}
.woffice-easy-flow section.flow-step.two-options .flow-options label input:focus-visible + span,
.woffice-easy-flow section.flow-step.two-options .flow-ask label input:focus-visible + span, .woffice-easy-flow section.flow-step.ask-reply .flow-options label input:focus-visible + span,
.woffice-easy-flow section.flow-step.ask-reply .flow-ask label input:focus-visible + span {
  box-shadow: 0 0 0 4px rgba(63, 81, 181, 0.5);
}
.woffice-easy-flow section.flow-step.two-options .flow-options label span,
.woffice-easy-flow section.flow-step.two-options .flow-ask label span, .woffice-easy-flow section.flow-step.ask-reply .flow-options label span,
.woffice-easy-flow section.flow-step.ask-reply .flow-ask label span {
  background: transparent;
  border: 2px solid #3f51b5;
  color: #3f51b5;
  font-weight: 500;
  border-radius: 6px;
  padding: 15px 20px;
  position: relative;
}
.woffice-easy-flow section.flow-step.two-options .flow-options [type=radio]:not(:checked),
.woffice-easy-flow section.flow-step.two-options .flow-options [type=radio]:checked,
.woffice-easy-flow section.flow-step.two-options .flow-ask [type=radio]:not(:checked),
.woffice-easy-flow section.flow-step.two-options .flow-ask [type=radio]:checked, .woffice-easy-flow section.flow-step.ask-reply .flow-options [type=radio]:not(:checked),
.woffice-easy-flow section.flow-step.ask-reply .flow-options [type=radio]:checked,
.woffice-easy-flow section.flow-step.ask-reply .flow-ask [type=radio]:not(:checked),
.woffice-easy-flow section.flow-step.ask-reply .flow-ask [type=radio]:checked {
  opacity: 1;
}
.woffice-easy-flow section.flow-step.two-options .flow-replies, .woffice-easy-flow section.flow-step.ask-reply .flow-replies {
  max-height: 0;
}
.woffice-easy-flow section.flow-step.two-options .flow-replies.active, .woffice-easy-flow section.flow-step.ask-reply .flow-replies.active {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1rem;
  display: block;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 2rem 0 1rem 0;
}
.woffice-easy-flow section.flow-step.two-options .flow-replies .reply,
.woffice-easy-flow section.flow-step.two-options .flow-replies .flow-next, .woffice-easy-flow section.flow-step.ask-reply .flow-replies .reply,
.woffice-easy-flow section.flow-step.ask-reply .flow-replies .flow-next {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.woffice-easy-flow section.flow-step.two-options .flow-replies .reply.active,
.woffice-easy-flow section.flow-step.two-options .flow-replies .flow-next.active, .woffice-easy-flow section.flow-step.ask-reply .flow-replies .reply.active,
.woffice-easy-flow section.flow-step.ask-reply .flow-replies .flow-next.active {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: initial !important;
}
.woffice-easy-flow section.flow-step.two-options .flow-next, .woffice-easy-flow section.flow-step.ask-reply .flow-next {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: 0.3s ease-in-out;
}
.woffice-easy-flow section.flow-step.two-options .flow-next.active, .woffice-easy-flow section.flow-step.ask-reply .flow-next.active {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  max-height: 50px;
}
.woffice-easy-flow section#client .client-typeahead {
  margin-bottom: 1rem;
}
.woffice-easy-flow section#client .client-typeahead input {
  margin-bottom: 0;
}
.woffice-easy-flow section .flow-body {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1rem;
  display: block;
  width: 100%;
}
.woffice-easy-flow section .flow-next {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  position: relative;
}
.woffice-easy-flow section .flow-next:before, .woffice-easy-flow section .flow-next:after {
  transition: all 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 20px;
  top: 8px;
  width: calc(100% - 140px);
  content: "";
  transform: translateY(-10px);
  display: inline-block;
}
.woffice-easy-flow section .flow-next.invalid-fields:before {
  content: attr(data-msg);
  font-size: 1rem;
  left: 26px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.woffice-easy-flow section .flow-next.invalid-fields:after {
  content: "warning";
  color: red;
  font-family: "Material Icons";
  font-size: 1rem;
  left: 0;
  height: 20px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
@media screen and (max-width: 400px) {
  .woffice-easy-flow section .flow-next.invalid-fields:before, .woffice-easy-flow section .flow-next.invalid-fields:after {
    top: 50px;
    width: calc(100% - 30px);
  }
}
.woffice-easy-flow section .flow-next .flow-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  gap: 1rem;
  transform: translate3d(0, 0, 0);
}
.woffice-easy-flow section .flow-next .flow-btn.shake-animation {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.woffice-easy-flow section .flow-next .flow-btn:focus, .woffice-easy-flow section .flow-next .flow-btn:focus-visible {
  outline: 2px solid #32408f;
  outline-offset: 2px;
}
.woffice-easy-flow section#measures .flow-body {
  padding: 1.5rem 2rem;
}
.woffice-easy-flow section#measures .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.woffice-easy-flow section#measures .measures-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.woffice-easy-flow section#measures .measures-list .measure {
  position: relative;
  padding-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  max-height: 350px;
  opacity: 1;
}
.woffice-easy-flow section#measures .measures-list .measure.deleting {
  -webkit-animation: showHideMeasure 0.3s forwards 0s normal 1;
          animation: showHideMeasure 0.3s forwards 0s normal 1;
}
.woffice-easy-flow section#measures .measures-list .measure.adding {
  animation: showHideMeasure 0.3s forwards 0.3s reverse 1;
  max-height: 0;
  opacity: 0;
}
.woffice-easy-flow section#measures .measures-list .measure .btn-delete-measure {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  cursor: pointer;
  color: #555;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.woffice-easy-flow section#measures .measures-list .measure .btn-delete-measure:hover {
  background: #eee;
}
.woffice-easy-flow section#measures .measures-list .measure .btn-delete-measure i {
  pointer-events: none;
}
.woffice-easy-flow section#measures .btn-add-measure {
  margin-top: 1rem;
}
.woffice-easy-flow section#products .flow-body {
  padding: 1.5rem;
}
.woffice-easy-flow section#notes .flow-next {
  justify-content: center;
}
.woffice-easy-flow section#notes .flow-next .flow-btn {
  background-color: #43a047;
}
.woffice-easy-flow section.summary {
  background: #fff;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: 0.3s ease-in-out;
  padding: 2rem;
  margin-top: 2rem;
}
.woffice-easy-flow section.summary .row {
  margin: 0;
}
.woffice-easy-flow section.summary .success-icon {
  color: #43a047;
  text-align: center;
}
.woffice-easy-flow section.summary .success-icon i {
  font-size: 5rem;
}
.woffice-easy-flow section.summary h1 {
  margin: 1rem 0 0 0;
  text-align: center;
}
.woffice-easy-flow section.summary .row:not(:last-of-type) {
  padding: 2rem 0;
}
.woffice-easy-flow section.summary p {
  margin-bottom: 0;
}
.woffice-easy-flow section.summary span {
  font-size: 0.9rem;
}
.woffice-easy-flow section.summary strong {
  font-weight: 600;
  color: #000;
}
.woffice-easy-flow section.summary .summary-actions {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
.woffice-easy-flow section.summary .summary-actions a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

@-webkit-keyframes showHideMeasure {
  0% {
    max-height: 350px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes showHideMeasure {
  0% {
    max-height: 350px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}/*# sourceMappingURL=easyflow.css.map */