$w-yellow: #f5a700;
$w-indigo: #3f51b5;
$w-green: #43a047;

@import "misc";

#main {
	min-height: calc(100vh - 126px) !important;
}

.woffice-easy-flow {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	background: none !important;
	section {
		transition: 0.8s ease-in-out;
		transition-property: opacity, max-height, margin;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		pointer-events: none;
		margin: 0;

		&.two-options {
			&:first-of-type {
				&.active {
					margin: 25vh 0 0 0;
				}
			}
			&.active {
				min-height: calc(75vh - 216px);
			}
		}

		h2 {
			display: inline-block;
		}

		&.active {
			visibility: visible;
			pointer-events: all;
			max-height: 100%;
			opacity: 1;

			min-height: calc(100vh - 116px);
		}

		&.flow-step {
			&.two-options,
			&.ask-reply {
				text-align: center;

				@media screen and (max-width: 600px) {
					.flow-options {
						flex-direction: column;

						[type="radio"] + span::after {
							width: 100%;
						}
					}
				}

				.flow-options,
				.flow-ask {
					display: inline-flex;
					gap: 2rem;

					label {
						padding: 0;
						input:focus-visible + span {
							box-shadow: 0 0 0 4px rgba($w-indigo, 0.5);
						}
						span {
							background: transparent;
							border: 2px solid $w-indigo;
							color: $w-indigo;
							font-weight: 500;
							border-radius: 6px;
							padding: 15px 20px;
							position: relative;
						}
					}

					[type="radio"]:not(:checked),
					[type="radio"]:checked {
						opacity: 1;
					}
				}
				.flow-replies {
					max-height: 0;
					&.active {
						background-color: #fff;
						border-radius: 6px;
						box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
						border: none;
						padding: 1rem;
						display: block;
						width: 100%;
						max-height: fit-content;
						margin: 2rem 0 1rem 0;
					}
					.reply,
					.flow-next {
						pointer-events: none;
						visibility: hidden;
						opacity: 0;
						max-height: 0;
						padding: 0;
						transition: 0.3s ease-in-out;
						overflow: hidden;

						&.active {
							pointer-events: all;
							visibility: visible;
							opacity: 1;
							max-height: fit-content;
							overflow: initial !important;
						}
					}
				}
				.flow-next {
					pointer-events: none;
					visibility: hidden;
					opacity: 0;
					max-height: 0;
					transition: 0.3s ease-in-out;

					&.active {
						pointer-events: all;
						visibility: visible;
						opacity: 1;
						max-height: 50px;
					}
				}
			}
		}

		&#client {
			.client-typeahead {
				margin-bottom: 1rem;
				input {
					margin-bottom: 0;
				}
			}
		}

		.flow-body {
			background-color: #fff;
			border-radius: 6px;
			box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
			border: none;
			padding: 1rem;
			display: block;
			width: 100%;
		}

		.flow-next {
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			margin-top: 1rem;
			position: relative;

			&:before,
			&:after {
				transition: all 0.3s ease-in-out;
				position: absolute;
				opacity: 0;
				visibility: hidden;
				height: 20px;
				top: 8px;
				width: calc(100% - 140px);
				content: "";
				transform: translateY(-10px);
				display: inline-block;
			}

			&.invalid-fields:before {
				content: attr(data-msg);
				font-size: 1rem;
				left: 26px;
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}
			&.invalid-fields:after {
				content: "warning";
				color: red;
				font-family: "Material Icons";
				font-size: 1rem;
				left: 0;
				height: 20px;
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}

			@media screen and (max-width: 400px) {
				&.invalid-fields:before,
				&.invalid-fields:after {
					top: 50px;
					width: calc(100% - 30px);
				}
			}

			.flow-btn {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-weight: 500;
				border-radius: 20px;
				padding: 8px 20px;
				border: none;
				background-color: $w-indigo;
				color: #fff;
				gap: 1rem;
				transform: translate3d(0, 0, 0);

				&.shake-animation {
					animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97)
						both;
				}

				&:focus,
				&:focus-visible {
					outline: 2px solid darken($w-indigo, 10%);
					outline-offset: 2px;
				}
			}
		}

		&#measures {
			.flow-body {
				padding: 1.5rem 2rem;
			}
			.row {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.measures-list {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: 100%;

				.measure {
					position: relative;
					padding-top: 20px;
					border: 1px solid rgba(black, 0.07);
					background: #fff;
					border-radius: 8px;
					transition: 0.3s ease-in-out;
					overflow: hidden;
					max-height: 350px;
					opacity: 1;

					&.deleting {
						animation: showHideMeasure 0.3s forwards 0s normal 1;
					}

					&.adding {
						animation: showHideMeasure 0.3s forwards 0.3s reverse 1;
						max-height: 0;
						opacity: 0;
						// animation-duration: 0.3s;
						// animation-timing-function: ease;
						// animation-delay: 0.3s;
						// animation-iteration-count: 1;
						// animation-direction: reverse;
						// animation-fill-mode: forwards;
						// animation-play-state: running;
						// animation-name: showHideMeasure;
					}

					// .input-field:first-of-type {
					// 	width: calc(100% - 50px);
					// }

					.btn-delete-measure {
						position: absolute;
						right: 0.75rem;
						top: 0.75rem;
						cursor: pointer;
						color: #555;
						// background: #eee;
						border-radius: 50%;
						height: 40px;
						width: 40px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						z-index: 1;
						transition: 0.3s ease-in-out;

						&:hover {
							// color: #c62828;
							// background: rgba(red, 0.1);
							background: #eee;
							i {
							}
						}

						i {
							pointer-events: none;
						}
					}
				}
			}

			.btn-add-measure {
				margin-top: 1rem;
				// display: inline-flex;
				// align-items: center;
				// gap: 8px;
				// border: 2px solid $w-indigo;
				// padding: 0.3rem 1rem;
				// border-radius: 20px;
				// &:hover {
				// 	background: rgba($w-indigo, 0.1);
				// }
			}
		}

		&#products {
			.flow-body {
				padding: 1.5rem;
			}
		}
		&#notes {
			.flow-next {
				justify-content: center;
				.flow-btn {
					background-color: $w-green;
				}
			}
		}
		&.summary {
			background: #fff;
			border-radius: 6px;
			box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
			width: 100%;
			transition: 0.3s ease-in-out;
			padding: 2rem;
			margin-top: 2rem;

			.row {
				margin: 0;
			}

			.success-icon {
				color: $w-green;

				text-align: center;
				i {
					font-size: 5rem;
				}
			}

			h1 {
				margin: 1rem 0 0 0;
				text-align: center;
			}

			.row:not(:last-of-type) {
				padding: 2rem 0;
				// border-bottom: 1px solid rgba(black, 0.07);
			}

			p {
				margin-bottom: 0;
			}
			span {
				font-size: 0.9rem;
			}
			strong {
				font-weight: 600;
				color: #000;
			}

			.summary-actions {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				gap: 2rem;
				flex-wrap: wrap;
				width: 100%;

				a {
					display: inline-flex;
					align-items: center;
					gap: 1rem;
				}
			}
		}
	}
}

@keyframes showHideMeasure {
	0% {
		max-height: 350px;
		opacity: 1;
	}
	100% {
		max-height: 0;
		opacity: 0;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
