.card,
.card-panel,
.collapsible:not(.sidenav):not(.sidenav-main) {
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.collapsible-header {
  border-radius: 6px;
}

.sidenav .collapsible {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.footer-light.page-footer {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .card-panel {
    padding: 10px !important;
  }
}
@media screen and (min-width: 993px) {
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 29px !important;
  }
}
@media only print {
  html {
    color: #333;
  }
  .card-panel,
  .card,
  .card-content {
    box-shadow: none !important;
    padding: 0 !important;
  }
  html,
  body {
    background-color: #fff !important;
  }
  table th {
    border-top: 0px;
    color: #333;
  }
  table td,
  table th {
    border-left: 0px !important;
    border-right: 0px !important;
  }
  .invoice-logo {
    display: flex;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .display-flex {
    display: flex;
  }
  .header-document img {
    min-width: 850px !important;
  }
  .header-document {
    text-align: center;
  }
  .invoice-logo-title {
    display: inline-flex !important;
    width: 100% !important;
  }
  .invoice-logo-title .invoice-logo {
    width: 150px !important;
  }
  ul li.display-flex.justify-content-between,
  ul li.divider {
    float: left;
    width: 100%;
    display: block !important;
  }
  ul li.display-flex.justify-content-between span.invoice-subtotal-title,
  ul li.divider span.invoice-subtotal-title {
    float: left !important;
  }
  ul li.display-flex.justify-content-between h6,
  ul li.divider h6 {
    float: right !important;
  }
}
.header-document {
  width: calc(100% + 48px);
  float: left;
  margin-left: -24px !important;
}
.header-document img {
  width: 100%;
}

.invoice-body .invoice-title-bar {
  background: #ffc107;
  color: #000;
  width: 100%;
  margin: 32px 0 16px 0;
  padding: 0 10px;
  border-radius: 6px;
  height: 40px;
  float: left;
  align-items: center;
  justify-content: space-between;
}
.invoice-body .invoice-title-bar .fas {
  width: 45px;
  height: 40px;
  padding: 8px 15px 8px 10px;
  margin-left: -10px;
  color: #444;
  position: relative;
  float: left;
}
.invoice-body .invoice-title-bar .fas img {
  width: 23px;
  opacity: 0.6;
}
.invoice-body .invoice-title-bar .fas:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
}
.invoice-body .invoice-title-bar .fas:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 10px;
  border-radius: 6px;
  top: 0;
  right: -6px;
  background: #ffc107;
}
.invoice-body .invoice-title-bar h6 {
  padding-left: 5px;
  float: left;
  line-height: 40px;
  margin: 0;
}
.invoice-body .invoice-title-bar .invoice-title-details {
  float: right;
  background-color: #fff;
  height: 40px;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
  padding: 0 5px 0 15px;
  margin-right: -10px;
  position: relative;
  font-size: 14px;
}
.invoice-body .invoice-title-bar .invoice-title-details:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  border-radius: 6px;
  top: 0px;
  left: -6px;
  background: #ffc107;
}
.invoice-body .invoice-title-bar .display-flex {
  width: inherit;
}
.invoice-body .chip {
  background: #333;
  color: #fff;
}
.invoice-body th {
  color: #333;
}

@media screen and (max-width: 600px) {
  .invoice-logo-title {
    display: flex;
    flex-direction: column;
  }
  .invoice-logo {
    margin: 0 !important;
  }
  .invoice-title {
    max-width: 100% !important;
    padding: 0 10px;
  }
}
.invoice-title {
  float: left;
  max-width: calc(100% - 160px);
}

.invoice-logo {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: content-box;
}
.invoice-logo img {
  max-width: 150px !important;
  max-height: 150px !important;
}

@media screen and (max-width: 600px) {
  .breadcrumb-item:not(:nth-last-of-type(2)) {
    display: none !important;
  }
  .breadcrumb-item:nth-last-of-type(2):before {
    content: "keyboard_arrow_left" !important;
    padding-left: 0px !important;
  }
}
.btn {
  text-transform: none !important;
}

.breadcrumbs-btn {
  border-radius: 150px !important;
}

.btn-secondary {
  background: #424242 !important;
  border-radius: 150px;
  display: inline-flex;
  align-items: center;
}

.search-ransack {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  background: white !important;
  margin: 0 !important;
  height: 46px !important;
  padding-left: 1.5rem !important;
  border-radius: 150px !important;
}

select[required]:focus {
  outline: none !important;
}

select[required] {
  display: block;
  padding: 0;
  position: absolute;
  background: transparent;
  color: transparent;
  border: none;
  top: 0;
}

.woffice-color.navbar-light .header-search-wrapper input.header-search-input {
  background: rgba(255, 255, 255, 0.4) !important;
}

.shadowed {
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

@media screen and (max-width: 600px) {
  a.brand-logo {
    height: 54px !important;
  }
}
.navbar-toggler {
  width: 30px;
  text-align: center;
  right: 15px !important;
}

.sidenav-company {
  padding-top: 50px;
}

.sidenav-main.nav-collapsed .brand-sidebar .logo-wrapper.logo-crop a.brand-logo img.hide-on-med-and-down {
  -webkit-clip-path: polygon(0% 0%, 35px 0%, 28px 100%, 0% 100%) !important;
          clip-path: polygon(0% 0%, 35px 0%, 28px 100%, 0% 100%) !important;
}

.slide-out-right-body {
  overflow-y: auto !important;
}

.nav-collapsed .company-sidemenu-logo-top {
  padding: 22px 15px;
  justify-content: center;
}
.nav-collapsed .company-sidemenu-logo-top img {
  max-width: 35px;
}
.nav-collapsed .company-sidemenu-logo-top span {
  display: none;
}

.company-sidemenu-logo-top {
  position: absolute;
  width: 100%;
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 22px;
}
.company-sidemenu-logo-top.no-text {
  justify-content: center;
}
.company-sidemenu-logo-top span {
  margin-left: 7px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  text-align: left;
}
.company-sidemenu-logo-top img {
  max-height: 22px;
  max-width: 210px;
}

.company-sidemenu-logo {
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  height: 52px;
  bottom: 64px;
  left: 0;
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.company-sidemenu-logo img {
  max-height: 45px;
}

.company-nav-logo {
  margin: 10px -260px 0 260px;
  float: left;
  max-height: 50px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 2px 7px !important;
}
.company-nav-logo img {
  filter: drop-shadow(0px 0px 1px 5px #fff);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#fff')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#fff')";
  max-height: 40px;
}

.company-profile {
  background: #fff;
  border: 1px solid #fff;
  max-height: 45px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 2px 7px !important;
  margin: -2px -2px 0 5px;
}
.company-profile:hover {
  background: #fff !important;
}
.company-profile .company-menu-logo {
  float: left;
  max-height: 45px;
  margin-right: 10px;
}
.company-profile .company-menu-logo img {
  max-height: 45px;
  max-width: 100px;
  padding: 3px 0px;
  -o-object-fit: contain;
     object-fit: contain;
}
.company-profile .avatar-status {
  display: inline-flex !important;
  width: 35px !important;
}

.current_photo {
  float: left;
  width: 100%;
  text-align: center;
}
.current_photo img {
  width: 100%;
  max-width: 200px;
}

.worker-tasks .collection-item.avatar {
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
.worker-tasks .collection-item.avatar:hover {
  background: #f6f6f6;
}
.worker-tasks .collection-item.avatar a {
  display: block;
  padding: 10px 0;
}

.card-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.card-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.contacts-row {
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .contacts-row .contacts-wrapper {
    display: block !important;
    float: left;
    width: 100%;
  }
  .contacts-row .contacts-type-box {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .contacts-row .contacts-type-box .contacts-list {
    width: 100%;
  }
}
.contacts-row .contacts-wrapper {
  width: 100%;
  margin-bottom: 10px;
  float: left;
}
.contacts-row .contacts-type-box {
  float: left;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contacts-row .contacts-type-box:last-of-type {
  border-bottom: none;
}
.contacts-row .contacts-type-box.address-type.see-all {
  max-height: 400px;
}
.contacts-row .contacts-type-box.address-type.see-all .contacts-list {
  max-height: 300px;
  padding-bottom: 10px;
}
.contacts-row .contacts-type-box.address-type.see-all .contacts-list .contact {
  display: block !important;
}
.contacts-row .contacts-type-box.address-type.see-all .contacts-list .contact:not(:last-of-type) {
  margin-bottom: 15px;
}
.contacts-row .contacts-type-box.see-all:not(.address-type) {
  max-height: 200px;
  height: 100%;
}
.contacts-row .contacts-type-box.see-all:not(.address-type) .contacts-list {
  max-height: 130px;
}
.contacts-row .contacts-type-box.see-all:not(.address-type) .contacts-list .contact {
  display: block !important;
}
.contacts-row .contacts-type-box .see-all-ctb {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background: #fff;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 5;
  text-align: center;
}
.contacts-row .contacts-type-box .see-all-ctb a {
  float: left;
  width: 100%;
  opacity: 0.6;
}
.contacts-row .contacts-type-box .see-all-ctb a:hover {
  opacity: 1;
}
.contacts-row .contacts-type-box .see-all-ctb.active {
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}
.contacts-row .contacts-type-box .contact-type--info {
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.contacts-row .contacts-type-box .contact-type--info p {
  margin-bottom: 0;
  font-weight: 600;
}
.contacts-row .contacts-type-box .contact-type--info i.material-icons {
  float: left;
  font-size: 16px;
  margin-right: 5px;
}
.contacts-row .contacts-type-box .contacts-list {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.contacts-row .contacts-type-box .contacts-list.active {
  min-height: 64px;
  overflow-y: unset !important;
}
.contacts-row .contacts-type-box .contact {
  width: 100%;
  float: left;
  padding: 0 10px 10px 0;
  position: relative;
  text-align: left;
  background: #fff;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.contacts-row .contacts-type-box .contact:not(:first-of-type) {
  display: none;
}
.contacts-row .contacts-type-box .contact:hover {
  background: #f7f7f7;
}
.contacts-row .contacts-type-box .contact.active {
  overflow: unset !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.contacts-row .contacts-type-box .contact.main-contact .contact-description {
  display: inline-flex;
  align-items: center;
}
.contacts-row .contacts-type-box .contact.main-contact .contact-description a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.contacts-row .contacts-type-box .contact.main-contact .contact-description:after {
  content: "star";
  display: inline-flex;
  font-family: "Material Icons";
  font-size: 16px;
  margin-left: 2px;
  color: #ffc107;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.contacts-row .contacts-type-box .contact:hover .contact-edit a {
  opacity: 0.6;
}
.contacts-row .contacts-type-box .contact .contact-edit {
  position: absolute;
  right: 0;
}
.contacts-row .contacts-type-box .contact .contact-edit a {
  font-size: 14px;
  opacity: 0;
  color: #333;
}
.contacts-row .contacts-type-box .contact .contact-edit a:hover {
  opacity: 1;
}
.contacts-row .contacts-type-box .contact .contact-info span {
  float: left;
  width: 100%;
  padding-right: 20px;
}
.contacts-row .contacts-type-box .contact .contact-info .contact-title {
  font-size: 14px;
}
.contacts-row .contacts-type-box .contact .more-info {
  width: 100%;
  padding: 10px;
  float: left;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  margin-top: 5px;
}
.contacts-row .contacts-type-box .contact .more-info.active {
  top: 0px;
  visibility: visible;
  box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  opacity: 1;
}
.contacts-row .contacts-type-box .contact .more-info .map {
  width: calc(100% + 30px);
  border-radius: 6px;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 5px;
  height: 90px;
  overflow: hidden;
}
.contacts-row .contacts-type-box .contact .more-info .map img {
  width: 100%;
}
.contacts-row .contacts-type-box .contact .more-info .btn-navigate {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  z-index: 10;
  display: none;
}
@media screen and (max-width: 600px) {
  .contacts-row .contacts-type-box .contact .more-info .btn-navigate {
    display: block;
  }
}

.document {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  background: #f3faf3;
  padding: 5px 10px;
  line-height: 20px;
  position: relative;
  color: #135616;
}
.document .doc-date {
  color: #777;
  font-size: 13px;
  width: 100%;
  float: left;
}
.document .doc-type {
  background: #555;
  padding: 3px 6px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  right: 5px;
  top: 8px;
}

.note {
  width: 100%;
  float: left;
  background: #ffffac;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.note .note-content {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: auto;
}
.note:hover .btn-delete-note {
  display: inline-flex !important;
}
.note .btn-delete-note {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  color: #666;
  border-radius: 50%;
  display: none;
}
.note .btn-delete-note:hover {
  background: rgba(0, 0, 0, 0.1);
}

.estimates-order-list {
  padding: 5px 10px;
}
.estimates-order-list li.collection-item {
  word-break: break-all;
  width: 100%;
}

.search-table-list {
  float: left;
  width: 100%;
  box-sizing: border-box !important;
}
.search-table-list * {
  box-sizing: border-box !important;
}
@media screen and (max-width: 992px) {
  .search-table-list {
    margin-top: 20px;
    padding: 0 15px;
  }
}
.search-table-list form {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: calc(100% - 60px) 50px;
  grid-column-gap: 10px;
}
.search-table-list input[type=search] {
  width: 100%;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.07) !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
  background: white !important;
  margin: 0 !important;
  height: 3.2rem !important;
  padding-left: 1.5rem !important;
  border-radius: 150px !important;
  transition: 0.3s all ease-in-out;
}
.search-table-list input[type=search]:focus, .search-table-list input[type=search]:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) !important;
}
.search-table-list button[type=submit] {
  height: 50px;
  float: right;
  width: 50px;
}
.search-table-list button[type=submit] i {
  line-height: 50px;
}

table.mergeable-table tr.selected {
  background: #e9f1f7;
}

@media screen and (max-width: 992px) {
  table.transactions-table .chip {
    height: 21px;
    line-height: 21px;
    margin-bottom: 0;
  }
  table.transactions-table img.square-logo {
    margin: 0 !important;
    height: 15px !important;
  }
  table.transactions-table .transaction-value.badge {
    margin-left: 0px !important;
  }
}
table.transactions-table img.square-logo {
  height: 17px;
  margin: 5px 5px 0 0;
}
table.transactions-table span.transaction-value {
  display: inline-flex;
  align-items: center;
}
table.transactions-table td.status-trans span {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #1976d2;
  box-sizing: border-box;
  background-color: #e3f2fd;
}
table.transactions-table td.status-trans.merged span {
  position: relative;
  padding-left: 22px;
  color: #303f9f !important;
  background-color: #e8eaf6 !important;
  cursor: pointer;
}
table.transactions-table td.status-trans.merged span::before {
  position: absolute;
  content: "remove_red_eye";
  font-family: "Material Icons";
  font-size: 16px;
  width: 20px;
  height: 19px;
  top: -1px;
  left: 2px;
}
table.transactions-table tr.ignored {
  background: #f2f2f2;
  transition: 0.3s all ease-in-out;
}
table.transactions-table tr.ignored td:not(:last-of-type) {
  filter: grayscale(0.7);
}
table.transactions-table tr.ignored .btn-ignore-trans {
  transition: 0.3s all ease-in-out;
}
table.transactions-table tr.ignored .btn-ignore-trans i {
  transform: rotate(45deg);
}

.modal-sync-transaction {
  width: 90%;
  max-width: 1000px;
}
@media screen and (max-width: 992px) {
  .modal-sync-transaction {
    max-height: 85% !important;
  }
  .modal-sync-transaction td,
  .modal-sync-transaction th {
    height: 51px;
    display: flex !important;
    align-items: center;
  }
  .modal-sync-transaction .square-logo {
    margin: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .modal-sync-transaction .selected-transaction .row {
    display: block !important;
  }
  .modal-sync-transaction .selected-transaction .row .col {
    padding: 2px 0;
  }
  .modal-sync-transaction .selected-transaction .badge {
    float: left;
  }
}
.modal-sync-transaction .selected-transaction .row {
  display: flex;
  align-items: center;
  padding: 5px 5px 0px 5px;
}
.modal-sync-transaction .selected-transaction .badge {
  display: inline-flex;
  align-items: center;
}
.modal-sync-transaction .selected-transaction img {
  height: 17px;
}
@media screen and (min-width: 992px) {
  .modal-sync-transaction td {
    padding: 5px;
  }
  .modal-sync-transaction .scrollable-table {
    height: 100px;
    overflow-y: scroll;
  }
}
.modal-sync-transaction td p {
  margin: 0;
}

.settings_container .company_logo img {
  width: 100%;
  max-width: 250px;
}
.settings_container .tabs {
  background: transparent;
  margin: 20px 0;
}
.settings_container .tabs .indicator {
  background-color: #3949ab;
}
.settings_container .tabs a {
  color: #3949ab !important;
}
.settings_container .tabs a li.tab:first-of-type {
  padding-left: 0px !important;
}
.settings_container .tabs a li.tab:last-of-type {
  padding-right: 0px !important;
}
.settings_container .tabs a.active {
  background-color: #3949ab;
  color: #fff !important;
  outline: none;
}
.settings_container .tabs a.active:focus {
  background-color: rgba(57, 73, 171, 0.1);
  color: #3949ab !important;
}

.cards-analytics h5 {
  font-size: 1.35rem;
  font-weight: 600;
}

.hide-the-money {
  height: 36px;
  display: inline-flex;
  align-items: center;
  color: #666 !important;
  padding: 0 15px;
  border-radius: 150px;
}

.orders-list-analytics h5 {
  font-size: 1.35rem;
  font-weight: 600;
}
.orders-list-analytics .card-width .card {
  padding: 5px 0 0 0 !important;
}
@media screen and (max-width: 992px) {
  .orders-list-analytics .card-width .card {
    margin-bottom: 0px;
  }
}

.m-area {
  position: relative;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.m-area .btn-close-area {
  color: #999;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  z-index: 1;
}
.m-area .btn-close-area:hover {
  background: #e0e0e0;
}

.stepper-head-only {
  height: 84px !important;
  min-height: 84px !important;
  padding: 0 10px !important;
}
.stepper-head-only .step .step-title {
  cursor: default !important;
}
.stepper-head-only .step .step-title:hover {
  background-color: #fff !important;
}
.stepper-head-only .waves-ripple {
  opacity: 0 !important;
}

.subtotal-area {
  margin-bottom: 30px;
}

.product-area {
  position: relative;
  z-index: 10;
  float: left;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.product-area:last-of-type {
  margin-bottom: 0px;
}
.product-area .btn-close-product-area {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  z-index: 1;
}
.product-area .btn-close-product-area:hover {
  background: #e0e0e0;
}
.product-area .areas-available {
  padding-left: 0px;
  padding-right: 32px;
}
.product-area .areas-available .chip {
  background: #f1f1f1;
  color: #666;
  cursor: pointer;
}
.product-area .areas-available .chip:hover:not(.selected) {
  color: #e0f7fa;
  background: #2196f3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.product-area .areas-available .chip:active {
  box-shadow: none;
}
.product-area .areas-available .chip.selected {
  color: #e0f7fa;
  background: #2196f3;
}
.product-area .areas-selected .chip {
  background: #e0f7fa;
  color: #2196f3;
}
.product-area .areas-selected .chip .close {
  color: #666;
}
.product-area .product {
  border-radius: 4px;
  float: left;
  width: 100%;
  padding: 0 10px;
  background: #fff;
  transition: 0.3s all ease-in-out;
}
.product-area .product.new-product {
  cursor: pointer;
  position: relative;
  background: transparent !important;
}
.product-area .product.new-product:after {
  content: "add";
  font-family: "Material icons";
  font-size: 24px;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 30px;
  top: 5px;
  left: 13px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
}
.product-area .product.new-product:hover:after {
  background: rgba(0, 0, 0, 0.5);
}
.product-area .product.new-product .btn-add-product {
  display: none !important;
}
.product-area .product.new-product * {
  cursor: pointer;
}
.product-area .product.new-product .btn-remove-product {
  display: none;
}
.product-area .product.new-product .row {
  opacity: 0;
}
.product-area .product .calc-fields {
  display: inline-flex;
  float: left;
  width: 100%;
  justify-content: flex-end;
  height: 35px;
  margin-bottom: 10px;
  padding-right: 50px;
}
@media screen and (max-width: 600px) {
  .product-area .product .calc-fields {
    display: inline-block;
    height: auto !important;
    padding-right: 0 !important;
    padding-left: 2px;
  }
  .product-area .product .calc-fields .calc-field {
    width: calc(50% - 25px);
    flex-direction: column;
    text-align: left;
    align-items: flex-start !important;
  }
  .product-area .product .calc-fields .calc-field:nth-last-of-type(2), .product-area .product .calc-fields .calc-field:last-of-type {
    padding-top: 5px;
  }
  .product-area .product .calc-fields .calc-field input {
    max-width: calc(100% - 10px) !important;
  }
}
.product-area .product .calc-fields .calc-field {
  display: inline-flex;
  align-items: center;
  justify-content: start;
}
.product-area .product .calc-fields .calc-field span {
  white-space: nowrap;
}
.product-area .product .calc-fields .calc-field input {
  height: 35px;
  margin-bottom: 0;
  max-width: 90px;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 6px 6px 0 0;
  margin: 0 5px 0 2px;
}
.product-area .product .btn-remove-product {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #999;
}
.product-area .product .btn-remove-product:hover {
  color: #ff0000;
}
.product-area .product:nth-of-type(2n + 1) {
  background: #f5f5f5;
}
.product-area .product:nth-of-type(2n + 1) input.autocomplete.autocomplete-products {
  background: #fff !important;
}
.product-area .product:nth-of-type(2n + 1) .calc-field input {
  background: #fff;
}
.product-area .product .calc-fields {
  opacity: 1;
}
.product-area .product .products-search {
  padding-top: 5px;
  position: relative;
}
.product-area .product .products-search span {
  font-weight: 600 !important;
}
.product-area .product .products-search .products-search-field-box {
  float: left;
  width: 100%;
}
.product-area .product .products-search .products-search-field-box input.autocomplete-products {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  height: 42px;
  border-top-width: 2px !important;
  padding-left: 20px;
  padding-right: 0px;
  position: relative;
  width: calc(100% - 20px);
}
.product-area .product .products-search .products-search-field-box ul {
  z-index: 99999 !important;
}
.product-area .product .products-search .products-search-field-box .btn-add-product {
  width: 36px;
  height: 42px;
  color: #3f51b5;
  position: absolute;
  background: transparent;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .product-area .product .products-search .products-search-field-box .btn-add-product {
    top: 3px !important;
  }
}
.product-area .product .products-search .autocomplete-product-value {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-top: 32px;
  background: #e0e0e0;
}
.product-area .product .products-search .products-sugestions .chip {
  cursor: pointer;
  background: #fce4ec;
  color: #e91e63;
}
.product-area .product .products-search .products-sugestions .chip:hover {
  background: #f492b4;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.product-area .product .products-search .products-sugestions .chip:active {
  box-shadow: none;
}
.product-area .product .products-selection {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
.product-area .product .products-selection:last-of-type {
  border-radius: 0 0 4px 4px;
}

.dropdown-activated {
  z-index: 5 !important;
}

.deposit {
  position: relative;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.deposit .btn-close-deposit {
  color: #999;
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  z-index: 1;
}
.deposit .btn-close-deposit:hover {
  background: #e0e0e0;
}

.finish-order-steps {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}
.finish-order-steps * {
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .finish-order-step .step-content {
    padding-left: 0px !important;
  }
  .finish-order-step .step-content .signature {
    height: 200px !important;
  }
}
.finish-order-step.signature .step-icon:before {
  content: "gesture";
}
.finish-order-step.signature .step-content form {
  display: inline-flex;
  flex-direction: column;
  float: left;
}
.finish-order-step.photos .step-icon:before {
  content: "camera_alt";
}
.finish-order-step.toggled .step-content {
  height: auto !important;
  overflow: unset !important;
}
.finish-order-step.toggled .step-content .signature,
.finish-order-step.toggled .step-content .file-field {
  float: left;
  padding-bottom: 10px;
}
.finish-order-step.done {
  background: #f3fff4;
  border-radius: 4px;
  cursor: pointer;
}
.finish-order-step.done .step-title {
  color: #00a832;
}
.finish-order-step.done .step-title .step-icon {
  background: #00a832;
}
.finish-order-step.done .step-title .step-icon:before {
  content: "done" !important;
}
.finish-order-step.done .step-content {
  height: 0px;
  overflow: hidden;
}
.finish-order-step .step-title {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  float: left;
  width: 100%;
  padding: 10px;
}
.finish-order-step .step-title .step-icon {
  height: 40px;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  background: #2a83f9;
  color: #fff;
  font-weight: 600;
  position: relative;
}
.finish-order-step .step-title .step-icon:before {
  font-family: "Material Icons";
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 10px;
}
.finish-order-step .step-content {
  padding-left: 60px;
  transition: all 0.3s ease-in-out;
}
.finish-order-step .step-content .file-field {
  max-width: 500px;
  width: 100%;
  float: left;
  margin: 0;
}
.finish-order-step .step-content .signature {
  width: 100%;
  height: 300px;
}
.finish-order-step .step-content .signature canvas {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background: #f7f7f7;
}
.finish-order-step .step-content .signature-actions {
  float: left;
  width: 100%;
  max-width: 500px;
  display: inline-flex;
  justify-content: space-between;
  padding: 3px 0px;
}
.finish-order-step .step-content .signature-actions a {
  display: inline-flex;
  align-items: center;
  padding: 8px 5px;
  border-radius: 4px;
}
.finish-order-step .step-content .signature-actions a i {
  margin-right: 5px;
}
.finish-order-step .step-content .signature-actions a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.finish-order-step .step-content .signature-actions a.clear-signature {
  color: #666;
}
.finish-order-step .step-content .signature-actions a.save-signature {
  color: #00a832;
}

.order-cost-list.dashboard .oc-items-header,
.order-cost-list.dashboard .oc-item-content {
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr 2fr !important;
}
.order-cost-list.oc-labor-cost .oc-items-header,
.order-cost-list.oc-labor-cost .oc-item-content {
  grid-template-columns: 2fr 5fr 1fr 2fr !important;
}
.order-cost-list .oc-supplier {
  width: 100%;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid rgba(245, 167, 0, 0.7);
  padding-left: 5px;
  margin-bottom: 10px;
}
.order-cost-list .oc-supplier .oc-supplier-name {
  color: #3f51b5;
  font-weight: 600;
}
.order-cost-list .oc-supplier .oc-supplier-total {
  color: #222;
  background: #fdcf57;
  padding: 3px 10px;
  border-radius: 20px;
}
.order-cost-list .oc-items-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
  font-weight: 500;
  padding: 5px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .order-cost-list.oc-labor-cost .item-subtotal {
    grid-row: 3 !important;
    grid-column: 1/3;
  }
  .order-cost-list.oc-taxes-list .item-qty:after,
  .order-cost-list.oc-taxes-list .item-product:after,
  .order-cost-list.oc-taxes-list .item-price:after,
  .order-cost-list.oc-taxes-list .item-subtotal:after,
  .order-cost-list.oc-taxes-list .item-status:after {
    display: none;
  }
  .order-cost-list .oc-items-header {
    display: none;
  }
  .order-cost-list .oc-item .oc-item-content {
    grid-template-columns: 1fr 2fr !important;
    grid-template-rows: repeat(4, auto-fit);
  }
  .order-cost-list .oc-item .oc-item-content .item-qty,
  .order-cost-list .oc-item .oc-item-content .item-product,
  .order-cost-list .oc-item .oc-item-content .item-price,
  .order-cost-list .oc-item .oc-item-content .item-subtotal,
  .order-cost-list .oc-item .oc-item-content .item-status {
    padding: 5px 0px;
  }
  .order-cost-list .oc-item .oc-item-content .item-qty {
    grid-row: 1;
    grid-column: 1/1;
    position: relative;
  }
  .order-cost-list .oc-item .oc-item-content .item-qty:after {
    position: relative;
    content: "qty";
    font-size: 14px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    color: #666 !important;
    border-radius: 20px;
    padding: 1px 5px;
    margin-left: 4px;
  }
  .order-cost-list .oc-item .oc-item-content .item-product {
    grid-row: 2;
    grid-column: 1/3;
  }
  .order-cost-list .oc-item .oc-item-content .item-price {
    grid-row: 3;
    grid-column: 1/3;
    position: relative;
  }
  .order-cost-list .oc-item .oc-item-content .item-price:after {
    position: relative;
    content: "un";
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    color: #555;
    border-radius: 20px;
    padding: 1px 5px;
    margin-left: 4px;
  }
  .order-cost-list .oc-item .oc-item-content .item-subtotal {
    grid-row: 4;
    grid-column: 1/3;
  }
  .order-cost-list .oc-item .oc-item-content .item-status {
    grid-row: 3/5;
    grid-column: 2/3;
    align-self: flex-end;
    position: relative;
  }
  .order-cost-list .oc-item .oc-item-content .item-status .select-dropdown {
    margin-bottom: 0 !important;
  }
  .order-cost-list .oc-item .oc-item-actions {
    margin-top: 0px !important;
    margin-bottom: 16px !important;
    opacity: 1 !important;
    width: 100% !important;
    background: #f1f1f1 !important;
  }
}
.order-cost-list .oc-item {
  float: left;
  width: 100%;
  position: relative;
  z-index: 0;
}
.order-cost-list .oc-item.dropdown-activated {
  z-index: 5;
}
.order-cost-list .oc-item:hover .oc-item-content {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.order-cost-list .oc-item:hover .oc-item-actions {
  margin-top: 0px;
  opacity: 1;
}
.order-cost-list .oc-item .oc-item-content {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
  color: #555;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0px 4px;
  transition: 0.2s all ease-in-out;
  z-index: 2;
  position: relative;
  padding: 5px;
  align-items: center;
}
.order-cost-list .oc-item .oc-item-content .item-qty {
  font-size: 18px;
  font-weight: 600;
}
.order-cost-list .oc-item .oc-item-content .select-wrapper {
  position: relative;
  z-index: 6;
}
.order-cost-list .oc-item .oc-item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fdcf57;
  position: relative;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  margin-top: -35px;
  z-index: 1;
  width: calc(100% - 10px);
  border-radius: 4px 0px 4px 4px;
  float: right;
  padding: 5px;
  margin-bottom: 5px;
}
.order-cost-list .oc-item .oc-item-actions div {
  display: inline-flex;
  align-items: center;
}
.order-cost-list .oc-item .oc-item-actions div a {
  display: inline-flex;
  align-items: center;
  background: #fff;
  color: #6b6f82;
  padding: 0px 10px;
  margin-right: 10px;
  border-radius: 40px;
  height: 25px;
  line-height: 25px;
}
.order-cost-list .oc-item .oc-item-actions div a:hover {
  background: #444;
  color: #fff;
}

table.order-cost-table tbody td {
  padding: 5px;
}
table.order-cost-table tbody td:first-of-type {
  display: inline-flex;
  flex-direction: column;
}
table.order-cost-table tbody td:first-of-type .chip {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px !important;
  height: 20px;
  margin-bottom: 0px;
  line-height: 20px;
}

.m-area {
  position: relative;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.m-area .btn-close-area {
  color: #999;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  z-index: 1;
}
.m-area .btn-close-area:hover {
  background: #e0e0e0;
}
.m-area .m-area--measures {
  display: grid;
  padding: 0 5px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 7px;
}

.stepper-head-only {
  height: 84px !important;
  min-height: 84px !important;
  padding: 0 10px !important;
}
@media screen and (max-width: 992px) {
  .stepper-head-only {
    height: 60px !important;
    min-height: 60px !important;
    overflow: hidden !important;
    margin: 0 -12px !important;
  }
  .stepper-head-only .step {
    height: 0px !important;
    padding: 0px !important;
    visibility: hidden;
  }
  .stepper-head-only .step.active {
    visibility: visible;
  }
}
.stepper-head-only .step-title:hover,
.stepper-head-only .step:hover {
  background-color: unset !important;
}
.stepper-head-only .step a {
  color: #666;
}
.stepper-head-only .step a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.stepper-head-only .step:hover {
  background-color: #fff !important;
}
.stepper-head-only .waves-ripple {
  opacity: 0 !important;
}

.products-suggestions {
  width: 100%;
  float: left;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 5px 5px 5px;
}
.products-suggestions .suggestions-title {
  font-size: 18px;
}
.products-suggestions a {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  color: #1e96f3;
}
.products-suggestions a:hover {
  text-decoration: underline;
}
.products-suggestions a:visited {
  color: #1e96f3;
}
.products-suggestions a:last-of-type {
  margin-right: 0px;
  margin-bottom: 0px;
}

.estimate-schedule-list {
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
}
.estimate-schedule-list .row {
  border-radius: 10px !important;
  background-color: #e2ecfb !important;
  width: 100%;
  margin-left: 0px;
  padding: 0px 5px;
}
.estimate-schedule-list .row .col {
  padding: 0px;
}
.estimate-schedule-list .row img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.collapsible-areas {
  box-shadow: none !important;
}
.collapsible-areas .collapsible-header {
  border-bottom: none;
  background: #e1e1e1;
  color: #444;
}
.collapsible-areas .collapsible-body {
  margin-top: -10px;
  border-radius: 6px;
  border-bottom: none;
  background: #e1e1e1;
}
.collapsible-areas table {
  border-radius: 6px;
  overflow: hidden;
}
.collapsible-areas thead tr {
  background: #f9f9f9;
  border-bottom: none;
}
.collapsible-areas th {
  font-weight: 600;
  border-radius: 0px;
}
.collapsible-areas tbody tr {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
.collapsible-areas tbody tr td {
  border-radius: 0px;
}
@media screen and (min-width: 992px) {
  .collapsible-areas tbody tr td {
    padding: 10px 8px;
  }
}
.collapsible-areas tbody tr td small {
  white-space: normal;
}
@media screen and (max-width: 992px) {
  .collapsible-areas tbody tr td i,
  .collapsible-areas tbody tr td small {
    display: none;
  }
}
.collapsible-areas tbody tr:hover {
  background: #fff9e2;
}
.collapsible-areas tbody tr:last-of-type {
  border-bottom: none;
}
.doc-floating-box {
  position: fixed;
  left: 100%;
  top: 260px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  animation: hello_options 2s ease-in-out 1s 1 alternate forwards;
}
.doc-floating-box.active {
  left: unset;
  right: 0px;
}
.doc-floating-box.scrolled {
  top: 70px;
}
.doc-floating-box .doc-floating-btn {
  background: #3949ab;
  color: #fff;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: -29px;
}
.doc-floating-box .doc-floating-content {
  width: 300px;
  max-width: 300px;
}
.doc-floating-box .doc-floating-content .collapsible-body {
  max-height: 300px;
  overflow-y: auto;
}
.dashboard-chart {
  overflow: hidden;
}
.dashboard-chart .chart-wrapper {
  margin-bottom: 0px;
  margin-top: 0px;
}
.dashboard-chart .chart-wrapper canvas {
  max-height: 122px;
}

.recent-clients-card .collection,
.recent-orders-card .collection {
  border: none !important;
}
.recent-clients-card .collection .collection-item,
.recent-orders-card .collection .collection-item {
  border: none !important;
  padding: 10px 0px;
}

.customer-estimates thead tr,
.customer-estimates tbody tr {
  display: flex;
  align-items: stretch;
}
.customer-estimates th,
.customer-estimates td {
  width: 16.6666666667%;
}
.customer-estimates thead {
  display: table-header-group;
}
.customer-estimates tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}
.customer-estimates tbody tr {
  table-layout: fixed;
}

body.cb-body {
  background: #673ab7;
  height: 100vh;
  overflow: hidden;
}
body.cb-body .cb-wrapper {
  margin-top: 15vh;
  text-align: center;
  width: 100%;
}
body.cb-body .cb-wrapper .cb-logo {
  margin-bottom: 10px;
}
body.cb-body .cb-wrapper .cb-box {
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
  background: #fff;
  padding: 30px 15px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
body.cb-body .cb-wrapper .cb-box .cb-icon img {
  width: 100px;
}
body.cb-body .cb-wrapper .cb-box h1 {
  font-size: 30px;
}
body.cb-body .cb-wrapper .cb-box .cb-btn {
  display: inline-flex;
  padding: 5px 20px;
  border-radius: 6px;
  background: #ff4081;
  color: #fff;
}
body.cb-body .cb-wrapper .cb-square {
  margin-top: 30px;
  filter: invert(1) contrast(100%);
}

#signature-pad {
  width: 100%;
  height: 100%;
  max-height: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.diagram-note {
  background-color: rgba(66, 180, 21, 0.7);
  color: White;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: rgba(66, 180, 21, 0.7) !important;
  /* color elements as red */
}

.highlight-overlay {
  background-color: green;
  /* color elements as green */
  opacity: 0.4;
  pointer-events: none;
  /* no pointer events, allows clicking through onto the element */
}

.chip-selection [type=checkbox] + span:not(.lever),
.chip-selection [type=radio] + span:not(.lever) {
  background: #9e9e9e !important;
  padding: 0 12px 0 35px !important;
  border-radius: 50px;
  height: 32px;
  line-height: 32px;
  margin-right: 5px;
}
.chip-selection [type=checkbox] + span:not(.lever):hover,
.chip-selection [type=radio] + span:not(.lever):hover {
  color: #e0f7fa;
  background: #44a8f7 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.chip-selection [type=checkbox]:checked + span:not(.lever),
.chip-selection [type=radio]:checked + span:not(.lever) {
  background: #2196F3 !important;
}
.chip-selection [type=checkbox] + span:not(.lever) {
  color: #fff;
}
.chip-selection [type=checkbox] + span:not(.lever):after {
  border-color: rgba(0, 0, 0, 0.2) !important;
  height: 16px !important;
  width: 16px !important;
  top: 8px !important;
  left: 10px !important;
}
.chip-selection [type=checkbox] + span:not(.lever):before {
  height: 14px !important;
  width: 7px !important;
  top: 5px !important;
  left: 10px !important;
}
.chip-selection [type=radio] + span:not(.lever) {
  color: #fff;
}
.chip-selection [type=radio] + span:not(.lever):before {
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.chip-selection [type=radio] + span:not(.lever):before, .chip-selection [type=radio] + span:not(.lever):after {
  height: 16px !important;
  width: 16px !important;
  top: 4px !important;
  left: 5px !important;
}

.chip .chip-icon {
  cursor: pointer;
  float: left;
  font-size: 16px;
  line-height: 32px;
  padding-right: 8px;
}

.footer {
  z-index: 100;
}

.invisible {
  display: none;
}

#signature-pad {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.hide-numbers {
  text-security: circle;
  /* IE/Safari */
  -moz-text-security: circle;
  /* FireFox */
  -webkit-text-security: circle;
  /* Chrome/Safari  */
}

.swal2-input[type=number] {
  max-width: 100% !important;
}

.fc-button.fc-button-active {
  background: #2a3471 !important;
}

.product-pic-card .font-weight-600 {
  color: #333;
}
@media screen and (max-width: 600px) {
  .product-pic-card {
    margin-bottom: 20px;
  }
}

.product-desc .product-desc--supplier {
  color: #444;
}

.product-pic {
  overflow: hidden;
  width: 100%;
}
.product-pic img {
  border-radius: 6px;
  width: 100%;
}

body.support-page .container {
  max-width: 1400px !important;
}
body.support-page .navbar-main {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1) !important;
}
body.support-page .support-logo {
  height: 60px;
  display: inline-flex;
  align-items: center;
  float: left;
  color: #666;
  font-size: 20px;
}
body.support-page .support-logo img {
  height: 27px;
  margin-right: 8px;
}
body.support-page .header-search-wrapper {
  margin: 10px auto 0 40px !important;
}
body.support-page #main_support .content-wrapper-before {
  position: absolute;
  z-index: -1;
  top: 64px;
  left: 0;
  width: 100%;
  height: 185px;
  transition: 0.3s ease all;
  background: linear-gradient(90deg, #f5a700, #ffd059);
}
body.support-page #knowledge #search-wrapper {
  padding: 30px 10px 45px 10px;
}
body.support-page #knowledge .search-image {
  background-image: none !important;
  background: transparent;
}
body.support-page #knowledge .search-image input {
  max-width: 600px;
}
body.support-page .support-page--steps {
  width: 100%;
  float: left;
  padding: 10px 0px;
}
body.support-page .support-page--steps .btn {
  display: inline-flex;
  align-items: center;
}
body.support-page .related-link h6 {
  color: #666 !important;
}
body.support-page .related-link .related-list li {
  margin-bottom: 15px;
}
body.support-page .support-search-results {
  padding-top: 20px;
}
body.support-page .support-search-results .results-list {
  margin-top: 30px;
}
body.support-page .support-search-results .results-list li {
  float: left;
  width: 100%;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
body.support-page .support-search-results .results-list li a {
  color: #777;
}
body.support-page .support-search-results .results-list li a:hover span.result-page-title {
  color: #3f51b5;
}
body.support-page .support-search-results .results-list li span.result-page-title {
  float: left;
  width: 100%;
  color: #333;
  font-weight: 700;
}
body.support-page .support-search-results .results-list li span.result-page-section {
  float: left;
  width: 100%;
  font-size: 14px !important;
}
body.support-page .support-search-results .results-list li p {
  float: left;
  width: 100%;
  margin-top: 0;
}
body.support-page .support-search-results .results-list li p strong {
  font-weight: 800;
  color: #666;
}

.cards {
  position: relative;
  float: left;
  width: 100%;
}
.cards .card-front,
.cards .card-back {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  float: left;
  position: relative;
  padding: 10px;
  overflow: hidden;
}
.cards .card-front input,
.cards .card-back input {
  float: left;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 10px;
  box-sizing: border-box;
}
.cards .card-front input.card-due, .cards .card-front input.card-postal,
.cards .card-back input.card-due,
.cards .card-back input.card-postal {
  width: calc(50% - 7px);
}
.cards .card-front input.card-postal,
.cards .card-back input.card-postal {
  float: right;
}
@media screen and (max-width: 800px) {
  .cards .card-front,
  .cards .card-back {
    width: 100%;
    max-width: 280px;
    height: 165px;
  }
  .cards .card-front {
    margin-left: 0px !important;
  }
  .cards .card-front .card-logo {
    height: 40px !important;
    width: 40px !important;
  }
  .cards .card-front .card-logo img {
    width: 30px !important;
  }
  .cards .card-front input:first-of-type {
    margin-top: 10px !important;
  }
  .cards .card-back {
    margin: 10px 0 0 0 !important;
  }
  .cards .card-back:before {
    height: 46px !important;
  }
}
.cards .card-front {
  background: linear-gradient(180deg, #FFE799, #F5B03C);
  z-index: 90;
  margin-left: calc(50% - 220px);
}
.cards .card-front .card-logo {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.cards .card-front .card-logo img {
  width: 40px;
}
.cards .card-front input:first-of-type {
  margin-top: 25px;
  margin-bottom: 10px;
}
.cards .card-back {
  background: linear-gradient(180deg, #DEE3E5, #ABB9BE);
  z-index: 89;
  margin: -160px 0 0 calc(50% - 120px);
}
.cards .card-back:before {
  content: "";
  width: 100%;
  height: 56px;
  background: #2b2b2b;
  position: absolute;
  top: 25px;
  left: 0;
}
.cards .card-back input {
  margin-top: 90px;
  width: 80px;
  float: right;
}

.collapsible.collapsible-filters .collapsible-header {
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.collapsible.collapsible-filters .collapsible-header--title {
  display: inline-flex;
  align-items: center;
}
.collapsible.collapsible-filters .collapsible-header .order-by {
  display: inline-flex;
  align-items: center;
  height: 36px;
}
.collapsible.collapsible-filters .collapsible-header .order-by i {
  margin-right: 5px !important;
}
.collapsible.collapsible-filters .collapsible-header .order-by .select-wrapper input.select-dropdown {
  height: 2rem !important;
  margin-bottom: 0px !important;
}

#modal_goal_calc_amount {
  font-size: 28px;
  color: #2e9032;
}
#modal_goal_calc_amount:before {
  content: "$";
  position: absolute;
  height: 100%;
  color: #4CAF50;
  font-size: 20px;
  left: 0px;
  top: 0px;
  width: 20px;
}

.conv-card-new-orders h4 {
  font-size: 40px;
  margin-top: 10px;
}
.conv-card-new-orders .small-text span {
  font-size: 14px;
}
.conv-card-new-orders .small-text > p {
  width: 100%;
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
  margin-bottom: -5px;
  font-weight: 16px;
}

.conv-card-rate-orders {
  position: relative;
  margin-bottom: 35px;
  height: 110px;
}
.conv-card-rate-orders .rate-chart {
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 54px;
}
.conv-card-rate-orders .rate-chart .rate-chart--leads, .conv-card-rate-orders .rate-chart .rate-chart--estimates {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.conv-card-rate-orders .rate-chart .rate-chart--leads {
  background: #1DE9B6;
  border-radius: 4px 0 0 4px;
}
.conv-card-rate-orders .rate-chart .rate-chart--estimates {
  background: #4FC3F7;
  border-radius: 0 4px 4px 0;
}
.conv-card-rate-orders .rate-legend {
  display: inline-flex;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 0px;
}
.conv-card-rate-orders .rate-legend .rate-legend--leads, .conv-card-rate-orders .rate-legend .rate-legend--estimates {
  position: relative;
  padding-left: 20px;
  margin: 5px 10px 0 0;
}
.conv-card-rate-orders .rate-legend .rate-legend--leads:before, .conv-card-rate-orders .rate-legend .rate-legend--estimates:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 4px;
  top: 4px;
  left: 0;
  background: #1DE9B6;
}
.conv-card-rate-orders .rate-legend .rate-legend--estimates:before {
  background: #4FC3F7;
}

.order-rate-container {
  height: 171px;
  position: relative;
}
.order-rate-container canvas {
  height: 171px;
}
.order-rate-container > * {
  position: absolute;
  width: 100%;
}

.chartist-tooltip {
  /* set me to make the tooltip for the point at 2 more visible */
  z-index: 99999999999 !important;
}

#order-rate-line-chart {
  position: absolute;
}
#order-rate-line-chart .ct-series-a .ct-line {
  stroke: #1DE9B6 !important;
}
#order-rate-line-chart .ct-series-b .ct-line {
  stroke: #4FC3F7 !important;
}

.goal-rate-container {
  height: 147px;
  margin-top: 20px;
}

#goal-rate-chart .ct-series-a .ct-slice-donut {
  stroke: #4CAF50;
}
#goal-rate-chart .ct-series-b .ct-slice-donut {
  stroke: #f1f1f1;
}

.conversion-rate-box {
  height: 227px;
}

.card-average-info .profit {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2px;
}
.card-average-info .profit span {
  display: inline-flex;
  align-items: center;
}
.card-average-info .profit h6 {
  line-height: 24px;
}
.card-average-info h6 {
  margin-bottom: -5px;
  margin-top: 0px;
  font-weight: 500 !important;
  font-size: 17px !important;
}
.card-average-info h5 {
  font-weight: 600;
  font-size: 20px;
}

.row-balance .row-balance-title {
  font-size: 22px;
}
.row-balance h5 {
  font-size: 22px !important;
  font-weight: 600;
  display: inline-flex;
}
.row-balance h5 i {
  margin-right: 5px;
}
.row-balance .balance-type {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.row-balance .balance-type h6 {
  font-size: 17px;
  font-weight: 500;
}
.row-balance .balance-type span {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}
.row-balance .balance-money p {
  margin: 5px 0 0 0;
  color: #666;
}
.row-balance .balance-money h5 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
}
.row-balance .card-panel {
  padding: 5px 10px;
}/*# sourceMappingURL=woffice-style.css.map */