$w-yellow: #f5a700;
$w-indigo: #3f51b5;
// Override
.card,
.card-panel,
.collapsible:not(.sidenav):not(.sidenav-main) {
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(black, 0.1);
    border: none;
}

.collapsible-header {
    border-radius: 6px;
}

.sidenav .collapsible {
    border-radius: 0px !important;
    box-shadow: none !important;
}

.footer-light.page-footer {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .card-panel {
        padding: 10px !important;
    }
}

@media screen and (min-width: 993px) {
    .brand-sidebar .logo-wrapper a.brand-logo img {
        // width: 97px;
        height: 29px !important;
    }
}

// Print
@media only print {
    html {
        color: #333;
    }
    .card-panel,
    .card,
    .card-content {
        box-shadow: none !important;
        padding: 0 !important;
    }
    html,
    body {
        background-color: #fff !important;
    }
    table th {
        border-top: 0px;
        color: #333;
    }
    table td,
    table th {
        border-left: 0px !important;
        border-right: 0px !important;
    }
    .invoice-logo {
        display: flex;
        // justify-content: flex-end;
    }
    .justify-content-between {
        justify-content: space-between;
    }
    .display-flex {
        display: flex;
    }
    .header-document img {
        min-width: 850px !important;
    }
    .header-document {
        text-align: center;
    }
    .invoice-logo-title {
        display: inline-flex !important;
        width: 100% !important;
        .invoice-logo {
            width: 150px !important;
        }
    }
    ul li.display-flex.justify-content-between,
    ul li.divider {
        float: left;
        width: 100%;
        display: block !important;
        span.invoice-subtotal-title {
            float: left !important;
        }
        h6 {
            float: right !important;
        }
    }
}

.header-document {
    width: calc(100% + 48px);
    float: left;
    margin-left: -24px !important;
    img {
        width: 100%;
    }
}

.invoice-body {
    .invoice-title-bar {
        background: #ffc107;
        // border-bottom: 4px solid #ffc107;
        // border-top: 0;
        // border-right: 0;
        color: #000;
        width: 100%;
        margin: 32px 0 16px 0;
        padding: 0 10px;
        border-radius: 6px;
        height: 40px;
        float: left;
        // display: inline-flex;
        align-items: center;
        justify-content: space-between;
        .fas {
            width: 45px;
            height: 40px;
            padding: 8px 15px 8px 10px;
            margin-left: -10px;
            color: #444;
            position: relative;
            float: left;
            img {
                width: 23px;
                opacity: 0.6;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                width: 100%;
                height: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                height: 40px;
                width: 10px;
                border-radius: 6px;
                top: 0;
                right: -6px;
                background: #ffc107;
            }
        }
        h6 {
            padding-left: 5px;
            float: left;
            line-height: 40px;
            margin: 0;
        }
        .invoice-title-details {
            float: right;
            background-color: #fff;
            height: 40px;
            align-items: flex-end;
            // display: inline-flex;
            text-align: right;
            flex-direction: column;
            padding: 0 5px 0 15px;
            margin-right: -10px;
            position: relative;
            font-size: 14px;
            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 10px;
                border-radius: 6px;
                top: 0px;
                left: -6px;
                background: #ffc107;
            }
        }
        .display-flex {
            width: inherit;
        }
    }
    .chip {
        background: #333;
        color: #fff;
    }
    th {
        color: #333;
    }
}

@media screen and (max-width: 600px) {
    .invoice-logo-title {
        display: flex;
        flex-direction: column;
    }
    .invoice-logo {
        margin: 0 !important;
        // padding-left: 10px !important;
    }
    .invoice-title {
        max-width: 100% !important;
        padding: 0 10px;
    }
}

.invoice-title {
    float: left;
    max-width: calc(100% - 160px);
}

.invoice-logo {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
    img {
        max-width: 150px !important;
        max-height: 150px !important;
    }
}

// Breadcrumbs
@media screen and (max-width: 600px) {
    .breadcrumb-item:not(:nth-last-of-type(2)) {
        display: none !important;
    }
    .breadcrumb-item:nth-last-of-type(2) {
        &:before {
            content: "keyboard_arrow_left" !important;
            padding-left: 0px !important;
        }
    }
}

// Buttons
.btn {
    text-transform: none !important;
}

.breadcrumbs-btn {
    border-radius: 150px !important;
}

.btn-secondary {
    background: #424242 !important;
    border-radius: 150px;
    display: inline-flex;
    align-items: center;
}

.search-ransack {
    border: 1px solid rgba(black, 0.15) !important;
    background: white !important;
    margin: 0 !important;
    height: 46px !important;
    padding-left: 1.5rem !important;
    border-radius: 150px !important;
}

select[required]:focus {
    outline: none !important;
}

select[required] {
    display: block;
    padding: 0;
    position: absolute;
    background: transparent;
    color: transparent;
    border: none;
    top: 0;
}

// Navbar
.woffice-color.navbar-light .header-search-wrapper input.header-search-input {
    background: rgba(white, 0.4) !important;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

@media screen and (max-width: 600px) {
    a.brand-logo {
        height: 54px !important;
    }
}

.navbar-toggler {
    width: 30px;
    text-align: center;
    right: 15px !important;
}

.sidenav-company {
    padding-top: 50px;
}

.sidenav-main.nav-collapsed .brand-sidebar .logo-wrapper.logo-crop a.brand-logo img.hide-on-med-and-down {
    clip-path: polygon(0% 0%, 35px 0%, 28px 100%, 0% 100%) !important;
}

.slide-out-right-body {
    overflow-y: auto !important;
}

.nav-collapsed .company-sidemenu-logo-top {
    padding: 22px 15px;
    justify-content: center;
    img {
        max-width: 35px;
    }
    span {
        display: none;
    }
}

.company-sidemenu-logo-top {
    position: absolute;
    width: 100%;
    background: #f9f9f9;
    // box-shadow: 0 3px 5px rgba(black, .1);
    border-bottom: 1px solid rgba(black, 0.05);
    border-top: 1px solid rgba(black, 0.05);
    height: 50px;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding: 22px;
    &.no-text {
        justify-content: center;
    }
    span {
        margin-left: 7px;
        font-size: 16px;
        font-weight: 500;
        color: #555;
        text-align: left;
    }
    img {
        max-height: 22px;
        max-width: 210px;
    }
}

.company-sidemenu-logo {
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0 -3px 5px rgba(black, 0.1);
    height: 52px;
    bottom: 64px;
    left: 0;
    overflow: hidden;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 45px;
    }
}

.company-nav-logo {
    margin: 10px -260px 0 260px;
    float: left;
    // background: #fff;
    // border: 1px solid #fff;
    max-height: 50px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 2px 7px !important;
    img {
        filter: drop-shadow(0px 0px 1px 5px #fff);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#fff')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#fff')";
        max-height: 40px;
    }
}

.company-profile {
    background: #fff;
    border: 1px solid #fff;
    max-height: 45px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 2px 7px !important;
    margin: -2px -2px 0 5px;
    &:hover {
        background: #fff !important;
        // border: 1px solid rgba(black, .3);
    }
    .company-menu-logo {
        float: left;
        max-height: 45px;
        margin-right: 10px;
        img {
            max-height: 45px;
            max-width: 100px;
            padding: 3px 0px;
            object-fit: contain;
        }
    }
    .avatar-status {
        display: inline-flex !important;
        width: 35px !important;
    }
}

// Workers
.current_photo {
    float: left;
    width: 100%;
    text-align: center;
    img {
        width: 100%;
        max-width: 200px;
    }
}

.worker-tasks {
    .collection-item.avatar {
        &:hover {
            background: #f6f6f6;
        }
        min-height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        a {
            display: block;
            padding: 10px 0;
        }
    }
}

// View page
.card-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.contacts-row {
    padding: 10px;
    @media screen and (max-width: 600px) {
        .contacts-wrapper {
            display: block !important;
            float: left;
            width: 100%;
        }
        .contacts-type-box {
            width: 100% !important;
            margin-bottom: 20px;
            .contacts-list {
                width: 100%;
            }
        }
    }
    .contacts-wrapper {
        width: 100%;
        margin-bottom: 10px;
        float: left;
    }
    .contacts-type-box {
        float: left;
        flex-direction: column;
        width: 100%;
        align-items: center;
        overflow: hidden;
        position: relative;
        height: fit-content;
        border-bottom: 1px solid rgba(black, 0.1);
        &:last-of-type {
            border-bottom: none;
        }
        &.address-type {
            &.see-all {
                max-height: 400px;
                .contacts-list {
                    max-height: 300px;
                    padding-bottom: 10px;
                    .contact {
                        display: block !important;
                        &:not(:last-of-type) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        &.see-all:not(.address-type) {
            max-height: 200px;
            height: 100%;
            .contacts-list {
                max-height: 130px;
                // padding-bottom: 20px;
                .contact {
                    display: block !important;
                }
            }
        }
        .see-all-ctb {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 100%;
            background: #fff;
            font-size: 14px;
            border-top: 1px solid rgba(black, 0.1);
            z-index: 5;
            text-align: center;
            a {
                float: left;
                width: 100%;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
            &.active {
                box-shadow: -5px 0 15px rgba(black, 0.1);
            }
        }
        .contact-type--info {
            margin-bottom: 10px;
            display: inline-flex;
            align-items: center;
            width: 100%;
            p {
                margin-bottom: 0;
                font-weight: 600;
            }
            i.material-icons {
                float: left;
                font-size: 16px;
                margin-right: 5px;
            }
        }
        .contacts-list {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            transition: all 0.3s ease-in-out;
            margin-bottom: 20px;
            &.active {
                min-height: 64px;
                overflow-y: unset !important;
            }
        }
        .contact {
            width: 100%;
            float: left;
            padding: 0 10px 10px 0;
            position: relative;
            text-align: left;
            background: #fff;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            &:not(:first-of-type) {
                display: none;
            }
            &:hover {
                background: #f7f7f7;
            }
            &.active {
                overflow: unset !important;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            &.main-contact {
                .contact-description {
                    display: inline-flex;
                    align-items: center;
                    a {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: block;
                    }
                    &:after {
                        content: "star";
                        display: inline-flex;
                        font-family: "Material Icons";
                        font-size: 16px;
                        margin-left: 2px;
                        color: #ffc107;
                        text-shadow: 0 0 1px rgba(black, 0.5);
                    }
                }
            }
            &:hover {
                .contact-edit a {
                    opacity: 0.6;
                }
            }
            .contact-edit {
                position: absolute;
                right: 0;
                a {
                    font-size: 14px;
                    opacity: 0;
                    color: #333;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .contact-info {
                span {
                    float: left;
                    width: 100%;
                    padding-right: 20px;
                }
                .contact-title {
                    font-size: 14px;
                }
            }
            // .btn-more-info, .btn-less-info{
            // 	position: absolute;
            // 	bottom: 5px;
            // 	right: 5px;
            // 	background: #FF5252;
            // 	color: #fff;
            // 	height: 32px;
            // 	width: 32px;
            // 	display: inline-flex;
            // 	justify-content: center;
            // 	align-items: center;
            // 	border-radius: 50%;
            // 	line-height: 35px;
            // 	z-index: 1;
            // 	transition: all .3s ease-in-out;
            // 	box-shadow: 0 0 5px rgba(black, .3);
            // 	i.material-icons{
            // 		font-size: 20px;
            // 	}
            // 	&.active{
            // 		transform: rotate(180deg);
            // 	}
            // }
            // .btn-less-info{
            // 	top: 5px;
            // 	bottom: unset;
            // 	background: #fff;
            // 	color: #666;
            // }
            .more-info {
                width: 100%;
                padding: 10px;
                float: left;
                z-index: 10;
                transition: all 0.2s ease-in-out;
                margin-top: 5px;
                &.active {
                    top: 0px;
                    visibility: visible;
                    box-shadow: 0 -3px 7px rgba(black, 0.4);
                    overflow-y: auto;
                    opacity: 1;
                }
                .map {
                    width: calc(100% + 30px);
                    border-radius: 6px;
                    margin-left: -10px;
                    margin-top: -10px;
                    margin-bottom: 5px;
                    height: 90px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .btn-navigate {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    width: calc(100% - 10px);
                    z-index: 10;
                    display: none;
                    @media screen and (max-width: 600px) {
                        display: block;
                    }
                }
            }
        }
    }
}

.document {
    border: 1px solid rgba(black, 0.07);
    border-radius: 6px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    background: lighten(#e8f5e9, 3%);
    padding: 5px 10px;
    line-height: 20px;
    position: relative;
    color: #135616;
    .doc-date {
        color: #777;
        font-size: 13px;
        width: 100%;
        float: left;
    }
    .doc-type {
        background: #555;
        padding: 3px 6px;
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        right: 5px;
        top: 8px;
    }
}

.note {
    width: 100%;
    float: left;
    background: #ffffac;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgba(black, 0.1);
    position: relative;
    .note-content {
        max-height: 100px;
        text-overflow: ellipsis;
        overflow: auto;
    }
    &:hover {
        .btn-delete-note {
            display: inline-flex !important;
        }
    }
    .btn-delete-note {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        color: #666;
        border-radius: 50%;
        display: none;
        &:hover {
            background: rgba(black, 0.1);
        }
    }
}

.estimates-order-list {
    padding: 5px 10px;
    li.collection-item {
        word-break: break-all;
        width: 100%;
    }
}

.search-table-list {
    float: left;
    width: 100%;
    box-sizing: border-box !important;
    * {
        box-sizing: border-box !important;
    }
    @media screen and (max-width: 992px) {
        margin-top: 20px;
        padding: 0 15px;
    }
    form {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        display: grid;
        grid-template-columns: calc(100% - 60px) 50px;
        grid-column-gap: 10px;
    }
    input[type="search"] {
        width: 100%;
        margin-right: 10px;
        border: 1px solid rgba(black, 0.07) !important;
        box-shadow: 0 3px 5px rgba(black, 0.2) !important;
        background: white !important;
        margin: 0 !important;
        height: 3.2rem !important;
        padding-left: 1.5rem !important;
        border-radius: 150px !important;
        transition: 0.3s all ease-in-out;
        &:focus,
        &:active {
            // border-bottom: 2px solid #3949ab !important;
            box-shadow: 0 1px 3px rgba(black, 0.2) !important;
        }
    }
    button[type="submit"] {
        height: 50px;
        float: right;
        width: 50px;
        i {
            line-height: 50px;
        }
    }
}

// Transactions
table.mergeable-table {
    tr.selected {
        background: #e9f1f7;
    }
}

table.transactions-table {
    @media screen and (max-width: 992px) {
        .chip {
            height: 21px;
            line-height: 21px;
            margin-bottom: 0;
        }
        img.square-logo {
            margin: 0 !important;
            height: 15px !important;
        }
        .transaction-value.badge {
            margin-left: 0px !important;
        }
    }
    img.square-logo {
        height: 17px;
        margin: 5px 5px 0 0;
    }
    span.transaction-value {
        display: inline-flex;
        align-items: center;
    }
    td.status-trans {
        span {
            min-width: 3rem;
            padding: 0 6px;
            text-align: center;
            font-size: 1rem;
            line-height: 22px;
            height: 22px;
            color: #1976d2;
            box-sizing: border-box;
            background-color: #e3f2fd;
        }
        &.merged {
            span {
                position: relative;
                padding-left: 22px;
                color: #303f9f !important;
                background-color: #e8eaf6 !important;
                cursor: pointer;
                &::before {
                    position: absolute;
                    content: "remove_red_eye";
                    font-family: "Material Icons";
                    font-size: 16px;
                    width: 20px;
                    height: 19px;
                    top: -1px;
                    left: 2px;
                }
            }
        }
    }
    tr.ignored {
        background: #f2f2f2;
        td:not(:last-of-type) {
            filter: grayscale(0.7);
        }
        transition: 0.3s all ease-in-out;
        .btn-ignore-trans {
            transition: 0.3s all ease-in-out;
            i {
                transform: rotate(45deg);
            }
        }
    }
}

.modal-sync-transaction {
    width: 90%;
    max-width: 1000px;
    @media screen and (max-width: 992px) {
        max-height: 85% !important;
        td,
        th {
            height: 51px;
            display: flex !important;
            align-items: center;
        }
        .square-logo {
            margin: 0 !important;
        }
    }
    .selected-transaction {
        @media screen and (max-width: 992px) {
            .row {
                display: block !important;
                .col {
                    padding: 2px 0;
                }
            }
            .badge {
                float: left;
            }
        }
        .row {
            display: flex;
            align-items: center;
            padding: 5px 5px 0px 5px;
        }
        .badge {
            display: inline-flex;
            align-items: center;
        }
        img {
            height: 17px;
        }
    }
    @media screen and (min-width: 992px) {
        td {
            padding: 5px;
        }
        .scrollable-table {
            height: 100px;
            overflow-y: scroll;
        }
    }
    td {
        p {
            margin: 0;
        }
    }
}

// Settings
.settings_container {
    .company_logo {
        img {
            width: 100%;
            max-width: 250px;
        }
    }
    .tabs {
        background: transparent;
        margin: 20px 0;
        .indicator {
            background-color: #3949ab;
        }
        a {
            color: #3949ab !important;
            li.tab {
                &:first-of-type {
                    padding-left: 0px !important;
                }
                &:last-of-type {
                    padding-right: 0px !important;
                }
            }
            &.active {
                &:focus {
                    background-color: rgba(#3949ab, 0.1);
                    color: #3949ab !important;
                }
                background-color: #3949ab;
                color: #fff !important;
                outline: none;
            }
        }
    }
}

// Orders
.cards-analytics {
    h5 {
        font-size: 1.35rem;
        font-weight: 600;
    }
}

.hide-the-money {
    height: 36px;
    display: inline-flex;
    align-items: center;
    color: #666 !important;
    padding: 0 15px;
    border-radius: 150px;
}

.orders-list-analytics {
    h5 {
        font-size: 1.35rem;
        font-weight: 600;
    }
    .card-width .card {
        padding: 5px 0 0 0 !important;
    }
    @media screen and (max-width: 992px) {
        .card-width .card {
            margin-bottom: 0px;
        }
    }
}

.m-area {
    position: relative;
    z-index: 0;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
    .btn-close-area {
        color: #999;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        z-index: 1;
        &:hover {
            background: #e0e0e0;
        }
    }
}

.stepper-head-only {
    height: 84px !important;
    min-height: 84px !important;
    padding: 0 10px !important;
    .step .step-title {
        cursor: default !important;
        &:hover {
            background-color: #fff !important;
        }
    }
    .waves-ripple {
        opacity: 0 !important;
    }
}

.subtotal-area {
    margin-bottom: 30px;
}

.product-area {
    position: relative;
    z-index: 10;
    float: left;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
    &:last-of-type {
        margin-bottom: 0px;
    }
    .btn-close-product-area {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #999;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        z-index: 1;
        &:hover {
            background: #e0e0e0;
        }
    }
    .areas-available {
        padding-left: 0px;
        padding-right: 32px;
        .chip {
            background: #f1f1f1;
            color: #666;
            cursor: pointer;
            &:hover:not(.selected) {
                color: #e0f7fa;
                background: #2196f3;
                box-shadow: 0 5px 10px rgba(black, 0.2);
            }
            &:active {
                box-shadow: none;
            }
            &.selected {
                color: #e0f7fa;
                background: #2196f3;
            }
        }
    }
    .areas-selected {
        .chip {
            background: #e0f7fa;
            color: #2196f3;
            .close {
                color: #666;
            }
        }
    }
    .product {
        border-radius: 4px;
        float: left;
        width: 100%;
        padding: 0 10px;
        background: #fff;
        transition: 0.3s all ease-in-out;
        &.new-product {
            cursor: pointer;
            position: relative;
            background: transparent !important;
            &:after {
                content: "add";
                font-family: "Material icons";
                font-size: 24px;
                border-radius: 4px;
                width: 30px;
                height: 30px;
                position: absolute;
                color: #fff;
                text-align: center;
                line-height: 30px;
                top: 5px;
                left: 13px;
                z-index: -1;
                background: rgba(black, 0.3);
            }
            &:hover {
                &:after {
                    background: rgba(black, 0.5);
                }
            }
            .btn-add-product {
                display: none !important;
            }
            * {
                cursor: pointer;
            }
            .btn-remove-product {
                display: none;
            }
            .row {
                opacity: 0;
            }
        }
        .calc-fields {
            display: inline-flex;
            float: left;
            width: 100%;
            justify-content: flex-end;
            height: 35px;
            margin-bottom: 10px;
            padding-right: 50px;
            @media screen and (max-width: 600px) {
                display: inline-block;
                height: auto !important;
                padding-right: 0 !important;
                padding-left: 2px;
                .calc-field {
                    width: calc(50% - 25px);
                    flex-direction: column;
                    text-align: left;
                    align-items: flex-start !important;
                    &:nth-last-of-type(2),
                    &:last-of-type {
                        padding-top: 5px;
                    }
                    input {
                        max-width: calc(100% - 10px) !important;
                    }
                }
            }
            .calc-field {
                display: inline-flex;
                align-items: center;
                justify-content: start;
                span {
                    white-space: nowrap;
                }
                input {
                    height: 35px;
                    margin-bottom: 0;
                    max-width: 90px;
                    padding-left: 5px;
                    background: rgba(black, 0.02);
                    border-radius: 6px 6px 0 0;
                    margin: 0 5px 0 2px;
                }
            }
        }
        // .calc-fields:last-of-type{
        // 	position: relative;
        // 	input{
        // 		width: calc(100% - 30px);
        // 	}
        // }
        .btn-remove-product {
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: #999;
            &:hover {
                color: #ff0000;
            }
        }
        &:nth-of-type(2n + 1) {
            background: #f5f5f5;
            input.autocomplete.autocomplete-products {
                background: #fff !important;
            }
            .calc-field {
                input {
                    background: #fff;
                }
            }
        }
        .calc-fields {
            opacity: 1;
        }
        .products-search {
            padding-top: 5px;
            position: relative;
            span {
                font-weight: 600 !important;
            }
            .products-search-field-box {
                float: left;
                width: 100%;
                input.autocomplete-products {
                    background: rgba(black, 0.02);
                    border-radius: 20px;
                    // margin: 0 0 8px 0 !important;
                    height: 42px;
                    border-top-width: 2px !important;
                    padding-left: 20px;
                    padding-right: 0px;
                    position: relative;
                    width: calc(100% - 20px);
                }
                ul {
                    z-index: 99999 !important;
                }
                .btn-add-product {
                    width: 36px;
                    height: 42px;
                    color: #3f51b5;
                    position: absolute;
                    background: transparent;
                    border-radius: 50%;
                    top: 10px;
                    right: 10px;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 600px) {
                        top: 3px !important;
                    }
                }
            }
            .autocomplete-product-value {
                border-radius: 20px;
                padding-left: 20px;
                padding-right: 0px;
                margin-top: 32px;
                background: #e0e0e0;
            }
            .products-sugestions {
                .chip {
                    cursor: pointer;
                    background: #fce4ec;
                    color: #e91e63;
                    &:hover {
                        background: lighten(#e91e63, 25%);
                        color: #fff;
                        box-shadow: 0 5px 10px rgba(black, 0.2);
                    }
                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
        .products-selection {
            background: #fff;
            border: 1px solid #e0e0e0;
            border-bottom: none;
            &:last-of-type {
                border-radius: 0 0 4px 4px;
            }
        }
    }
    // &:nth-of-type(2n+1){
    // 	background: #f9f9f9;
    // }
}

.dropdown-activated {
    z-index: 5 !important;
}

.deposit {
    position: relative;
    z-index: 0;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
    .btn-close-deposit {
        color: #999;
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        z-index: 1;
        &:hover {
            background: #e0e0e0;
        }
    }
}

.finish-order-steps {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    * {
        transition: all 0.3s ease-in-out;
    }
}

.finish-order-step {
    @media screen and (max-width: 600px) {
        .step-content {
            padding-left: 0px !important;
            .signature {
                height: 200px !important;
            }
        }
    }
    &.signature {
        .step-icon:before {
            content: "gesture";
        }
        .step-content {
            form {
                display: inline-flex;
                flex-direction: column;
                float: left;
            }
        }
    }
    &.photos {
        .step-icon:before {
            content: "camera_alt";
        }
    }
    &.toggled {
        .step-content {
            height: auto !important;
            overflow: unset !important;
            .signature,
            .file-field {
                float: left;
                padding-bottom: 10px;
            }
        }
    }
    &.done {
        background: #f3fff4;
        border-radius: 4px;
        cursor: pointer;
        .step-title {
            color: #00a832;
            .step-icon {
                background: #00a832;
                &:before {
                    content: "done" !important;
                }
            }
        }
        .step-content {
            height: 0px;
            overflow: hidden;
        }
    }
    .step-title {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        float: left;
        width: 100%;
        padding: 10px;
        .step-icon {
            height: 40px;
            line-height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
            text-align: center;
            background: #2a83f9;
            color: #fff;
            font-weight: 600;
            position: relative;
            &:before {
                // content: "";
                font-family: "Material Icons";
                font-size: 20px;
                color: #fff;
                position: absolute;
                top: 0px;
                left: 10px;
            }
        }
    }
    .step-content {
        padding-left: 60px;
        transition: all 0.3s ease-in-out;
        .file-field {
            max-width: 500px;
            width: 100%;
            float: left;
            margin: 0;
        }
        .signature {
            width: 100%;
            height: 300px;
            canvas {
                border-radius: 4px;
                border: 1px solid rgba(black, 0.1);
                float: left;
                width: 100%;
                max-width: 500px;
                height: 100%;
                background: #f7f7f7;
            }
        }
        .signature-actions {
            float: left;
            width: 100%;
            max-width: 500px;
            display: inline-flex;
            justify-content: space-between;
            padding: 3px 0px;
            a {
                display: inline-flex;
                align-items: center;
                padding: 8px 5px;
                border-radius: 4px;
                i {
                    margin-right: 5px;
                }
                &:hover {
                    background: rgba(black, 0.05);
                }
                &.clear-signature {
                    color: #666;
                }
                &.save-signature {
                    color: #00a832;
                }
            }
        }
    }
}

.order-cost-list {
    &.dashboard {
        .oc-items-header,
        .oc-item-content {
            grid-template-columns: 1fr 4fr 1fr 1fr 1fr 2fr !important;
        }
    }
    &.oc-labor-cost {
        .oc-items-header,
        .oc-item-content {
            grid-template-columns: 2fr 5fr 1fr 2fr !important;
        }
    }
    .oc-supplier {
        width: 100%;
        float: left;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        border-left: 5px solid rgba($w-yellow, 0.7);
        padding-left: 5px;
        margin-bottom: 10px;
        .oc-supplier-name {
            color: $w-indigo;
            font-weight: 600;
        }
        .oc-supplier-total {
            color: #222;
            background: #fdcf57;
            padding: 3px 10px;
            border-radius: 20px;
        }
    }
    .oc-items-header {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
        font-weight: 500;
        padding: 5px;
        align-items: center;
    }
    @media screen and (max-width: 992px) {
        &.oc-labor-cost {
            .item-subtotal {
                grid-row: 3 !important;
                grid-column: 1/3;
            }
        }
        &.oc-taxes-list {
            .item-qty,
            .item-product,
            .item-price,
            .item-subtotal,
            .item-status {
                &:after {
                    display: none;
                }
            }
        }
        .oc-items-header {
            display: none;
        }
        .oc-item {
            .oc-item-content {
                grid-template-columns: 1fr 2fr !important;
                grid-template-rows: repeat(4, auto-fit);
                .item-qty,
                .item-product,
                .item-price,
                .item-subtotal,
                .item-status {
                    padding: 5px 0px;
                }
                .item-qty {
                    grid-row: 1;
                    grid-column: 1/1;
                    position: relative;
                    &:after {
                        position: relative;
                        content: "qty";
                        font-size: 14px;
                        width: 20px;
                        height: 20px;
                        background: rgba(black, 0.1);
                        color: #666 !important;
                        border-radius: 20px;
                        padding: 1px 5px;
                        margin-left: 4px;
                    }
                }
                .item-product {
                    grid-row: 2;
                    grid-column: 1/3;
                }
                .item-price {
                    grid-row: 3;
                    grid-column: 1/3;
                    position: relative;
                    &:after {
                        position: relative;
                        content: "un";
                        width: 20px;
                        height: 20px;
                        background: rgba(black, 0.1);
                        color: #555;
                        border-radius: 20px;
                        padding: 1px 5px;
                        margin-left: 4px;
                    }
                }
                .item-subtotal {
                    grid-row: 4;
                    grid-column: 1/3;
                }
                .item-status {
                    grid-row: 3/5;
                    grid-column: 2/3;
                    align-self: flex-end;
                    position: relative;
                    .select-dropdown {
                        margin-bottom: 0 !important;
                    }
                }
            }
            .oc-item-actions {
                margin-top: 0px !important;
                margin-bottom: 16px !important;
                opacity: 1 !important;
                width: 100% !important;
                background: #f1f1f1 !important;
            }
        }
    }
    .oc-item {
        float: left;
        width: 100%;
        position: relative;
        z-index: 0;
        &.dropdown-activated {
            z-index: 5;
        }
        &:hover {
            .oc-item-content {
                box-shadow: 0 2px 5px rgba(black, 0.1);
            }
            .oc-item-actions {
                margin-top: 0px;
                opacity: 1;
            }
        }
        .oc-item-content {
            display: grid;
            grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
            color: #555;
            background: #fff;
            border: 1px solid rgba(black, 0.1);
            border-radius: 4px 4px 0px 4px;
            transition: 0.2s all ease-in-out;
            z-index: 2;
            position: relative;
            padding: 5px;
            align-items: center;
            .item-qty {
                font-size: 18px;
                font-weight: 600;
            }
            .select-wrapper {
                position: relative;
                z-index: 6;
            }
        }
        .oc-item-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fdcf57;
            position: relative;
            transition: 0.2s all ease-in-out;
            opacity: 0;
            margin-top: -35px;
            z-index: 1;
            width: calc(100% - 10px);
            border-radius: 4px 0px 4px 4px;
            float: right;
            padding: 5px;
            margin-bottom: 5px;
            div {
                display: inline-flex;
                align-items: center;
                a {
                    display: inline-flex;
                    align-items: center;
                    background: #fff;
                    // box-shadow: 2px 2px 5px rgba(black, .1);
                    color: #6b6f82;
                    padding: 0px 10px;
                    margin-right: 10px;
                    border-radius: 40px;
                    height: 25px;
                    line-height: 25px;
                    &:hover {
                        // background: #f5a700;
                        background: #444;
                        color: #fff;
                    }
                }
            }
        }
    }
}

table {
    &.order-cost-table {
        tbody {
            td {
                padding: 5px;
                &:first-of-type {
                    display: inline-flex;
                    flex-direction: column;
                    .chip {
                        width: fit-content;
                        font-size: 14px !important;
                        height: 20px;
                        margin-bottom: 0px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

// Main process
.m-area {
    position: relative;
    z-index: 0;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
    @media screen and (max-width: 992px) {}
    .btn-close-area {
        color: #999;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        z-index: 1;
        &:hover {
            background: #e0e0e0;
        }
    }
    .m-area--measures {
        display: grid;
        padding: 0 5px;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap: 7px;
    }
}

.stepper-head-only {
    height: 84px !important;
    min-height: 84px !important;
    padding: 0 10px !important;
    @media screen and (max-width: 992px) {
        height: 60px !important;
        min-height: 60px !important;
        overflow: hidden !important;
        margin: 0 -12px !important;
        .step {
            height: 0px !important;
            padding: 0px !important;
            visibility: hidden;
            &.active {
                visibility: visible;
            }
        }
    }
    .step-title,
    .step {
        &:hover {
            background-color: unset !important;
        }
    }
    .step {
        a {
            color: #666;
            &:hover {
                background: rgba(black, 0.05);
            }
        }
        &:hover {
            background-color: #fff !important;
        }
    }
    .waves-ripple {
        opacity: 0 !important;
    }
}

// .product-area{
// 	position: relative;
// 	z-index: 10;
// 	float: left;
// 	width: 100%;
// 	padding: 10px 5px;
// 	margin-bottom: 30px;
// 	border: 1px solid rgba(black, .1);
// 	border-radius: 4px;
// 	&:last-of-type{
// 		margin-bottom: 0px;
// 	}
// 	.btn-close-product-area{
// 		position: absolute;
// 		top: 5px;
// 		right: 5px;
// 		color: #999;
// 		height: 32px;
// 		width: 32px;
// 		border-radius: 50%;
// 		justify-content: center;
// 		display: inline-flex;
// 		align-items: center;
// 		z-index: 1;
// 		&:hover{
// 			background: #e0e0e0;
// 		}
// 	}
// 	.areas-available{
// 		padding-left: 0px;
// 		padding-right: 32px;
// 		margin-top: -5px;
// 		.areas-available-actions{
// 			display: inline-flex;
// 			height: 32px;
// 			align-items: center;
// 			a.select-all-areas, a.select-all-areas:visited{
// 				color: #1e96f3;
// 				height: 32px;
// 				line-height: 32px;
// 				display: inline-block;
// 				margin: 0 5px 5px 5px;
// 			}
// 			a.btn-refresh-product-area{
// 				color: #555;
// 				padding: 5px;
// 				i{
// 					font-size: 22px !important;
// 				}
// 			}
// 		}
// 		.chip{
// 			background: #f1f1f1;
// 			color: #666;
// 			cursor: pointer;
// 			&:hover:not(.selected){
// 				color: #e0f7fa;
// 				background: #2196f3;
// 				box-shadow: 0 5px 10px rgba(black, .2);
// 			}
// 			&:active{
// 				box-shadow: none;
// 			}
// 			&.selected{
// 				color: #e0f7fa;
// 				background: #2196f3;
// 			}
// 		}
// 	}
// 	.areas-selected{
// 		.chip{
// 			background: #e0f7fa;
// 			color: #2196f3;
// 			.close{
// 				color: #666;
// 			}
// 		}
// 	}
// 	.product{
// 		border-radius: 4px;
// 		float: left;
// 		width: 100%;
// 		padding: 0 10px;
// 		background: #fff;
// 		transition: .3s all ease-in-out;
// 		&.new-product{
// 			cursor: pointer;
// 			position: relative;
// 			background: transparent !important;
// 			&:after{
// 				content: "add";
// 				font-family: 'Material icons';
// 				font-size: 24px;
// 				border-radius: 4px;
// 				width: 30px;
// 				height: 30px;
// 				position: absolute;
// 				color: #fff;
// 				text-align: center;
// 				line-height: 30px;
// 				top: 5px;
// 				left: 13px;
// 				z-index: -1;
// 				background: rgba(black, .3);
// 			}
// 			&:hover{
// 				&:after{
// 					background: rgba(black, .5);
// 				}
// 			}
// 			.btn-add-product{
// 				display: none !important;
// 			}
// 			*{
// 				cursor: pointer;
// 			}
// 			.btn-remove-product{
// 				display: none;
// 			}
// 			.row{
// 				opacity: 0;
// 			}
// 		}
// 		.calc-fields:last-of-type{
// 			position: relative;
// 			input{
// 				width: calc(100% - 30px);
// 			}
// 		}
// 		&:nth-of-type(2n+1){
// 			background: #f5f5f5;
// 			input.autocomplete.autocomplete-products{
// 				background: #fff !important;
// 			}
// 		}
// 		.calc-fields{
// 			opacity: 1;
// 		}
// 		.products-search{
// 			padding-top: 5px;
// 			position: relative;
// 			.switch{
// 				margin: 0 -10px 2px 0;
// 			}
// 			span{
// 				font-weight: 600 !important;
// 			}
// 			.autocomplete-product-value{
// 				border-radius: 20px;
// 				padding-left: 20px;
// 				padding-right: 0px;
// 				margin-top: 32px;
// 				background: #e0e0e0;
// 			}
// 		}
// 		.products-selection{
// 			background: #fff;
// 			border: 1px solid #e0e0e0;
// 			border-bottom: none;
// 			&:last-of-type{
// 				border-radius: 0 0 4px 4px;
// 			}
// 		}
// 	}
.products-suggestions {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(black, 0.2);
    padding: 10px 5px 5px 5px;
    .suggestions-title {
        font-size: 18px;
    }
    a {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        display: inline-block;
        color: #1e96f3;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: #1e96f3;
        }
        &:last-of-type {
            margin-right: 0px;
            margin-bottom: 0px;
        }
    }
}

// }
.estimate-schedule-list {
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    .row {
        border-radius: 10px !important;
        background-color: #e2ecfb !important;
        width: 100%;
        margin-left: 0px;
        padding: 0px 5px;
        .col {
            padding: 0px;
        }
        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
    }
}

// Areas view
.collapsible-areas {
    box-shadow: none !important;
    .collapsible-header {
        border-bottom: none;
        background: #e1e1e1;
        // background: #ffdf9a;
        color: #444;
    }
    .collapsible-body {
        margin-top: -10px;
        border-radius: 6px;
        border-bottom: none;
        // background: none;
        background: #e1e1e1;
        // background: #fff;
        // background: #fff4dc;
    }
    table {
        border-radius: 6px;
        overflow: hidden;
    }
    thead {
        tr {
            background: #f9f9f9;
            border-bottom: none;
        }
    }
    th {
        font-weight: 600;
        border-radius: 0px;
    }
    tbody {
        tr {
            background: #fff;
            box-shadow: 0 3px 10px rgba(black, 0.05);
            td {
                @media screen and (min-width: 992px) {
                    padding: 10px 8px;
                }
                border-radius: 0px;
                small {
                    white-space: normal;
                }
                @media screen and (max-width: 992px) {
                    i,
                    small {
                        display: none;
                    }
                }
            }
            &:hover {
                background: #fff9e2;
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
    td:not(:first-of-type) {
        // color: #333;
    }
}

// Documents
// @keyframes hello_options{
//     0% {
//         transform: translateX(0%);
//     }
//     50% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(0%);
//     }
// }
.doc-floating-box {
    position: fixed;
    left: 100%;
    top: 260px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    animation: hello_options 2s ease-in-out 1s 1 alternate forwards;
    &.active {
        left: unset;
        right: 0px;
    }
    &.scrolled {
        top: 70px;
    }
    .doc-floating-btn {
        background: #3949ab;
        color: #fff;
        box-shadow: -5px 0 5px rgba(black, 0.1);
        height: 80px;
        width: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 0 0 10px;
        border: 1px solid rgba(black, 0.1);
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: -29px;
    }
    .doc-floating-content {
        width: 300px;
        max-width: 300px;
        .collapsible-body {
            max-height: 300px;
            overflow-y: auto;
        }
        @media screen and (max-width: 992px) {
            // padding-right: 14px !important;
        }
        @media screen and (min-width: 992px) {
            // padding-right: 30px !important;
        }
    }
}

// Dashboard
.dashboard-chart {
    overflow: hidden;
    .chart-wrapper {
        margin-bottom: 0px;
        margin-top: 0px;
        canvas {
            max-height: 122px;
        }
    }
}

.recent-clients-card,
.recent-orders-card {
    .collection {
        border: none !important;
        .collection-item {
            border: none !important;
            padding: 10px 0px;
        }
    }
}

// Customer
.customer-estimates {
    thead tr,
    tbody tr {
        display: flex;
        align-items: stretch;
    }
    th,
    td {
        width: calc(100% / 6);
    }
    thead {
        display: table-header-group;
    }
    tbody {
        display: block;
        max-height: 300px;
        overflow-y: auto;
        tr {
            table-layout: fixed;
        }
    }
}

// Callbacks
body.cb-body {
    // background: #6F4EF6;
    background: #673ab7;
    height: 100vh;
    overflow: hidden;
    .cb-wrapper {
        margin-top: 15vh;
        text-align: center;
        width: 100%;
        .cb-logo {
            margin-bottom: 10px;
        }
        .cb-box {
            margin: 0 auto;
            width: 95%;
            max-width: 600px;
            background: #fff;
            padding: 30px 15px;
            border-radius: 6px;
            box-shadow: 5px 5px 10px rgba(black, 0.1);
            .cb-icon {
                img {
                    width: 100px;
                }
            }
            h1 {
                font-size: 30px;
            }
            .cb-btn {
                display: inline-flex;
                padding: 5px 20px;
                border-radius: 6px;
                background: #ff4081;
                color: #fff;
            }
        }
        .cb-square {
            margin-top: 30px;
            filter: invert(1) contrast(100%);
        }
    }
}

// Signature
#signature-pad {
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

// .modal {
// 			width: 90% !important;
// 			max-width: 800px;
// 		}
// .area-grid{
//     display: grid;
//     grid-gap: 15px 20px;
//     padding: 0 10px;
//     margin-bottom: 20px;
//     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
//     @media screen and (max-width: 860px){
//         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//         padding: 0;
//     }
//     .area-box{
//         .card-panel{
//             margin-bottom: 0;
//         }
//     }
// }
// .products-area{
//     margin-bottom: 80px;
// }
// header{
//     width: 100%;
//     float: left;
//     height: 60px;
//     text-align: center;
//     line-height: 60px;
//     background: #fff;
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
//     margin-bottom: 15px;
// }
// .confirm{
//     height: 65px;
//     width: 100%;
//     text-align: center;
//     padding: 10px;
//     background: #fff;
//     box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .14), 0 -3px 1px -2px rgba(0, 0, 0, .12), 0 -1px 5px 0 rgba(0, 0, 0, .2);
//     border-top: 1px solid rgba(black, .1);
//     position: fixed;
//     bottom: 0;
//     a{
//         width: 100%;
//         max-width: 500px;
//         background: #fff700;
//         color: #666;
//         padding: 10px;
//         border-radius: 3px;
//         border: 1px solid rgba(black, .1);
//     }
// }
// .sign-box{
//     width: 100%;
//     height: 300px;
//     background: #fff;
//     border: 1px solid rgba(black, .1);
//     @media screen and (max-width:600px){
//         height: 50vh;
//     }
// }
// Misc
.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke: rgba(66, 180, 21, 0.7) !important;
    /* color elements as red */
}

.highlight-overlay {
    background-color: green;
    /* color elements as green */
    opacity: 0.4;
    pointer-events: none;
    /* no pointer events, allows clicking through onto the element */
}

.chip-selection {
    [type="checkbox"]+span:not(.lever),
    [type="radio"]+span:not(.lever) {
        background: #9e9e9e !important;
        padding: 0 12px 0 35px !important;
        border-radius: 50px;
        height: 32px;
        line-height: 32px;
        margin-right: 5px;
        &:hover {
            color: #e0f7fa;
            background: #44a8f7 !important;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
    [type="checkbox"]:checked+span:not(.lever),
    [type="radio"]:checked+span:not(.lever) {
        background: #2196F3 !important;
    }
    [type="checkbox"]+span:not(.lever) {
        color: #fff;
        &:after {
            border-color: rgba(black, .2) !important;
            height: 16px !important;
            width: 16px !important;
            top: 8px !important;
            left: 10px !important;
        }
        &:before {
            height: 14px !important;
            width: 7px !important;
            top: 5px !important;
            left: 10px !important;
        }
    }
    [type="radio"]+span:not(.lever) {
        color: #fff;
        &:before {
            border-color: rgba(black, .2) !important;
        }
        &:before,
        &:after {
            height: 16px !important;
            width: 16px !important;
            top: 4px !important;
            left: 5px !important;
        }
    }
}

.chip .chip-icon {
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 8px;
}

.footer {
    z-index: 100;
}

.invisible {
    display: none;
}

#signature-pad {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.hide-numbers {
    text-security: circle;
    /* IE/Safari */
    -moz-text-security: circle;
    /* FireFox */
    -webkit-text-security: circle;
    /* Chrome/Safari  */
}

.swal2-input[type="number"] {
    max-width: 100% !important;
}

// Calendar
.fc-button.fc-button-active {
    background: #2a3471 !important;
}

// Products
.product-pic-card {
    // width: 30%;
    // max-width: 200px;
    // float: left;
    .font-weight-600 {
        color: #333;
    }
    @media screen and (max-width: 600px) {
        margin-bottom: 20px;
    }
}

.product-desc {
    .product-desc--supplier {
        color: #444;
    }
}

.product-pic {
    overflow: hidden;
    width: 100%;
    img {
        border-radius: 6px;
        width: 100%;
    }
}

// Support page
body.support-page {
    .container {
        max-width: 1400px !important;
    }
    .navbar-main {
        box-shadow: 3px 3px 10px rgba(black, 0.1) !important;
    }
    .support-logo {
        height: 60px;
        display: inline-flex;
        align-items: center;
        float: left;
        color: #666;
        font-size: 20px;
        img {
            height: 27px;
            margin-right: 8px;
        }
    }
    .header-search-wrapper {
        margin: 10px auto 0 40px !important;
    }
    #main_support {
        .content-wrapper-before {
            position: absolute;
            z-index: -1;
            top: 64px;
            left: 0;
            width: 100%;
            height: 185px;
            transition: 0.3s ease all;
            background: linear-gradient(90deg, #f5a700, #ffd059);
        }
    }
    #knowledge {
        #search-wrapper {
            padding: 30px 10px 45px 10px;
        }
        .search-image {
            background-image: none !important;
            background: transparent;
            input {
                max-width: 600px;
            }
        }
    }
    .support-page--steps {
        width: 100%;
        float: left;
        padding: 10px 0px;
        .btn {
            display: inline-flex;
            align-items: center;
        }
    }
    .related-link {
        h6 {
            color: #666 !important;
        }
        .related-list {
            li {
                margin-bottom: 15px;
            }
        }
    }
    .support-search-results {
        padding-top: 20px;
        .results-list {
            margin-top: 30px;
            li {
                float: left;
                width: 100%;
                border-bottom: 1px dotted rgba(black, 0.2);
                margin-bottom: 20px;
                a {
                    color: #777;
                    &:hover {
                        span.result-page-title {
                            color: $w-indigo;
                        }
                    }
                }
                span.result-page-title {
                    float: left;
                    width: 100%;
                    color: #333;
                    font-weight: 700;
                }
                span.result-page-section {
                    float: left;
                    width: 100%;
                    font-size: 14px !important;
                }
                p {
                    float: left;
                    width: 100%;
                    margin-top: 0;
                    strong {
                        font-weight: 800;
                        color: #666;
                    }
                }
            }
        }
    }
}

// end Support page
// Nonce
.cards {
    position: relative;
    float: left;
    width: 100%;
    .card-front,
    .card-back {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        border: 1px solid rgba(black, 0.2);
        box-shadow: 0 3px 10px rgba(black, 0.1);
        float: left;
        position: relative;
        padding: 10px;
        overflow: hidden;
        input {
            float: left;
            background: #fff;
            border: 1px solid rgba(black, .1);
            border-radius: 4px;
            padding-left: 10px;
            box-sizing: border-box;
            &.card-due,
            &.card-postal {
                width: calc(50% - 7px);
            }
            &.card-postal {
                float: right;
            }
        }
    }
    @media screen and (max-width: 800px) {
        .card-front,
        .card-back {
            width: 100%;
            max-width: 280px;
            height: 165px;
        }
        .card-front {
            margin-left: 0px !important;
            .card-logo {
                height: 40px !important;
                width: 40px !important;
                img {
                    width: 30px !important;
                }
            }
            input:first-of-type {
                margin-top: 10px !important;
            }
        }
        .card-back {
            margin: 10px 0 0 0 !important;
            &:before {
                height: 46px !important;
            }
        }
    }
    .card-front {
        background: linear-gradient(180deg, #FFE799, #F5B03C);
        z-index: 90;
        margin-left: calc(50% - 220px);
        .card-logo {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: rgba(white, .8);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
            }
        }
        input:first-of-type {
            margin-top: 25px;
            margin-bottom: 10px;
        }
    }
    .card-back {
        background: linear-gradient(180deg, #DEE3E5, #ABB9BE);
        z-index: 89;
        margin: -160px 0 0 calc(50% - 120px);
        &:before {
            content: "";
            width: 100%;
            height: 56px;
            background: #2b2b2b;
            position: absolute;
            top: 25px;
            left: 0;
        }
        input {
            margin-top: 90px;
            width: 80px;
            float: right;
        }
    }
}

.collapsible.collapsible-filters {
    .collapsible-header {
        justify-content: space-between;
        align-items: center;
        position: relative;
        &--title {
            display: inline-flex;
            align-items: center;
        }
        .order-by {
            display: inline-flex;
            align-items: center;
            height: 36px;
            i {
                margin-right: 5px !important;
            }
            .select-wrapper input.select-dropdown {
                height: 2rem !important;
                margin-bottom: 0px !important;
            }
        }
    }
}

// Conversion dashboard
#modal_goal_calc_amount{
    font-size: 28px;
    color: #2e9032;
    &:before{
        content: '$';
        position: absolute;
        height: 100%;
        color: #4CAF50;
        font-size: 20px;
        left: 0px;
        top: 0px;
        width: 20px;
    }
}
.conv-card-new-orders {
    h4 {
        font-size: 40px;
        margin-top: 10px;
    }
    .small-text {
        span {
            font-size: 14px;
        }
        &>p {
            width: 100%;
            justify-content: flex-end;
            display: inline-flex;
            align-items: center;
            margin-bottom: -5px;
            font-weight: 16px;
        }
    }
}

.conv-card-rate-orders{
    position: relative;
    margin-bottom: 35px;
    height: 110px;
    .rate-chart{
        display: inline-flex;
        width: 100%;
        align-items: center;
        height: 54px;
        .rate-chart--leads, .rate-chart--estimates{
            color: rgba(black, .7);
            font-size: 18px;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .rate-chart--leads{
            background: #1DE9B6;
            border-radius: 4px 0 0 4px;
        }
        .rate-chart--estimates{
            background: #4FC3F7;
            border-radius: 0 4px 4px 0;
        }
    }
    .rate-legend{
        display: inline-flex;
        width: 100%;
        align-items: center;
        position: absolute;
        bottom: -30px;
        left: 0px;
        .rate-legend--leads, .rate-legend--estimates{
            position: relative;
            padding-left: 20px;
            margin: 5px 10px 0 0;
            &:before{
                content: "";
                position: absolute;
                height: 15px;
                width: 15px;
                border-radius: 4px;
                top: 4px;
                left: 0;
                background: #1DE9B6;
            }
        }
        .rate-legend--estimates{
            &:before{
                background: #4FC3F7;
            }
        }
    }
}

.order-rate-container{
    height: 171px;
    position: relative;
    canvas{
        height: 171px;
    }
    &>*{
        position:absolute;
        width:100%;
    }
}
.chartist-tooltip {
    /* set me to make the tooltip for the point at 2 more visible */ 
    // position: relative;
    z-index:99999999999 !important;
  }
#order-rate-line-chart{
    position: absolute;
    
    .ct-series-a .ct-line{
            stroke: #1DE9B6 !important;
    }
    .ct-series-b .ct-line{
        stroke: #4FC3F7 !important;
    }
}

.goal-rate-container{
    height: 147px;
    margin-top: 20px;
}
#goal-rate-chart{
    .ct-series-a .ct-slice-donut{
        stroke: #4CAF50;
    }
    .ct-series-b .ct-slice-donut{
        stroke: #f1f1f1;
    }
}

.conversion-rate-box{
    height: 227px;
}

.card-average-info{
    .profit{
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2px;
        span{
            display: inline-flex;
        align-items: center;
        }
        h6{
            line-height: 24px;
        }
    }
    h6{
            margin-bottom: -5px;
            margin-top: 0px;
            font-weight: 500 !important;
            font-size: 17px !important;
    }
            h5{
                font-weight: 600;
                font-size: 20px;
            }
}

.row-balance{
    .row-balance-title{
        font-size: 22px;
    }
    h5{
        font-size: 22px !important;
        font-weight: 600;
        display: inline-flex;
        i{
            margin-right: 5px;
        }
    }
    .balance-type{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h6{
            font-size: 17px;
            font-weight: 500;
        }
        span{
            display: inline-flex;
        align-items: center;
            font-size: 16px;
        }
    }
    .balance-money{
        p{
            margin: 5px 0 0 0;
            color: #666;
        }
        h5{
            margin-top: 0px;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .card-panel{
        padding: 5px 10px;
    }
    .row-expenses{}
}