body.nav-mobile-open:before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: .5;
  z-index: 500; }

.nav-observatorio {
  display: inline-flex !important;
  justify-content: center !important;
  height: 60px !important;
  line-height: 60px;
  float: left;
  width: 100% !important; }
  .nav-observatorio i {
    line-height: 60px !important; }
  .nav-observatorio ul a:hover {
    color: #FEC30B !important; }
  .nav-observatorio a {
    font-size: 15px;
    color: #fff !important; }
  @media screen and (max-width: 992px) {
    .nav-observatorio {
      justify-content: flex-end !important;
      padding-right: 10px;
      line-height: 60px; }
      .nav-observatorio i {
        line-height: 60px !important; } }
  .nav-observatorio-mobile {
    transform: translateX(110%);
    transition: all .3s ease-in-out;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    overflow-y: auto; }
    .nav-observatorio-mobile.open {
      transform: translateX(0%); }
    .nav-observatorio-mobile ul {
      background: #fff !important; }
      .nav-observatorio-mobile ul > li {
        height: auto;
        overflow: hidden; }
        .nav-observatorio-mobile ul > li a {
          display: inline-flex;
          width: 100%;
          height: 64px;
          align-items: center;
          justify-content: space-between;
          color: #333;
          padding: 0 10px; }
        .nav-observatorio-mobile ul > li ul {
          padding-left: 16px;
          max-height: 0px;
          transition: all .3s ease-in-out;
          height: auto; }
        .nav-observatorio-mobile ul > li.open ul {
          max-height: 100vh; }
        .nav-observatorio-mobile ul > li.open > a {
          background: rgba(0, 0, 0, 0.1); }
  .nav-observatorio .btn-mobile-menu {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 14px; }
    .nav-observatorio .btn-mobile-menu i {
      margin-right: 8px; }
  .nav-observatorio .dropdown-content {
    background: #222 !important;
    min-width: 250px !important; }
    .nav-observatorio .dropdown-content li.divider {
      background-color: rgba(255, 255, 255, 0.1) !important; }
  .nav-observatorio .dropdown-content li:hover {
    background: rgba(255, 255, 255, 0.1) !important; }
  .nav-observatorio .dropdown-content li > a {
    color: #666; }
    .nav-observatorio .dropdown-content li > a:hover {
      background: transparent !important; }

/*# sourceMappingURL=menu.css.map */
