.autoComplete_wrapper {
	// display: inline-block;
	position: relative;
	& > input {
		&::placeholder {
			color: rgba(123, 123, 123, 0.5);
			transition: all 0.3s ease;
		}
	}
	& > ul {
		position: absolute;
		max-height: 226px;
		overflow-y: scroll;
		top: 100%;
		left: 0;
		right: 0;
		padding: 0.3rem;
		margin: 0.25rem 0 0 0;
		border-radius: 0 0 12px 12px;
		background-color: #fff;
		box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
		border: 1px solid hsla(0, 0%, 13%, 0.1);
		z-index: 1000;
		outline: 0;
		& > li {
			margin: 0;
			padding: 0.5rem;
			list-style: none;
			text-align: left;
			font-size: 1rem;
			color: #212121;
			border-radius: 0.35rem;
			background-color: #fff;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all 0.2s ease;
			&::selection {
				color: rgba(#fff, 0);
				background-color: rgba(#fff, 0);
			}
			&:hover {
				cursor: pointer;
				background-color: hsl(251, 50%, 95%);
			}
			mark {
				background-color: transparent;
				color: $w-indigo;
				font-weight: 700;
				&::selection {
					color: rgba(#fff, 0);
					background-color: rgba(#fff, 0);
				}
			}
		}
		& > li[aria-selected="true"] {
			background-color: rgba(123, 123, 123, 0.1);
		}
	}
}
.autoComplete_wrapper > ul:empty,
.autoComplete_wrapper > ul[hidden] {
	display: block;
	opacity: 0;
	transform: scale(0);
}
