*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 1rem;
}

html,
body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

input,
button {
	font-family: Arial, Helvetica, sans-serif;
}

.smp-page {
	small,
	.text_small {
		font-size: 0.889rem;
	}

	p,
	label {
		font-size: 16px !important;
		color: #333;
	}

	//  Inputs
	input {
		font-size: 1rem;
		&:not([type="checkbox"], [type="radio"]) {
			border-radius: 14px;
			border: 1px solid #c6c6c6 !important;
			background: #fff !important;
			height: 40px;
			width: 100%;
			padding: 4px 4px 4px 14px;
			caret-color: $w-indigo;
		}
		&:disabled {
			background: #f1f1f1 !important;
		}

		&:not([type="radio"]):invalid {
			border: 1px solid rgba(red, 0.8) !important;
			outline: 1px solid rgba(red, 0.8) !important;
		}
	}

	input:not([type="radio"]),
	textarea,
	select {
		&:focus {
			outline: 1px solid $w-indigo !important;
			border: 1px solid $w-indigo !important;
		}
	}

	.input-field > label {
		// position: relative !important;
		// left: 0;
		&:not(.label-icon).active {
			color: $w-indigo;
			font-weight: 600;
		}
	}

	// .input-field {
	// 	input:invalid + label:not(.label-icon) {
	// 		color: rgba(red, 0.8) !important;
	// 	}
	// }

	textarea {
		height: 6rem;
		border: 1px solid #c6c6c6;
		border-radius: 6px;
		padding: 0.5rem;
		width: 100%;
		background: #fff;
		resize: vertical;

		& + label {
			left: 1.7rem !important;
			&.active {
				transform: translateY(-14px) translateX(-0.7rem) scale(0.8) !important;
			}
		}
	}

	.form-row {
		display: flex;
		gap: 1rem;
	}

	.form-field {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1rem;
		gap: 0.25rem;

		&.form-field--half {
			width: 100%;
		}

		@media (min-width: 600px) {
			&.form-field--half {
				width: calc(50% - 0.5rem);
			}
		}
	}

	// Custom Select
	$color_1: #ffffff;
	$font-family_1: Arial;
	$background-color_1: DodgerBlue;
	$background-color_2: rgba(0, 0, 0, 0.1);
	$border-color_1: #333 transparent transparent transparent;
	$border-color_2: transparent transparent #333 transparent;
	$border-color_3: transparent transparent rgba(0, 0, 0, 0.1) transparent;

	/* The container must be positioned relative: */
	/* Style the arrow inside the select element: */
	/* Point the arrow upwards when the select box is open (active): */
	/* style the items (options), including the selected item: */
	/* Style items (options): */
	/* Hide the items when the select box is closed: */
	.custom-select {
		position: relative;
		font-family: $font-family_1;
		select {
			display: none;
		}
	}
	.select-selected {
		background-color: #fff;

		padding: 10px 16px;
		border: 1px solid #c6c6c6;
		border-radius: 12px;
		cursor: pointer;
		&:after {
			position: absolute;
			content: "";
			top: 14px;
			right: 10px;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-color: #333 transparent transparent transparent;
		}
	}
	.select-selected.select-arrow-active {
		border-radius: 12px 12px 0 0;
		&:after {
			border-color: $border-color_2;
			top: 7px;
		}
	}
	.select-items {
		border-radius: 0 0 12px 12px;
		div {
			padding: 8px 16px;
			border: 1px solid #c6c6c6;
			border-top: #c6c6c6 transparent #c6c6c6 transparent;
			cursor: pointer;
			&:hover {
				background-color: $background-color_2;
			}
			&:last-of-type {
				border-radius: 0 0 12px 12px;
			}
		}
		position: absolute;
		background-color: #fff;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		box-shadow: 4px 0 6px rgba($w-indigo, 0.2);
	}
	.select-hide {
		display: none;
	}
	.same-as-selected {
		background-color: rgba($w-indigo, 0.2);
	}

	// Custom select

	input[type="checkbox"]:focus-visible {
		+ .lever {
			outline: 2px solid $w-indigo;
			outline-offset: 2px;
		}
	}

	.switch {
		label {
			cursor: pointer;

			input[type="checkbox"] {
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + .lever {
					background-color: rgba($w-indigo, 0.6);
				}
				&:checked + .lever:before,
				&:checked + .lever:after {
					left: 18px;
				}
				&:checked + .lever:after {
					background-color: $w-indigo;
				}
			}

			.lever {
				content: "";
				display: inline-block;
				position: relative;
				width: 36px;
				height: 14px;
				background-color: rgba(0, 0, 0, 0.38);
				border-radius: 15px;
				margin-right: 10px;
				transition: background 0.3s ease;
				vertical-align: middle;
				margin: 0 16px;

				&:before,
				&:after {
					content: "";
					position: absolute;
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					left: 0;
					top: -3px;
					transition: left 0.3s ease, all 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease;
				}

				&:before {
					background-color: rgba(38, 166, 154, 0.15);
				}
				&:after {
					background-color: #f1f1f1;
					box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
						0px 1px 5px 0px rgba(0, 0, 0, 0.12);
				}
			}
		}
	}

	.two-options,
	.ask-reply {
		[type="radio"]:not(:checked) + span:before {
			border: 2px solid $w-indigo;
		}
		[type="radio"]:checked + span:before {
			background-color: $w-indigo;
		}
		[type="radio"].with-gap:checked + span:after {
			background-color: #fff;
		}

		[type="radio"] + span:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			z-index: -10;
			transition: 0.28s ease;
			background: transparent;
			border-radius: 6px;
			transform: scale(1);
			border: 0;
			box-shadow: 0 0 0 0px rgba($w-indigo, 0.2);
			opacity: 0;
		}

		[type="radio"]:checked + span:after {
			box-shadow: 0 0 0 6px rgba($w-indigo, 0.2);
			opacity: 1;
		}
		[type="radio"]:not(:checked) + span:after {
			// -webkit-transform: scale(0);
			// transform: scale(0);
		}
		[type="radio"] + span:before {
			content: "";
			position: absolute;
			left: 24px;
			top: calc(50% - 12px);
			margin: 4px;
			width: 16px;
			height: 16px;
			z-index: 0;
			-webkit-transition: 0.28s ease;
			transition: 0.28s ease;
		}
		[type="radio"]:not(:checked) + span,
		[type="radio"]:checked + span {
			position: relative;
			padding: 15px 20px 15px 55px !important;
			cursor: pointer;
			display: inline-block;
			height: auto;
			line-height: unset;
			font-size: 1rem;
			-webkit-transition: 0.28s ease;
			transition: 0.28s ease;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		[type="radio"]:checked + span {
			// color: #fff;
		}
		[type="radio"]:not(:checked),
		[type="radio"]:checked {
			position: absolute;
			opacity: 0 !important;
			pointer-events: none;
		}
	}

	.btn {
		&:focus,
		&:focus-visible {
			outline: 2px solid black;
			outline-offset: 2px;
		}
	}
}
