*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

.smp-page {
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
.smp-page small,
.smp-page .text_small {
  font-size: 0.889rem;
}
.smp-page p,
.smp-page label {
  font-size: 16px !important;
  color: #333;
}
.smp-page input {
  font-size: 1rem;
}
.smp-page input:not([type=checkbox], [type=radio]) {
  border-radius: 14px;
  border: 1px solid #c6c6c6 !important;
  background: #fff !important;
  height: 40px;
  width: 100%;
  padding: 4px 4px 4px 14px;
  caret-color: #3f51b5;
}
.smp-page input:disabled {
  background: #f1f1f1 !important;
}
.smp-page input:not([type=radio]):invalid {
  border: 1px solid rgba(255, 0, 0, 0.8) !important;
  outline: 1px solid rgba(255, 0, 0, 0.8) !important;
}
.smp-page input:not([type=radio]):focus,
.smp-page textarea:focus,
.smp-page select:focus {
  outline: 1px solid #3f51b5 !important;
  border: 1px solid #3f51b5 !important;
}
.smp-page .input-field > label:not(.label-icon).active {
  color: #3f51b5;
  font-weight: 600;
}
.smp-page textarea {
  height: 6rem;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100%;
  background: #fff;
  resize: vertical;
}
.smp-page textarea + label {
  left: 1.7rem !important;
}
.smp-page textarea + label.active {
  transform: translateY(-14px) translateX(-0.7rem) scale(0.8) !important;
}
.smp-page .form-row {
  display: flex;
  gap: 1rem;
}
.smp-page .form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  gap: 0.25rem;
}
.smp-page .form-field.form-field--half {
  width: 100%;
}
@media (min-width: 600px) {
  .smp-page .form-field.form-field--half {
    width: calc(50% - 0.5rem);
  }
}
.smp-page .custom-select {
  position: relative;
  font-family: Arial;
}
.smp-page .custom-select select {
  display: none;
}
.smp-page .select-selected {
  background-color: #fff;
  padding: 10px 16px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  cursor: pointer;
}
.smp-page .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #333 transparent transparent transparent;
}
.smp-page .select-selected.select-arrow-active {
  border-radius: 12px 12px 0 0;
}
.smp-page .select-selected.select-arrow-active:after {
  border-color: transparent transparent #333 transparent;
  top: 7px;
}
.smp-page .select-items {
  border-radius: 0 0 12px 12px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 4px 0 6px rgba(63, 81, 181, 0.2);
}
.smp-page .select-items div {
  padding: 8px 16px;
  border: 1px solid #c6c6c6;
  border-top: #c6c6c6 transparent #c6c6c6 transparent;
  cursor: pointer;
}
.smp-page .select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.smp-page .select-items div:last-of-type {
  border-radius: 0 0 12px 12px;
}
.smp-page .select-hide {
  display: none;
}
.smp-page .same-as-selected {
  background-color: rgba(63, 81, 181, 0.2);
}
.smp-page input[type=checkbox]:focus-visible + .lever {
  outline: 2px solid #3f51b5;
  outline-offset: 2px;
}
.smp-page .switch label {
  cursor: pointer;
}
.smp-page .switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.smp-page .switch label input[type=checkbox]:checked + .lever {
  background-color: rgba(63, 81, 181, 0.6);
}
.smp-page .switch label input[type=checkbox]:checked + .lever:before, .smp-page .switch label input[type=checkbox]:checked + .lever:after {
  left: 18px;
}
.smp-page .switch label input[type=checkbox]:checked + .lever:after {
  background-color: #3f51b5;
}
.smp-page .switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}
.smp-page .switch label .lever:before, .smp-page .switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  transition: left 0.3s ease, all 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease;
}
.smp-page .switch label .lever:before {
  background-color: rgba(38, 166, 154, 0.15);
}
.smp-page .switch label .lever:after {
  background-color: #f1f1f1;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.smp-page .two-options [type=radio]:not(:checked) + span:before,
.smp-page .ask-reply [type=radio]:not(:checked) + span:before {
  border: 2px solid #3f51b5;
}
.smp-page .two-options [type=radio]:checked + span:before,
.smp-page .ask-reply [type=radio]:checked + span:before {
  background-color: #3f51b5;
}
.smp-page .two-options [type=radio].with-gap:checked + span:after,
.smp-page .ask-reply [type=radio].with-gap:checked + span:after {
  background-color: #fff;
}
.smp-page .two-options [type=radio] + span:after,
.smp-page .ask-reply [type=radio] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: 0.28s ease;
  background: transparent;
  border-radius: 6px;
  transform: scale(1);
  border: 0;
  box-shadow: 0 0 0 0px rgba(63, 81, 181, 0.2);
  opacity: 0;
}
.smp-page .two-options [type=radio]:checked + span:after,
.smp-page .ask-reply [type=radio]:checked + span:after {
  box-shadow: 0 0 0 6px rgba(63, 81, 181, 0.2);
  opacity: 1;
}
.smp-page .two-options [type=radio] + span:before,
.smp-page .ask-reply [type=radio] + span:before {
  content: "";
  position: absolute;
  left: 24px;
  top: calc(50% - 12px);
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: 0.28s ease;
}
.smp-page .two-options [type=radio]:not(:checked) + span,
.smp-page .two-options [type=radio]:checked + span,
.smp-page .ask-reply [type=radio]:not(:checked) + span,
.smp-page .ask-reply [type=radio]:checked + span {
  position: relative;
  padding: 15px 20px 15px 55px !important;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: unset;
  font-size: 1rem;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.smp-page .two-options [type=radio]:not(:checked),
.smp-page .two-options [type=radio]:checked,
.smp-page .ask-reply [type=radio]:not(:checked),
.smp-page .ask-reply [type=radio]:checked {
  position: absolute;
  opacity: 0 !important;
  pointer-events: none;
}
.smp-page .btn:focus, .smp-page .btn:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

.autoComplete_wrapper {
  position: relative;
}
.autoComplete_wrapper > input::-moz-placeholder {
  color: rgba(123, 123, 123, 0.5);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.autoComplete_wrapper > input::placeholder {
  color: rgba(123, 123, 123, 0.5);
  transition: all 0.3s ease;
}
.autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0.3rem;
  margin: 0.25rem 0 0 0;
  border-radius: 0 0 12px 12px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  border: 1px solid hsla(0, 0%, 13%, 0.1);
  z-index: 1000;
  outline: 0;
}
.autoComplete_wrapper > ul > li {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  border-radius: 0.35rem;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}
.autoComplete_wrapper > ul > li::-moz-selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
.autoComplete_wrapper > ul > li::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: hsl(251, 50%, 95%);
}
.autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: #3f51b5;
  font-weight: 700;
}
.autoComplete_wrapper > ul > li mark::-moz-selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
.autoComplete_wrapper > ul > li mark::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
.autoComplete_wrapper > ul > li[aria-selected=true] {
  background-color: rgba(123, 123, 123, 0.1);
}

.autoComplete_wrapper > ul:empty,
.autoComplete_wrapper > ul[hidden] {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.smp-page {
  color: #333;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
}
@media (min-width: 1000px) {
  .smp-page {
    overflow-x: unset;
  }
}
.smp-page header {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(63, 81, 181, 0.25);
  display: flex;
  justify-content: center;
}
.smp-page header nav {
  width: min(90%, 1280px);
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.smp-page header nav a {
  font-size: 14px;
  color: #3f51b5;
  display: flex;
  align-items: center;
  grid-area: 8px;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
.smp-page header nav a:hover {
  background-color: rgba(63, 81, 181, 0.15);
}
.smp-page header nav a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.smp-page header nav #menu {
  position: absolute;
  right: 0;
}
.smp-page header nav span {
  font-weight: 700;
  font-size: 18;
}
@media (min-width: 1000px) {
  .smp-page header #menu {
    display: none;
  }
}
.smp-page #main {
  margin-top: 6rem;
}
.smp-page #main section {
  margin-bottom: 64px;
}
@media (min-width: 1000px) {
  .smp-page #main {
    display: grid;
    width: min(90%, 1280px);
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
.smp-page h2 {
  font-size: 16px !important;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
}
.smp-page .smp-crud {
  padding: 0 2rem;
}
.smp-page .smp-crud label {
  position: relative;
}
.smp-page .smp-crud label input:focus-visible + .multilabel,
.smp-page .smp-crud label input:active:checked + .multilabel {
  box-shadow: 0 0 0 4px rgba(63, 81, 181, 0.5);
}
.smp-page .smp-crud label input:invalid + .multilabel {
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.5);
  border-color: red;
}
.smp-page .smp-crud label .multilabel {
  background: transparent;
  border: 2px solid #c6c6c6;
  color: #3f51b5;
  font-weight: 500;
  border-radius: 12px;
  padding: 1rem 20px 1rem 2.3rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex !important;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.smp-page .smp-crud label .multilabel span:first-of-type {
  font-weight: 700;
}
.smp-page .smp-crud label .multilabel:before, .smp-page .smp-crud label .multilabel:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 8px);
  left: 10px;
}
.smp-page .smp-crud label .multilabel:before {
  outline: 2px solid #c6c6c6;
  background: #fff;
  z-index: 1;
}
.smp-page .smp-crud label .multilabel:after {
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: 8px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  background: #3f51b5;
  z-index: 2;
}
.smp-page .smp-crud label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  all: unset;
}
.smp-page .smp-crud label input:checked + .multilabel {
  border-color: #3f51b5;
}
.smp-page .smp-crud label input:checked + .multilabel:after {
  transform: scale(1);
}
.smp-page .smp-crud [type=radio]:not(:checked),
.smp-page .smp-crud [type=radio]:checked {
  opacity: 1;
}
.smp-page .smp-crud .smp-type-selection__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 600px) {
  .smp-page .smp-crud .smp-type-selection__wrapper {
    flex-direction: row;
  }
}
.smp-page .smp-crud .add_item svg {
  color: #3f51b5;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
@media (min-width: 1000px) {
  .smp-page .smp-crud {
    padding: 0;
  }
}
.smp-page .smp-summary {
  position: absolute;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: 50;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out, background-color 0.6s ease-in-out;
  background-color: transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  opacity: 0;
  justify-content: center;
  visibility: hidden;
}
.smp-page .smp-summary.open {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.smp-page .smp-summary-box {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 64px;
  margin-bottom: 64px;
  width: 90%;
}
.smp-page .smp-summary h2 {
  font-size: 24px !important;
  margin-bottom: 1rem;
}
.smp-page .smp-summary section {
  margin-bottom: 20px;
}
.smp-page .smp-summary section h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
}
.smp-page .smp-summary section h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}
.smp-page .smp-summary section h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: normal;
}
.smp-page .smp-summary section p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.smp-page .smp-summary .summary__products > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.smp-page .smp-summary .summary__products > div:last-child {
  border-bottom: none;
}
.smp-page .smp-summary .summary__products > div h5 {
  width: 20%;
  text-align: left;
  font-weight: bold;
}
.smp-page .smp-summary .summary__products > div p {
  width: 20%;
  text-align: right;
  font-weight: normal;
}
.smp-page .smp-summary .summary__client > div,
.smp-page .smp-summary .summary__smp-type > div {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.smp-page .smp-summary .summary__products h4 {
  min-width: 150px;
}
.smp-page .smp-summary .summary__products > div:nth-of-type(2n) {
  background-color: #fff !important;
}
.smp-page .smp-summary .summary__products table {
  border-collapse: collapse;
  width: 100%;
}
.smp-page .smp-summary .summary__products th,
.smp-page .smp-summary .summary__products td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
.smp-page .smp-summary .summary__products th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.smp-page .smp-summary .summary__products tr:nth-child(even) {
  background-color: #f2f2f2;
}
.smp-page .smp-summary .summary__products tr:hover {
  background-color: #ddd;
}
.smp-page .smp-summary .summary__setup > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.smp-page .smp-summary .summary__setup > div h4 {
  font-style: italic;
}
.smp-page .smp-summary .summary__setup > div:last-child {
  border-bottom: none;
}
.smp-page .smp-summary .summary__smp-sum h4 {
  text-align: right;
}
@media (min-width: 1000px) {
  .smp-page .smp-summary {
    height: 100%;
    position: initial;
    transform: translateX(0) !important;
    background: none;
    opacity: 1;
    justify-content: center;
    visibility: visible;
  }
  .smp-page .smp-summary.open {
    background: none;
  }
  .smp-page .smp-summary-box {
    background: #f2f2f2;
    border: 1px solid #c6c6c6;
  }
}
.smp-page .smp-modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smp-page .smp-modal h3 {
  color: #3f51b5;
  text-align: center;
}
.smp-page .smp-modal_close {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}
.smp-page .smp-modal_overlay {
  background: hsla(0, 0%, 0%, 0.5);
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.smp-page .smp-modal_wrapper {
  position: relative;
  z-index: 2;
  width: min(80%, 600px);
  height: -moz-fit-content;
  height: fit-content;
  max-height: min(80%, 600px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);
  transform: translateY(10%);
  transition: all 0.3s ease-in-out;
}
.smp-page .smp-modal_wrapper form {
  display: flex;
  flex-direction: column;
}
.smp-page .smp-modal.smp-modal--open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.smp-page .smp-modal.smp-modal--open .smp-modal_wrapper {
  transform: translateY(0);
}
.smp-page .smp-modal input[type=submit] {
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background: #3f51b5 !important;
  border: none !important;
  color: #fff;
  padding: 2px 0.8rem;
}
.smp-page .smp-modal input[type=submit]:hover {
  background: #4d5ec1 !important;
}
.smp-page .smp-modal input[type=submit]:active {
  background: #3849a2 !important;
}
@media (min-width: 600px) {
  .smp-page .smp-modal#modal-client .form-field--phone {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    gap: 0.5rem;
  }
  .smp-page .smp-modal#modal-client .form-field--phone label {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .smp-page .smp-modal#modal-client .form-field--phone #mclient_phone--country {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .smp-page .smp-modal#modal-client .form-field--phone #mclient_phone {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.smp-page .smp-modal#modal-product .product-section {
  margin-bottom: 1rem;
}
.smp-page .smp-modal#modal-product .product-section .switch {
  margin-bottom: 2rem;
}
.smp-page .smp-modal#modal-product .product-section .form-field__custom_period {
  display: grid;
  grid-template-columns: 100px 100px;
  align-items: end;
}
.smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__img {
  grid-area: i;
  width: 120px;
  overflow: hidden;
}
.smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__img img {
  width: 120px;
  height: 120px;
  background: #f1f1f1;
}
.smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__img .file-upload {
  padding: 5px 10px;
  background: #f1f1f1;
  border: 1px dotted #c6c6c6;
  position: relative;
  color: #3f51b5;
  border-radius: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__img input {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
@media (min-width: 48em) {
  .smp-page .smp-modal#modal-product .product-section:first-of-type {
    display: grid;
    grid-template-areas: "n n i" "p q i" "d t tt";
    gap: 0.5rem 1rem;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__name {
    grid-area: n;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__price {
    grid-area: p;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__qty {
    grid-area: q;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__discount {
    grid-area: d;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__tax {
    grid-area: t;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type .form-field__total {
    grid-area: tt;
  }
  .smp-page .smp-modal#modal-product .product-section:first-of-type input[type=submit] {
    grid-area: submit;
  }
}
.smp-page .smp-products_list .smp-product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  border: 1px solid #c6c6c6;
  border-top: 0;
  padding: 10px;
  position: relative;
}
.smp-page .smp-products_list .smp-product:nth-of-type(2n + 2) {
  background-color: #f2f2f2;
}
.smp-page .smp-products_list .smp-product:first-of-type .smp-product_close {
  display: none;
}
.smp-page .smp-products_list .smp-product:not(:first-of-type) .smp-product_close {
  position: absolute;
  right: -30px;
  top: 6px;
  width: 30px;
  height: 40px;
  border-radius: 0 12px 12px 0;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.smp-page .smp-products_list .smp-product:not(:first-of-type) .smp-product_close i {
  color: #999;
}
.smp-page .smp-products_list .smp-product:not(:first-of-type) .smp-product_close:hover {
  background-color: #f2f2f2;
}
.smp-page .smp-products_list .smp-product:not(:first-of-type) .smp-product_close:hover i {
  color: rgb(219, 38, 38);
}
.smp-page .smp-products_list .smp-product .form-field {
  margin-bottom: 0;
}
.smp-page .smp-products_list .smp-product .form-field--product-price, .smp-page .smp-products_list .smp-product .form-field--product-total {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.smp-page .smp-products_list .smp-product .form-field--product-price span, .smp-page .smp-products_list .smp-product .form-field--product-total span {
  font-weight: 700;
  color: #666;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}
.smp-page .smp-products_list .smp-product .form-group {
  display: inline-flex;
  gap: 0.5rem;
}
@media (min-width: 600px) {
  .smp-page .smp-products_list .smp-product {
    grid-template-columns: auto 100px;
    grid-template-rows: auto auto;
  }
  .smp-page .smp-products_list .smp-product .form-field--product-price, .smp-page .smp-products_list .smp-product .form-field--product-total {
    grid-column: 2/3;
  }
  .smp-page .smp-products_list .smp-product .form-field--product-price label,
  .smp-page .smp-products_list .smp-product .form-field--product-price span, .smp-page .smp-products_list .smp-product .form-field--product-total label,
  .smp-page .smp-products_list .smp-product .form-field--product-total span {
    text-align: right;
  }
  .smp-page .smp-products_list .smp-product .form-field--product-price span, .smp-page .smp-products_list .smp-product .form-field--product-total span {
    justify-content: end;
  }
  .smp-page .smp-products_list .smp-product .form-field--product-total {
    grid-row: 2/3;
  }
}
.smp-page .smp-products_new {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 12px 12px;
  background: rgba(63, 81, 181, 0.25);
  color: #3f51b5;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
}
.smp-page .smp-products_new:hover {
  background: rgba(63, 81, 181, 0.35);
}
.smp-page .smp-products_new:active {
  background: rgba(63, 81, 181, 0.6);
}
.smp-page .smp-products_recommendations {
  font-size: 0.9rem;
  margin: 1rem 0 0 0.5rem;
}
.smp-page .smp-products_recommendations ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
}
.smp-page .smp-products_recommendations ul a {
  color: #596bd0;
}
.smp-page .smp-setup .form-field--setup-discount {
  display: grid;
  grid-template-columns: auto 80px;
  align-items: end;
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles {
  display: flex;
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 40px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  min-width: 40px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles label:hover {
  background-color: rgba(63, 81, 181, 0.15);
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles label:has(input:checked) {
  background: #3f51b5;
  color: #fff;
  border-color: #3f51b5;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles label:first-of-type {
  border-radius: 12px 0 0 12px;
  border-right: 0;
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles label:last-of-type {
  border-radius: 0 12px 12px 0;
}
.smp-page .smp-setup .form-field--setup-discount .discount-toggles label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.smp-page .processing-fees {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.smp-page .processing-fees--active {
  display: flex;
}
.smp-page .processing-fees .multilabel {
  width: 100% !important;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.smp-page .processing-fees .multilabel span.tag {
  background-color: #f5a700;
  color: #333;
  padding: 2px 4px;
  border-radius: 6px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 14px;
  z-index: 2;
}
.smp-page .processing-fees .multilabel img {
  width: 200px;
  max-height: 142px;
  -o-object-fit: contain;
     object-fit: contain;
  left: 40px;
  top: 4px;
  order: -1;
}
@media (min-width: 1000px) {
  .smp-page .processing-fees .multilabel {
    width: 100% !important;
    position: relative;
    padding-top: 1rem !important;
    padding-right: 208px !important;
    height: 150px;
    justify-content: center;
    overflow: hidden;
  }
  .smp-page .processing-fees .multilabel span.tag {
    right: unset;
    left: 2.2rem;
  }
  .smp-page .processing-fees .multilabel img {
    width: 200px;
    max-height: 142px;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    left: unset;
    right: 0.5rem;
    top: 4px;
  }
}
.smp-page .submit-form {
  padding: 1rem;
  background-color: #3f51b5;
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2) inset;
}
.smp-page .submit-form:hover {
  background-color: #4d5ec1;
}
.smp-page .submit-form:active {
  background-color: #3849a2;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
@media (min-width: 600px) {
  .smp-page .submit-form {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=smp-crud.css.map */