$transition: all 0.3s ease-in-out;
$w-yellow: #f5a700;
$w-indigo: #3f51b5;
$w-green: #43a047;
$w-gray: #c6c6c6;
$w-gray-light: #f2f2f2;

@import "misc";
@import "autocomplete";

.smp-page {
	color: #333;
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
	padding: 0;
	margin: 0;

	// overflow-x: hidden;

	@media (min-width: 1000px) {
		overflow-x: unset;
	}

	header {
		width: 100vw;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		box-shadow: 0 0 10px 0 rgba($w-indigo, 0.25);
		display: flex;
		justify-content: center;

		nav {
			width: min(90%, 1280px);
			height: 100%;
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 1rem;
			position: relative;

			a {
				font-size: 14px;
				color: $w-indigo;
				display: flex;
				align-items: center;
				grid-area: 8px;
				text-decoration: none;
				padding: 0.5rem;
				border-radius: 12px;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: rgba($w-indigo, 0.15);
				}

				img {
					width: 20px;
					height: 20px;
					object-fit: contain;
				}
			}

			#menu {
				position: absolute;
				right: 0;
			}

			span {
				font-weight: 700;
				font-size: 18;
			}
		}
		@media (min-width: 1000px) {
			#menu {
				display: none;
			}
		}
	}

	#main {
		margin-top: 6rem;
		section {
			margin-bottom: 64px;
		}

		@media (min-width: 1000px) {
			display: grid;
			width: min(90%, 1280px);
			grid-template-columns: 1fr 1fr;
			gap: 4rem;
		}
	}

	h2 {
		font-size: 16px !important;
		margin-top: 0;
		margin-bottom: 8px;
		font-weight: 700;
	}

	.smp-crud {
		padding: 0 2rem;
		label {
			position: relative;

			input:focus-visible,
			input:active:checked {
				& + .multilabel {
					box-shadow: 0 0 0 4px rgba($w-indigo, 0.5);
				}
			}

			input:invalid {
				& + .multilabel {
					box-shadow: 0 0 0 4px rgba(red, 0.5);
					border-color: red;
				}
			}

			.multilabel {
				background: transparent;
				border: 2px solid $w-gray;
				color: $w-indigo;
				font-weight: 500;
				border-radius: 12px;
				padding: 1rem 20px 1rem 2.3rem;
				position: relative;
				width: fit-content;
				display: flex !important;
				flex-direction: column;
				transition: $transition;

				span:first-of-type {
					font-weight: 700;
				}

				&:before,
				&:after {
					content: "";
					width: 16px;
					height: 16px;
					border-radius: 50%;
					position: absolute;
					top: calc(50% - 8px);
					left: 10px;
				}
				&:before {
					outline: 2px solid $w-gray;
					background: #fff;
					z-index: 1;
				}
				&:after {
					width: 20px;
					height: 20px;
					top: calc(50% - 10px);
					left: 8px;
					transform: scale(0);
					transition: $transition;
					background: $w-indigo;

					z-index: 2;
				}
			}

			input {
				appearance: none;
				all: unset;
			}

			input:checked + .multilabel {
				border-color: $w-indigo;
				&:after {
					transform: scale(1);
				}
			}
		}

		[type="radio"]:not(:checked),
		[type="radio"]:checked {
			opacity: 1;
		}

		.smp-type-selection {
			&__wrapper {
				display: flex;
				flex-direction: column;
				gap: 2rem;

				@media (min-width: 600px) {
					flex-direction: row;
				}
			}
		}

		.add_item {
			svg {
				color: $w-indigo;
				width: 12px;
				height: 12px;
				margin-right: 4px;
			}
		}

		@media (min-width: 1000px) {
			padding: 0;
		}
	}

	.smp-summary {
		position: absolute;
		top: 50px;
		height: calc(100vh - 50px);
		width: 100%;
		z-index: 50;
		right: 0;
		transform: translateX(100%);
		transition: all 0.3s ease-in-out, background-color 0.6s ease-in-out;
		background-color: transparent;
		backdrop-filter: blur(2px);
		display: flex;
		opacity: 0;
		justify-content: center;
		visibility: hidden;

		&.open {
			background-color: rgba(black, 0.5);
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}

		&-box {
			background: #fff;
			border-radius: 12px;
			padding: 1rem;
			height: fit-content;
			position: sticky;
			top: 64px;
			margin-bottom: 64px;
			width: 90%;
		}

		h2 {
			font-size: 24px !important;
			margin-bottom: 1rem;
		}

		section {
			margin-bottom: 20px;

			h3 {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 20px;
				border-bottom: 1px dotted rgba(black, 0.8);
			}
			h4 {
				font-size: 16px;
				margin-top: 0;
				margin-bottom: 5px;
			}
			h5 {
				font-size: 14px;
				margin-top: 0;
				margin-bottom: 5px;
				font-weight: normal;
			}
			p {
				margin-top: 0;
				margin-bottom: 5px;
				font-size: 16px;
			}
		}

		// Style for product details
		.summary__products > div {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #ddd;
			padding: 5px 0;

			&:last-child {
				border-bottom: none;
			}

			// Style for table header

			h5 {
				width: 20%;
				text-align: left;
				font-weight: bold;
			}

			// Style for table data

			p {
				width: 20%;
				text-align: right;
				font-weight: normal;
			}
		}

		.summary__client > div,
		.summary__smp-type > div {
			display: flex;
			justify-content: space-between;
			padding: 5px 0;
		}

		.summary__products {
			h4 {
				min-width: 150px;
			}
			& > div {
				&:nth-of-type(2n) {
					background-color: #fff !important;
				}
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}

			th,
			td {
				border: 1px solid #ddd;
				text-align: left;
				padding: 8px;
			}

			th {
				background-color: #f2f2f2;
				font-weight: bold;
			}

			tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			tr:hover {
				background-color: #ddd;
			}
		}

		.summary__setup > div {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #ddd;
			padding: 5px 0;

			h4 {
				font-style: italic;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.summary__smp-sum {
			h4 {
				text-align: right;
			}
		}

		@media (min-width: 1000px) {
			height: 100%;
			position: initial;
			transform: translateX(0) !important;
			background: none;
			opacity: 1;
			justify-content: center;
			visibility: visible;

			&.open {
				background: none;
			}

			&-box {
				background: $w-gray-light;
				border: 1px solid $w-gray;
			}
		}
	}

	.smp-modal {
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		transition: $transition;
		width: 100%;
		height: 100%;
		z-index: 100;
		visibility: hidden;

		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: center;

		h3 {
			color: $w-indigo;
			text-align: center;
		}

		&_close {
			position: absolute;
			top: 24px;
			right: 16px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 0;
			font-weight: bold;
			color: #888;
			cursor: pointer;
		}

		&_overlay {
			background: hsla(0, 0, 0%, 0.5);
			z-index: -1;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: blur(4px);
		}

		&_wrapper {
			position: relative;
			z-index: 2;
			width: min(80%, 600px);
			height: fit-content;
			max-height: min(80%, 600px);
			overflow-x: hidden;
			overflow-y: auto;
			background-color: #fff;
			padding: 1rem;
			border-radius: 12px;
			box-shadow: 0 0 20px hsla(0, 0, 0%, 0.1);
			transform: translateY(10%);
			transition: $transition;
			form {
				display: flex;
				flex-direction: column;
			}
		}

		&.smp-modal--open {
			pointer-events: all;
			opacity: 1;
			visibility: visible;

			.smp-modal_wrapper {
				transform: translateY(0);
			}
		}

		input[type="submit"] {
			align-self: flex-end;
			width: fit-content;
			display: flex;
			background: $w-indigo !important;
			border: none !important;
			color: #fff;
			padding: 2px 0.8rem;

			&:hover {
				background: lighten($w-indigo, 5%) !important;
			}

			&:active {
				background: darken($w-indigo, 5%) !important;
			}
		}

		&#modal-client {
			.form-field--phone {
				@media (min-width: 600px) {
					display: grid;
					grid-template-columns: 200px auto;
					grid-template-rows: auto;
					gap: 0.5rem;

					label {
						grid-row: 1 / 2;
						grid-column: 1 / 3;
					}

					#mclient_phone--country {
						grid-row: 2 / 3;
						grid-column: 1 / 2;
					}
					#mclient_phone {
						grid-row: 2 / 3;
						grid-column: 2 / 3;
					}
				}
			}
		}

		&#modal-product {
			.product-section {
				margin-bottom: 1rem;

				.switch {
					margin-bottom: 2rem;
				}

				.form-field__custom_period {
					display: grid;
					grid-template-columns: 100px 100px;
					align-items: end;
				}
			}
			.product-section:first-of-type {
				.form-field__img {
					grid-area: i;
					width: 120px;
					overflow: hidden;

					img {
						width: 120px;
						height: 120px;
						background: #f1f1f1;
					}

					.file-upload {
						padding: 5px 10px;
						background: #f1f1f1;
						border: 1px dotted #c6c6c6;
						position: relative;
						color: $w-indigo;
						border-radius: 2px;
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;

						width: 120px;
						height: 120px;
						cursor: pointer;
					}
					input {
						position: absolute;
						z-index: 1000;
						opacity: 0;
						cursor: pointer;
						right: 0;
						top: 0;
						height: 100%;
						font-size: 24px;
						width: 100%;
					}
				}
				@media (min-width: 48em) {
					display: grid;
					grid-template-areas:
						"n n i"
						"p q i"
						"d t tt";
					gap: 0.5rem 1rem;

					.form-field__name {
						grid-area: n;
					}

					.form-field__price {
						grid-area: p;
					}
					.form-field__qty {
						grid-area: q;
					}
					.form-field__discount {
						grid-area: d;
					}
					.form-field__tax {
						grid-area: t;
					}
					.form-field__total {
						grid-area: tt;
					}
					input[type="submit"] {
						grid-area: submit;
					}
				}
			}
		}
	}

	.smp-products {
		&_list {
			.smp-product {
				display: grid;
				grid-template-columns: 1fr;
				gap: 0.5rem;
				border: 1px solid $w-gray;
				border-top: 0;
				padding: 10px;
				position: relative;

				&:nth-of-type(2n + 2) {
					background-color: $w-gray-light;
				}

				&:first-of-type {
					.smp-product_close {
						display: none;
					}
				}

				&:not(:first-of-type) {
					.smp-product_close {
						position: absolute;
						right: -30px;
						top: 6px;
						width: 30px;
						height: 40px;
						border-radius: 0 12px 12px 0;
						background-color: #fff;
						border: 1px solid $w-gray;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;

						i {
							color: #999;
						}

						&:hover {
							background-color: $w-gray-light;
							i {
								color: rgb(219, 38, 38);
							}
						}
					}
				}

				.form-field {
					margin-bottom: 0;
					&--product {
						&-price,
						&-total {
							display: flex;
							flex-direction: column;
							gap: 0.25rem;

							span {
								font-weight: 700;
								color: #666;
								height: 40px;
								display: flex;
								align-items: center;
								width: 100%;
							}
						}
					}
				}

				.form-group {
					display: inline-flex;
					gap: 0.5rem;
				}
			}
			@media (min-width: 600px) {
				.smp-product {
					grid-template-columns: auto 100px;
					grid-template-rows: auto auto;

					.form-field {
						&--product {
							&-price,
							&-total {
								grid-column: 2 /3;

								label,
								span {
									text-align: right;
								}
								span {
									justify-content: end;
								}
							}
							&-total {
								grid-row: 2 / 3;
							}
						}
					}
				}
			}
		}

		&_new {
			width: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 0 0 12px 12px;
			background: rgba($w-indigo, 0.25);
			color: $w-indigo;
			padding: 0.5rem;
			font-size: 1rem;
			border: 0;

			&:hover {
				background: rgba($w-indigo, 0.35);
			}

			&:active {
				background: rgba($w-indigo, 0.6);
			}
		}

		&_recommendations {
			font-size: 0.9rem;
			margin: 1rem 0 0 0.5rem;

			ul {
				display: inline-flex;
				list-style-type: none;
				margin: 0;
				padding: 0;
				gap: 0.5rem 1rem;
				flex-wrap: wrap;

				a {
					color: #596bd0;
				}
			}
		}
	}

	.smp-setup {
		.form-field--setup-discount {
			display: grid;
			grid-template-columns: auto 80px;
			align-items: end;
			.discount-toggles {
				display: flex;

				label {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem;
					height: 40px;
					font-weight: 700;
					background-color: #fff;
					border: 1px solid #c6c6c6;
					min-width: 40px;
					text-align: center;
					cursor: pointer;
					transition: all 0.2s ease-in-out;

					&:hover {
						background-color: rgba($w-indigo, 0.15);
					}

					&:has(input:checked) {
						background: $w-indigo;
						color: #fff;
						border-color: $w-indigo;
						box-shadow: 0 0 6px rgba(black, 0.2) inset;
						text-shadow: -1px -1px 0px rgba(black, 0.2);
					}

					&:first-of-type {
						border-radius: 12px 0 0 12px;
						border-right: 0;
					}

					&:last-of-type {
						border-radius: 0 12px 12px 0;
					}

					input {
						appearance: none;
					}
				}
			}
		}
	}
	.processing-fees {
		display: none;
		flex-direction: column;
		gap: 1rem;
		&--active {
			display: flex;
		}

		width: 100%;

		.multilabel {
			width: 100% !important;
			position: relative;
			height: fit-content;
			display: flex;
			justify-content: center;
			overflow: hidden;

			span.tag {
				background-color: $w-yellow;
				color: #333;
				padding: 2px 4px;
				border-radius: 6px;
				position: absolute;
				top: 1rem;
				right: 1rem;
				font-size: 14px;
				z-index: 2;
			}

			img {
				width: 200px;
				max-height: 142px;
				object-fit: contain;
				left: 40px;
				top: 4px;
				order: -1;
			}
		}

		@media (min-width: 1000px) {
			.multilabel {
				width: 100% !important;
				position: relative;
				padding-top: 1rem !important;
				padding-right: 208px !important;
				height: 150px;
				justify-content: center;
				overflow: hidden;

				span.tag {
					right: unset;
					left: 2.2rem;
				}

				img {
					width: 200px;
					max-height: 142px;
					object-fit: contain;
					position: absolute;
					left: unset;
					right: 0.5rem;
					top: 4px;
				}
			}
		}
	}

	.submit-form {
		padding: 1rem;
		background-color: $w-indigo;
		color: #fff;
		border: 0;
		border-radius: 8px;
		font-size: 1rem;
		width: 100%;
		margin-bottom: 2rem;
		text-shadow: -1px -1px 0px rgba(black, 0.2);
		box-shadow: 0 -1px 2px rgba(black, 0.2) inset;

		&:hover {
			background-color: lighten($w-indigo, 5%);
		}

		&:active {
			background-color: darken($w-indigo, 5%);
			box-shadow: 0 0 6px rgba(black, 0.2) inset;
		}
	}

	@media (min-width: 600px) {
		.submit-form {
			width: fit-content;
		}
	}
}
