
h3 {
    font-family: "Oswald" !important;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 45px;
}
strong {
    font-weight: 600;
}

ul {
    padding-left: 16px;
    li {
        list-style-type: disc;
    }
}


.content--cta {
    display: inline-flex;
    align-items: center;
    float: left;
    width: fit-content;
    position: relative;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-transform: uppercase;

    &.oswald{
        font-family: "Oswald" !important;
    }
    &:hover {
        opacity: 0.8;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }

    &:before {
        content: "";
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
        background: #fff;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
    i {
        margin-left: 8px;
    }
}

.bullet-list{
    ul{
        list-style-type: disc !important;
        padding-left: 16px !important;
    }
    li{
        list-style-type: disc !important;
    }
}