h3{font-family:"Oswald" !important;font-size:50px;line-height:70px;margin-bottom:45px}strong{font-weight:600}ul{padding-left:16px}ul li{list-style-type:disc}.content--cta{display:inline-flex;align-items:center;float:left;width:fit-content;position:relative;transition:all 0.3s ease-in-out;color:#fff;text-transform:uppercase}.content--cta.oswald{font-family:"Oswald" !important}.content--cta:hover{opacity:0.8}.content--cta:hover:before{width:100%}.content--cta:before{content:"";width:0%;height:2px;position:absolute;bottom:-2px;left:0;background:#fff;z-index:1;transition:all 0.3s ease-in-out}.content--cta i{margin-left:8px}.bullet-list ul{list-style-type:disc !important;padding-left:16px !important}.bullet-list li{list-style-type:disc !important}
/*# sourceMappingURL=_misc.css.map */
