@import "misc";

$amarelo: #f4c713;
$azul: #24478f;
$azul-escuro: #122857;
$verde: #15a266;
// $cinza: #f8faff;
$cinza: #eef2f3;

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

%section-inline-center {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 22px;

    @media screen and (max-width: 1400px) {
        font-size: 18px;
        .content--cta {
            font-size: 22px;
        }
        h3 {
            font-size: 40px;
            line-height: 55px;
        }
    }
}

a {
    color: $azul;
}

.wrapper {
    width: 100%;
    max-width: 1640px;
}

header {
    height: 120px;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 0 16px;
    display: inline-flex;
    justify-content: center;
    font-size: 18px;

    @media screen and (max-width: 1300px) {
        height: 100px;
        font-size: 16px;
        .menu ul li {
            margin-right: 8px !important;
        }
    }

    a {
        color: #666;
    }

    .wrapper {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        height: 90px;

        @media screen and (max-width: 600px) {
            max-width: 250px;
        }

        &:hover {
            opacity: 0.9;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu {
        transition: all 0.3s ease-in-out;
        .btn-mobile-menu {
            // background: $amarelo;
        }
        .btn-mobile-menu,
        .btn-mobile-close-menu {
            height: 64px;
            width: 64px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .btn-mobile-close-menu {
            position: fixed;
            top: 20px;
            right: 16px;
        }
        @media screen and (min-width: 992px) {
            .btn-mobile-close-menu,
            .btn-mobile-menu {
                display: none;
            }
        }

        @media screen and (max-width: 992px) {
            &.show-menu {
                &:before {
                    opacity: 1;
                    pointer-events: all;
                }
                ul {
                    pointer-events: all;
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
            &:before {
                content: "";
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: rgba(black, 0.8);
                top: 0;
                right: 0;
                z-index: 50;
                opacity: 0;
                transform: translateX(0%);
                pointer-events: none;
                transition: all 0.3s ease-in-out;
            }
            ul {
                transition: all 0.3s ease-in-out;
                position: fixed;
                width: 85vw;
                height: 100vh;
                background: #fff;
                box-shadow: -10px 0 10px rgba(black, 0.1);
                top: 0;
                right: 0;
                z-index: 100;
                opacity: 0;
                pointer-events: none;
                flex-direction: column;
                padding: 50px 0 0 32px !important;
                transform: translateX(105%);

                li {
                    margin-bottom: 32px;
                    a {
                        // padding: 16px 0 !important;
                    }
                }
            }
        }
        ul {
            display: inline-flex;
            align-content: center;
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                margin-right: 16px;
                &:last-of-type {
                    margin-right: 0px;
                }

                a {
                    padding: 16px;
                    border-radius: 4px;

                    &:hover:not(.header-cta) {
                        background: rgba(black, 0.1);
                    }
                    &.header-cta {
                        background: linear-gradient(90deg, $amarelo 0%, $amarelo 40%, $azul 40%, $azul 100%);
                        background-size: 400%;
                        background-position: 0 0;
                        transition: all 0.3s ease-in-out;
                        color: #333;
                        &:hover {
                            background-position: -40% 0;
                            color: #fff;
                            // background: lighten($amarelo, 15%);
                        }
                    }
                }
            }
        }
    }
}

section.carrousel {
    float: left;
    width: 100%;
    height: 750px;
    overflow: hidden;
    background: $azul;
    position: relative;

    @media screen and (max-width: 1300px) {
        height: 550px;
        .noticia-content {
            height: 550px !important;
        }
        .content--cta {
            font-size: 20px !important;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1400px) {
        .noticia {
            &-content {
                a h2 {
                    font-size: 50px !important;
                }
            }
            h5 {
                font-size: 22px;
            }
            &-lermais,
            &-blurb {
                font-size: 18px;
            }
        }
    }

    @media screen and (min-width: 600px) and (max-width: 992px) {
        .noticia {
            &:before {
                width: 100vw !important;
                height: 60% !important;
                bottom: 0;
                top: unset !important;
            }

            &-content {
                justify-content: flex-end !important;
                padding-bottom: 80px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        height: 450px;
        .noticia-content {
            height: 450px !important;
        }
        .noticia {
            &:before {
                width: 100vw !important;
                height: 100% !important;
                bottom: 0;
                top: unset !important;
            }

            &-content {
                justify-content: flex-end !important;
                padding-bottom: 80px;
                a h2 {
                    font-size: 40px !important;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        width: fit-content;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 100vw);

        .noticia {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: inline-flex;
            justify-content: center;
            &:before {
                content: "";
                width: 50vw;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $azul;
                opacity: 0.9;
                z-index: 1;
            }

            // &:before{
            //     background: $azul;
            //     opacity: .8;
            //     z-index: 1;
            //     mix-blend-mode: overlay;
            // }

            // &:after{
            //     background: $azul;
            //     opacity: 1;
            //     z-index: 0;
            // }

            &-bg {
                object-fit: cover;
                height: 100%;
                width: 100%;
                z-index: 0;
                position: absolute;
            }

            .wrapper {
                z-index: 1;
                .row {
                    margin-bottom: 0;
                }
            }

            &-content {
                height: 750px;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                z-index: 2;

                text-transform: uppercase;

                a {
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        opacity: 0.8;
                    }
                    color: #fff;
                    h2 {
                        font-family: "Oswald";
                        font-size: 60px;
                    }
                }
            }
        }
    }
}
.carrousel-btns {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 15px;
    position: relative;
    bottom: 40px;
    left: 0;
    z-index: 5;
    padding: 0 8px;

    .wrapper {
        display: inline-flex;
        align-items: flex-end;
    }

    .c-btn {
        display: block;
        float: left;
        width: 120px;
        margin-right: 16px;
        height: 8px;
        background: $amarelo;
        transition: all 0.3s ease-in-out;

        &:hover:not(.active) {
            height: 11px;
        }

        &.active {
            height: 16px;
        }
    }
}

section.sobre {
    @extend %section-inline-center;
    background: $cinza;
    color: $azul-escuro;
    margin-top: -33px;
    padding: 140px 0;
}

section.sejasocio {
    @extend %section-inline-center;
    position: relative;
    background: #fff;
    color: $azul-escuro;
    padding: 140px 0;

    &.sem-fundo {
        &:before {
            content: unset !important;
        }
    }

    .sejasocio-logo {
        overflow: hidden;
        height: 670px;
        width: 1000px;
        position: absolute;
        right: -10%;
        top: 0;
        pointer-events: none;
        img {
            filter: invert(100);
            opacity: 0.1;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1300px) {
        .sejasocio-logo {
            height: 550px;
            width: 800px;
        }
    }

    @media screen and (max-width: 992px) {
        &.sem-fundo{
            padding-bottom: 300px !important;
        }
        .sejasocio-logo {
            height: 300px;
            width: 600px;
            bottom: 0;
            top: unset;
        }
    }

    @media screen and (min-width:600px) and (max-width: 992px) {
        &:before {
            width: 95vw !important;
            height: calc(50% + 150px) !important;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 992px) {
        .sejasocio-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    @media screen and (max-width: 600px) {
        &:before {
            width: 100vw !important;
            height: 50% !important;
            top: 0px !important;
        }

        .sejasocio-links {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }

    &:before {
        content: "";
        width: 50vw;
        height: calc(100% + 100px);
        position: absolute;
        top: -100px;
        left: 0;
        background: $amarelo;
        z-index: 0;
    }

    .wrapper {
        z-index: 1;
    }

    .content--cta {
        color: $azul-escuro;
        font-size: 30px;
        &:before {
            background: $azul-escuro;
        }
    }

    .sejasocio-links {
        font-family: "Oswald" !important;
        text-transform: uppercase;
        font-size: 30px;
        padding-top: 100px;

        @media screen and (min-width: 993px) and (max-width: 1300px) {
            padding-top: 40px;
        }

        li {
            margin-bottom: 24px;
            a {
                display: inline-flex;
                align-items: center;
                &:hover {
                    color: $verde;
                }
            }
        }

        i {
            font-size: 60px;
            margin-right: 16px;
        }
    }
}

section.feednoticias, section.listanoticias {
    @extend %section-inline-center;
    position: relative;
    background: #fff;
    color: $azul-escuro;
    padding: 140px 0;

    .feedrss {
        width: 100%;
        border: 1px solid rgba(black, 0.1);
        background: #f0f5f7;
        max-height: 400px;
        overflow-y: auto;


        ul{
            margin: 0;
            padding: 0;
            li{
                padding: 8px;
                &:nth-of-type(2n+1){
                    background: #fff;
                }

                a{
                    margin-bottom: 0;
                }
                p{
                    padding: 0;
                    margin: 0;
                    font-size: .8em;
                    i{
                        font-size: .9em;
                    }
                }
                time{
                    font-size: .8em;
                    color: #666;
                    display: inherit;
                }
            }
        }
    }

    .content--cta {
        color: $azul-escuro;
        text-align: center;
        @media screen and (max-width: 992px) {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width: 600px){
        
        .title-search{
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;

            form{
                display: inline-flex;
                max-width: 300px;
                input{
                }
                margin: 1.9466666667rem 0 35px 0;
                button{
                    
                    width: 50px;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .title-search{
            width: 100%;

            h3{
                margin-bottom: 16px;
            }
    
            form{
                width: 100%;
                display: inline-flex;
                margin-bottom: 30px;
                input{
                    max-width: calc(100% - 44px);
                }
                button{
                    width: 40px;
            
                }
            }
        }
    }

    .title-search{
        button{
            margin-left: 4px;
            display: inline-flex;
        }
    }
}

section.listanoticias{
    padding: 0 0 140px 0 !important;
}

.noticias {
    width: 100%;
    .noticia {
        margin-bottom: 32px;
        float: left;
        a {
            transition: all 0.3s ease-in-out;
        }
        img {
            width: 100%;
            &:hover {
                opacity: 0.9;
            }
        }
        &-titulo {
            margin: 0;
            font-weight: 500;

            &:hover {
                opacity: 0.8;
            }
        }

        &-data {
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
            width: 100%;
        }

        &-blurb {
            font-size: 20px;
            color: #333;
        }

        &-lermais {
            float: right;
            margin-top: 8px;
            font-size: 20px;
            text-align: right;
            padding: 4px 0;
            border-radius: 6px;
            position: relative;
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                content: "";
                width: 0%;
                height: 3px;
                position: absolute;
                bottom: 0px;
                left: 0;
                background: $amarelo;
                z-index: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

section.convenios {
    @extend %section-inline-center;
    position: relative;
    background: $cinza;
    color: $azul-escuro;
    padding: 120px 24px;
    text-align: center;

    ul {
        width: fit-content;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        li {
            padding: 32px;
            display: inline-flex;
            align-items: center;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                opacity: 0.8;
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
            img {
                max-height: 64px;
                max-width: 160px;
            }
        }
    }
}

section.page-content {
    @extend %section-inline-center;
    padding-bottom: 140px;

    ul{
        list-style-type: disc !important;
        padding-left: 16px !important;
    }
    li{
        list-style-type: disc !important;
    }

    .page-header {
            margin-bottom: 45px;
        &.noticia{
            margin-bottom: 0px;
        }
        .page-title {
            color: $azul-escuro;
            margin-bottom: 0px;
        }
        .page-data {
            font-size: 18px;
            color: #555;
            font-style: italic;
        }
    }

    .page-cover {
        float: left;
        width: 100%;
        text-align: center;
        figcaption {
            width: 95%;
        }
        img {
            width: 95%;
        }
    }

    figure {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 24px 0;
        figcaption {
            text-align: left;
            width: 75%;
            font-size: 16px;
            color: #666;
        }
        a {
            text-align: center;
        }
    }
    img {
        width: 75%;
        border-radius: 4px;
    }

    .page-main-content {
        font-size: 18px;
        line-height: 150%;
    }

    &.gallery{
        .page-main-content{
            display: grid;
            grid-template-columns: repeat(4, 25%);
        }
        figure{
            float: left;
            width: 100%;
            padding: 8px;
            margin: 0;
            position: relative;
            overflow: hidden;
            

            // &:nth-of-type(1){
            //     grid-row-start: 1;
            //     grid-row-end: 3;
            //     img{
            //         max-height: 298px;
            //     }
            // }

            // grid-

            &:nth-of-type(2n + 1){
                grid-column: 3 / 5;
            }
            &:nth-of-type(2n){
                grid-column: 1 / 3;
            }
            &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5){
                img{
                    max-height: 137px;
                }
            }
            &:nth-of-type(1){
                grid-column: 1 / 3;
                grid-row: 1 / 3;
                
            }

            &:nth-of-type(2){
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            &:nth-of-type(3){
                grid-column: 4 / 5;
                grid-row: 1 / 2;
            }
            &:nth-of-type(4){
                grid-column: 3 / 4;
                grid-row: 2 / 3;
            }
            &:nth-of-type(5){
                grid-column: 4 / 5;
                grid-row: 2 / 3;
            }

            img{
                width: 100% !important;
            }
            figcaption{
                width: 100%;
                padding: 8px 16px;
                background: rgba(white, 0.9);
                border-radius: 0 0 6px 6px;
                position: absolute;
                bottom: -50%;
                z-index: 1;
                opacity: 0;
                transition: all .3s ease-in-out;
            }

            &:hover, &:focus-within, &:focus-visible{
                figcaption{
                    bottom: 8px;
                    opacity: 1;
                }
            }

            
        }
    }
}

section.beneficios {
    @extend %section-inline-center;
    color: $amarelo;
    background: $azul;
    position: relative;
    padding: 140px 0;

    &:before {
        content: "";
        width: 50vw;
        height: 100px;
        position: absolute;
        top: -100px;
        left: 0;
        background: $azul-escuro;
        z-index: 0;
    }

    h3,
    span {
        color: #fff;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 160px 80px;
        float: left;
        width: 100%;

        @media screen and (max-width: 600px){
            padding: 0 2rem;
            grid-template-columns: 1fr !important;
            margin-left: 1rem;
        }

        li {
            position: relative;

            span {
                opacity: 0.2;
                position: absolute;
                left: -30px;
                bottom: 0;
                font-size: 100px;
                font-family: "Oswald";
                font-weight: 600;
            }
        }
    }
}

section.propostas {
    @extend %section-inline-center;
    padding: 140px 0;
    color: $azul-escuro;

    h4 {
        font-size: 30px;
        font-weight: 500;
    }

    ul {
        padding-left: 24px;
        li {
            list-style-type: disc !important;
            margin-bottom: 16px;
        }
    }

    .propostas-btns {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 120px;
        @media screen and (max-width: 600px) {
            a{
                flex-direction: column;
                i{
                    font-size: 3rem;
                }
            }
        }
        @media screen and (max-width: 992px) {
            padding-top: 20px !important;
        }
        @media screen and (max-width: 1100px) {

            a{
                font-size: 24px !important;
            }
        }
        a {
            width: 100%;
            height: 200px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 500;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(0deg, $amarelo 0%, $amarelo 50%, darken($amarelo, 5%) 50%, darken($amarelo, 5%) 100%);
            background-size: 1px 400px;
            background-position: 1px 100%;
            color: #333;
            transition: all .3s ease-in-out;
            border-radius: 4px;
            &:hover{
                background-position: 1px 0%;
            }
            
            &:last-of-type {
                background: linear-gradient(0deg, $azul 0%, $azul 50%, darken($azul, 5%) 50%, darken($azul, 5%) 100%);
                background-size: 1px 400px;
                background-position: 1px 100%;
                color: #fff;
                margin-top: 24px;
                &:hover{
                    background-position: 1px 0%;
                }
            }
            i {
                margin-right: 16px;
            }

        }
    }
}

section.ficha{
    @extend %section-inline-center;
    padding: 140px 0;
}

footer {
    @extend %section-inline-center;
    position: relative;
    padding: 200px 0 140px 0;
    border-bottom: 10px solid $amarelo;
    color: rgba(white, 0.8);
    background: $azul;
    font-size: 18px;
    .wrapper {
        padding: 0 16px;
        display: grid;
        grid-template-columns: 250px 30% auto;
    }

    @media screen and (max-width: 600px) {
        .wrapper {
            grid-template-columns: 1fr;
            .footer-nav {
                text-align: center;
                margin-top: 50px;
                padding-left: 0;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100vw;
                    height: calc(100% + 30px);
                    background: rgba(black, 0.1);
                    left: -16px;
                    top: -20px;
                    z-index: 0;
                }
            }
        }
    }

    @media screen and (min-width: 600px) and (max-width: 992px) {
        .wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: fit-content fit-content;
            grid-gap: 16px;
            padding: 0 40px;

            .footer-nav {
                padding-left: 0;
            }
            .footer-contato {
                width: 100%;
                grid-column: 1 / 3;
            }
        }
    }

    .footer-logo {
        display: inline-flex;
        justify-content: center;
        img {
            min-width: 250px;
        }
    }
    .footer-nav {
        padding-left: 60px;
        float: left;
        width: 100%;
        li {
            margin-bottom: 16px;
            a {
                color: rgba(white, 0.7);
                &:hover {
                    color: $amarelo;
                    font-weight: 500;
                }
            }
        }
    }
    .footer-contato {
        display: inline-flex;
        flex-direction: column;
        align-self: flex-start;
        ul {
            float: left;
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            @media screen and (min-width: 992px) {
                margin-bottom: 0px !important;
            }
            @media screen and (min-width: 1300px) {
                width: 60%;
            }
            li {
                display: inline-flex;
                align-items: center;
                margin-bottom: 16px;
                a {
                    color: $amarelo;
                }
                &:first-of-type {
                    align-items: flex-start;
                }
                &:last-of-type {
                    a {
                        @media screen and (min-width: 992px) {
                            color: #fff;
                        }
                    }
                }
                i {
                    margin-right: 16px;
                    color: $amarelo;
                }
            }
        }

        &--social{
            margin-bottom: 0px !important;
            a{
                margin-right: 12px;
                width: 40px;
                opacity: .8;
                &:hover{
                    opacity: 1;
                }
                img{
                    width: 100%;
                    filter: invert(1);
                }
            }
        }
        .newsletter {
            width: 70%;
            align-self: flex-end;
            @media screen and (max-width: 600px) {
                width: 100%;
                form {
                    grid-template-columns: 1fr !important;
                    grid-template-rows: 1fr 1fr;
                    input {
                        width: 100%;
                        border-radius: 4px !important;
                    }
                }
            }
            @media screen and (min-width: 992px) {
                max-width: 520px;
            }
            @media screen and (max-width: 1300px) {
                width: 90%;
            }
            @media screen and (max-width: 1100px) {
                width: 100%;
            }
            label {
                color: #fff;
                font-size: 18px;
            }
            form {
                display: grid;
                grid-template-columns: auto minmax(184px, 35%);
            }
            input {
                border: 1px solid #e5e5e5 !important;
                border-radius: 4px 0 0 4px !important;
                padding: 0px 14px 0px !important;
                height: 45px !important;
                background: rgba(white, 0.1) !important;
                color: #fff !important;
                &:focus {
                    box-shadow: none !important;
                }
            }

            button {
                background: $amarelo;
                color: #333;
                border: 1px solid rgba(black, 0.1);
                border-radius: 0 4px 4px 0;
                padding: 11px;
                height: 45px;
                z-index: 1;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    section.sobre {
        padding: 50px 0;
    }
}

@media screen and (max-width: 992px) {
    section.sejasocio,
    section.feednoticias,
    section.convenios, section.ficha, section.propostas, section.beneficios {
        padding: 50px 0;
    }
    footer {
        padding: 100px 0 50px 0;
    }
}

.singlepage{
    background: $azul;
    float: left;
    width: 100vw;
    min-height: 100vh;
    display: inline-flex;
    justify-content: center;
    font-size: 20px;
    &.confirmar-dados{
        background: #e5e5e5;
        .singlepage-box{
            max-width: 1000px;
        }
        .row{
            margin-bottom: 8px;
        }
        label{
            font-size: 16px;
            color: #666;
        }
        p{
                margin-top: 0px;
                margin-bottom: 8px;
        }
    }
    &-box{
        background: #fff;
        border-radius: 8px;
        width: 90%;
        max-width: 650px;
        height: fit-content;
        margin: 10vh 0;
        color: $azul-escuro;
        padding: 50px;
        box-shadow: 0 0 20px rgba(black, .1);

        @media screen and (max-width: 600px){
            padding: 24px;
        }
        

        h5{
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 32px;
        }

        .logo{
            text-align: center;
            img{
                width: 280px;
            }

        }
        ul{
            li{
                margin-bottom: 16px;
            }
        }

        a{
            font-weight: 600;
            color: #122857;
            text-align: center;
            &.back-btn{
                width: 100%;
                float: left;
                margin-top: 50px !important;
            }
        }
    }
}


// Forms
form{

    .input-field>label:not(.label-icon).active{
        transform: translateY(-18px) scale(0.9) !important;
    }
    .input-field.col label {
        left: 24px;
    }
    input{
        border: 1px solid rgba(black, 0.1) !important;
        border-radius: 4px !important;
        padding: 4px 4px 4px 12px !important;
        &:focus:not([readonly]){
            box-shadow: 0 1px 0 0 $azul !important;
        }
    }
    
    .dropdown-content li>a, .dropdown-content li>span{
        color: $azul !important;
    }
    
    .select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup{
        color: #9e9e9e !important;
    }
    
    .select-wrapper{
        input{
            color: #9e9e9e;
        }
    }

    button{
        background: $amarelo;
        color: #333;
        padding: 16px;
        border: none;
        border-radius: 4px;
        &:active, &:focus{
            background: darken($amarelo, 10%);
        }
    }
}

.pagination li.active{
    background-color: $azul !important;
}

.inline-flex{
    display: inline-flex;
    align-items: center;
}

.btn-floating{
    background-color: $azul;


    &:hover, &:active, &:focus-visible{
        background-color: lighten($azul, 15%);
    }
}