.banner {
	padding: 2rem 0;
	&__wrapper {
		display: inline-flex;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	img {
		width: 100%;
		max-height: 200px;
		object-fit: contain;
	}
}
