.catalog {
	background: var(--gray-1);
	padding: 2rem 0;
	h2 {
		color: var(--med-blue);
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__card {
		display: grid;
		grid-template-columns: 110px auto;
		color: #333;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		overflow: clip;

		.card__img {
			background: var(--med-blue);
			padding: 10px;
			display: inline-flex;
			align-items: center;
		}
		.card__text {
			display: flex;
			flex-direction: column;
			padding: 10px;
			gap: 8px;

			&-title {
				font-weight: 600;
			}
			p {
				font-size: 14px;
			}
		}
	}

	@media (min-width: 1200px) {
		padding: 4rem 0;
		.cards {
			display: block;
		}
	}
}
