.footer {
	padding: 2rem 0;
	&__wrapper {
		background-color: var(--yellow);
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		text-align: center;
		border-radius: 10px;
		padding: 10px;

		h2 {
			font-size: 1rem;
		}

		ul {
			margin: 0;
			padding: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
		}
	}
}
