section.lastnews {
	padding: 2rem 0;
	width: 100%;

	@media screen and (max-width: 600px) {
		h2 {
			font-size: 2.5rem !important;
			text-align: center;
		}
		.headline {
			font-size: 1.8rem !important;
			line-height: 2.5rem !important;
		}
		.categoria-tag,
		.news-card--data {
			font-size: 1.2rem !important;
			height: 30px;
			display: inline-flex;
			align-items: center;
		}

		img {
			object-fit: cover;
		}
	}

	@media screen and (max-width: 992px) {
		.news-card {
			display: flex;
			flex-direction: column-reverse;
			margin-bottom: 40px !important;
		}
	}

	@media screen and (min-width: 600px) and (max-width: 992px) {
		img {
			object-fit: cover;
			margin-bottom: 10px;
		}
	}

	@media (min-width: 1200px) {
		padding: 4rem 0;
	}

	h2 {
		font-weight: bold;
		margin: 0 0 40px 0;
	}

	.news-card {
		margin-bottom: 25px;

		a:hover {
			opacity: 0.9 !important;

			.headline {
				text-decoration: underline black 2px;
			}
		}

		img {
			border-radius: 4px;
			float: left;
			width: 100%;
			max-height: 170px;
			object-fit: cover;
		}

		.headline {
			width: 100%;
			font-weight: 500;
			margin-top: 5px;
			color: #333;
		}
		.blurb {
			color: #555;
			width: 100%;
		}
	}

	.categoria-tag {
		float: left;
		background: var(--med-blue);
		color: #fff !important;
		font-size: 0.875rem;
		text-transform: uppercase;
		padding: 4px 8px;
		font-weight: 500;
	}

	.news-card--data {
		color: #171717 !important;
		background: var(--gray-1);
		text-transform: uppercase !important;
		font-weight: 500;
		float: left;
		font-size: 0.875rem;
		position: relative;
		width: auto;
		padding: 2px 4px;
		height: 29px;
		overflow: hidden;
		display: inline-flex;
		align-items: center;
		margin-left: 8px;
		i {
			margin-right: 4px;
		}
	}

	.more_news {
		display: inline-flex;
		justify-content: center;
		width: 100%;
		text-align: center;
		margin-top: 40px;
		a {
			border: 1px solid #666;
			border-radius: 4px;
			background: #fff;
			color: #333;

			padding: 10px;
		}
	}
}

section.newslist {
	// padding: 10px;
	margin-top: 20px;
	margin-bottom: 100px;

	@media screen and (max-width: 600px) {
		margin-bottom: 50px;
		.news-card {
			display: flex;
			flex-direction: column-reverse;
			padding-bottom: 30px !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			h4 {
				font-size: 1rem !important;
				margin-bottom: 10px;
			}
		}
	}

	h1 {
		margin-bottom: 20px;
		text-align: center;
		color: var(--med-blue);
	}

	.news-card {
		float: left;
		width: 100%;
		margin-bottom: 25px;
		position: relative;
		img {
			border-radius: 4px;
			float: left;
			width: 100%;
			// max-height: 170px;
		}
		&:hover {
			&:before {
				content: "";
				position: absolute;
				top: -3%;
				left: 0;
				width: 100%;
				height: 106%;
				background: rgba(black, 0.04);
				border-radius: 4px;
				z-index: -1;
			}
		}

		.headline {
			float: left;
			font-weight: 400;
			margin-top: 5px;
			color: #333;
		}
	}

	.categoria-tag {
		float: left;
		background: var(--med-blue);
		color: #fff;
		font-weight: 500;
		font-size: 0.875rem;
		text-transform: uppercase;
		padding: 4px 8px;
		border-radius: 0px;
	}
}
