:root {
	--secondary: #dce3ee;
	--primary-color: #2196f3;
	--dropdown-bg: #ffffff;
	--med-blue: #044cb8;
	--dark-blue: #002357;
	--yellow: #ffc707;
	--gray-1: #eef2f3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

.btn {
	background: var(--yellow);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	color: var(--dark-blue);
	width: -moz-fit-content;
	width: fit-content;
	gap: 8px;
}
