/* Desktop Navigation */
.navbar {
	background: var(--med-blue);
	padding: 0 2rem;
}

.nav-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 54px;
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 1.5rem;
}

.nav-links a {
	color: white;
	text-decoration: none;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
}

.dropdown {
	position: relative;
}

.dropdown-btn {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.5rem;
	font-size: 1rem;
}

.dropdown-content {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: calc(100% + 6px);
	left: 0;
	background: var(--dark-blue);
	min-width: 200px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 100;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	pointer-events: none;
	list-style: none;

	a,
	button {
		color: #fff;
		padding: 0.75rem 1rem;
		width: 100%;
		text-align: left;
		text-decoration: none;
		display: inline-flex;
		background: none;
		border: none;
		cursor: pointer;
		transition: 0.3s ease-in-out;

		&:hover {
			background: lighten(#002357, 10);
		}
	}

	&.open {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}

	li {
		padding: 0;
	}
}

.submenu {
	position: relative;
}

.submenu-content {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 100%;
	top: 0;
	background: var(--dark-blue);
	min-width: 200px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: opacity 0.3s ease, visibility 0.3s ease;
	pointer-events: none;
	list-style: none;
}

.submenu-content.open {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

/* Mobile Navigation */
.mobile-menu-btn {
	display: none;
	background: none;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0.5rem;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: -100%;
	width: 80%;
	height: 100vh;
	background: var(--med-blue);
	color: #fff;
	transition: left 0.3s ease;
	z-index: 1000;
	visibility: hidden;

	a,
	button {
		color: #fff !important;
	}
}

.mobile-nav.active {
	left: 0;
	visibility: visible;
}

.mobile-nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: var(--dark-blue);
	color: white;
	height: 54px;
}

.close-btn {
	background: none;
	border: 0;
	transition: 0.3s ease-in-out;
	height: 44px;
	width: 44px;
	border-radius: 44px;
	color: #fff;

	&:hover {
		background-color: rgba(white, 0.2);
	}
}

.mobile-nav-links {
	list-style: none;
	padding: 1rem;

	li {
		margin: 0.5rem 0;
	}

	a,
	button {
		color: #333;
		text-decoration: none;
		display: inline-flex;
		padding: 0.5rem;
		transition: 0.3s ease-in-out;
		text-align: left;
		width: 100%;

		&[aria-expanded="true"] {
			background-color: rgba(black, 0.1);
			color: #fff;
		}

		&:hover {
			background-color: rgba(black, 0.2);

			&[aria-expanded="true"] {
				background-color: var(--dark-blue);
			}
		}
	}
}

.submenu-trigger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: none;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
}

.mobile-submenu {
	max-height: 0;
	overflow: hidden;
	padding-left: 1rem;
	transition: max-height 0.3s ease, opacity 0.3s ease;
	opacity: 0;
	list-style: none;
	background-color: rgba(black, 0.1);

	li:last-of-type {
		margin-bottom: 0;
	}
}

.mobile-submenu.open {
	max-height: 500px;
	opacity: 1;

	ul {
		padding-left: 20px;
	}
}

@media (max-width: 1100px) {
	.nav-links {
		display: none;
	}

	.mobile-menu-btn {
		display: block;
	}
}
