section.news,
section.page {
	margin-top: 20px;
	margin-bottom: 200px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		width: 60px;
		height: 2px;
		background-color: #ddd;
		border-radius: 2px;
		left: 50%;
		bottom: -100px;
		translate: 0 -50%;
	}

	@media screen and (max-width: 600px) {
		margin-bottom: 50px;
		.news_body,
		.page_body {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}

		.news_main_image,
		.page_main_image {
			img {
				border-radius: 0px !important;
			}
		}
		.news_main_content,
		.page_main_content {
			padding: 0 10px !important;
		}
		.social {
			& > a {
				margin: -6px 0 5px 10px !important;
			}
		}
	}
	.news_headline,
	.page_headline {
		margin-bottom: 30px;
		padding-bottom: 5px;
		line-height: 1.4;
		h1 {
			color: var(--med-blue);
			margin-bottom: 10px;
		}

		.date {
			padding-left: 0px;
			color: #666;
			font-size: 0.875rem;
		}

		.social {
			padding-right: 0px;
			a {
				width: 30px;
				float: right;
				margin: -6px 0 0 10px;

				img {
					width: 100%;
					opacity: 0.8;
					float: left;
				}
			}
		}
	}

	.news_body,
	.page_body {
		.news_main_image,
		.news_other_image,
		.page_main_image,
		.page_other_image {
			float: left;
			width: 100%;
			img {
				width: 100%;
				border-radius: 4px;
			}
			.caption {
				border-radius: 4px;
				padding: 4px 10px 7px 10px;
				margin-bottom: 10px;
				color: #555;
			}
		}
		.news_other_image,
		.page_other_image {
			padding: 15px 12.5%;
			.caption {
				padding: 4px 10px 7px 0px;
			}
		}
		.news_main_content,
		.page_main_content {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding-bottom: 1rem;
			}
			overflow-wrap: break-word;

			p {
				padding-bottom: 1rem;
			}

			a {
				text-decoration: underline;
			}

			.page_extra_links,
			.page_extra_files {
				float: left;
				width: 100%;
				margin-bottom: 15px;
				padding: 15px;
				background: #eef2f3;
				border-radius: 8px;
				border: 1px solid rgba(black, 0.1);
				.page_extra--title {
					font-size: 2.2rem;
					font-weight: 500;
					display: inline-flex;
					i {
						margin-right: 10px;
					}
				}
				ul {
					width: 100%;
					float: left;
					display: grid;
					grid-template-columns: calc(50% - 5px) calc(50% - 5px);
					grid-gap: 10px;
					@media screen and (max-width: 700px) {
						grid-template-columns: 100%;
					}
					li {
						width: 100%;
						float: left;

						&:nth-of-type(2n + 1) {
							margin-right: 10px;
						}
						a {
							width: 100%;
							display: inline-flex;
							flex-wrap: nowrap;
							color: #555;
							background: #fff;
							border-radius: 15px;
							padding: 5px 15px;
							box-shadow: 0 0 5px rgba(black, 0.2);
							align-items: center;
							line-height: 140%;
							white-space: normal;
							align-items: flex-start;
							text-overflow: ellipsis;
							overflow: hidden;
							position: relative;
							transition: all 0.3s ease-in-out;
							border: 1px solid #fff;

							&:after {
								content: "";
								position: absolute;
								top: 0px;
								right: 0px;
								background: linear-gradient(90deg, transparent 0%, #fff 70%);
								width: 30px;
								height: 36px;
							}
							&:hover {
								opacity: 1;
								box-shadow: 0 0 2px rgba(black, 0.2);
								border: 1px solid var(--med-blue);
							}
							i.material-icons {
								color: var(--med-blue);
								margin-right: 5px;
							}
						}
					}
				}
			}
			.page_extra_files {
				ul li a {
					border-radius: 4px;
					display: grid;
					grid-template-columns: 60px 1fr;
					grid-template-rows: auto auto;
					&:hover {
						border: 1px solid var(--yellow);
					}
					i {
						grid-row: 1/3;
						font-size: 50px;
						color: #f6c62d !important;
					}
					.page-extra--details {
						color: #999;
					}
				}
			}
		}
	}

	table {
		border: 1px solid #d0d0ce;
		color: #6a6a65;

		th,
		td {
			word-break: break-word;
		}

		thead {
			tr {
				background: #f8f8f8;
			}
		}

		tbody {
			tr {
				background: #eef2f3;
				&:nth-of-type(2n + 1) {
					background-color: #fff;
				}
			}
		}
	}
}
