.projects {
	&__wrapper {
		background: var(--med-blue);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		padding: 3rem 2rem;
		border-radius: 10px;

		h2 {
			color: #fff;
			text-align: center;
			width: 100%;
		}
	}
	.projects__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin: 0;
		padding: 0;
		justify-content: center;

		.project {
			height: 250px;
			width: 250px;
			display: grid;
			grid-template-rows: 125px auto;
			justify-items: center;
			text-align: center;
			color: #333;
			background: #fff;
			border-radius: 10px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			overflow: clip;

			&__thumb {
				background: var(--gray-1);
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.project__desc {
				padding: 10px;
			}

			.project__desc-title {
				font-weight: 600;
			}
		}
	}

	@media screen and (min-width: 1200px) {
		.projects__list {
			padding: 0 4rem;
		}
	}
}
