.fc .fc-event{background:#ff0;color:#fff;border:none;padding:4px 7px}.fc .fc-button{background:#ff4081 !important;color:#fff !important;text-shadow:none;border-radius:2px;border-color:#ff4081 !important;height:auto;padding:10px}.fc .fc-button-primary:not(:disabled).fc-button-active:focus,.fc .fc-button-primary:not(:disabled):active:focus,.fc .fc-button-primary:focus{box-shadow:none}.fc .fc-content-skeleton tr{border-bottom:none}.fc td.fc-day{border-width:1px !important}.fc-toolbar{display:flex;flex-wrap:wrap}@media (max-width: 900px){.fc-left,.fc-center{margin-bottom:.5rem}}
/*# sourceMappingURL=app-calendar.css.map */
