
.monthpicker {
    /* display: inline-block;
    position: relative;
    /* font-family: "Century Gothic"; */
    font-size: .9em;
    vertical-align: middle; */
}

.monthpicker_selector *::selection {
    background: transparent;
}

.monthpicker_input {
    /* display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1px 5px;
    border: 2px solid transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF; */
    border-radius: 4px !important;
    padding: 10px !important;
}

.monthpicker_input .placeholder {
    color: #888;
}

.monthpicker_input.active {
    background-color: #D4D4D4;
    color: #000;
}

.monthpicker_selector {
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 173px;
    box-shadow: 0 3px 6px rgba(0,0,0, .2);
    z-index: 100;
}

.monthpicker_selector>table {
    color: #333;
    width: 100%;
    text-align: center;
    border-spacing : 0;
    border-collapse : collapse;
    font-size: .9em;
}

.monthpicker_selector>table tr:first-child td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.monthpicker_selector>table tr:first-child>td:nth-child(1) {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.monthpicker_selector>table tr:first-child>td:nth-child(2) {
    position: relative;
}

.monthpicker_selector>table tr:first-child>td:nth-child(3) {
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

.yearSwitch {
    padding: 4px 8px;
    border-radius: 3px;
    background: #D4D4D4;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.yearSwitch:hover {
    background: #c5c5c5;
}

.yearSwitch.off {
    visibility: hidden;
}

.yearValue {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    color: #333;
    outline: none;
    font-weight: 500;
    font-size: 1.1em;
}

/* months */
.monthpicker_selector tr{
    border: none !important;
}
.monthpicker_selector .month {
    /* border: 1px solid #fff; */
    cursor: pointer;
    text-align: center;
    width: 50px;
}
.monthpicker_selector .month:hover {
    background-color: #97BFF8;
}
.month.selected {
    background: #2e5790;
    color: #fff;
    font-weight: bold;
}
.monthpicker_selector .month.off {
    color: #666;
    cursor: not-allowed;
}
.monthpicker_selector .month.off:hover {
    background: none;
}

.monthpicker_selector>table tr td:first-child {
    border-left: none;
}

.monthpicker_selector>table tr td:last-child {
    border-right: none;
}

.monthpicker_selector>table tr:last-child td {
    border-bottom: none;
}