$amarelo: #f6c62d;
$azul: #2e5790;
$azul-claro: #417fd6;
$verde: #259551;
$verde-claro: #70c481;
$vermelho: #d20000;
$laranja: #ff8e2c;
$cinza: #666666;
$marrom: #6e4d21;
$menu-colors: $azul, $verde, $vermelho, $laranja, $cinza, $marrom;

html,
body {
    overflow-x: hidden;
}

body.transparencia {
    font-size: 16px;

    .container {
        max-width: 1440px !important;
        padding: 0px !important;
    }

    // Table
    thead {
        th {
            @media screen and (min-width: 992px) {
                padding: 4px 5px !important;
            }
        }
    }
    tbody tr {
        &:hover {
            background: rgba($azul-claro, 0.1) !important;
        }
        a {
            color: $azul-claro !important;
        }
    }

    .row {
        //   margin-left: -0.75rem;
        //   margin-right: -0.75rem;
    }
    header {
        z-index: 5;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: inline-flex;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: 992px) {
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .container {
                grid-template-columns: 64px auto 64px !important;

                .logo {
                    display: inline-flex !important;
                    height: 64px;
                    align-items: flex-end;
                    justify-self: center;

                    img {
                        height: 40px;
                    }
                }

                nav {
                    display: none;
                    ul {
                        // display: none !important;
                    }
                }
                .menu-btn {
                    display: inline-flex;
                }
            }
        }
        &.homepage {
            .container {
                grid-template-columns: auto 64px;
            }
            .logo {
                display: none;
            }
        }
        .container {
            display: grid;
            grid-template-columns: 190px auto 64px;
            padding: 0;
            @media screen and (min-width: 992px) {
                nav {
                    margin-left: -100px;
                }
            }
        }
        .menu-btn {
            display: none;
            height: 64px;
            width: 64px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            i {
                font-size: 32px;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 64px;
            }
            &:hover {
                background: rgba(black, 0.1);
            }
        }
        .logo {
            a {
                display: inline-flex;
                align-items: center;
                height: 64px;
                padding-left: 8px;
            }
            img {
                height: 43px;
            }
        }
        nav {
            color: #666;
            font-weight: 500;
            background: #fff !important;
            justify-self: center;
            width: auto;
            padding: 0;
            text-align: center;
            box-shadow: none !important;
            &-mobile {
                visibility: hidden;
                @media screen and (max-width: 601px) {
                    visibility: visible;
                    background-color: #2e5790;
                }
            }
            .brand-logo img {
                height: 40px;
            }

            & > ul {
                display: inline-flex;

                & > li {
                    float: left;
                    padding: 0 15px;
                    position: relative;
                    cursor: pointer;
                    line-height: 62px;

                    &:hover,
                    &:active {
                        background: #f1f1f1;

                        & > ul {
                            pointer-events: all;
                            opacity: 1;
                            top: 100%;
                            transition: 0.3s all ease-in-out;
                        }
                    }

                    & > ul {
                        pointer-events: none;
                        overflow: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 120%;
                        left: 0px;
                        background: #fff;
                        border: 1px solid rgba(black, 0.15) !important;
                        box-shadow: 3px 3px 10px rgba(black, 0.15);
                        border-radius: 6px;
                        width: 250px;
                        transition: 0.3s all ease-in-out;
                        & > li {
                            float: left;
                            width: 100%;
                            a {
                                padding: 15px 10px;
                                text-align: left;
                                line-height: 150% !important;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        .sic {
            width: 100%;
            text-align: center;
            line-height: 64px;
            a {
                line-height: 64px;
                display: inline-block;
                vertical-align: middle;
            }
            img {
                height: 32px;
                display: block;
            }
        }
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 80vw;
        height: 100vh;
        background: #fff;
        box-shadow: 3px 0 6px rgba(black, 0.2) !important;
        padding: 0 !important;
        display: initial;
        z-index: 99;
        overflow-y: auto;
        transform: translateX(-110%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        &.show-menu {
            transform: translateX(0);
            opacity: 1;
            pointer-events: all;
        }
        @media screen and (min-width: 992px) {
            display: none;
        }
        & > ul {
            float: left;
            width: 100%;
            flex-direction: column;
            text-align: left;
            font-weight: 500;
            overflow: hidden;
            & > li {
                float: left;
                padding: 0 15px;
                width: 100%;
                position: relative;
                cursor: pointer;
                line-height: 62px;
                &:hover {
                    background: none !important;
                }
                &.has-children {
                    ul {
                        margin-left: 24px !important;
                    }
                    &:before {
                        content: "chevron_right";
                        font-family: "Material Icons";
                        font-size: 25px;
                        position: absolute;
                        color: #333;
                        right: 10px;
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
                &.mobile-submenu-open {
                    &:before {
                        transform: rotate(-90deg);
                    }
                    & > ul {
                        max-height: 100vh;
                    }
                }
                & > ul {
                    float: left;
                    width: calc(100% - 24px);
                    position: relative !important;
                    opacity: 1 !important;
                    padding: 0px !important;
                    border: none !important;
                    overflow: hidden;
                    box-shadow: none;
                    background: #f5f5f5;
                    transition: 0.3s max-height ease-in-out;
                    height: auto;
                    max-height: 0px;

                    & > li {
                        float: left;
                        width: 100%;
                        a {
                            padding: 15px 10px;
                            text-align: left;
                            line-height: 150% !important;
                            color: #666;
                            width: 100%;
                            float: left;
                            &:active,
                            &:hover {
                                background: rgba(black, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }

    // Search form{
    form#main-search {
        position: relative;
        z-index: 1;
        @media screen and (max-width: 992px) {
            input.main-search--input {
                width: 100% !important;
            }
            button {
                right: 5px !important;
            }
        }
        input.main-search--input {
            width: 100%;
            border: 1px solid rgba(black, 0.1) !important;
            border-radius: 50px !important;
            box-shadow: 3px 3px 10px rgba(black, 0.15);
            height: 56px !important;
            @media screen and (max-width: 601px) {
                width: 100%;
            }
        }

        button {
            position: absolute;
            right: 5px;
            top: 5px;
            border: none;
            height: 46px;
            width: 46px;
            border-radius: 50%;
            background: $amarelo;
            i {
                line-height: 46px;
                text-align: center;
                width: 36px;
                font-weight: 600;
                font-size: 30px;
            }
        }
        .search-hints {
            margin-bottom: 32px;
            margin-left: 24px;
            a {
                color: #333;
                text-decoration: underline;
            }
        }
    }

    section.hero {
        @media screen and (max-width: 992px) {
            padding: 0 0.5rem;
        }
        .container {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 16px;
            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr;
                grid-gap: 16px 0px;
                .logo {
                    display: none !important;
                }
            }
            //   @media screen and (min-width: 601px) and (max-width: 992px) {
            //     grid-template-columns: repeat(3, 1fr);
            //   }

            @media screen and (max-width: 992px) {
                .hero-ad {
                    margin-top: 8px;
                }
                .hero-content {
                    grid-column-start: 1;
                    grid-row-start: 2;
                    form {
                        input {
                            width: 100% !important;
                        }
                        button {
                            right: 5px !important;
                        }
                    }
                    .hero-news {
                        border-radius: 0px;
                    }
                }
            }

            form#main-search {
                input {
                    width: 115%;
                }
                button {
                    right: calc(-15% + 5px);
                }
            }

            .hero-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .logo {
                    width: 320px;
                }

                .hero-news {
                    border: 1px solid $amarelo;
                    background: #fffbec;
                    padding: 16px 16px 0px 16px;
                    border-radius: 6px;
                    &--title {
                        font-weight: 500;
                    }
                }
            }

            .hero-ad {
                position: relative;
                &:hover {
                    opacity: 0.85;
                }
                // &:after{
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 60vw;
                //     height: 500px;
                //     z-index: -1;
                //     background: $verde-claro;
                //     border-radius: 6px;
                // }
                a {
                    overflow: hidden;
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    img {
                        object-fit: cover;
                        width: 100%;
                        display: block;
                        border-radius: 6px;
                        height: 500px;
                    }
                }
            }
        }
    }

    .resultados {
        .resultado {
            float: left;
            width: 100%;
            margin-bottom: 40px;
            color: #666;
            display: grid;
            grid-template-columns: 40px auto;
            padding: 8px;
            border-radius: 6px;

            &:hover {
                background: rgba(black, 0.05);
            }

            a:hover {
                text-decoration: underline;
            }

            &-categoria {
                width: 44px;
                float: left;
                height: 100%;
                min-height: 100px;
                font-size: 28px;
                margin-top: 4px;
                color: #999;
                &.pessoal {
                    color: nth($menu-colors, 1);
                }
                &.receitas {
                    color: nth($menu-colors, 2);
                }
                &.despesas {
                    color: nth($menu-colors, 3);
                }
                &.compras {
                    color: nth($menu-colors, 4);
                }
                &.prestacao_contas {
                    color: nth($menu-colors, 5);
                }
                &.patrimonio {
                    color: nth($menu-colors, 6);
                }
            }
            &-titulo {
                color: #333;
                font-size: 21px;
                font-weight: 500;
                float: left;
                width: 100%;
                margin: 0;
            }
            &-data {
                font-size: 14px;
            }
            &-blurb {
                float: left;
                width: 100%;
                color: #666;
                p {
                    margin: 6px 0 0 0;
                }
            }
        }
    }

    section.menus {
        .container {
            & > ul {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 1.75rem;
                padding: 0 0.75rem;
                @media screen and (max-width: 601px) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media screen and (min-width: 601px) and (max-width: 992px) {
                    grid-template-columns: repeat(3, 1fr);
                }
                li.menu-item {
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0 3px 10px rgba(black, 0.1);
                    transition: background 0.3s ease-in-out;
                    &.menu-active {
                        // border: 1px solid #e5e9f3 !important;
                        box-shadow: none;
                        background: #fff !important;
                        .menu-item--title {
                            // background: rgba($azul, .05);
                            // &:before {
                            //     opacity: 1;
                            //     transform: scale(1);
                            // }
                        }
                    }
                    .menu-item--title {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 500;
                        color: #fff;
                        border-radius: 10px;
                        height: 154px;
                        max-height: 154px;
                        transition: 0.15s all ease-in-out;
                        text-align: center;
                        cursor: pointer;
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        -webkit-touch-callout: none; /* iOS Safari */
                        -webkit-user-select: none; /* Safari */
                        -khtml-user-select: none; /* Konqueror HTML */
                        -moz-user-select: none; /* Old versions of Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */
                        &:before {
                            position: absolute;
                            content: "";
                            width: 300px;
                            height: 300px;
                            border-radius: 300px;
                            transform: scale(0);
                            top: -80px;
                            left: -20%;
                            transition: 0.3s all ease-in-out;
                            opacity: 1;
                            z-index: -1;
                        }

                        i {
                            font-size: 40px;
                        }
                    }
                    @for $i from 0 to length($menu-colors) {
                        &:nth-of-type(#{$i + 1}) {
                            background: nth($menu-colors, $i + 1);
                            .menu-item--title {
                                // border: 1px solid nth($menu-colors, $i + 1);
                            }
                            i {
                                color: #fff;
                            }
                            &:before {
                                background: nth($menu-colors, $i + 1);
                            }
                            &.menu-active {
                                .menu-item--title {
                                    color: #666;
                                    background: rgba(nth($menu-colors, $i + 1), 0.1);
                                    border: 1px solid rgba(nth($menu-colors, $i + 1), 0.1);
                                    // box-shadow: 0 0px 10px rgba(nth($menu-colors, $i + 1), 0.5) inset;
                                    &:before {
                                        background: #fff;
                                    }
                                    i {
                                        color: nth($menu-colors, $i + 1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .submenus {
                width: 100%;
                position: relative;
                height: fit-content;
                padding: 0 0.75rem;
                ul.submenu-item {
                    position: absolute !important;
                    top: -20px;
                    left: 10px;
                    columns: 300px 4;
                    -webkit-column-gap: 8px;
                    -moz-column-gap: 8px;
                    column-gap: 8px;
                    opacity: 0;
                    height: 0px;
                    max-height: 0px;
                    font-size: 17px;
                    pointer-events: none;
                    width: calc(100% - 1.5rem + 1px);
                    max-width: 1418px;
                    position: relative;
                    transition: 0.2s all ease-in-out;

                    .submenu-item--close-btn {
                        cursor: pointer;
                        position: absolute;
                        right: 0px;
                        top: 0;
                        color: #fff;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 52px;
                        overflow: hidden;
                        border-radius: 0 0 0 6px;
                    }

                    @media screen and (max-width: 992px) {
                        box-shadow: 0 0 30px rgba(black, 0.2);
                    }
                    overflow: hidden;
                    z-index: 50;
                    &.show-submenu {
                        opacity: 1;
                        height: fit-content !important;
                        //   top: -10px;
                        max-height: fit-content;
                        pointer-events: all;
                    }
                    li {
                        a {
                            -webkit-column-break-inside: avoid;
                            page-break-inside: avoid;
                            break-inside: avoid;
                        }
                    }
                    @for $i from 0 to length($menu-colors) {
                        &:nth-of-type(#{$i + 1}) {
                            //   @if $i+1 == 4 {
                                .submenu-item--close-btn{
                                    background: darken(nth($menu-colors, $i + 1), 10%);
                                }
                            background: nth($menu-colors, $i + 1);
                            //   } @else {
                            //       background: lighten(nth($menu-colors, $i+1), 57%);
                            //   }
                            border: 1px solid rgba(black, 0.08);
                            padding: 16px;
                            border-radius: 6px;
                            a {
                                transition: 0.3s all ease-in-out;
                                color: nth($menu-colors, $i + 1);
                                float: left;
                                width: 100%;
                                padding: 8px;
                                border-radius: 6px;
                                line-height: 24px;
                                color: #fff;
                                &:hover {
                                    //   color: #fff;
                                    background: rgba(white, 0.2);
                                }
                            }
                            &.menu-active {
                                .menu-item--title {
                                    color: #fff;
                                    &:before {
                                        background: nth($menu-colors, $i + 1);
                                    }
                                    i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section.dashboard-cards {
        .row {
            .col.cards {
                //   @media screen and (min-width: 1440px){
                padding: 0.75rem;
                //   @media screen and (min-width: 600px){
                //     padding-left: 0px !important;
                //     &:last-of-type{
                //         padding-right: 0px !important;
                //     }
                //   }
            }
        }
    }

    // Edit Rafael - MiniBanners

    .banners {
        width: 100%;
        .row .col {
            //   padding: .75rem;
        }
        .banner-mini {
            width: 100%;
            height: 120px;
            border-radius: 4px;
            background-size: cover;
            overflow: hidden;
            margin-bottom: 16px;
            a {
                color: inherit;
            }
            &--wrap {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                height: 100%;
                padding: 16px 0;
            }
            &--background {
                position: absolute;
                top: 0;
                left: 0;
                background-blend-mode: overlay;
                opacity: 0.15;
                width: 100%;
                height: 100%;
                background-size: cover;
            }

            &--title {
                text-align: center;
                padding-top: 1px;
                font-size: 18px;
                font-weight: 500;
            }

            &--content {
                padding: 1px;
                font-size: 14px !important;
            }
        }
    }
}

footer.transparencia-footer {
    margin-top: 40px;
    background: $verde;
    .footer-top {
        background: #fff;
        display: inline-flex;
        width: 100%;
        height: 120px;
        float: left;
        border-top: 1px solid #e0e0e0;
        @media screen and (max-width: 600px) {
            height: auto !important;
            padding: 16px;
            .container {
                flex-direction: column;
                a {
                    padding: 8px 0;
                    &:nth-of-type(2) {
                        order: -1;
                    }
                }
            }
        }
        .container {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        a {
            text-transform: uppercase;
            color: #444;
            font-weight: 500;
            img {
                height: 80px;
            }
        }
    }

    ul.footer-links {
        float: left;
        width: 100%;
        .container {
            padding: 40px 16px !important;
            .row .col {
                column-count: 4;

                @media screen and (min-width: 680px) and (max-width: 992px) {
                    column-count: 3;
                }
                @media screen and (max-width: 680px) {
                    column-count: 2;
                }
            }
        }
        .footer-link--categ {
            font-weight: 500;
            color: #fff;
            margin-bottom: 16px;
            text-transform: uppercase;
        }
        li {
            padding: 8px 0px;
            & > ul {
                margin-bottom: 24px;
            }
        }
        a {
            color: #fff;
            opacity: 0.85;
            font-weight: 300;
        }
    }
}

.cards {
    width: 100%;
    .row .col {
        padding: 0.75rem;
    }
    .card-action {
        background-color: #f5c31d;
        width: 100%;
        height: 250px;
        border-radius: 4px;
        background-size: cover;
        overflow: hidden;
        a {
            color: inherit;
        }
        &--wrap {
            position: relative;
            display: grid;
            flex-direction: column;
            align-items: flex-start;
            // justify-content: flex-start;
            height: 100%;
            padding: 16px;
            & > div {
                z-index: 0;
            }
        }

        &--button {
            align-self: flex-end;
            justify-self: flex-end;
        }
        &--background {
            background-repeat: no-repeat;
            background-position: 8px 120%;
            background-size: 140px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-blend-mode: overlay;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        &--title {
            padding-top: 1px;
            font-size: 18px;
            font-weight: 500;
            z-index: 1;
            width: 100%;
            float: left;
        }

        &--content {
            padding: 1px;
            font-size: 14px !important;
            z-index: 1;
            width: 100%;
        }
    }
}

.noticias {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 992px) {
        margin-top: 16px;
    }

    &--background {
        // object-fit: cover;
        // border-radius: 4px;
        // height: 100%;
        // width: 100%;

        a {
            height: 250px;
            float: left;
            width: 100%;

            img {
                object-fit: cover;
                border-radius: 4px;
                height: 100%;
                width: 100%;
            }
        }
    }

    &--link {
        a {
            color: #333 !important;
        }
    }

    .mais--noticia {
        margin: 16px 0;
        text-align: center;
        font-weight: 500;
    }
}

// Pagina interna
.mini-menus {
    @media screen and (max-width: 600px) {
        display: none;
    }
    .container {
        & > ul {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 1.75rem;
            padding: 0 0.75rem;
            @media screen and (max-width: 601px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (min-width: 601px) and (max-width: 992px) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1rem;
            }
            li.menu-item {
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 3px 10px rgba(black, 0.1);
                border: 1px solid #e5e9f3;
                transition: all 0.3s ease-in-out;
                &:hover {
                    box-shadow: 0 3px 6px rgba(black, 0.2);
                    .menu-item--title {
                        background: rgba($azul, 0.05);
                    }
                }
                &.menu-active {
                    border: 1px solid transparent !important;
                    box-shadow: none;
                    .menu-item--title {
                        background: rgba($azul, 0.07);
                        box-shadow: 0 3px 10px rgba(black, 0.1) inset;
                    }
                }
                .menu-item--title {
                    display: inline-flex;
                    align-items: center;
                    font-size: 17px;
                    font-weight: 500;
                    background: #fff;
                    border-radius: 10px;
                    padding: 8px;
                    height: 70px;
                    width: 100%;
                    transition: 0.15s all ease-in-out;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                              supported by Chrome, Edge, Opera and Firefox */
                    i {
                        margin-right: 4px;
                    }
                }
                @for $i from 0 to length($menu-colors) {
                    &:nth-of-type(#{$i + 1}) {
                        color: nth($menu-colors, $i + 1);

                        i {
                            color: nth($menu-colors, $i + 1);
                        }
                        &.menu-active {
                            border-color: nth($menu-colors, $i + 1) !important;
                            .menu-item--title {
                                &:before {
                                    background: #fff;
                                }
                                i {
                                    color: nth($menu-colors, $i + 1);
                                }
                            }
                        }
                    }
                }
            }
        }
        .submenus {
            width: 100%;
            position: relative;
            height: fit-content;
            ul.submenu-item {
                position: absolute !important;
                top: -20px;
                left: 11px;
                columns: 300px 4;
                -webkit-column-gap: 8px;
                -moz-column-gap: 8px;
                column-gap: 8px;
                opacity: 0;
                height: 0px;
                max-height: 0px;
                font-size: 17px;
                pointer-events: none;
                width: calc(100% - 1.5rem + 1px);
                max-width: 1418px;
                position: relative;
                transition: 0.2s all ease-in-out;

                .submenu-item--close-btn {
                    cursor: pointer;
                    position: absolute;
                    right: 0px;
                    top: 0;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 52px;
                    overflow: hidden;
                    border-radius: 0 0 0 6px;
                }

                @media screen and (max-width: 992px) {
                    box-shadow: 0 0 30px rgba(black, 0.2);
                }
                overflow: hidden;
                z-index: 50;
                &.show-submenu {
                    opacity: 1;
                    height: fit-content !important;
                    //   top: -10px;
                    max-height: fit-content;
                    pointer-events: all;
                }
                li {
                    a {
                        -webkit-column-break-inside: avoid;
                        page-break-inside: avoid;
                        break-inside: avoid;
                    }
                }
                @for $i from 0 to length($menu-colors) {
                    &:nth-of-type(#{$i + 1}) {
                        //   @if $i+1 == 4 {
                        .submenu-item--close-btn{
                            background: darken(nth($menu-colors, $i + 1), 10%);
                        }
                        background: nth($menu-colors, $i + 1);
                        //   } @else {
                        //       background: lighten(nth($menu-colors, $i+1), 57%);
                        //   }
                        border: 1px solid rgba(black, 0.08);
                        padding: 16px;
                        border-radius: 6px;
                        a {
                            transition: 0.3s all ease-in-out;
                            color: nth($menu-colors, $i + 1);
                            float: left;
                            width: 100%;
                            padding: 8px;
                            border-radius: 6px;
                            line-height: 24px;
                            color: #fff;
                            &:hover {
                                //   color: #fff;
                                background: rgba(white, 0.2);
                            }
                        }
                        &.menu-active {
                            .menu-item--title {
                                color: #fff;
                                &:before {
                                    background: nth($menu-colors, $i + 1);
                                }
                                i {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-wrapper {
    .breadcrumbs {
        width: 100%;
        height: 40px;
        overflow: hidden;
        background: #fff;
        margin-bottom: 24px;
        @media screen and (max-width: 600px) {
            padding: 0 10px;
            font-size: 13px;
            border-bottom: 0;
            ul {
                li {
                    padding-left: 30px !important;
                    display: none !important;
                    &:nth-last-of-type(2) {
                        display: flex !important;
                    }
                    &:before {
                        font-size: 20px !important;
                        font-family: "Material Icons";
                        width: 20px !important;
                        content: "chevron_left" !important;
                        color: #666;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        text-align: center;
                    }
                }
            }
        }
        ul {
            margin: 0;
            display: inline-flex;
            align-items: center;
            height: 40px;
            position: relative;
            width: 100%;
            overflow: hidden;
            &:after {
                position: absolute;
                content: "";
                height: 100%;
                width: 30px;
                top: 0;
                right: -10px;
                background: linear-gradient(90deg, transparent 0%, white 40%);
            }
            li {
                position: relative;
                padding-left: 30px;
                height: 100%;
                display: flex;
                align-items: center;
                white-space: nowrap;

                &:not(:first-of-type):before {
                    content: "chevron_right";
                    font-family: "Material Icons";
                    font-size: 24px;
                    color: #666;
                    width: 30px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    line-height: 40px;
                    text-align: center;
                }
                &:first-of-type {
                    padding-left: 0;
                }
                a {
                    &:hover {
                        opacity: 1;
                        text-decoration: underline;
                    }
                    color: $azul;
                    font-weight: 500;
                    &[href^="#"] {
                        color: #666;
                        font-weight: 400;
                        &:hover {
                            text-decoration: none;
                            cursor: text;
                        }
                    }
                }
            }
        }
    }

    .page {
        padding: 0 0.75rem !important;

        &-info {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #e5e5e5;
            width: 100%;
            padding-bottom: 8px;
            margin-bottom: 8px;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                align-items: flex-start;
                &--actions {
                    margin-top: 16px;
                    align-self: flex-end;
                }
            }
            h1 {
                display: inline-flex;
                align-items: center;
                font-size: 30px;
                font-weight: 500;
                width: fit-content;
                margin: 0;
                color: #333;

                span.page-help {
                    position: relative;
                    height: 26px;
                    i {
                        margin-left: 6px;
                        color: $azul-claro;
                        font-size: 28px;
                        cursor: pointer;
                    }
                    &:hover {
                        .page-help--box {
                            opacity: 1;
                            pointer-events: all;
                            top: 100%;
                        }
                    }
                }
            }
            .btn {
                box-shadow: none !important;
                display: inline-flex;
                align-items: center;
                i {
                    margin-right: 8px;
                }
            }

            .page-help--box {
                position: absolute;
                background: rgba(black, 0.9);
                font-weight: 300;
                border-radius: 6px;
                color: #e1e1e1;
                padding: 0 16px;
                font-size: 16px;
                width: 400px;
                overflow-y: auto;
                z-index: 10;
                pointer-events: none;
                opacity: 0;
                top: 110%;
                transition: all 0.3s ease-in-out;
            }
            &--actions {
                display: inline-flex;
                align-items: center;

                & > * {
                    margin: 0 8px;
                    &:last-of-type {
                        margin-right: 0px !important;
                    }
                }

                .btn-limpar-filtros {
                    &:hover {
                        background: #e5e5e5 !important;
                    }
                }

                .filtro-exercicio {
                    display: inline-flex;
                    align-items: center;
                    position: relative;
                    .btn-exercicio {
                        background: $azul-claro;
                        display: inline-flex;
                        align-items: center;
                        color: #fff;
                        padding: 4px 8px;
                        border-radius: 4px;
                        border: 1px solid rgba(black, 0.1);
                        margin-left: 8px;
                        transition: all 0.3s ease-in-out;
                        &:hover,
                        &.active {
                            background: $azul;
                        }
                        i {
                            margin-left: 8px;
                        }
                    }

                    .exercicio-date-picker {
                        position: absolute;
                        display: grid;
                        grid-template-columns: 100px 100px 40px;
                        grid-gap: 8px;
                        background: white;
                        align-items: flex-end;
                        padding: 8px 16px;
                        border-radius: 4px;
                        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
                        top: 60px;
                        right: 0;
                        z-index: 10;
                        pointer-events: none;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;

                        &.show-date-picker {
                            pointer-events: all;
                            opacity: 1;
                            top: 40px;
                        }
                        .modal-overlay {
                            display: none !important;
                        }
                        .datepicker-modal {
                            position: absolute !important;
                            max-width: 357px !important;
                            min-width: 233px !important;
                            overflow: hidden;
                            padding: 16px;
                            top: 65px !important;
                        }
                        .datepicker-date-display,
                        .datepicker-table-wrapper,
                        .month-prev,
                        .month-next {
                            display: none !important;
                        }

                        .select-month .select-dropdown {
                            width: 120px;
                            padding: 5px 0px !important;
                        }
                        .select-year .select-dropdown {
                            width: 80px;
                            padding: 5px 0px !important;
                        }
                        .datepicker-footer {
                            justify-content: center !important;
                            width: 200px !important;
                            margin: 0px !important;
                            .datepicker-clear {
                                display: none;
                            }
                            .confirmation-btns {
                                margin-top: 8px;
                                button {
                                    &:first-of-type {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                        .btn-submit-date-picker {
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            background: $azul;
                            color: #fff;
                            padding: 8px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .date-inicio,
                    .data-fim {
                        position: relative;
                    }
                }
            }
        }

        &-filtros {
            width: 100%;
            float: left;
            transition: all 0.3s ease-in-out;

            &.open {
                .page-filtros--head {
                    border-bottom: 0px;
                    border-radius: 4px 4px 0 0;
                    &:after {
                        transform: rotate(180deg);
                    }
                }
                .page-filtros--content {
                    max-height: 100vh !important;
                    @media screen and (max-width: 992px) {
                        border: 1px solid rgba(black, 0.15);
                        border-radius: 0 0 4px 4px;
                        padding: 8px;
                    }
                    border-top: 0px;
                    opacity: 1;
                }
            }

            &--head {
                width: 100%;
                background: #fff;
                font-weight: 500;
                color: #666;
                border-radius: 4px;
                border: 1px solid rgba(black, 0.15);
                display: inline-flex;
                align-items: center;
                height: 40px;
                padding: 8px;
                position: relative;
                cursor: pointer;
                @media screen and (min-width: 993px) {
                    display: none;
                }
                i {
                    margin-right: 8px;
                }

                &:after {
                    transition: all 0.3s ease-in-out;
                    content: "keyboard_arrow_down";
                    font-family: "Material Icons";
                    font-size: 24px;
                    color: #333;
                    position: absolute;
                    top: 2px;
                    right: 8px;
                }
            }

            &--content {
                transition: all 0.3s ease-in-out;
                z-index: 2;

                @media screen and (max-width: 992px) {
                    overflow: hidden;
                    max-height: 0px;
                    opacity: 0;
                }
            }
        }
    }
}
.btn-action {
    text-decoration: none;
    color: $azul;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    height: 36px;
    vertical-align: middle;
    padding: 0 10px !important;
    box-shadow: none;
    transition: background-color 0.2s;
    text-transform: initial !important;
    line-height: 35px !important;
    border: 1px solid $azul;

    &:hover {
        color: #fff !important;
        background-color: $azul;
    }
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card-panel h1,
.card-panel h2,
.card-panel h3,
.card-panel h4,
.card-panel h5,
.card-panel h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666;
    font-weight: 500;
}

section.year-summary {
    .card-anual-budget,
    .year-select {
        display: inline-flex;
        align-items: center;
        border: #d9e1e9 1px solid;
        border-radius: 4px;
        padding: 10px 8px;
        min-height: 100px;
        margin-bottom: 16px;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            .card-second {
                width: 100%;
                margin-bottom: 16px;
            }
            .card-graph {
                align-self: baseline;
            }
        }
    }

    .budget-vl {
        font-size: 20px;
        font-weight: 500;
        margin: 0;

        &.gain {
            color: #2e5790;
        }

        &.loss {
            color: #d92e2e;
        }
    }

    .budget-title {
        color: #707070;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    .card-second {
        width: 40%;
    }

    .card-graph {
    }

    .circlet {
        border: #f2b8b8 10px solid;
        border-radius: 50%;
        height: 76px;
        width: 76px;
    }
    .number {
        padding: 13px 12px;
        font-size: 20px;
        font-weight: 600;
    }

    /* radio button*/
    .ref-year {
        font-size: 15px;
        margin: 0 0 16px;
    }
    .years-card {
        padding: 6px !important;
        border: #2e5790 1px solid;
        border-radius: 6px;
        color: #2e5790 !important;
        margin-right: 10px;
    }

    .years {
        display: inline-flex;

        ul {
            padding: 0;
            margin: 0;
        }

        [type="radio"] + span:before,
        [type="radio"] + span:after {
            top: 4px !important;
            margin: 0px !important;
            transition: unset !important;
        }

        [type="radio"]:not(:checked) + span:after {
            background-color: #fff;
            border: none !important;
            width: calc(100% + 20px) !important;
            height: calc(100% + 12px) !important;
            border-radius: 4px !important;
            top: -6px !important;
            left: -10px;
            z-index: -1;
        }
        [type="radio"]:checked + span {
            color: #fff;
            &:after {
                background-color: $azul-claro;
                border: none !important;
                width: calc(100% + 20px) !important;
                height: calc(100% + 12px) !important;
                border-radius: 4px !important;
                top: -6px !important;
                left: -10px;
                z-index: -1;
            }
        }
    }

    .years-card:active {
        color: #fafcff;
        background-color: $azul;
    }

    .years li label {
        color: $azul !important;
        font-weight: 500;
        border-radius: 6px;
    }

    .years li [type="radio"]:not(:checked) + span:before {
        border: 1px solid $azul !important;
        /* border-width: 0px !important; */
    }
    .years li [type="radio"]:not(:checked) + span:after {
    }
    .years li [type="radio"]:checked + span:before,
    [type="radio"].with-gap:checked + span:before {
        background-color: #fff;
    }

    .years li [type="radio"]:checked + span:before,
    [type="radio"].with-gap:checked + span:before {
        font-family: "Material Icons";
        content: "check";
        color: $azul-claro;
    }
    // .years li [type="radio"]:checked + span:after {
    //     background-color: transparent !important;
    //     border: none !important;
    // }
    .years li [type="radio"] + span:before {
        /* margin: 0px !important;   */
        border: none !important;
        /* border-width: 0px !important; */
        font-size: 16px;
        line-height: 16px;
    }

    input[type="radio"]:checked ~ .with-gap {
        border: 5px solid $azul-claro !important;
    }

    input[type="radio"]:checked ~ .years-card::before {
        background: $azul-claro !important;
    }

    input[type="radio"]:checked ~ label {
        color: #fafcff;
        background-color: $azul-claro;
    }

    /*custom*/
    ul li {
        color: $azul-claro;
        display: inline-block;
        position: relative;
        height: 45px !important;
    }

    ul li input[type="radio"] {
        position: absolute;
        visibility: hidden !important;
    }

    ul li label {
        // display: inline-block;
        // position: relative;
        padding: 10px;
        margin-bottom: 15px;
        margin-right: 5px;
        z-index: 9;
        cursor: pointer;
        border: solid $azul-claro 1px;
        border-radius: 4px;
        height: 25px !important;
    }

    ul li:hover label {
        color: $azul-claro;
    }

    .ajust {
        position: relative;
        color: $azul-claro;
    }

    input[type="radio"]:checked ~ label {
        color: white !important;
        background-color: $azul-claro;
    }
    input[type="radio"]:checked ~ li {
        background-color: $azul-claro;
    }

    input[type="radio"] + label:before,
    input[type="radio"] + label:after {
        top: 2px !important;
    }
}

// Cards paineis

.painel-card {
    margin-bottom: 24px;
    .vlrs-card {
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        font-size: 30px;
        font-weight: 500;
        min-height: 95px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        width: 100%;
    }
    .valores {
        margin-right: 20px;
    }
    .sub-title {
        color: #707070;
        font-size: 20px;
        font-weight: 500;
        margin-right: 20px;
    }

    .vlr-empenhado {
        border: #d9e1e9 solid 1px;
        border-left: 10px solid #e5c835;
        color: #e5c835;
    }
    .vlr-liquidado {
        border: #d9e1e9 solid 1px;
        border-left: 10px solid #417fd6;
        color: #417fd6;
    }
    .vlr-pago {
        border: #d9e1e9 solid 1px;
        border-left: 10px solid #70c481;
        color: #70c481;
    }

    .details {
        font-size: 15px;
        color: #2e5790;
        font-weight: 500;
        margin-top: 4px;
    }
}

// Grafico

.card-grafico {
    margin-bottom: 24px;
    .card-grafico-wrap {
        border: #d9e1e9 1px solid;
        border-radius: 6px;
        padding: 25px;
    }

    .sub-chart {
        color: #666666;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 9px;
    }

    .ref-tab {
        color: #417fd6;
        font-size: 14px;
        font-weight: 600;
        margin: 2px !important;
        cursor: pointer;
        position: relative;
        min-height: 25px;

        &:before {
            content: "keyboard_arrow_down";
            font-family: "Material Icons";
            position: absolute;
            right: 4px;
            top: 2px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 24px;
            color: #417fd6;
            transition: all 0.3s ease-in-out;
        }

        &.open {
            &:before {
                transform: rotateX(180deg);
            }
        }
    }

    .table-chart {
        border-radius: 6px;
        border: #d9e1e9 solid 1px;
        justify-self: center;
        padding: 6px;
    }

    .x5 {
        font-size: 18px;
        margin-left: 10px;
    }
    .acordion {
        display: none;
        color: #292929;
        font-size: 15px;
        font-weight: 500;
    }

    table {
        margin-top: 10px;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 8px;
        width: 100%;
    }
    .table-vlr {
        width: 100%;
        text-align: justify;
    }
    tbody > tr:nth-child(even) {
        background-color: #f9fafb;
        border-bottom: #e8e8e8 solid 1px;
    }
    thead > tr {
        background-color: #d9e1e9;
    }
}

// Accordion table

.accordion-table {
    & > table {
        tr {
            border-bottom: none !important;
        }
    }
    .collapsible {
        box-shadow: none !important;
        li {
            background: #fff;
            .collapsible-header {
                background: #fff;
            }
            &:nth-of-type(2n + 1) {
                background: #f1f1f1;
                .collapsible-header {
                    background: #f1f1f1;
                }
            }
        }
        .collapsible-header {
            padding: 0 !important;
        }
        .collapsible-body {
            padding: 0 0 0 4px !important;
            border-left: 16px solid #2e5790;

            th {
                background: #fff;
            }
        }
    }
}

// .accordion-table {
//     display: table;
//     width: 100%;

//     &--row {
//         display: table-row;
//     }

//     &--heading {
//         display: table-header-group;
//         font-weight: bold;
//     }
//     &--cell, &--head {
//         padding: 15px 5px;
//         display: table-cell;
//         text-align: left;
//         vertical-align: middle;
//     }

//     &--body {
//         display: table-row-group;

//         .accordion-table--row{
//             cursor: pointer;

//             &:hover{
//                 background-color: rgba($azul-claro, .15) !important;
//             }
//             &:nth-child(2n+1){
//                 background: rgba(242,242,242,0.5);
//             }

//             .accordion-tableinside{
//                 width: 100%;
//             }
//         }
//     }
// }

.table-hover {
    tbody tr {
        cursor: pointer;
    }
}

.modal {
    .modal-close {
        position: absolute;
        @media screen and (max-width: 992px) {
            top: -5px;
            right: 5px;
        }
        top: 16px;
        right: 24px;
        font-size: 32px;
        color: #333;
    }
    &.modal-servidor {
        width: 90vw;
        max-width: 1100px;
        h4 {
            margin-bottom: 0;
        }
    }
    &-content {
        h4 {
            color: $azul !important;
        }
        &--servidor-data-sum {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 32px;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                justify-content: center;
                span {
                    margin-right: 0 !important;
                    margin-top: 20px;
                }
            }
            span {
                margin-right: 40px;
                &:last-of-type {
                    margin-right: 0;
                    background: #eff8f1;
                    color: $verde;
                    border-radius: 20px;
                    padding: 4px 8px;
                }
            }
        }
        &--servidor-data-box {
            border-radius: 8px;
            border: 1px solid rgba(black, 0.05);
            background: #f1f4f7;
            padding: 16px;
            h6 {
                margin-top: 16px;
            }
        }
        &--servidor-table {
            margin-top: 16px;
            table {
                tbody {
                    tr {
                        border-top: 1px solid rgba(black, 0.1);
                        @media screen and (max-width: 992px) {
                            &:nth-of-type(2n + 1) {
                                background: rgba(black, 0.05);
                            }
                        }
                        td {
                            @media screen and (min-width: 992px) {
                                padding: 8px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &-footer {
        padding: 0 24px !important;
    }
}

// SIC
.card-sic {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 8px 16px;
}
.links-uteis {
    & h6 {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    & a {
        padding: 10px;
        background-color: #f1f4f9;
        color: #0088ff;
        width: 100% !important;
        float: left;
        border-radius: 10px;
        margin-bottom: 16px;
    }
}

// rf04_recursos_fed
.conteudo-data {
    color: #666;
    float: left;
    width: 100%;
    margin-bottom: 16px;
    font-size: 14px;
}

//rf01_orcamento

.vlr-receita {
    border: #d9e1e9 solid 1px;
    border-left: 10px solid #417fd6;
    color: #417fd6;
}

.vlr-despesa {
    border: #d9e1e9 solid 1px;
    border-left: 10px solid #d92e2e;
    color: #d92e2e;
}

.links-receita {
    & h6 {
        margin-bottom: 11px;
        margin-top: 28px;
    }
}
// Anual Budget Pie
$pie-main: #d20000;
$pie-text: #7f8c8d;
$pie-shadow: #bdc3c7;

.donut-size {
    font-size: 5em;
}
.pie-wrapper {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0px auto;
}
.pie {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
}
.half-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0.1em solid $pie-main;
    border-radius: 50%;
    clip: rect(0em, 0.5em, 1em, 0em);
}
.right-side {
    transform: rotate(0deg);
}
.label {
    position: absolute;
    top: 0.52em;
    right: 0.4em;
    bottom: 0.4em;
    left: 0.4em;
    display: block;
    background: none;
    border-radius: 50%;
    color: $pie-text;
    font-size: 0.25em;
    line-height: 2.6em;
    text-align: center;
    cursor: default;
    z-index: 2;
}
.smaller {
    padding-bottom: 20px;
    color: $pie-shadow;
    font-size: 0.45em;
    vertical-align: super;
}
.shadow {
    width: 100%;
    height: 100%;
    border: 0.1em solid $pie-shadow;
    border-radius: 50%;
}
