.modal-location {
    max-width: 550px;
    
    @media (min-width: 600px) {
        max-height: 300px;
    }
}

.btn-ghost{
    background: transparent;
    border: 2px solid $blue;
    color: $blue;
    box-shadow: none;
    font-size: 1rem;
    height: auto !important;
    display: inline-flex;
    align-items: center;

    &:hover, &:focus{
        background: #1D5391;
        color: #fff;
    }
}

.btn-green{
    background-color: $green !important;
}


.text-accent{
    color: $brown3;
    font-weight: 600;
}

.panel{
    padding: 1rem;

    &.--info{
        background-color: #d4e3f5;
        .panel-title{
            color: $blue;
        }
    }

    &.--warning{
        background-color: #faf8e0;
        .panel-title{
            color: $brown3;
        }
    }

    &.--danger{
        background-color: #f5d4d4;
        .panel-title{
            color: #8c0101;
        }
    }

    &.--success{
        background-color: #d5f5d4;
        .panel-title{
            color: #2a792a;
        }
    }

    &-title{
        font-weight: 600;
    }

    p{
        margin-bottom: 0;
    }
}