$green: #008839;
$blue: #1d5391;
$blue2: #1679cd;
$brown1: #f5f5f4;
$brown2: #eaeae7;
$brown3: #9b661e;

@import "misc";

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-display: swap;
    color: #333;
    overflow-x: hidden;
    font-size: 1.15rem;
}

section,
footer {
    padding: 50px 0;

    h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: $brown3;
    }

    p.section-blurb {
        max-width: 650px;
        text-align: center;
        margin: 0 auto 4rem auto;

        @media (max-width: 650px) {
            max-width: 100% !important;
        }
    }
}

.phone-location {
    color: #555;
    font-size: 0.9rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 15;

    @media (max-width: 750px) {
        padding: 0.25rem 0;
        .content {
            // display: inline-block !important;
            flex-direction: column;
            text-align: center;
            height: 60px !important;
            padding: 0.25rem 0;

            .phone {
                display: inline-block !important;
                line-height: 30px;
                i {
                    line-height: 30px;
                    vertical-align: bottom;
                }
            }
        }
    }

    .container {
        .content {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 40px;
        }
    }

    a {
        text-decoration: underline;
    }
    .phone {
        color: $green;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        a {
            color: $green;
            font-weight: 700;
        }
    }
}

header {
    background: white;
    z-index: 6;
    position: relative;
    .container {
    }

    @media (max-width: 992px) {
        nav ul {
            display: none !important;
        }
    }

    nav {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        margin-top: 10px;

        .sidenav-trigger {
            width: 56px;
            background: #f1f1f1;
            text-align: center;
            margin: 0 0 0 0.5rem !important;
        }

        ul {
            gap: 8px;
            display: inline-flex;
            li {
                & > a {
                    font-weight: 500;

                    &.cta-estimate {
                        color: #fff;
                        background: $blue2;
                        padding: 0 1.2rem;
                        border-radius: 4px;

                        &:hover {
                            background: $blue;
                        }
                    }
                }
            }
        }
    }

    img {
        width: 100%;
        max-width: 260px;
    }
}

.sidenav.hidden {
    visibility: hidden;
}
.sidenav li > a.cta-estimate {
    color: #fff !important;
    background: $blue2 !important;
    &:hover {
        background: $blue !important;
    }
}

section.hero {
    // padding: 0;
    background: $brown1;
    padding: 0;

    @media (max-width: 700px) {
        .container {
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 1fr;

            .hero-pic {
                grid-row: 1 / 2;

                img.hero-face {
                    left: -2px !important;
                }
            }

            .hero-info {
                grid-row: 2 / 3;
                padding: 0 1rem;

                h1 {
                    font-size: 2rem;
                }
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        align-items: center;
        height: 70vh;
        max-width: unset;
        width: 100%;
        div {
            z-index: 1;
        }

        .hero-info {
            max-width: 500px;
            justify-self: flex-end;
            z-index: 5;

            a[href^="tel:"] {
                // color: $green;
                // text-decoration: underline;
                font-weight: 700;
            }
        }

        @media (min-width: 600px) and (max-width: 1110px) {
            max-width: 95%;
            margin-left: 5%;
        }

        @media (max-width: 1030px) {
            &:before {
                background-size: cover !important;
            }
        }

        .change-location-trigger {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            color: #666;
        }

        h1 {
            font-size: 2.5rem;
        }

        .hero-pic {
            height: 100%;
            position: relative;

            img.hero-face {
                position: absolute;
                height: calc(100% + 5px);
                object-fit: contain;
                z-index: 2;
                top: -2px;
                left: -100px;
            }

            .hero-pic-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

section.about {
    background: white;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
        text-align: left;
    }

    p {
        font-size: 2.3rem;
        margin-top: 0;
        line-height: 1;
    }

    .container {
        img {
            width: 100%;
            height: auto;
        }
    }
}

section.products {
    .products-list {
        width: 100%;
        margin: 0;
        padding: 0;

        @media (max-width: 600px) {
            li {
                a {
                    grid-template-columns: 1fr !important;
                    grid-template-rows: 150px 1fr;
                    height: fit-content !important;
                }
                div {
                    justify-self: flex-start !important;
                }
                .product-title-box {
                    padding: 1rem;
                }
            }
        }

        li {
            a {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 1rem;
                height: 300px;

                transition: 0.3s ease-in-out all;
                &:hover,
                &:focus-visible {
                    background: $brown2;
                }
            }

            div {
                justify-self: flex-end;
            }

            .product-title-box {
                width: 100%;
                max-width: 350px;
            }

            h3 {
                font-family: "Playfair Display";
                font-size: 1.9rem;
                margin-bottom: 0;
                color: #333;
            }
            p {
                margin-top: 0.25rem;
                color: #666;
            }

            img {
                width: 100%;
                height: 100%;
                max-height: 300px;
                object-fit: cover;
            }

            &:nth-of-type(2) {
                margin: 50px 0;
                @media screen and (min-width: 600px) {
                    img {
                        grid-column: 1 / 2;
                        grid-row: 1;
                    }
                    div {
                        justify-self: flex-start;
                        grid-column: 2 / 3;
                        grid-row: 1;
                    }
                }
            }
        }
    }
}

section.services {
    position: relative;

    &:before {
        content: "";
        width: 60%;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 400px;
        background: $brown1;
        z-index: -1;
    }
    .container {
        max-width: 1000px;
    }

    h2 {
        margin-bottom: 100px;
    }

    @media (max-width: 600px) {
        h2 {
            margin-bottom: 1rem;
        }
        .services-list {
            li {
                grid-template-columns: 1fr !important;
                grid-template-rows: 1fr 200px;
                height: fit-content !important;
            }
        }
    }

    @media (max-width: 992px) {
        .services-list {
            grid-template-columns: 1fr !important;
            grid-template-columns: 1fr 1fr;
            max-width: 700px;
            margin: 0 auto;

            li div {
                background: transparent !important;
            }
        }
    }

    .services-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            height: 280px;

            div {
                background: white;
                height: 100%;
                align-self: center;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    font-family: "Libre Baskerville";
                    font-size: 1.9rem;
                    margin-bottom: 0;
                }
                p {
                    margin-top: 0.25rem;
                    color: #666;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

section.brands {
    .container {
        h2,
        p {
            @media (min-width: 650px) {
                text-align: left;
                max-width: 650px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .brands-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            @media (max-width: 992px) {
                grid-template-columns: repeat(3, 1fr);

                .section-blurb {
                    margin: 0 auto 2rem auto !important;
                }
            }

            li {
                width: 100%;
                a {
                    &:hover,
                    &:focus-visible {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }
                img {
                    transition: all 0.2s ease-in-out;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
section.estimate {
    background: $brown2;

    .container {
        max-width: 400px !important;
    }

    input,
    textarea,
    select {
        margin-bottom: 1rem !important;
    }

    form {
        display: inline-flex;
        flex-direction: column;
    }

    button {
        align-self: center;
        background: $green;

        &:hover,
        &:focus {
            background: darken($green, 3%);
        }
    }
}

section.certifications {
    h2 {
        text-align: left;
    }

    img {
        width: 100%;
    }

    li {
        line-height: 1.8;
    }
}

footer {
    background: $brown2;
    color: #555;
    font-size: 1rem;
    h2 {
        color: #333;
        text-align: left;
        margin-top: 1rem;
    }

    img {
        width: 100%;

        &.logo-footer {
            max-width: 260px;
        }
    }

    .social-heading {
        margin: 3rem 0 0 0 !important;
    }
    .social-links {
        display: inline-flex;
        gap: 8px;
        li {
            width: 32px;
            img {
                width: 32px;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

section.clients {
    background: #ecf2f7;

    h2 {
        margin-bottom: 4rem;
        color: #333;
    }

    .container {
        max-width: 600px;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        li {
            &:nth-of-type(2n) {
                .testimonial {
                    flex-direction: row-reverse;
                    @media screen and (max-width: 600px) {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
                
                    .testimonial-content {
                        border-radius: 16px 0 16px 16px;
                    }
                
            }
            .testimonial {
                display: inline-flex;
                gap: 1rem;

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                }

                &-pic {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }

                &-content {
                    padding: 1rem;
                    background: #fff;
                    border-radius: 0 16px 16px 16px;

                    p {
                        margin-top: 0;
                    }
                }
                &-person-name {
                    text-align: right;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }
    }
}
section.latest-posts {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;

        img {
            width: 100%;
        }

        .post {
            list-style-type: none !important;
            &-date {
                font-size: 0.875rem;
            }
            &-title {
                font-size: 1.5rem;
                margin: 0;
                a {
                    color: #333;
                    &:hover {
                        text-decoration: 2px underline black;
                    }
                }
            }
        }
    }
}

// Section Page
.page {
    padding-top: 100px;

    @media screen and (max-width: 600px) {
        padding-top: 50px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
    }

    h2,
    h3 {
        color: $brown3;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    &.--blog {
        .page-title {
            text-align: center;
            margin-bottom: 50px;
        }

        .post.--latest {
            width: 100%;
            margin-bottom: 100px;
            .post-card {
                display: grid;
                gap: 1rem;
                grid-template-rows: auto auto;
                @media screen and (min-width: 600px) {
                    grid-template-columns: 50% auto;
                }
                .post-title {
                    font-size: 1.9rem;
                }
            }
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1rem;
            width: 100%;
            margin-bottom: 50px;

            @media screen and (max-width: 600px) {
                padding: 0 2rem;
            }

            img {
                width: 100%;
            }
        }
        .post {
            list-style-type: none !important;
            &-date {
                font-size: 0.875rem;
            }
            &-title {
                font-size: 1.5rem;
                margin: 0;
            }
            a {
                color: #333;
                img {
                    transition: 0.2s all ease-in-out;
                    outline: 0 solid darken($brown2, 15%);
                }
                &:hover {
                    text-decoration: underline;
                    img {
                        outline: 0.25rem solid darken($brown2, 15%);
                    }
                }
            }
        }
    }

    &.--post {
        padding-top: 0px;
        font-size: 1.2rem;
        line-height: 1.6;

        img {
            width: 100%;
        }

        .post-author,
        .post-date {
            opacity: 0.9;
        }
        .page-head {
            background: $brown2;
            padding: 100px 0;
            margin-bottom: 100px;
            .row {
                position: relative;
            }

            @media screen and (max-width: 992px) {
                padding-bottom: 0px;

                .post-img {
                    position: relative !important;
                    right: 0 !important;
                    left: 20%;
                    width: 60% !important;
                    margin-top: 50px;
                    margin-bottom: -50px;

                    &:before {
                        top: 80% !important;
                    }
                }
            }

            @media screen and (max-width: 700px) {
                padding: 50px;
                .post-img {
                    display: none;
                }
            }

            .post-info {
                width: 50%;

                .post-author {
                    width: 100%;
                    display: inline-block;
                }

                .post-blurb {
                    font-size: 1.2rem;
                }

                .page-title {
                    font-size: 4rem !important;
                }

                @media screen and (max-width: 992px) {
                    width: 100%;
                }
            }

            .post-img {
                position: absolute;
                right: 10%;
                top: 25%;
                width: 40%;
                max-width: 500px;
                max-height: 430px;

                &:before {
                    content: "";
                    width: 160px;
                    height: 120px;
                    background: $brown3;
                    position: absolute;
                    right: -10%;
                    top: -20%;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }

    &.--product {
        .page-head {
            display: grid;
            grid-template-columns: auto 55%;
            gap: 3rem;
            min-height: 500px;
            font-size: 1.2rem;

            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                grid-template-rows: auto 300px;
                .page-head-image {
                    margin-top: -40px;

                    &:before {
                        width: 100vw;
                    }
                }
            }

            @media screen and (min-width: 600px) and (max-width: 992px) {
                grid-template-columns: 55% auto;
            }

            .product-slogan {
                font-size: 1.75rem;
            }

            &-image {
                width: calc(100% + 0.75rem);
                height: 100%;
                max-height: 500px;
                margin-top: -70px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:before {
                    content: "";
                    width: 50vw;
                    height: 100%;
                    position: absolute;
                    left: 2rem;
                    top: 2rem;
                    background: $brown2;
                    z-index: -1;
                }
            }
        }
        .page-title {
            font-family: "Libre Baskerville", serif;
            margin-bottom: 0.5rem;
        }

        .page-content {
            font-size: 1.15rem;
        }
    }

    &.--services {
        .page-head {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
            .page-title {
                text-align: center;
                margin-bottom: 0;
            }
            .page-title,
            p {
                max-width: 60ch;
            }
        }
        .service {
            margin-bottom: 4rem;
            position: relative;

            @media screen and (max-width: 600px) {
                margin-bottom: 2rem;
                img {
                    max-height: 200px;
                }
            }

            &:first-of-type {
                &:before {
                    content: "";
                    position: absolute;
                    width: 50vw;
                    height: 500px;
                    top: 50%;
                    left: -50%;
                    background: $brown2;
                    z-index: -1;
                }
            }
        }
    }

    &.--aboutus {
        .container > .row {
            overflow: hidden;
        }
        .page-content {
            .row {
                @media screen and (min-width: 992px) {
                    img {
                        width: 130%;
                    }
                    &:nth-of-type(2n) {
                        img {
                            float: right;
                        }
                    }
                }
            }
        }
        .showroom {
            width: 100%;

            &-images {
                position: relative;
                width: 100%;
                height: 540px;

                @media screen and (max-width: 992px) {
                    height: fit-content;
                    padding: 0 12px;
                    img {
                        position: relative !important;
                        &:last-of-type {
                            max-width: 100% !important;
                        }
                    }
                }

                &:before {
                    content: "";
                    width: 50%;
                    height: 60%;
                    position: absolute;
                    top: 15%;
                    left: 20%;
                    background: $brown2;
                    z-index: -1;
                }

                img {
                    position: absolute;
                    &:first-of-type {
                        width: 100%;
                        max-width: 400px;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    &:last-of-type {
                        width: 100%;
                        max-width: 750px;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }

        .store-locations {
            position: relative;
            text-align: center;
            h2 {
                color: #333;
                text-align: center;
            }
            .addresses {
                text-align: left;
            }
            &:before {
                content: "";
                width: 100vw;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $brown2;
                z-index: -1;
            }
        }

        .covarage {
            .counties {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                padding: 0;

                @media screen and (max-width: 700px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                li {
                    list-style-type: none;
                }
            }
        }
    }

    &.--gallery {
        .page-content {
            display: grid;
            grid-template-columns: 40% 60%;
        }

        h1 {
            width: 40%;
            display: inline;
            grid-column: 1 / 2;
            @media screen and (max-width: 600px) {
                grid-column: 1 / 3;
            }
        }
        .gallery-cover {
            grid-column: 2 / 3;
            margin-bottom: 2rem;
            @media screen and (max-width: 600px) {
                grid-column: 1 / 3;
                margin-bottom: 1rem;
            }
        }

        .image-gallery {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(15, 1fr);
            padding: 0;
            grid-column: 1 / 3;

            li {
                list-style-type: none;

                &:nth-of-type(2n) {
                    grid-column: 1 / 8;
                    padding-top: 2rem;
                }

                &:nth-of-type(2n + 1) {
                    grid-column: 9 / 16;
                }

                &:nth-of-type(1) {
                    grid-column: 1 / 6;
                }

                &:nth-of-type(2) {
                    grid-column: 8 / 16;
                }

                &:nth-of-type(3) {
                    grid-column: 2 / 15;
                }
            }
        }
    }

    &-body {
        &.--has-page-images {
            display: grid;
            grid-template-columns: auto 40%;
            grid-template-rows: 1fr auto;

            @media screen and (max-width: 800px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &-title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 0;
    }

    &-content {
        img {
            width: 100%;
            text-align: center;
        }

        ul {
            padding-left: 2rem;
            li {
                margin-bottom: 1rem;
                list-style-type: disc;
            }
        }
    }

    &-images {
        float: right;
        width: 100%;
        max-width: 400px;
        padding: 0 0 1rem 1rem;
        gap: 1rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        grid-column-start: 2;
        grid-row-start: 1;

        @media screen and (max-width: 800px) {
            grid-column-start: 1;

            max-width: 100%;
            flex-direction: row;
            padding: 0;
            img {
                width: calc((100% - 2rem) / 3) !important;
            }

            margin-bottom: 1rem;
        }

        &:before {
            content: "";
            width: 90%;
            height: 60%;
            position: absolute;
            top: 15%;
            left: 20%;
            background: $brown2;
            z-index: -1;
        }

        img {
            width: 90%;
            shape-outside: rectangle(100% 100%);

            &:first-of-type {
                width: 100%;
            }
        }
    }
}
