// ==========================================================================
// Materialize theme variables
// Extended from : theme-components/variables.scss
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Sidenav

//colors
$breadcrumbs-bg: transparent;

//Sidenav
// $sidenav-active-text-color: $white;
// $sidenav-active-box-shadow: 3px 3px 20px 0 rgba(123, 31, 162, 0.5);
// $sidenav-active-bg: linear-gradient(45deg, #303f9f, #7b1fa2);
$sidenav-active-text-color: #333;
$sidenav-active-box-shadow: 3px 3px 20px 0 rgba(#f5b000, 0.5);
$sidenav-active-bg: linear-gradient(45deg, #f5b000, #fcc53b);

