// Variables

@import "variables"; //Materialize custom variable file
@import "../../components/variables"; //Materialize variable file

@import "../../theme-components/theme-variables"; //Theme variable file
@import "theme-variables"; //Theme custom variable file

// Typography
// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,600);
// Font Variables
$title: 'Muli', sans-serif;
$font-stack: 'Muli', sans-serif;
$content: 'Muli', sans-serif;


// Theme custom scss
.sidenav-main.nav-collapsed{
    .brand-sidebar .logo-wrapper.logo-crop a.brand-logo img.hide-on-med-and-down{
        clip-path: polygon(0% 0%, 35px 0%, 30px 100%, 0% 100%);
        margin-left: 70px;
    }
}

.brand-sidebar .logo-wrapper a.brand-logo{
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 22px !important;
    justify-content: center;
    overflow: hidden;
    img{
        height: 20px !important;
        transition: all .3s ease-in-out;
    }
}

.woffice-color{
    background: linear-gradient(90deg, #f5a700, #ffd059) !important;

    &.navbar-light .header-search-wrapper input.header-search-input{
        border: 1px solid rgba(white, .1) !important;
        background: rgba(white, .9) !important;
    }

    &.navbar-dark .header-search-wrapper input.header-search-input{
        border: 1px solid rgba(white, .1) !important;
        background: rgba(white, .6) !important;
    }

    &.content-wrapper-before{
        background: #e5e5e5 !important;
    }

    &.footer{
        background: #fff !important;
    }
}

.woffice-wrapper{
    // background: #ffd876 !important;
    background: #e5e5e5 !important;
}

footer{
    .footer-copyright, span{
        display: inline-block;
        align-items: center;
        img{
            width: 85px;
            float: right;
            margin-left: 5px;
        }
    }
}

.chip{
    white-space: nowrap;
}