.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

body {
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #2b478b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #233862;
}

p {
  line-height: 1.4;
  font-size: 1.2rem;
}

:focus-visible {
  outline: 2px solid dashed;
  outline-offset: 4px;
}

a:not(.cta-btn) {
  color: #079cff;
  font-weight: 500;
  text-decoration: underline !important;
}

section {
  padding: 100px 0;
  background: #233862;
  color: #fff;
}
section h2,
section h3 {
  color: #fff;
}
section:nth-of-type(2n + 1) {
  background: #fff;
  color: #233862;
}
section:nth-of-type(2n + 1) h2,
section:nth-of-type(2n + 1) h3 {
  color: #233862;
}

section.steps .row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-top: 2rem;
}
@media (min-width: 42em) {
  section.steps .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 80em) {
  section.steps .row {
    grid-template-columns: repeat(4, 1fr);
  }
}
section.steps .step {
  display: grid;
  grid-template-rows: 150px auto;
  justify-content: center;
  text-align: center;
}
section.steps .step-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #044cb8;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}
section.steps .step img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}
section.steps .step p {
  font-weight: 500;
}

section:not(.hero) h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  display: inline-flex;
  padding-left: 1.5rem;
  align-items: center;
  gap: 8px;
}
section:not(.hero) h2 svg {
  color: #079cff;
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.hero h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-wrap: balance;
  margin-bottom: 2rem;
}
section.hero h2 {
  margin-top: 0;
  font-size: 1rem;
}
section.hero strong {
  font-weight: 700;
}
section.hero .hero-box {
  display: flex;
  flex-direction: column-reverse;
}
section.hero .hero-box .hero-img {
  height: 200px;
}
section.hero .hero-box .hero-img img {
  -o-object-fit: contain;
     object-fit: contain;
}
section.hero p.panel-info {
  border: 2px solid #ffc82a;
  background: #fff6df;
  border-radius: 10px;
  padding: 1rem;
  font-size: 14px;
  margin: 1rem 0 1.5rem 0;
}
@media (min-width: 46em) {
  section.hero {
    padding-bottom: 0;
  }
  section.hero .hero-box {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
  }
  section.hero .hero-box .hero-img {
    height: 100%;
    width: 100%;
  }
  section.hero .hero-box .hero-img img {
    width: 100%;
    align-self: end;
    max-height: 620px;
  }
  section.hero .hero-box .hero-text {
    padding-bottom: 4rem;
  }
}
@media (min-width: 80em) {
  section.hero h1 {
    font-size: 3rem;
  }
  section.hero h2 {
    font-size: 1.3rem;
  }
  section.hero .hero-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: last baseline;
  }
  section.hero .hero-box .hero-img {
    height: 100%;
    width: unset;
  }
  section.hero .hero-box .hero-text {
    padding-bottom: 100px;
  }
}
section.hero .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
section.hero .box div {
  text-align: center;
  height: 100%;
}
section.hero .box div:nth-of-type(2) a {
  align-items: center;
  justify-content: center;
  background: #fff;
  outline: 2px solid #29823c;
  color: #29823c;
}
section.hero .box div a {
  justify-self: center;
  box-shadow: 3px 3px 10px rgba(4, 76, 184, 0.1);
  background: #044cb8;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 256px;
  border-radius: 10px;
  padding: 1rem 10px;
  text-decoration: none !important;
  font-size: 1.2rem;
  outline: 1px solid rgba(4, 76, 184, 0.1);
  outline-offset: 0;
  transition: all 0.3s ease-in-out;
}
section.hero .box div a:hover, section.hero .box div a:focus-visible {
  outline: 10px solid rgba(4, 76, 184, 0.2);
}
section.hero .box div a img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7471%) hue-rotate(125deg) brightness(99%) contrast(107%);
}
section.hero .box div a span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
section.hero .box div a span span {
  color: #fff;
  opacity: 0.9;
  font-weight: 400;
}
section.hero .hero-img {
  display: flex;
  justify-content: center;
}
section.hero .cta-btn {
  margin-top: 2rem;
  color: #fff;
  background: #29823c;
  padding: 10px 15px;
  font-size: 1.3rem;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}
section.hero .cta-btn img {
  height: 20px;
  margin-right: 8px;
}
section.hero .cta-btn + p {
  margin-top: 0;
  color: #6b799c;
}
section.hero .cta-btn.outline {
  margin-top: 1rem;
  background: #fff;
  outline: 2px solid #29823c;
  color: #29823c;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.question h3 {
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  align-items: center;
  gap: 0.5rem;
}
.question h3 img {
  margin-bottom: -4px;
}
.question h3,
.question p {
  margin: 0;
}

section.faq .question {
  margin-top: 2rem;
}
section.faq .question:first-of-type {
  margin-top: 4rem;
}
section.faq .question a img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(64%) saturate(688%) hue-rotate(340deg) brightness(86%) contrast(99%);
}
section.faq ul,
section.faq ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section.faq ul li,
section.faq ol li {
  font-size: 1.2rem;
}
section.faq ul {
  list-style: none;
  padding: 0;
}

section.legisla {
  background: #044cb8;
}
section.legisla ul {
  margin-top: 4rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  section.legisla ul {
    grid-template-columns: 1fr;
  }
}
section.legisla ul li {
  display: inline-block;
  width: 100%;
  justify-self: center;
}
section.legisla ul li a {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  background: #033786;
  text-decoration: none !important;
  border-radius: 6px;
  color: #2b478b;
}
section.legisla ul li:hover a {
  background: #2b478b;
  color: #fff;
}
section.legisla ul li:hover img {
  filter: invert(1);
}
section.legisla ul li img {
  height: 32px;
  margin-right: 0.8rem;
  opacity: 0.8;
}

section.comofaz .videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  section.comofaz .videos-grid {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width: 600px) {
  section.comofaz .videos-grid {
    grid-template-columns: 1fr !important;
  }
}
section.comofaz .videos-grid div {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: inline-flex;
  flex-direction: column;
}
section.comofaz .videos-grid div iframe {
  width: 100%;
  max-height: 300px;
}
section.comofaz .videos-grid div p {
  font-weight: 500;
  margin: 6px 0 0 0;
}

.cta-btn {
  justify-self: center;
  box-shadow: 3px 3px 10px rgba(4, 76, 184, 0.1);
  background: #044cb8;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 256px;
  border-radius: 10px;
  padding: 1rem 10px;
  font-size: 1.2rem;
  outline: 1px solid rgba(4, 76, 184, 0.1);
  outline-offset: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
}
.cta-btn:hover, .cta-btn:focus-visible {
  outline: 10px solid rgba(4, 76, 184, 0.2);
}/*# sourceMappingURL=style.css.map */