/*
Error: $color: 'color("indigo", "darken-1")' is not a color for `lighten'
        on line 56 of app-assets/sass/components/_variables.scss
        from line 4 of app-assets/sass/themes/vertical-modern-menu-template/_theme.scss
        from line 1 of ./app-assets/sass/theme.scss

Backtrace:
app-assets/sass/components/_variables.scss:56
app-assets/sass/themes/vertical-modern-menu-template/_theme.scss:4
./app-assets/sass/theme.scss:1
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:311:in `reformat_argument_error'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:158:in `rescue in _perform'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:127:in `_perform'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:478:in `visit_variable'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/jaksonrochelly/.rvm/gems/ruby-2.6.3/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: 'color(\"indigo\", \"darken-1\")' is not a color for `lighten'\A         on line 56 of app-assets/sass/components/_variables.scss\A         from line 4 of app-assets/sass/themes/vertical-modern-menu-template/_theme.scss\A         from line 1 of ./app-assets/sass/theme.scss"; }
