@import 'vanilla-js-tooltip.css';
@import 'materialize/sass/materialize.scss';

html{
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:focus-visible{
    outline: 2px solid black;
}

.skip-to-content{
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 999;
    transform: translateX(-100vh);

    &:focus, &:hover{
        transform: translateX(0vh);
    }
}

.privacy-portal{
    
    line-height: 1.6;
    color: #333;

    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;

    .container, .centered-section{
        max-width: 1280px;
    }

    h1, h2, h3, h4, h5{
        font-weight: 700;
    }
    
    h2, h3, h4, h5{
        letter-spacing: -0.5px;
    }
    
    h1, .heading-1{
        font-size: 3.5rem;
        letter-spacing: -1.6px;
        margin-bottom: 0;
    }

    h2, .heading-2{
        font-size: 3rem;
    }
    h3, .heading-3{
        font-size: 2rem;
    }

    @media screen and (max-width: 600px){
        h1, h2, h3, h4, h5{
            letter-spacing: -0.94px !important;
        }
        h1, .heading-1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 1.8rem;
        }
        h3{
            font-size: 1.25rem;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        p{
            color: #555;
            margin-top: 1.1rem;
        }
    }

    header{
        z-index: 99;
        position: relative;
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: #333;

            .nav-wrapper{
                width: 100%;
                max-width: 1280px;
            }

            a[aria-current="page"]{
                font-weight: 700;
                color: $primary-color;
            }
        }

        input[type=search]{
            height: 2.2rem !important;
        }
    }

    .search-form{
        display: inline-flex;
        position: relative;
        width: 100%;

        button.btn-search{
            background: none;
            border: none;
            position: absolute;
            right: 6px;
            height: 100%;
            
            i{
                color: $primary-color;
                height: 100%;
                line-height: 50px;
            }
            
            @media #{$large-and-up} {
                i{
                    line-height: 37px;
                }
            }

        }
    }

    .sidenav{
        li.search{
            margin-top: 50px;
            padding: 0 30px;
        }
    }



    .centered-section{
        margin-top: 100px;
        display: flex;      
        padding: 0 25px;
        width: 100%;

        @media screen and (min-width: 600px){
            margin-top: 200px;
            padding: 0 40px;
        }
        
        &-content{
            width: 90%;
            display: flex;
            flex-direction: column;    
            @media #{$small-and-down} {
                width: 100%;
            }
        }

        img{
            width: 100%;
        }


        @media screen and (min-width: 1400px){
            padding: 0;
            &-content{
                width: 47%;
            }
        }

        .section-anchor{
            display: flex;
            align-items: center;
            margin-top: 2rem;
        }

        &#hero{
            flex-direction: column;
            align-items: center;
            .centered-section-content{
                width: 90%;
            }

            @media screen and (max-width: 1100px){
                align-items: flex-start;
            }
            @media screen and (min-width: 1400px){
                .centered-section-content{
                    width: 37%;
                }
            }
            @media screen and (min-width: 992px) and (max-width: 1400px){
                .centered-section-content{
                    width: 51%;
                }
            }
        }
        &#about, &#data-usage, &#policy{
            flex-direction: column;
            @media screen and (min-width: 1400px){
                align-items: center;
            }
        }

        &#about{
            .collapsible{
                margin-top: 100px;
                width: 90%;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }

        &#data-usage{
            .data-usage-grid{
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 100%;
                height: auto;
                margin-top: 56px;
                flex-direction: column;
                
                @media screen and (min-width: 992px) {
                    flex-direction: row;
                    margin-top: 100px;
                    height: 400px;
                    
                    &:nth-of-type(2n+1){
                        flex-direction: row-reverse;
                    }
                    &-content{
                        margin-left: 5rem;
                        width: 700px;
                    }
                }

                &-content{
                    width: 100%;
                }
                
                &-image{
                    width: 100%;
                 img{
                     width: 100%;
                     max-height: 400px;
                 }   
                }
            }
        }
    }

    footer{
        margin-top: 100px;
        height: 80px;
        padding: 1rem 25px;

        .container{
            border-top: 1px solid #e2e2e2;
        }
        
        &, a{
            font-size: .8rem;
        }

        @media screen and (max-width: 800px) {
            height: fit-content;
            nav{
                align-content: flex-start;
                height: auto;
            }
        }

        nav{
            position: relative;
            display: inline-flex;
            padding-top: 20px;
            flex-wrap: wrap;
            height: 100%;
            gap: .5rem 1rem;
            align-items: center;
            justify-content: space-between;
            
            

            a{
                color: $primary-color;
            }
        }
    }

    // Misc
    hr{
        margin-top: 60px;
        border: 1px solid #e2e2e2;
        width: 100%;
        @media screen and (min-width: 992px) {
            margin-left: 90px;
            margin-right: 90px;
        }
    }

    a.tooltip{
        position: relative;
        cursor: help;
        text-decoration: underline;

        // &:after, &:before {
        //     opacity: 0;
        //     transform: translate(-50%, 5%);
        //     position: absolute;
        //     transition: opacity .2s ease-in-out;
        //     content: "";
        // }
        
        // &:hover::after, &.active::after {
        //     content: attr(data-tooltip);
        //     opacity: 1;
        //     top: 0;
        //     left: 50%;
        //     transform: translate(-50%, calc(-100% - 10px));
        //     min-width: 200px;
        //     width: max-content;
        //     max-width: 400px;
        //     padding: 8px;
        //     color: #fff;
        //     background-color: rgba(black, .9);
        //     border-radius: 6px;;
        //     z-index: 1;
        // }

        // &:hover::before, &.active::before{
        //     opacity: 1;
        //     content: "";
        //     width: 16px;
        //     height: 16px;
        //     border-left: 10px solid transparent;
        //     border-right: 10px solid transparent;
        //     border-top: 10px solid rgba(black, .9);
        //     top: 0;
        //     left: 50%;
        //     transform: translate(-50%, calc(-100% + 6px));
        // }
    }
}


.animate-image {
    transform: translateX(0px);
    opacity: 1;
    transition: opacity .05s ease-in-out;
    
    @media screen and (min-width: 1440px) {
        opacity: 0;
        transform: translateX(500px);
        &.invert{
            transform: translateX(-500px);
        }
    }
}

// Policy

.policy-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    margin-top: 160px;

    padding: 0 25px;

    @media #{$medium-and-up} {
        padding: 0 40px;
    }

    @media #{$medium-and-down} {
        flex-direction: column;
        gap: 8rem;

        &-sidebar{
            align-items: flex-start !important;
        }
        
        &-topics{
        }
    }

    .section-anchor{
        margin-bottom: 100px;
    }

    &-column{
        display: flex;
        flex-direction: column;
    }

    &-sidebar{
        flex: 28.125 1 0%;

        &-content{
            position: sticky;
            top: 96px;



            .section-anchor{
                margin-top: 120px;
                display: block;
                padding-left: 2rem;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-left: 2rem;

                li{
                    position: relative;
                    transition: all .3s ease-in-out;
                    &:before{
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 100%;
                        background-color: #fff;
                        left: -2rem;
                        top: 0;
                        transition: all .3s ease-in-out;
                    }

                    &.active{
                        &:before{
                            background-color: $primary-color;

                        }

                        a{
                            font-weight: 500;
                            color: $primary-color;


                        }
                    }
                    a{
                        color: #333;
                    }
                }
                
            }
        }
    }

    &-topics{
        flex: 71.875 1 0%;
    }

    &-topic{
        margin-bottom: 110px;
        &-heading{
            width: 100%;
            margin-bottom: 80px;

            h1, .heading-1{
                margin-top: 0;
            }

            @media #{$extra-large-and-up} {
                width: 70%;
                
            }
        }
    }
}

.privacy-management{
    margin-top: 100px;
    padding: 0 25px;
    width: 100%;

    @media screen and (min-width: 600px){
        padding: 0 40px;
    }

    #services-filter{
        display: inline-flex;
        width: 100%;
        background: $primary-color;
        padding: .5rem;
        border-radius: 6px 6px 0 0;

        input{
            height: 46px;
            border-radius: 6px 0 0 6px;
            background: #fff;
            margin-bottom: 0;
            border: 0;
        }
        button{
            height: 46px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 6px 6px 0;
            border: 0;
            width: 40px;
        }
    }

    table{
        thead{
            background: rgba($primary-color, .15);
        }

        @media screen and (max-width: 700px){
            thead{
                display: none;
            }
            tr{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                border: 1px solid #eee;

                &:first-of-type{
                    margin-top: 1rem;
                }
                td{
                    width: 100%;
                    display: block;
                    text-align: right;

                    &:not(:last-of-type){
                        border-bottom: 1px solid #eee;
                    }
                    &:before{
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $primary-color;
                    }
                }
            }
        }

        ul{
            display: inline-flex;
            flex-wrap: wrap;
            gap: .5rem;

            li{
                background: #e1e1e1;
                border-radius: 4px;
                padding: 2px 6px;
                font-size: .9rem;
            }
        }
    }

    .remove-item{
        border: 0;
        background: none;
        cursor: pointer;

        i{
            color: $primary-color;
        }
    }
}