.b-tooltip {
  border-radius: 6px;
  display: inline-block;
  font-size: 0.875em;
  padding: 0.75em;
  position: absolute;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.b-tooltip-light {
  background: #fff;
  color: #242424;
  border: 1px solid #c5c5c5;
}

.b-tooltip-dark {
  background: #242424;
  color: #fff;
}/*# sourceMappingURL=vanilla-js-tooltip.css.map */