.b-tooltip {
    border-radius: 6px;
    display: inline-block;
    font-size: .875em;
    padding: .75em;
    position: absolute;
    text-align: center;
    box-shadow: 0 4px 10px rgba(black, .2);
}

.b-tooltip-light {
    background: #fff;
    color: #242424;
    border: 1px solid #c5c5c5;
}

.b-tooltip-dark {
    background: #242424;
    color: #fff;
}