html,
body {
	overflow-x: clip;
}
html {
	font-size: 16px;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: false;
	line-height: 1.65;
}

p {
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
.text-size-h1,
.text-size-h2,
.text-size-h3,
.text-size-h4,
.text-size-h5 {
	font-family: "Lato", sans-serif;
	line-height: 1.15;
	font-weight: 700;
	text-wrap: pretty;
	margin-top: 0;
}

h1,
.text-size-h1 {
	font-weight: 900;
	margin-top: 0;
	font-size: 2.49em;
}

h2,
.text-size-h2 {
	font-size: 2.07em;
}

h3,
.text-size-h3 {
	font-size: 1.73em;
}

h4,
.text-size-h4 {
	font-size: 1.44em;
}

h5,
.text-size-h5 {
	font-size: 1.2em;
}

.text-caption {
	font-size: 0.83em;
}

small,
.text-small {
	font-size: 0.69em;
}

main {
	padding-top: 100px;
	position: relative;

	&:before {
		z-index: -10;
		position: absolute;
		top: 50%;
		left: -60%;
		content: "";
		width: 1500px;
		height: 1500px;
		background: radial-gradient(50% 50% at 50% 50%, var(--project-main-color, #4362b2) 0%, #ffffff 100%);
	}
}

section {
	padding-bottom: 250px;

	&.hero {
		position: relative;

		&:before {
			z-index: -1;
			position: absolute;
			top: -10%;
			right: -40%;
			content: "";
			width: 1500px;
			height: 900px;
			background: radial-gradient(50% 50% at 50% 50%, var(--project-main-color, #4362b2) 0%, #ffffff 100%);
		}

		img {
			max-width: 800px;
		}

		@media (min-width: 80em) {
			h1 {
				margin-top: 4rem;
			}
			img {
				margin-top: -20%;
			}
		}
	}
}

.boxed {
	padding: 20px !important;
	border-radius: 20px;
	border: 2px solid var(--project-main-color);
}

.box-filled {
	padding: 40px 20px !important;
	border-radius: 20px;
	background: var(--project-main-color);
	color: #fff;
	display: flex;
	align-items: center;
	h2 {
		margin: 0;
	}
}

.btn {
	text-transform: initial !important;
	border-radius: 40px !important;
	box-shadow: none;
	background: var(--project-main-color, #0b42da);

	&:hover,
	&:focus-visible {
		background: darken($project-main-color, 15%);
		box-shadow: none;
	}
}

// Bullets
.bullet-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	justify-content: center;
	justify-items: center;
	gap: 40px;

	.bullet-card {
		display: grid;
		grid-template-rows: 220px auto;
		text-align: center;
		img {
			border-radius: 50%;
			width: 100%;
			max-width: 220px;
		}
	}
	@media (min-width: 80em) {
		flex-direction: row;
	}
}

// text-imgs
.text-imgs {
	.screenshots {
		margin-top: 40px;
		// display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px 40px;
		width: 100%;

		.screenshot {
			text-align: center;
			position: relative;

			img {
				width: calc(100% - 20px);
				min-width: 200px;
				height: 100%;
				max-height: 400px;
				object-fit: cover;
				border-radius: 10px;
				outline: 20px solid var(--project-light-color);
			}

			.screenshot__info {
				position: absolute;
				width: 100%;
				padding: 10px;
				background: var(--project-light-color);
				z-index: 1;
				bottom: 0;
				left: 0;
				font-size: 14px;
				visibility: hidden;
				opacity: 0;
				transition: 0.3s ease-in-out;
			}

			&:hover {
				.screenshot__info {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

// vertical list
.vertical-list {
	.list {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.list-item {
			display: flex;
			flex-direction: column;
			gap: 10px;
			&__title {
				margin: 0;
				font-weight: normal;
			}
			span {
				color: #666;
			}
		}
	}
}

// two columns
.two-columns-list {
	$base-color: $project-main-color;
	.list {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 20px;

		&:first-of-type {
			margin-bottom: 20px;
		}

		@media (min-width: 80em) {
			&:first-of-type {
				margin-bottom: 0;
			}
		}

		.list-item {
			display: flex;
			flex-direction: column;
			padding: 2rem !important;
			border: 0;
			gap: 10px;
			&__title {
				margin: 0;
				font-weight: normal;
				color: darken($base-color, 50%);
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					background-color: lighten($base-color, (10 - $i) * 3%);
				}
			}
		}
	}
}

.text-block {
	font-size: 18px;

	strong {
		font-weight: 600;
	}

	.boxed {
		margin-top: 4rem;
		padding: 2rem !important;
		position: relative;
		border-radius: 0 20px 20px 20px !important;

		&:before {
			content: "";
			width: calc(100% - 100px);
			height: 50px;
			border: 2px solid var(--project-main-color);
			border-radius: 20px 20px 0 0;
			position: absolute;
			top: -50px;
			left: -2px;
			z-index: 1;
		}

		&:after {
			content: "";
			width: calc(100% - 104px);
			height: 2px;
			background: white;
			position: absolute;
			top: -2px;
			left: 0;
			z-index: 1;
		}
	}
}

.big-numbers {
	.numbers-list {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		// grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 20px;

		.number-item {
			width: 200px;
			border-radius: 20px;
			background: #ccc;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			padding: 20px 10px;
			line-height: 1;
			gap: 10px;
			height: 200px;

			.number {
				font-size: 50px;
				font-weight: 900;
			}
		}
	}
}

.cards-horizontal {
	.cards-list {
		margin: 0;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		justify-content: center;
		align-items: center;
		align-content: center;
		gap: 20px;
		width: 100%;
		.card-item {
			padding: 20px;
			border-radius: 20px;
			background: var(--project-light-color);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			height: 100%;

			.title,
			.number {
				text-align: center;
			}
			.title {
				font-weight: 600;
				font-size: 18px;
			}
			.number {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				font-weight: 900;
				border-radius: 50%;
				background-color: var(--project-main-color);
				max-width: 150px;
				width: 100%;
				aspect-ratio: 1/1;
			}
			.desc {
				flex-grow: 1;
			}
		}
	}
}

.team {
	.team-members {
		margin: 0;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		gap: 20px;

		.member {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			align-items: center;
			gap: 0;

			.name {
				font-weight: 600;
				flex-grow: 1;
			}
			.position {
				font-weight: normal;
				font-size: 12px;
			}

			img {
				width: 100%;
				max-width: 100px;
				outline: 6px solid white;
				border-radius: 50%;
				transition: 0.3s ease-in-out;
				object-fit: cover;
				margin-bottom: 4px;
			}

			&:hover {
				img {
					filter: drop-shadow(4px 4px 10px var(--project-main-color));
				}
			}
		}
	}
}
