.section.section-navbar nav .nav-wrapper{font-size:2.1rem}.section.section-navbar nav .nav-wrapper .brand-logo.center,.section.section-navbar nav .nav-wrapper .brand-logo.center-align{position:absolute;left:45%}.section.section-navbar #extended-navbar ul.sidenav#mobile-demo,.section.section-navbar #extended-navbar ul.sidenav#mobile-demo2,.section.section-navbar #mobile-collapse ul.sidenav#mobile-demo,.section.section-navbar #mobile-collapse ul.sidenav#mobile-demo2{top:56px;width:350px}@media screen and (max-width: 540px){.section.section-navbar nav .nav-wrapper .brand-logo.center,.section.section-navbar nav .nav-wrapper .brand-logo.center-align{position:absolute;left:40%}}
/*# sourceMappingURL=component-navbar.css.map */
