// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus:not(:focus-visible) {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: 1rem;
  color: #555;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
