:root {
	--primary: #ffb342;
	--secondary: #d06c13;
	--text-color: #532408;
	--gov-blue: #2651a0;
	--gov-yellow: #fdc72d;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 64px;
	transform: left 2s;
}

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: var(--text-color);
	overflow-x: clip;
	font-size: 16px;
	line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h2 {
	font-size: 32px;
}

@media (min-width: 80em) {
	h2 {
		font-size: 40px;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 80%;
	}
}

.btn {
	background: var(--gov-blue);
	color: #fff;
	border-radius: 6px;
	text-transform: initial;
	padding: 0px 30px;

	&:hover {
		background-color: #3460b3;
	}
}

section {
	padding: 50px 0;

	@media (min-width: 80em) {
		padding: 150px 0;
	}
}

header {
	position: fixed;
	top: 0;
	z-index: 998;
	width: 100%;
	backdrop-filter: blur(2px);

	@media (max-width: 70em) {
		.container {
			width: 90%;
		}
	}

	.languages.desktop {
		display: inline-flex;
		align-items: center;
		li {
			height: 100%;
			a {
				display: flex;
				height: 100%;
				padding: 0 10px;
				align-items: center;
			}
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
}
nav {
	background: linear-gradient(180deg, rgba(black, 0.5), transparent);
	box-shadow: none;
	.nav-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.brand-logo {
		position: relative;
		width: 180px;
	}
	li a {
		font-weight: 500;
	}
}
.sidenav {
	height: calc(100vh + 60px);
}

.hero {
	margin-top: -64px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: url(assets/img/hero.webp) no-repeat;
	background-size: cover;
	position: relative;
	z-index: 4;

	padding: 200px 0;

	.container {
		height: 100%;
		position: relative;
	}

	.logo_brasil {
		position: absolute;
		top: -50px;
		right: 16px;
		width: 50px;
	}

	&_wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		z-index: 2;
	}

	&_logo {
		// position: absolute;
		// top: 50%;
		// left: 50%;
		width: min(100%, 550px);
		// transform: translate(-50%, -50%);
	}

	&_link {
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: 1.2rem;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(180deg, transparent, var(--primary));
		z-index: 1;
	}

	@media (min-width: 42em) {
		.hero_logo {
			padding-top: 50px;
		}
		.logo_brasil {
			width: 100px;
		}
	}
}

.ojalapao {
	background: linear-gradient(180deg, var(--primary), var(--secondary));
	color: #fff;
	position: relative;
	padding-bottom: 0;

	&_divider {
		width: 100%;
	}
}

.atrativos {
	background: var(--secondary);
	padding-top: 50px;
	h2 {
		text-align: center;
		color: #fff;
	}
	.blaze {
		&-track-container {
			box-shadow: 0 4px 50px rgba(black, 0.25);
		}

		&-navigation {
			width: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-top: 40px;
			gap: 4px;

			button {
				cursor: pointer;
				transition: 0.3s ease-in-out;
				&:hover {
					background: rgba(white, 0.5) !important;
				}
				&:focus-visible {
					outline: 2px solid black;
					outline-offset: 2px;
				}
			}

			.blaze-prev,
			.blaze-next {
				background: none;
				border: 0;
				color: var(--text-color);
				display: flex;
				border-radius: 4px;
				i {
					font-size: 32px;
				}
			}

			.blaze-pagination {
				display: inline-flex;
				gap: 4px;
				font-size: 0;
				button {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 0;
					background: var(--text-color);

					&.active {
						background: #fff;
					}
				}
			}
		}
	}
	.atrativo {
		background: #fff;
		border-radius: 2px;
		overflow: hidden;
		display: flex;
		flex-direction: column-reverse;

		img {
			display: block;
			width: 100%;
			height: 300px;
			object-fit: cover;
			flex-shrink: 1 !important;
		}
		&-text {
			flex-grow: 1 !important;
			h3 {
				font-size: 25px;
			}
			padding: 0 10px;
		}
	}

	@media (min-width: 70em) {
		h2 {
			margin-bottom: 50px;
		}
		.atrativo {
			display: grid;
			grid-template-columns: 500px auto;
			height: 500px;

			img {
				height: 100%;
			}
		}

		.container {
			position: relative;

			&:before {
				content: "";
				height: 700px;
				width: 650px;
				background: url("assets/img/letter_a.svg") center center no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				left: 0;
				transform: translate(-50%, -10%);
			}
		}
	}

	@media (min-width: 90em) {
		.atrativo {
			grid-template-columns: 630px auto;
		}
	}

	@media (max-height: 50em) and (min-width: 42em) {
		.atrativo {
			height: 400px;
		}
	}
}

.comochegar {
	padding: 30px 0;

	strong {
		font-weight: 600;
	}

	h2 {
		margin-top: 0;
	}
}

.video {
	background: var(--gov-blue);
	&_wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width: 100%;
		box-shadow: 0 4px 50px rgba(black, 0.25);
	}
	&_wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.tocantins {
	position: relative;
	&_logo {
		position: absolute;
		bottom: -10;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.btn {
		margin-top: 20px;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 40px;
		position: relative;
		z-index: 1;
	}

	&_links {
		position: relative;
		z-index: 1;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 340px;
			border-radius: 6px;
			height: 80%;
			background: var(--gov-yellow);
			z-index: -1;
		}
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			li {
				width: min(100%, 250px);
				margin-left: 20%;
				margin-bottom: -20px;

				a {
					display: block;
					position: relative;
					z-index: 2;
					box-shadow: 0 4px 10px rgba(black, 0.25);
					transition: 0.3s ease-in-out;
					overflow: hidden;
					aspect-ratio: 16 / 10;
					border-radius: 6px;

					&:hover,
					&:focus-visible {
						z-index: 3;
						box-shadow: 4px 4px 20px rgba(black, 0.25);
						scale: 1.1;
						.local {
							opacity: 1;
						}
					}

					.local {
						transition: 0.3s ease-in-out;
						opacity: 0;
						position: absolute;
						bottom: 0;
						left: 0;
						padding: 10px;
						width: 100%;
						color: #fff;
						background: rgba(black, 0.5);
						border-radius: 0 0 6px 6px;
						backdrop-filter: blur(4px);
						box-sizing: border-box;
					}
				}

				&:nth-of-type(1) {
					margin-left: 0;
				}

				&:nth-of-type(3) {
					margin-left: 5%;
				}
				&:nth-of-type(5) {
					margin-left: 10%;
				}

				img {
					width: 100%;
					height: 100%;

					object-fit: cover;
				}
			}
		}
	}

	@media (min-width: 80em) {
		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}
		.tocantins_links {
			ul li {
				margin-left: 45%;
				margin-bottom: -30px;

				&:nth-of-type(1) {
					margin-left: 0;
				}

				&:nth-of-type(3) {
					margin-left: 5%;
				}
				&:nth-of-type(5) {
					margin-left: 10%;
				}
			}
		}
	}
}

footer {
	background: #eef2f3;
	padding: 20px 0;
	.container {
		display: flex;
		justify-content: center;
	}
	img {
		width: 300px;
	}
}
