:root {
  --primary: #ffb342;
  --secondary: #d06c13;
  --text-color: #532408;
  --gov-blue: #2651a0;
  --gov-yellow: #fdc72d;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
  transform: left 2s;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  overflow-x: clip;
  font-size: 16px;
  line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: 32px;
}

@media (min-width: 80em) {
  h2 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.btn {
  background: var(--gov-blue);
  color: #fff;
  border-radius: 6px;
  text-transform: initial;
  padding: 0px 30px;
}
.btn:hover {
  background-color: #3460b3;
}

section {
  padding: 50px 0;
}
@media (min-width: 80em) {
  section {
    padding: 150px 0;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media (max-width: 70em) {
  header .container {
    width: 90%;
  }
}
header .languages.desktop {
  display: inline-flex;
  align-items: center;
}
header .languages.desktop li {
  height: 100%;
}
header .languages.desktop li a {
  display: flex;
  height: 100%;
  padding: 0 10px;
  align-items: center;
}
header .languages.desktop li img {
  width: 32px;
  height: 32px;
}

nav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  box-shadow: none;
}
nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
}
nav .brand-logo {
  position: relative;
  width: 180px;
}
nav li a {
  font-weight: 500;
}

.sidenav {
  height: calc(100vh + 60px);
}

.hero {
  margin-top: -64px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(assets/img/hero.webp) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 4;
  padding: 200px 0;
}
.hero .container {
  height: 100%;
  position: relative;
}
.hero .logo_brasil {
  position: absolute;
  top: -50px;
  right: 16px;
  width: 50px;
}
.hero_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}
.hero_logo {
  width: min(100%, 550px);
}
.hero_link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, transparent, var(--primary));
  z-index: 1;
}
@media (min-width: 42em) {
  .hero .hero_logo {
    padding-top: 50px;
  }
  .hero .logo_brasil {
    width: 100px;
  }
}

.ojalapao {
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  color: #fff;
  position: relative;
  padding-bottom: 0;
}
.ojalapao_divider {
  width: 100%;
}

.atrativos {
  background: var(--secondary);
  padding-top: 50px;
}
.atrativos h2 {
  text-align: center;
  color: #fff;
}
.atrativos .blaze-track-container {
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
}
.atrativos .blaze-navigation {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 4px;
}
.atrativos .blaze-navigation button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.atrativos .blaze-navigation button:hover {
  background: rgba(255, 255, 255, 0.5) !important;
}
.atrativos .blaze-navigation button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}
.atrativos .blaze-navigation .blaze-prev,
.atrativos .blaze-navigation .blaze-next {
  background: none;
  border: 0;
  color: var(--text-color);
  display: flex;
  border-radius: 4px;
}
.atrativos .blaze-navigation .blaze-prev i,
.atrativos .blaze-navigation .blaze-next i {
  font-size: 32px;
}
.atrativos .blaze-navigation .blaze-pagination {
  display: inline-flex;
  gap: 4px;
  font-size: 0;
}
.atrativos .blaze-navigation .blaze-pagination button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background: var(--text-color);
}
.atrativos .blaze-navigation .blaze-pagination button.active {
  background: #fff;
}
.atrativos .atrativo {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.atrativos .atrativo img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 1 !important;
}
.atrativos .atrativo-text {
  flex-grow: 1 !important;
  padding: 0 10px;
}
.atrativos .atrativo-text h3 {
  font-size: 25px;
}
@media (min-width: 70em) {
  .atrativos h2 {
    margin-bottom: 50px;
  }
  .atrativos .atrativo {
    display: grid;
    grid-template-columns: 500px auto;
    height: 500px;
  }
  .atrativos .atrativo img {
    height: 100%;
  }
  .atrativos .container {
    position: relative;
  }
  .atrativos .container:before {
    content: "";
    height: 700px;
    width: 650px;
    background: url("assets/img/letter_a.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -10%);
  }
}
@media (min-width: 90em) {
  .atrativos .atrativo {
    grid-template-columns: 630px auto;
  }
}
@media (max-height: 50em) and (min-width: 42em) {
  .atrativos .atrativo {
    height: 400px;
  }
}

.comochegar {
  padding: 30px 0;
}
.comochegar strong {
  font-weight: 600;
}
.comochegar h2 {
  margin-top: 0;
}

.video {
  background: var(--gov-blue);
}
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
}
.video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tocantins {
  position: relative;
}
.tocantins_logo {
  position: absolute;
  bottom: -10;
  left: 0;
  width: 100%;
  z-index: -1;
}
.tocantins .btn {
  margin-top: 20px;
}
.tocantins .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}
.tocantins_links {
  position: relative;
  z-index: 1;
}
.tocantins_links:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  border-radius: 6px;
  height: 80%;
  background: var(--gov-yellow);
  z-index: -1;
}
.tocantins_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.tocantins_links ul li {
  width: min(100%, 250px);
  margin-left: 20%;
  margin-bottom: -20px;
}
.tocantins_links ul li a {
  display: block;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  overflow: hidden;
  aspect-ratio: 16/10;
  border-radius: 6px;
}
.tocantins_links ul li a:hover, .tocantins_links ul li a:focus-visible {
  z-index: 3;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  scale: 1.1;
}
.tocantins_links ul li a:hover .local, .tocantins_links ul li a:focus-visible .local {
  opacity: 1;
}
.tocantins_links ul li a .local {
  transition: 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 6px 6px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-sizing: border-box;
}
.tocantins_links ul li:nth-of-type(1) {
  margin-left: 0;
}
.tocantins_links ul li:nth-of-type(3) {
  margin-left: 5%;
}
.tocantins_links ul li:nth-of-type(5) {
  margin-left: 10%;
}
.tocantins_links ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 80em) {
  .tocantins .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .tocantins .tocantins_links ul li {
    margin-left: 45%;
    margin-bottom: -30px;
  }
  .tocantins .tocantins_links ul li:nth-of-type(1) {
    margin-left: 0;
  }
  .tocantins .tocantins_links ul li:nth-of-type(3) {
    margin-left: 5%;
  }
  .tocantins .tocantins_links ul li:nth-of-type(5) {
    margin-left: 10%;
  }
}

footer {
  background: #eef2f3;
  padding: 20px 0;
}
footer .container {
  display: flex;
  justify-content: center;
}
footer img {
  width: 300px;
}/*# sourceMappingURL=style.css.map */