@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
:root {
	--main-color: #00af6f;
	--main-color-lighter: #44e0a7;
	--sec-color: #8100e3; /* 8100E3 */
	--ter-color: #002464;
}

header,
nav,
section,
article,
aside,
footer {
	display: block;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	overflow-x: clip;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: Inter, sans-serif;
	overflow-x: hidden;
	font-weight: 400;
	color: var(--ter-color);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a {
	outline-offset: 2px;
	&:focus-visible {
		outline: 2px dashed var(--main-color) !important;
	}
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 600;
	font-family: inter, sans-serif;
	margin: 0 0 1rem;
	color: var(--sec-color);
	line-height: 1.22em;
	a {
		color: var(--sec-color);
		transition: all ease-in-out 0.5s;
		cursor: pointer;
		text-decoration: none;
		&:hover,
		&:focus {
			color: var(--main-color);
			transition: all ease-in-out 0.5s;
			outline: none;
			text-decoration: none !important;
		}
	}
}

.page {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		color: var(--ter-color);
	}
}

h1,
.h1 {
	font-size: 70px;
}
h2,
.h2 {
	font-size: 56px;
}
h3,
.h3 {
	font-size: 32px;
}
h4,
.h4 {
	font-size: 21px;
}
h5,
.h5 {
	font-size: 21px;
}
h6,
.h6 {
	font-size: 18px;
}
@media (max-width: 991px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 36px;
	}
}
@media (max-width: 735px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 21px;
	}
}
.h-title {
	font-size: 130px;
	font-family: inter, sans-serif;
	color: #ffffff00;
	-webkit-text-stroke: 0.2px;
	-webkit-text-stroke-color: var(--sec-color);
	stroke: var(--sec-color);
	margin-bottom: -80px;
	line-height: 1;
}
.theme-stroke {
	-webkit-text-stroke-color: var(--main-color);
	stroke: var(--main-color);
}
@media (max-width: 991px) {
	.h-title {
		font-size: 100px;
		margin-bottom: -50px;
	}
}
@media (max-width: 639px) {
	.h-title {
		font-size: 55px;
		margin-bottom: -30px;
	}
}
p {
	margin-bottom: 8px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		margin-bottom: 0;
		line-height: 1.5;
		color: #707070;
		position: relative;
		display: inline-block;
		padding: 0;
	}
}

ol {
	margin: 0;
	counter-reset: i;
	position: relative;

	li {
		font-size: 16px;
		margin-bottom: 10px;
		line-height: 1.5;
		color: #707070;
		padding-left: 0;
		position: relative;
	}
}
a {
	color: #707070;
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
		color: var(--main-color);
		transition: all ease-in-out 0.5s;
		outline: none;
	}
	&:not([href]):not([tabindex]):focus,
	&:not([href]):not([tabindex]):hover {
		color: var(--main-color) !important;
	}
}
::-webkit-input-placeholder {
	color: #707070 !important;
}
:-ms-input-placeholder {
	color: #707070 !important;
}
input::placeholder {
	color: #707070 !important;
}
.row [class*="col-"] {
	padding: 0 15px;
}
img {
	max-width: 100%;
}
.img-circle {
	width: 65px;
	height: 65px;
}
.btn-info.focus,
.btn-info:focus,
.btn-info:active {
	outline: none;
	box-shadow: none !important;
	background: 0 0 !important;
	border: none !important;
}
.container {
	position: relative;
	z-index: 1;
}
@media (max-width: 767px) {
	.container,
	.container-sm {
		max-width: 100%;
	}
}
.white {
	color: #fff !important;
}
.theme {
	color: var(--main-color) !important;
}
.theme-lighter {
	color: var(--main-color-lighter) !important;
}
.theme1 {
	color: var(--sec-color) !important;
}
.theme2 {
	color: var(--ter-color) !important;
}
.black {
	color: #3f3f3f !important;
}
.grey {
	color: #707070 !important;
}
.lgrey {
	color: #c7c7c7 !important;
}
.title {
	color: var(--sec-color) !important;
}
.bg-grey {
	background: #f7f7f7 !important;
}
.bg-lgrey {
	background: #c7c7c7 !important;
}
.bg-theme {
	background: var(--main-color) !important;
}
.bg-theme1 {
	background: var(--sec-color) !important;
}
.bg-theme2 {
	background: var(--ter-color) !important;
}
.bg-theme3 {
	background: var(--main-color) !important;
}
.bg-title {
	background: var(--sec-color) !important;
}
.bg-fblack {
	background: #101010 !important;
}
.bg-white {
	background: #fff !important;
}
.bordernone {
	border: none !important;
}
.border-b {
	border-bottom: 1px dashed #7070702b !important;
}
.border-all {
	border: 1px solid #7070702b !important;
}
.border-start {
	border-left: 1px solid #f7f7f7 !important;
}
.border-end {
	border-right: 1px solid #f7f7f7 !important;
}
.border-top {
	border-top: 1px solid #f7f7f7 !important;
}
.border-bottom {
	border-bottom: 1px solid #f7f7f7 !important;
}
.rating span {
	color: #ffbc00;
	display: inline;
	font-size: 14px;
}
.small,
small {
	font-size: 85%;
}
.mt-1,
.my-1 {
	margin-top: 0.5rem !important;
}
.mt-2,
.my-2 {
	margin-top: 1rem !important;
}
.mt-3,
.my-3 {
	margin-top: 1.5rem !important;
}
.mt-4,
.my-4 {
	margin-top: 2rem !important;
}
.mt-5,
.my-5 {
	margin-top: 2.5rem !important;
}
.mt-6,
.my-6 {
	margin-top: 3rem !important;
}
.mt-7,
.my-7 {
	margin-top: 3.5rem !important;
}
.mt-8,
.my-8 {
	margin-top: 4rem !important;
}
.mt-9,
.my-9 {
	margin-top: 4.5rem !important;
}
.mt-10,
.my-10 {
	margin-top: 5rem !important;
}
.mt-minus {
	margin-top: -5rem !important;
}
.mb-1,
.my-1 {
	margin-bottom: 0.5rem !important;
}
.mb-2,
.my-2 {
	margin-bottom: 1rem !important;
}
.mb-3,
.my-3 {
	margin-bottom: 1.5rem !important;
}
.mb-4,
.my-4 {
	margin-bottom: 2rem !important;
}
.mb-5,
.my-5 {
	margin-bottom: 2.5rem !important;
}
.mb-6,
.my-6 {
	margin-bottom: 3rem !important;
}
.mb-7,
.my-7 {
	margin-bottom: 3.5rem !important;
}
.mb-8,
.my-8 {
	margin-bottom: 4rem !important;
}
.mb-9,
.my-9 {
	margin-bottom: 4.5rem !important;
}
.mb-10,
.my-10 {
	margin-bottom: 5rem !important;
}
.mb-minus {
	margin-bottom: -5rem !important;
}
.pt-1,
.py-1 {
	padding-top: 0.5rem !important;
}
.pt-2,
.py-2 {
	padding-top: 1rem !important;
}
.pt-3,
.py-3 {
	padding-top: 1.5rem !important;
}
.pt-4,
.py-4 {
	padding-top: 2rem !important;
}
.pt-5,
.py-5 {
	padding-top: 2.5rem !important;
}
.pt-6,
.py-6 {
	padding-top: 3rem !important;
}
.pt-7,
.py-7 {
	padding-top: 3.5rem !important;
}
.pt-8,
.py-8 {
	padding-top: 4rem !important;
}
.pt-9,
.py-9 {
	padding-top: 4.5rem !important;
}
.pt-10,
.py-10 {
	padding-top: 5rem !important;
}
.pt-12,
.py-12 {
	padding-top: 6rem !important;
}
.pt-14,
.py-14 {
	padding-top: 7rem !important;
}
.pt-17,
.py-17 {
	padding-top: 8.5rem !important;
}
.pt-18,
.py-18 {
	padding-top: 9rem !important;
}
.pt-19,
.py-19 {
	padding-top: 9.5rem !important;
}
.pt-20,
.py-20 {
	padding-top: 10rem !important;
}
.pt-lg-7,
.py-lg-7 {
	padding-top: 3.5rem !important;
}
.pb-1,
.py-1 {
	padding-bottom: 0.5rem !important;
}
.pb-2,
.py-2 {
	padding-bottom: 1rem !important;
}
.pb-3,
.py-3 {
	padding-bottom: 1.5rem !important;
}
.pb-4,
.py-4 {
	padding-bottom: 2rem !important;
}
.pb-5,
.py-5 {
	padding-bottom: 2.5rem !important;
}
.pb-6,
.py-6 {
	padding-bottom: 3rem !important;
}
.pb-7,
.py-7 {
	padding-bottom: 3.5rem !important;
}
.pb-8,
.py-8 {
	padding-bottom: 4rem !important;
}
.pb-9,
.py-9 {
	padding-bottom: 4.5rem !important;
}
.pb-10,
.py-10 {
	padding-bottom: 5rem !important;
}
.pb-12,
.py-12 {
	padding-bottom: 6rem !important;
}
.pb-14,
.py-14 {
	padding-bottom: 7rem !important;
}
.pb-17,
.py-17 {
	padding-bottom: 8.5rem !important;
}
.pb-18,
.py-18 {
	padding-bottom: 9rem !important;
}
.pb-19,
.py-19 {
	padding-bottom: 9.5rem !important;
}
.pb-20,
.my-20 {
	padding-bottom: 10rem !important;
}
.pb-lg-7,
.py-lg-7 {
	padding-bottom: 3.5rem !important;
}
.top-minus-20 {
	top: -20px !important;
}
.top-minus-40 {
	top: -40px !important;
}
.top-inherit {
	top: inherit !important;
}
.bottom-inherit {
	bottom: inherit !important;
}
.translatey-50 {
	transform: translateY(-50%);
}
.translate-50 {
	transform: translate(-50%, -50%);
}
.opacity-25 {
	opacity: 0.25 !important;
}
.opacity-50 {
	opacity: 0.5 !important;
}
.opacity-75 {
	opacity: 0.75 !important;
}
.opacity-90 {
	opacity: 0.9 !important;
}
.opacity-100 {
	opacity: 1 !important;
}
.z-index1 {
	z-index: 1;
}
.z-index2 {
	z-index: 2;
}
.z-index3 {
	z-index: 4;
}
.textupper {
	text-transform: uppercase;
}
.textcap {
	text-transform: capitalize;
}
.form-group {
	width: 100%;
	display: inline-block;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea,
select {
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: 1px solid #7070702b;
	border-radius: 0;
	padding: 12px 20px;
	color: #707070;
	margin-bottom: 0;
	height: 55px;
	box-shadow: none;
	width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
	outline: none;
	transition: all 0.5s ease;
	box-shadow: none;
}
select {
	width: 100%;
	height: inherit;
}
select option {
	color: #f7f7f7;
}
textarea {
	border-radius: none;
	resize: vertical;
	height: 120px;
}
label {
	display: inline-block;
	color: #707070;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 16px;
}
blockquote {
	font-size: 14px;
	font-weight: 400;
	background-color: var(--main-color);
	margin-bottom: 15px;
	border: 0;
	padding: 30px 70px;
	line-height: 1.5;
	color: #fff;
	margin: 20 0;
	font-style: italic;
	position: relative;
}
blockquote :after {
	content: "";
	position: absolute;
	height: 60%;
	width: 2px;
	background: #fff;
	top: 20%;
	left: 35px;
}
blockquote p {
	color: #fff;
	margin: 0;
}
blockquote :before {
	content: "\f10d";
	font-family: fontawesome;
	font-size: 45px;
	position: absolute;
	bottom: 26px;
	right: 20px;
	color: #fff;
	transform: rotate(180deg);
}
blockquote span {
	position: relative;
	padding-left: 20px;
}
blockquote span :before {
	content: "";
	width: 12px;
	height: 1px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
}
table > tbody tr td,
table > tbody tr th,
table > tfoot tr td,
table > tfoot tr th,
table > thead tr td,
table > thead tr th {
	padding: 15px;
	vertical-align: sub !important;
	border: 1px solid #7070702b;
}
table > tbody tr td,
table > tfoot tr td,
table > thead tr td {
	padding-left: 0;
}
table > tbody tr:nth-child(even),
table > tfoot tr:nth-child(even),
table > thead tr:nth-child(even) {
	background: #c7c7c7;
}
table {
	width: 100%;
}
table thead tr th {
	border-bottom: none !important;
}
.w-60 {
	width: 60% !important;
}
.overlay,
.theme-overlay,
.color-overlay,
.white-overlay,
.bread-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #002058;
	transition: all ease-in-out 0.5s;
	opacity: 0.6;
}
.theme-overlay {
	background-color: #560098;
	opacity: 1;
	mix-blend-mode: hard-light;
}
.color-overlay {
	top: inherit;
	bottom: 0;
	background: linear-gradient(to right, var(--ter-color), #002464);
	opacity: 1;
	mix-blend-mode: hard-light;
}
.bread-overlay {
	top: inherit;
	bottom: 0;
	background: linear-gradient(to right, var(--main-color), var(--main-color-lighter));
	opacity: 0.7;
}
.white-overlay {
	background: #fff;
	opacity: 0.7;
}
section {
	padding: 4.9rem 0 6rem;
	position: relative;
}
.section-title {
	position: relative;
	z-index: 1;
}
.section-title h2 {
	position: relative;
	line-height: 1.2;
}
@media (max-width: 991px) {
	.section-title {
		width: 100% !important;
	}
	.section-title .ah-words-wrapper {
		text-align: center;
	}
	.section-title h4 {
		margin-bottom: 0;
	}
}
.row.slick-slider {
	margin: 0 -15px;
}
iframe {
	width: 100%;
	border: none;
}
.border-t {
	border-top: 2px dashed #cccccc5e;
}
.box-shadow {
	box-shadow: 0 0 20px #9e9e9e45;
}
.rounded {
	border-radius: 10px !important;
}
.rounded-start {
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}
.rounded-top {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

button {
	border: none;
}

input#submit {
	border: none;
}
input[type="submit"]:hover {
	background: var(--sec-color);
	color: #fff;
}

.cta-btn {
	position: relative;
	z-index: 1;
	font-size: 16px;
	text-align: center;
	padding: 15px 25px;
	text-transform: capitalize;
	transition: all ease-in-out 0.5s;
	background: var(--main-color);
	color: #fff;
	display: inline-block;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
	overflow: hidden;

	&:before {
		position: absolute;
		left: 0;
		width: 0;
		height: 100%;
		top: 0;
		content: "";
		background: var(--sec-color);
		color: #fff !important;
		transition: all ease-in-out 0.5s;
		z-index: -1;
	}

	&:hover {
		color: #fff !important;
		transition: all ease-in-out 0.5s;
		&:before {
			width: 100%;
			transition: all ease-in-out 0.5s;
		}
	}

	&.cta-btn--inverse {
		background: var(--sec-color);

		&::before {
			background: var(--main-color);
		}
	}
}
