@use "general";

.navbar-default {
	background: #f5f5f5;
}
.navbar {
	border-bottom: 0;
	padding: 0;
	.navbar-default {
		transition: none;
	}
}
.sidebar .navbar-nav {
	background: 0 0;
	margin: 0;
}

main {
	margin-top: 84px;
}
header #navbar {
	width: 100%;
	background: #f49b00;
}
.navbar {
	background: white;
	min-height: 84px;

	@media (min-width: 1200px) {
		height: 84px;
	}

	.navbar-brand img {
		height: 38px;
	}
	&-collapse {
		li {
			text-transform: uppercase;
			a {
				color: var(--ter-color) !important;
				font-size: 14px;
				font-weight: 500;
				&:hover {
					color: var(--main-color) !important;
				}
			}
		}
	}
	.navbar-nav li ul li {
		width: 100%;
	}
}
.navbar-default a.navbar-brand {
	font-size: 24px;
	position: relative;
	color: #f49b00;
	letter-spacing: 2px;
	font-weight: 400;
	display: block;
	padding: 0;
	height: auto;
	transition: all ease-in-out 0.5s;
	transition: color 0.5s ease;
	margin-right: 0;
	flex: 1;

	&:hover {
		color: #d60d45;
	}

	span {
		color: #fc883a;
	}
	li,
	li.active {
		background: #f33807;

		a,
		a:hover {
			background: #f33807;
		}
	}
}

.navbar-nav li {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}
.navbar-nav li ul {
	z-index: 9999;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: 0;
	width: 190px;
	display: none;
	border: 1px solid #7070702b;
	-webkit-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
}
.navbar-nav li ul li {
	border-bottom: 1px solid #f1f1f1;
	&:last-child {
		border-bottom: none;
	}
	&:hover {
		a {
			padding-left: 20px;
			padding-right: 10px;
			text-decoration: none;
		}
		ul li a {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	a {
		display: block;
		padding: 7px 15px;
		font-size: 15px;
		font-weight: 500;
		color: #636363;
		&:hover {
			color: #f33807;
		}
	}
	ul {
		position: absolute;
		left: 188px;
		top: -2px;
		li ul li:hover a {
			padding-left: 20px;
			padding-right: 10px;
		}
	}
}

.navbar-nav li > ul > li:last-child > a {
	border-bottom: 0;
}
.navbar-nav li > ul > li ul > li:last-child > a {
	border-bottom: 0;
}

.nav-tabs {
	border-bottom: none;
	background: #fff;
	overflow: hidden;
	margin-bottom: 30px;
}
.nav-tabs > li.nav-item {
	margin: 0 4px;
	flex: inherit !important;
	text-align: left !important;
}
.nav-tabs > li.nav-item button {
	padding: 15px 30px;
	margin: 0;
	border-radius: 0;
	line-height: inherit;
	border: none;
	display: inline-block;
	width: auto !important;
	background: #fff;
	font-weight: 500;
	font-size: 21px;
}
.nav-tabs > li.nav-item button:hover {
	color: var(--main-color) !important;
	background-color: #fff;
}
.nav-tabs > li.nav-item button.active {
	color: var(--main-color) !important;
	background-color: #fff;
}
.nav-tabs > li.nav-item button.active:hover {
	color: var(--main-color) !important;
	background-color: #fff;
}
@media (max-width: 991px) {
	.nav-tabs {
		width: 100% !important;
	}
}
@media (max-width: 767px) {
	.nav-tabs > li.nav-item {
		margin: 0 4px 4px;
	}
}
// .pagination-main {
// 	line-height: 0.8;
// 	.pagination {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 		display: inline-block;
// 	}
// }

// .pagination-main .pagination li {
// 	padding-left: 0;
// 	padding-bottom: 0;
// 	margin-bottom: 0;

// 	&:before,
// 	&:after {
// 		display: none;
// 	}

// 	&:last-child > a,
// 	&:last-child > span {
// 		border-radius: none;
// 		margin: 0;
// 	}
// 	&.active a {
// 		background: var(--main-color) !important;
// 		border-color: var(--main-color) !important;
// 		color: #fff;
// 	}

// 	a {
// 		padding: 0;
// 		height: 40px;
// 		line-height: 38px;
// 		margin-right: 9px;
// 		text-align: center;
// 		width: 40px;
// 		color: #3f3f3f;
// 		font-size: 14px;
// 		border: 1px solid #7070702b;
// 		display: inline-block;
// 		background: #c7c7c7;
// 		background: #fff;
// 		border-radius: 0;
// 		&:hover,
// 		&:focus {
// 			background-color: var(--main-color);
// 			color: #fff !important;
// 			border-color: var(--main-color);
// 		}
// 	}
// }

// .pagination-main .pagination .prev a,
// .pagination-main .pagination .next a {
// 	border-radius: 0;
// }
// @media (max-width: 567px) {
// 	.pagination li a {
// 		height: 30px;
// 		width: 30px;
// 		line-height: 28px;
// 	}
// }
// @media (max-width: 359px) {
// 	.pagination li a {
// 		height: 28px;
// 		width: 28px;
// 		line-height: 28px;
// 	}
// }
.fade:not(.show) {
	opacity: 1;
}
.breadcrumb-main {
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;

	.breadcrumb-outer {
		background: 0 0;
		position: relative;
		z-index: 1;
	}
}
.breadcrumb {
	background: 0 0;
	margin: 0;
	padding: 0;

	li,
	li.active {
		margin-bottom: 0;

		a {
			color: var(--main-color);
		}
	}
	.breadcrumb-item + .breadcrumb-item:before {
		content: "/";
	}
}

@media (max-width: 991px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content {
		display: block !important;
		text-align: center !important;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content nav {
		right: 0;
		margin: 0;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
		margin: 0 !important;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 44px;
	}
}
@media (max-width: 811px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 36px;
	}
}
@media (max-width: 639px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 28px;
	}
	.page-cover h1 {
		font-size: 28px;
	}
}
@media (max-width: 479px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content {
		text-align: center;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 24px;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
		display: block;
		font-size: 40px;
	}
}

.coming-countermain {
	margin-top: -80px;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 60%;
		height: 100%;
		background: var(--main-color);
		border-radius: 0 10px 10px 0;
	}
	.counter-box {
		font-size: 16px;
		color: #fff;
		text-align: center;
		span {
			font-size: 58px;
			font-weight: 500;
			line-height: 1;
		}
	}
	@media (max-width: 991px) {
		margin-top: 0;
		&:before {
			width: 100%;
		}
	}
	@media (max-width: 639px) {
		.coming-counter {
			padding-bottom: 1rem !important;
			.counter-box {
				margin-bottom: 1.5rem;
				span {
					font-size: 40px;
				}
			}
		}
	}
}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 22;
}

.banner {
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 650px;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.banner-in {
		margin-top: 140px;
		max-width: 700px;
		.theme {
			color: var(--main-color-lighter);
		}
		h1 {
			font-size: 50px;
			margin-bottom: 0;
		}
		p {
			font-size: 24px;
			font-weight: 500;
		}
		.banner-image {
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center;
			position: relative;
			bottom: -165px;
		}
	}
	@media (max-width: 991px) {
		margin-top: 0 !important;

		.banner-in {
			padding-top: 8rem !important;
			h1 {
				font-size: 30px;
			}
			.banner-image {
				bottom: 0;
			}
		}
	}
}

.schedule-item .about-content {
	border-radius: 10px 0 0 10px;
}
.schedule-item .about-image-box {
	border-radius: 0 10px 10px 0;
}
.schedule-item .about-image-box h4 {
	color: var(--ter-color);
}
@media (max-width: 991px) {
	.schedule-item .schedule-speaker {
		border-top: 1px solid #7070702b;
		border-left: 0 !important;
	}
	.schedule-item .speaker-content {
		margin: 10px 0 0 !important;
	}
}

.event-calltoaction {
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.event-expo {
		&-item {
			border-radius: 10px;
			overflow: clip;
			background: white;
			color: var(--ter-color);
			display: flex;
			flex-direction: column;
			min-height: 130px;

			p {
				padding: 10px;
				align-self: center;
			}

			&:first-of-type {
				.event-expo-item-icon {
					background: var(--main-color);
				}
			}
			&:last-of-type {
				.event-expo-item-icon {
					background: #0044bc;
				}
			}

			&-icon {
				color: white;
				padding-right: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 10px;

				.expo-icon {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 8px;
				}
			}
		}
	}

	@media (min-width: 663px) {
		.event-expo {
			&-item {
				flex-direction: row;

				&-icon {
					width: 150px;
					flex-shrink: 0;
				}
			}
		}
	}
}

.expo-bd-radius {
	border-radius: 10px;
	overflow: clip;
}

@media (max-width: 991px) {
	.event-calltoaction .event-expo {
		width: 100% !important;
	}
}
@media (max-width: 639px) {
	.event-calltoaction .event-expo-item p {
		padding: 1rem;
		text-align: center;
	}
}
.event-partners {
	background-size: 55%;
	background-position: bottom center;
	background-repeat: no-repeat;

	.partners_inner {
		width: 100%;
		overflow: hidden;

		.row {
			display: flex;
			justify-content: center;
		}

		&:nth-of-type(3) {
			.partner-list {
				height: 90px;
				img {
					width: 40%;
				}
			}
		}

		&:last-of-type {
			.partner-list {
				height: 60px;
				img {
					width: 40%;
				}
			}
		}

		.partner-list {
			text-align: center;
			height: 120px;
			line-height: 120px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 60%;
			}
		}
	}
}

.event-contact-main {
	.event-expo-item {
		background: white;
		.expo-icon {
			height: 80px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}

	.map {
		iframe {
			border-radius: 10px;
			outline: 10px solid rgba(0, 175, 111, 0.05);
		}
	}

	@media (min-width: 991px) {
		.event-expo-item .expo-icon {
			height: 120px;
		}
	}
}

.sidebar-sticky {
	position: sticky;
	top: 0;
	transition: all ease-in-out 0.5s;
}
.sidebar-sticky .form-content {
	box-shadow: 0 0 30px #cccccc57;
	background: var(--main-color);
	padding: 30px;
}
.sidebar-sticky .form-content h4::before {
	display: none !important;
}
.sidebar-sticky .form-content .nice-select {
	padding: 13px 20px 10px 35px;
	font-weight: 400;
}
.sidebar-sticky .form-content .input-box {
	position: relative;
	display: inline-block;
	width: 100%;
}
.sidebar-sticky .form-content .input-box input {
	padding-left: 35px;
}
.sidebar-sticky .form-content .input-box i {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.sidebar-sticky .form-content .input-box [class^="fa-"]:before {
	color: #ef2853;
	font-weight: 600;
}
.sidebar-sticky.sticky1 {
	top: 120px;
}
.sidebar-sticky.sticky1.tab-sticky {
	top: 30px;
	box-shadow: none;
}

.navbar-sticky {
	z-index: 9;
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100%;
	animation-name: slideInUp;
	transition: all ease-in-out 0.5s;
}
.tabs-navbar1.navbar-sticky {
	top: 99px;
	transition: all ease-in-out 0.5s;
	border-top: 1px solid #f1f1f1 !important;
}
.sticky1.tab-sticky {
	top: 0;
	transition: all ease-in-out 0.5s;
	animation-name: slideInUp;
	box-shadow: 0 0 15px #cccccc57;
	padding-top: 1.5rem;
}
@media (max-width: 991px) {
	.tabs-navbar1.navbar-sticky {
		top: 0;
		position: relative !important;
	}
}

footer {
	position: relative;
	background: var(--ter-color);
	a,
	p,
	li {
		color: #fff;
		font-weight: 400;
	}
	ul.list li {
		display: block;
		padding-left: 20px;
		position: relative;
		&::before {
			content: "\f105";
			position: absolute;
			left: 0;
			top: 0;
			font-family: fontawesome;
		}
	}
}

.footer-copyright {
	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 10px 0;

		& > div {
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}

		a,
		p {
			margin: 0;
			padding: 0;
		}

		a {
			color: var(--ter-color);
			&:hover {
				color: var(--main-color);
			}
		}
	}

	.footer-owner {
		justify-self: flex-end;
		width: 150px;
		img {
			height: 44px;
			object-fit: contain;
		}
	}

	@media (min-width: 991px) {
		.container {
			flex-direction: row;
			justify-content: space-between;
			& > div {
				flex-direction: row;
				align-items: initial;
			}
		}
	}
}

.social-links ul li {
	display: inline-block !important;
}
.social-links ul li a {
	background: #fff;
	color: var(--sec-color);
	width: 40px;
	height: 40px;
	display: inline-flex;
	text-align: center;
	font-size: 17px;
	line-height: 2.4;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.social-links ul li a:hover {
	color: #fff;
	background: var(--main-color);
}

.square-box {
	position: relative;
}

.square-box:before {
	content: "";
	width: 450px;
	height: calc(100% - 100px);
	border: 30px solid var(--sec-color);
	border-radius: 10px;
	opacity: 0.4;
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.rounded-box {
	position: relative;
}

.rounded-box:before,
.rounded-box:after {
	content: "";
	width: 450px;
	height: 450px;
	border: 30px solid var(--sec-color);
	border-radius: 50%;
	opacity: 0.6;
	z-index: -1;
	position: absolute;
	top: 20%;
	left: 10%;
}
.rounded-box:after {
	scale: 1.5;
	border: 22px solid var(--sec-color);
}

.footer-contact-content {
	span {
		color: #000;
	}
}

.about-us {
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
	position: relative;
}

.overlay-bg-before::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f7f7f7;
}
.overlay-bg-after::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: #f7f7f7;
}

.event-team {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 55%;
}
.event-team .team-image {
	overflow: hidden;
	transition: all ease-in-out 0.5s;
	border-radius: 10px;
}
.event-team .team-image img {
	transition: all ease-in-out 0.5s;
	width: 100%;
	border-radius: 10px;
}
.event-team .team-list {
	overflow: hidden;
}
.event-team .team-list .team-content {
	transition: all 0.5s;
	z-index: 1;
	position: absolute;
	bottom: -150px;
	width: 100%;
	visibility: hidden;
}
.event-team .team-list:hover .team-content {
	transition: all 0.5s;
	bottom: 0;
	visibility: visible;
}
.event-team .team-list:hover .overlay {
	visibility: visible;
	height: 100%;
	border-radius: 10px;
}
.event-team .overlay {
	visibility: hidden;
	height: 0;
	bottom: 0;
	top: inherit;
	opacity: 0.7;
}
