@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
:root {
	--main-color: #00af6f;
	--main-color-lighter: #44e0a7;
	--sec-color: #8100e3; /* 8100E3 */
	--ter-color: #002464;
}

header,
nav,
section,
article,
aside,
footer {
	display: block;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: clip;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: Inter, sans-serif;
	overflow-x: hidden;
	font-weight: 400;
	color: var(--ter-color);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a {
	outline-offset: 2px;
}
a:focus-visible {
	outline: 2px dashed var(--main-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 600;
	font-family: inter, sans-serif;
	margin: 0 0 1rem;
	color: var(--sec-color);
	line-height: 1.22em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
	color: var(--sec-color);
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	text-decoration: none;
}
h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus,
.h1 a:hover,
.h1 a:focus,
.h2 a:hover,
.h2 a:focus,
.h3 a:hover,
.h3 a:focus,
.h4 a:hover,
.h4 a:focus,
.h5 a:hover,
.h5 a:focus,
.h6 a:hover,
.h6 a:focus {
	color: var(--main-color);
	transition: all ease-in-out 0.5s;
	outline: none;
	text-decoration: none !important;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6,
.page .h1,
.page .h2,
.page .h3,
.page .h4,
.page .h5,
.page .h6 {
	color: var(--ter-color);
}

h1,
.h1 {
	font-size: 70px;
}

h2,
.h2 {
	font-size: 56px;
}

h3,
.h3 {
	font-size: 32px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 21px;
}

h6,
.h6 {
	font-size: 18px;
}

@media (max-width: 991px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 36px;
	}
}
@media (max-width: 735px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 21px;
	}
}
.h-title {
	font-size: 130px;
	font-family: inter, sans-serif;
	color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 0.2px;
	-webkit-text-stroke-color: var(--sec-color);
	stroke: var(--sec-color);
	margin-bottom: -80px;
	line-height: 1;
}

.theme-stroke {
	-webkit-text-stroke-color: var(--main-color);
	stroke: var(--main-color);
}

@media (max-width: 991px) {
	.h-title {
		font-size: 100px;
		margin-bottom: -50px;
	}
}
@media (max-width: 639px) {
	.h-title {
		font-size: 55px;
		margin-bottom: -30px;
	}
}
p {
	margin-bottom: 8px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul li {
	margin-bottom: 0;
	line-height: 1.5;
	color: #707070;
	position: relative;
	display: inline-block;
	padding: 0;
}

ol {
	margin: 0;
	counter-reset: i;
	position: relative;
}
ol li {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 1.5;
	color: #707070;
	padding-left: 0;
	position: relative;
}

a {
	color: #707070;
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	color: var(--main-color);
	transition: all ease-in-out 0.5s;
	outline: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: var(--main-color) !important;
}

input::-moz-placeholder {
	color: #707070 !important;
}

input::placeholder {
	color: #707070 !important;
}

.row [class*="col-"] {
	padding: 0 15px;
}

img {
	max-width: 100%;
}

.img-circle {
	width: 65px;
	height: 65px;
}

.btn-info.focus,
.btn-info:focus,
.btn-info:active {
	outline: none;
	box-shadow: none !important;
	background: 0 0 !important;
	border: none !important;
}

.container {
	position: relative;
	z-index: 1;
}

@media (max-width: 767px) {
	.container,
	.container-sm {
		max-width: 100%;
	}
}
.white {
	color: #fff !important;
}

.theme {
	color: var(--main-color) !important;
}

.theme-lighter {
	color: var(--main-color-lighter) !important;
}

.theme1 {
	color: var(--sec-color) !important;
}

.theme2 {
	color: var(--ter-color) !important;
}

.black {
	color: #3f3f3f !important;
}

.grey {
	color: #707070 !important;
}

.lgrey {
	color: #c7c7c7 !important;
}

.title {
	color: var(--sec-color) !important;
}

.bg-grey {
	background: #f7f7f7 !important;
}

.bg-lgrey {
	background: #c7c7c7 !important;
}

.bg-theme {
	background: var(--main-color) !important;
}

.bg-theme1 {
	background: var(--sec-color) !important;
}

.bg-theme2 {
	background: var(--ter-color) !important;
}

.bg-theme3 {
	background: var(--main-color) !important;
}

.bg-title {
	background: var(--sec-color) !important;
}

.bg-fblack {
	background: #101010 !important;
}

.bg-white {
	background: #fff !important;
}

.bordernone {
	border: none !important;
}

.border-b {
	border-bottom: 1px dashed rgba(112, 112, 112, 0.168627451) !important;
}

.border-all {
	border: 1px solid rgba(112, 112, 112, 0.168627451) !important;
}

.border-start {
	border-left: 1px solid #f7f7f7 !important;
}

.border-end {
	border-right: 1px solid #f7f7f7 !important;
}

.border-top {
	border-top: 1px solid #f7f7f7 !important;
}

.border-bottom {
	border-bottom: 1px solid #f7f7f7 !important;
}

.rating span {
	color: #ffbc00;
	display: inline;
	font-size: 14px;
}

.small,
small {
	font-size: 85%;
}

.mt-1,
.my-1 {
	margin-top: 0.5rem !important;
}

.mt-2,
.my-2 {
	margin-top: 1rem !important;
}

.mt-3,
.my-3 {
	margin-top: 1.5rem !important;
}

.mt-4,
.my-4 {
	margin-top: 2rem !important;
}

.mt-5,
.my-5 {
	margin-top: 2.5rem !important;
}

.mt-6,
.my-6 {
	margin-top: 3rem !important;
}

.mt-7,
.my-7 {
	margin-top: 3.5rem !important;
}

.mt-8,
.my-8 {
	margin-top: 4rem !important;
}

.mt-9,
.my-9 {
	margin-top: 4.5rem !important;
}

.mt-10,
.my-10 {
	margin-top: 5rem !important;
}

.mt-minus {
	margin-top: -5rem !important;
}

.mb-1,
.my-1 {
	margin-bottom: 0.5rem !important;
}

.mb-2,
.my-2 {
	margin-bottom: 1rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1.5rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 2rem !important;
}

.mb-5,
.my-5 {
	margin-bottom: 2.5rem !important;
}

.mb-6,
.my-6 {
	margin-bottom: 3rem !important;
}

.mb-7,
.my-7 {
	margin-bottom: 3.5rem !important;
}

.mb-8,
.my-8 {
	margin-bottom: 4rem !important;
}

.mb-9,
.my-9 {
	margin-bottom: 4.5rem !important;
}

.mb-10,
.my-10 {
	margin-bottom: 5rem !important;
}

.mb-minus {
	margin-bottom: -5rem !important;
}

.pt-1,
.py-1 {
	padding-top: 0.5rem !important;
}

.pt-2,
.py-2 {
	padding-top: 1rem !important;
}

.pt-3,
.py-3 {
	padding-top: 1.5rem !important;
}

.pt-4,
.py-4 {
	padding-top: 2rem !important;
}

.pt-5,
.py-5 {
	padding-top: 2.5rem !important;
}

.pt-6,
.py-6 {
	padding-top: 3rem !important;
}

.pt-7,
.py-7 {
	padding-top: 3.5rem !important;
}

.pt-8,
.py-8 {
	padding-top: 4rem !important;
}

.pt-9,
.py-9 {
	padding-top: 4.5rem !important;
}

.pt-10,
.py-10 {
	padding-top: 5rem !important;
}

.pt-12,
.py-12 {
	padding-top: 6rem !important;
}

.pt-14,
.py-14 {
	padding-top: 7rem !important;
}

.pt-17,
.py-17 {
	padding-top: 8.5rem !important;
}

.pt-18,
.py-18 {
	padding-top: 9rem !important;
}

.pt-19,
.py-19 {
	padding-top: 9.5rem !important;
}

.pt-20,
.py-20 {
	padding-top: 10rem !important;
}

.pt-lg-7,
.py-lg-7 {
	padding-top: 3.5rem !important;
}

.pb-1,
.py-1 {
	padding-bottom: 0.5rem !important;
}

.pb-2,
.py-2 {
	padding-bottom: 1rem !important;
}

.pb-3,
.py-3 {
	padding-bottom: 1.5rem !important;
}

.pb-4,
.py-4 {
	padding-bottom: 2rem !important;
}

.pb-5,
.py-5 {
	padding-bottom: 2.5rem !important;
}

.pb-6,
.py-6 {
	padding-bottom: 3rem !important;
}

.pb-7,
.py-7 {
	padding-bottom: 3.5rem !important;
}

.pb-8,
.py-8 {
	padding-bottom: 4rem !important;
}

.pb-9,
.py-9 {
	padding-bottom: 4.5rem !important;
}

.pb-10,
.py-10 {
	padding-bottom: 5rem !important;
}

.pb-12,
.py-12 {
	padding-bottom: 6rem !important;
}

.pb-14,
.py-14 {
	padding-bottom: 7rem !important;
}

.pb-17,
.py-17 {
	padding-bottom: 8.5rem !important;
}

.pb-18,
.py-18 {
	padding-bottom: 9rem !important;
}

.pb-19,
.py-19 {
	padding-bottom: 9.5rem !important;
}

.pb-20,
.my-20 {
	padding-bottom: 10rem !important;
}

.pb-lg-7,
.py-lg-7 {
	padding-bottom: 3.5rem !important;
}

.top-minus-20 {
	top: -20px !important;
}

.top-minus-40 {
	top: -40px !important;
}

.top-inherit {
	top: inherit !important;
}

.bottom-inherit {
	bottom: inherit !important;
}

.translatey-50 {
	transform: translateY(-50%);
}

.translate-50 {
	transform: translate(-50%, -50%);
}

.opacity-25 {
	opacity: 0.25 !important;
}

.opacity-50 {
	opacity: 0.5 !important;
}

.opacity-75 {
	opacity: 0.75 !important;
}

.opacity-90 {
	opacity: 0.9 !important;
}

.opacity-100 {
	opacity: 1 !important;
}

.z-index1 {
	z-index: 1;
}

.z-index2 {
	z-index: 2;
}

.z-index3 {
	z-index: 4;
}

.textupper {
	text-transform: uppercase;
}

.textcap {
	text-transform: capitalize;
}

.form-group {
	width: 100%;
	display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea,
select {
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: 1px solid rgba(112, 112, 112, 0.168627451);
	border-radius: 0;
	padding: 12px 20px;
	color: #707070;
	margin-bottom: 0;
	height: 55px;
	box-shadow: none;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
	outline: none;
	transition: all 0.5s ease;
	box-shadow: none;
}

select {
	width: 100%;
	height: inherit;
}

select option {
	color: #f7f7f7;
}

textarea {
	border-radius: none;
	resize: vertical;
	height: 120px;
}

label {
	display: inline-block;
	color: #707070;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 16px;
}

blockquote {
	font-size: 14px;
	font-weight: 400;
	background-color: var(--main-color);
	margin-bottom: 15px;
	border: 0;
	padding: 30px 70px;
	line-height: 1.5;
	color: #fff;
	margin: 20 0;
	font-style: italic;
	position: relative;
}

blockquote :after {
	content: "";
	position: absolute;
	height: 60%;
	width: 2px;
	background: #fff;
	top: 20%;
	left: 35px;
}

blockquote p {
	color: #fff;
	margin: 0;
}

blockquote :before {
	content: "\f10d";
	font-family: fontawesome;
	font-size: 45px;
	position: absolute;
	bottom: 26px;
	right: 20px;
	color: #fff;
	transform: rotate(180deg);
}

blockquote span {
	position: relative;
	padding-left: 20px;
}

blockquote span :before {
	content: "";
	width: 12px;
	height: 1px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
}

table > tbody tr td,
table > tbody tr th,
table > tfoot tr td,
table > tfoot tr th,
table > thead tr td,
table > thead tr th {
	padding: 15px;
	vertical-align: sub !important;
	border: 1px solid rgba(112, 112, 112, 0.168627451);
}

table > tbody tr td,
table > tfoot tr td,
table > thead tr td {
	padding-left: 0;
}

table > tbody tr:nth-child(even),
table > tfoot tr:nth-child(even),
table > thead tr:nth-child(even) {
	background: #c7c7c7;
}

table {
	width: 100%;
}

table thead tr th {
	border-bottom: none !important;
}

.w-60 {
	width: 60% !important;
}

.overlay,
.theme-overlay,
.color-overlay,
.white-overlay,
.bread-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #002058;
	transition: all ease-in-out 0.5s;
	opacity: 0.6;
}

.theme-overlay {
	background-color: #560098;
	opacity: 1;
	mix-blend-mode: hard-light;
}

.color-overlay {
	top: inherit;
	bottom: 0;
	background: linear-gradient(to right, var(--ter-color), #002464);
	opacity: 1;
	mix-blend-mode: hard-light;
}

.bread-overlay {
	top: inherit;
	bottom: 0;
	background: linear-gradient(to right, var(--main-color), var(--main-color-lighter));
	opacity: 0.7;
}

.white-overlay {
	background: #fff;
	opacity: 0.7;
}

section {
	padding: 4.9rem 0 6rem;
	position: relative;
}

.section-title {
	position: relative;
	z-index: 1;
}

.section-title h2 {
	position: relative;
	line-height: 1.2;
}

@media (max-width: 991px) {
	.section-title {
		width: 100% !important;
	}
	.section-title .ah-words-wrapper {
		text-align: center;
	}
	.section-title h4 {
		margin-bottom: 0;
	}
}
.row.slick-slider {
	margin: 0 -15px;
}

iframe {
	width: 100%;
	border: none;
}

.border-t {
	border-top: 2px dashed rgba(204, 204, 204, 0.368627451);
}

.box-shadow {
	box-shadow: 0 0 20px rgba(158, 158, 158, 0.2705882353);
}

.rounded {
	border-radius: 10px !important;
}

.rounded-start {
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.rounded-top {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

button {
	border: none;
}

input#submit {
	border: none;
}

input[type="submit"]:hover {
	background: var(--sec-color);
	color: #fff;
}

.cta-btn {
	position: relative;
	z-index: 1;
	font-size: 16px;
	text-align: center;
	padding: 15px 25px;
	text-transform: capitalize;
	transition: all ease-in-out 0.5s;
	background: var(--main-color);
	color: #fff;
	display: inline-block;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
	overflow: hidden;
}
.cta-btn:before {
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	top: 0;
	content: "";
	background: var(--sec-color);
	color: #fff !important;
	transition: all ease-in-out 0.5s;
	z-index: -1;
}
.cta-btn:hover {
	color: #fff !important;
	transition: all ease-in-out 0.5s;
}
.cta-btn:hover:before {
	width: 100%;
	transition: all ease-in-out 0.5s;
}
.cta-btn.cta-btn--inverse {
	background: var(--sec-color);
}
.cta-btn.cta-btn--inverse::before {
	background: var(--main-color);
}

.navbar-default {
	background: #f5f5f5;
}

.navbar {
	border-bottom: 0;
	padding: 0;
}
.navbar .navbar-default {
	transition: none;
}

.sidebar .navbar-nav {
	background: 0 0;
	margin: 0;
}

main {
	margin-top: 84px;
}

header #navbar {
	width: 100%;
	background: #f49b00;
}

.navbar {
	background: white;
	min-height: 84px;
}
@media (min-width: 1200px) {
	.navbar {
		height: 84px;
	}
}
.navbar .navbar-brand img {
	height: 38px;
}
.navbar-collapse li {
	text-transform: uppercase;
}
.navbar-collapse li a {
	color: var(--ter-color) !important;
	font-size: 14px;
	font-weight: 500;
}
.navbar-collapse li a:hover {
	color: var(--main-color) !important;
}
.navbar .navbar-nav li ul li {
	width: 100%;
}

.navbar-default a.navbar-brand {
	font-size: 24px;
	position: relative;
	color: #f49b00;
	letter-spacing: 2px;
	font-weight: 400;
	display: block;
	padding: 0;
	height: auto;
	transition: all ease-in-out 0.5s;
	transition: color 0.5s ease;
	margin-right: 0;
	flex: 1;
}
.navbar-default a.navbar-brand:hover {
	color: #d60d45;
}
.navbar-default a.navbar-brand span {
	color: #fc883a;
}
.navbar-default a.navbar-brand li,
.navbar-default a.navbar-brand li.active {
	background: #f33807;
}
.navbar-default a.navbar-brand li a,
.navbar-default a.navbar-brand li a:hover,
.navbar-default a.navbar-brand li.active a,
.navbar-default a.navbar-brand li.active a:hover {
	background: #f33807;
}

.navbar-nav li {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}

.navbar-nav li ul {
	z-index: 9999;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: 0;
	width: 190px;
	display: none;
	border: 1px solid rgba(112, 112, 112, 0.168627451);
	box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
}

.navbar-nav li ul li {
	border-bottom: 1px solid #f1f1f1;
}
.navbar-nav li ul li:last-child {
	border-bottom: none;
}
.navbar-nav li ul li:hover a {
	padding-left: 20px;
	padding-right: 10px;
	text-decoration: none;
}
.navbar-nav li ul li:hover ul li a {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar-nav li ul li a {
	display: block;
	padding: 7px 15px;
	font-size: 15px;
	font-weight: 500;
	color: #636363;
}
.navbar-nav li ul li a:hover {
	color: #f33807;
}
.navbar-nav li ul li ul {
	position: absolute;
	left: 188px;
	top: -2px;
}
.navbar-nav li ul li ul li ul li:hover a {
	padding-left: 20px;
	padding-right: 10px;
}

.navbar-nav li > ul > li:last-child > a {
	border-bottom: 0;
}

.navbar-nav li > ul > li ul > li:last-child > a {
	border-bottom: 0;
}

.nav-tabs {
	border-bottom: none;
	background: #fff;
	overflow: hidden;
	margin-bottom: 30px;
}

.nav-tabs > li.nav-item {
	margin: 0 4px;
	flex: inherit !important;
	text-align: left !important;
}

.nav-tabs > li.nav-item button {
	padding: 15px 30px;
	margin: 0;
	border-radius: 0;
	line-height: inherit;
	border: none;
	display: inline-block;
	width: auto !important;
	background: #fff;
	font-weight: 500;
	font-size: 21px;
}

.nav-tabs > li.nav-item button:hover {
	color: var(--main-color) !important;
	background-color: #fff;
}

.nav-tabs > li.nav-item button.active {
	color: var(--main-color) !important;
	background-color: #fff;
}

.nav-tabs > li.nav-item button.active:hover {
	color: var(--main-color) !important;
	background-color: #fff;
}

@media (max-width: 991px) {
	.nav-tabs {
		width: 100% !important;
	}
}
@media (max-width: 767px) {
	.nav-tabs > li.nav-item {
		margin: 0 4px 4px;
	}
}
.fade:not(.show) {
	opacity: 1;
}

.breadcrumb-main {
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.breadcrumb-main .breadcrumb-outer {
	background: 0 0;
	position: relative;
	z-index: 1;
}

.breadcrumb {
	background: 0 0;
	margin: 0;
	padding: 0;
}
.breadcrumb li,
.breadcrumb li.active {
	margin-bottom: 0;
}
.breadcrumb li a,
.breadcrumb li.active a {
	color: var(--main-color);
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
	content: "/";
}

@media (max-width: 991px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content {
		display: block !important;
		text-align: center !important;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content nav {
		right: 0;
		margin: 0;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
		margin: 0 !important;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 44px;
	}
}
@media (max-width: 811px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 36px;
	}
}
@media (max-width: 639px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 28px;
	}
	.page-cover h1 {
		font-size: 28px;
	}
}
@media (max-width: 479px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content {
		text-align: center;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 24px;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
		display: block;
		font-size: 40px;
	}
}
.coming-countermain {
	margin-top: -80px;
}
.coming-countermain:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 60%;
	height: 100%;
	background: var(--main-color);
	border-radius: 0 10px 10px 0;
}
.coming-countermain .counter-box {
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.coming-countermain .counter-box span {
	font-size: 58px;
	font-weight: 500;
	line-height: 1;
}
@media (max-width: 991px) {
	.coming-countermain {
		margin-top: 0;
	}
	.coming-countermain:before {
		width: 100%;
	}
}
@media (max-width: 639px) {
	.coming-countermain .coming-counter {
		padding-bottom: 1rem !important;
	}
	.coming-countermain .coming-counter .counter-box {
		margin-bottom: 1.5rem;
	}
	.coming-countermain .coming-counter .counter-box span {
		font-size: 40px;
	}
}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 22;
}

.banner {
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 650px;
}
.banner .container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner .banner-in {
	margin-top: 140px;
	max-width: 700px;
}
.banner .banner-in .theme {
	color: var(--main-color-lighter);
}
.banner .banner-in h1 {
	font-size: 50px;
	margin-bottom: 0;
}
.banner .banner-in p {
	font-size: 24px;
	font-weight: 500;
}
.banner .banner-in .banner-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	position: relative;
	bottom: -165px;
}
@media (max-width: 991px) {
	.banner {
		margin-top: 0 !important;
	}
	.banner .banner-in {
		padding-top: 8rem !important;
	}
	.banner .banner-in h1 {
		font-size: 30px;
	}
	.banner .banner-in .banner-image {
		bottom: 0;
	}
}

.schedule-item .about-content {
	border-radius: 10px 0 0 10px;
}

.schedule-item .about-image-box {
	border-radius: 0 10px 10px 0;
}

.schedule-item .about-image-box h4 {
	color: var(--ter-color);
}

@media (max-width: 991px) {
	.schedule-item .schedule-speaker {
		border-top: 1px solid rgba(112, 112, 112, 0.168627451);
		border-left: 0 !important;
	}
	.schedule-item .speaker-content {
		margin: 10px 0 0 !important;
	}
}
.event-calltoaction {
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.event-calltoaction .event-expo-item {
	border-radius: 10px;
	overflow: clip;
	background: white;
	color: var(--ter-color);
	display: flex;
	flex-direction: column;
	min-height: 130px;
}
.event-calltoaction .event-expo-item p {
	padding: 10px;
	align-self: center;
}
.event-calltoaction .event-expo-item:first-of-type .event-expo-item-icon {
	background: var(--main-color);
}
.event-calltoaction .event-expo-item:last-of-type .event-expo-item-icon {
	background: #0044bc;
}
.event-calltoaction .event-expo-item-icon {
	color: white;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.event-calltoaction .event-expo-item-icon .expo-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
@media (min-width: 663px) {
	.event-calltoaction .event-expo-item {
		flex-direction: row;
	}
	.event-calltoaction .event-expo-item-icon {
		width: 150px;
		flex-shrink: 0;
	}
}

.expo-bd-radius {
	border-radius: 10px;
	overflow: clip;
}

@media (max-width: 991px) {
	.event-calltoaction .event-expo {
		width: 100% !important;
	}
}
@media (max-width: 639px) {
	.event-calltoaction .event-expo-item p {
		padding: 1rem;
		text-align: center;
	}
}
.event-partners {
	background-size: 55%;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.event-partners .partners_inner {
	width: 100%;
	overflow: hidden;
}
.event-partners .partners_inner .row {
	display: flex;
	justify-content: center;
}
.event-partners .partners_inner:nth-of-type(3) .partner-list {
	height: 120px;
}
.event-partners .partners_inner:nth-of-type(3) .partner-list img {
	width: 55%;
}
.event-partners .partners_inner:last-of-type .partner-list {
	height: 90px;
}
.event-partners .partners_inner:last-of-type .partner-list img {
	width: 45%;
}
.event-partners .partners_inner .partner-list {
	text-align: center;
	height: 120px;
	line-height: 120px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.event-partners .partners_inner .partner-list img {
	width: 60%;
}

.event-contact-main .event-expo-item {
	background: white;
}
.event-contact-main .event-expo-item .expo-icon {
	height: 80px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.event-contact-main .map iframe {
	border-radius: 10px;
	outline: 10px solid rgba(0, 175, 111, 0.05);
}
@media (min-width: 991px) {
	.event-contact-main .event-expo-item .expo-icon {
		height: 120px;
	}
}

.sidebar-sticky {
	position: sticky;
	top: 0;
	transition: all ease-in-out 0.5s;
}

.sidebar-sticky .form-content {
	box-shadow: 0 0 30px rgba(204, 204, 204, 0.3411764706);
	background: var(--main-color);
	padding: 30px;
}

.sidebar-sticky .form-content h4::before {
	display: none !important;
}

.sidebar-sticky .form-content .nice-select {
	padding: 13px 20px 10px 35px;
	font-weight: 400;
}

.sidebar-sticky .form-content .input-box {
	position: relative;
	display: inline-block;
	width: 100%;
}

.sidebar-sticky .form-content .input-box input {
	padding-left: 35px;
}

.sidebar-sticky .form-content .input-box i {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.sidebar-sticky .form-content .input-box [class^="fa-"]:before {
	color: #ef2853;
	font-weight: 600;
}

.sidebar-sticky.sticky1 {
	top: 120px;
}

.sidebar-sticky.sticky1.tab-sticky {
	top: 30px;
	box-shadow: none;
}

.navbar-sticky {
	z-index: 9;
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100%;
	animation-name: slideInUp;
	transition: all ease-in-out 0.5s;
}

.tabs-navbar1.navbar-sticky {
	top: 99px;
	transition: all ease-in-out 0.5s;
	border-top: 1px solid #f1f1f1 !important;
}

.sticky1.tab-sticky {
	top: 0;
	transition: all ease-in-out 0.5s;
	animation-name: slideInUp;
	box-shadow: 0 0 15px rgba(204, 204, 204, 0.3411764706);
	padding-top: 1.5rem;
}

@media (max-width: 991px) {
	.tabs-navbar1.navbar-sticky {
		top: 0;
		position: relative !important;
	}
}
footer {
	position: relative;
	background: var(--ter-color);
}
footer a,
footer p,
footer li {
	color: #fff;
	font-weight: 400;
}
footer ul.list li {
	display: block;
	padding-left: 20px;
	position: relative;
}
footer ul.list li::before {
	content: "\f105";
	position: absolute;
	left: 0;
	top: 0;
	font-family: fontawesome;
}

.footer-copyright .container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 10px 0;
}
.footer-copyright .container > div {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.footer-copyright .container a,
.footer-copyright .container p {
	margin: 0;
	padding: 0;
}
.footer-copyright .container a {
	color: var(--ter-color);
}
.footer-copyright .container a:hover {
	color: var(--main-color);
}
.footer-copyright .footer-owner {
	justify-self: flex-end;
	width: 150px;
}
.footer-copyright .footer-owner img {
	height: 44px;
	-o-object-fit: contain;
	object-fit: contain;
}
@media (min-width: 991px) {
	.footer-copyright .container {
		flex-direction: row;
		justify-content: space-between;
	}
	.footer-copyright .container > div {
		flex-direction: row;
		align-items: initial;
	}
}

.social-links ul li {
	display: inline-block !important;
}

.social-links ul li a {
	background: #fff;
	color: var(--sec-color);
	width: 40px;
	height: 40px;
	display: inline-flex;
	text-align: center;
	font-size: 17px;
	line-height: 2.4;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.social-links ul li a:hover {
	color: #fff;
	background: var(--main-color);
}

.square-box {
	position: relative;
}

.square-box:before {
	content: "";
	width: 450px;
	height: calc(100% - 100px);
	border: 30px solid var(--sec-color);
	border-radius: 10px;
	opacity: 0.4;
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.rounded-box {
	position: relative;
}

.rounded-box:before,
.rounded-box:after {
	content: "";
	width: 450px;
	height: 450px;
	border: 30px solid var(--sec-color);
	border-radius: 50%;
	opacity: 0.6;
	z-index: -1;
	position: absolute;
	top: 20%;
	left: 10%;
}

.rounded-box:after {
	scale: 1.5;
	border: 22px solid var(--sec-color);
}

.footer-contact-content span {
	color: #000;
}

.about-us {
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
	position: relative;
}

.overlay-bg-before::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f7f7f7;
}

.overlay-bg-after::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: #f7f7f7;
}

.event-team {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 55%;
}

.event-team .team-image {
	overflow: hidden;
	transition: all ease-in-out 0.5s;
	border-radius: 10px;
}

.event-team .team-image img {
	transition: all ease-in-out 0.5s;
	width: 100%;
	border-radius: 10px;
}

.event-team .team-list {
	overflow: hidden;
}

.event-team .team-list .team-content {
	transition: all 0.5s;
	z-index: 1;
	position: absolute;
	bottom: -150px;
	width: 100%;
	visibility: hidden;
}

.event-team .team-list:hover .team-content {
	transition: all 0.5s;
	bottom: 0;
	visibility: visible;
}

.event-team .team-list:hover .overlay {
	visibility: visible;
	height: 100%;
	border-radius: 10px;
}

.event-team .overlay {
	visibility: hidden;
	height: 0;
	bottom: 0;
	top: inherit;
	opacity: 0.7;
} /*# sourceMappingURL=styl.css.map */
