@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
:root{
    --main-color: #00AF6F;
    --main-color-lighter: #44E0A7;
    --sec-color: #8100E3;  /* 8100E3 */
    --ter-color: #002464;
    
}

header,
nav,
section,
article,
aside,
footer {
	display: block;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	overflow-x: clip;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: Inter, sans-serif;
	overflow-x: hidden;
	font-weight: 400;
	color: var(--ter-color);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 600;
	font-family: inter, sans-serif;
	margin: 0 0 1rem;
	color: var(--sec-color);
	line-height: 1.22em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
	color: var(--sec-color);
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	text-decoration: none;
}
h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus,
.h1 a:hover,
.h1 a:focus,
.h2 a:hover,
.h2 a:focus,
.h3 a:hover,
.h3 a:focus,
.h4 a:hover,
.h4 a:focus,
.h5 a:hover,
.h5 a:focus,
.h6 a:hover,
.h6 a:focus {
	color: var(--main-color);
	transition: all ease-in-out 0.5s;
	outline: none;
	text-decoration: none !important;
}
h1,
.h1 {
	font-size: 70px;
}
h2,
.h2 {
	font-size: 56px;
}
h3,
.h3 {
	font-size: 32px;
}
h4,
.h4 {
	font-size: 21px;
}
h5,
.h5 {
	font-size: 21px;
}
h6,
.h6 {
	font-size: 18px;
}
@media (max-width: 991px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 36px;
	}
}
@media (max-width: 735px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 21px;
	}
}
.h-title {
	font-size: 130px;
	font-family: inter, sans-serif;
	color: #ffffff00;
	-webkit-text-stroke: 0.2px;
	-webkit-text-stroke-color: var(--sec-color);
	stroke: var(--sec-color);
	margin-bottom: -80px;
	line-height: 1;
}
.theme-stroke {
	-webkit-text-stroke-color: var(--main-color);
	stroke: var(--main-color);
}
@media (max-width: 991px) {
	.h-title {
		font-size: 100px;
		margin-bottom: -50px;
	}
}
@media (max-width: 639px) {
	.h-title {
		font-size: 55px;
		margin-bottom: -30px;
	}
}
p {
	margin-bottom: 8px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul li {
	margin-bottom: 0;
	line-height: 1.5;
	color: #707070;
	position: relative;
	display: inline-block;
	padding: 0;
}
ol {
	margin: 0;
	counter-reset: i;
	position: relative;
}
ol li {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 1.5;
	color: #707070;
	padding-left: 0;
	position: relative;
}
a {
	color: #707070;
	transition: all ease-in-out 0.5s;
	cursor: pointer;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	color: var(--main-color);
	transition: all ease-in-out 0.5s;
	outline: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: var(--main-color); !important;
}
::-webkit-input-placeholder {
	color: #707070 !important;
}
:-ms-input-placeholder {
	color: #707070 !important;
}
input::placeholder {
	color: #707070 !important;
}
.row [class*="col-"] {
	padding: 0 15px;
}
img {
	max-width: 100%;
}
.img-circle {
	width: 65px;
	height: 65px;
}
.btn-info.focus,
.btn-info:focus,
.btn-info:active {
	outline: none;
	box-shadow: none !important;
	background: 0 0 !important;
	border: none !important;
}
.container {
	position: relative;
	z-index: 1;
}
@media (max-width: 767px) {
	.container,
	.container-sm {
		max-width: 100%;
	}
}
.white {
	color: #fff !important;
}
.theme {
	color: var(--main-color) !important;
}
.theme1 {
	color: var(--sec-color) !important;
}
.theme2 {
	color: var(--ter-color) !important;
}
.black {
	color: #3f3f3f !important;
}
.grey {
	color: #707070 !important;
}
.lgrey {
	color: #c7c7c7 !important;
}
.title {
	color: var(--sec-color); !important;
}
.bg-grey {
	background: #f7f7f7 !important;
}
.bg-lgrey {
	background: #c7c7c7 !important;
}
.bg-theme {
	background: var(--main-color) !important;
}
.bg-theme1 {
	background: var(--sec-color) !important;
}
.bg-theme2 {
	background: var(--ter-color) !important;
}
.bg-theme3 {
	background: var(--main-color) !important;
}
.bg-title {
	background: var(--sec-color) !important;
}
.bg-fblack {
	background: #101010 !important;
}
.bg-white {
	background: #fff !important;
}
.bordernone {
	border: none !important;
}
.border-b {
	border-bottom: 1px dashed #7070702b !important;
}
.border-all {
	border: 1px solid #7070702b !important;
}
.border-start {
	border-left: 1px solid #f7f7f7 !important;
}
.border-end {
	border-right: 1px solid #f7f7f7 !important;
}
.border-top {
	border-top: 1px solid #f7f7f7 !important;
}
.border-bottom {
	border-bottom: 1px solid #f7f7f7 !important;
}
.rating span {
	color: #ffbc00;
	display: inline;
	font-size: 14px;
}
.small,
small {
	font-size: 85%;
}
.mt-1,
.my-1 {
	margin-top: 0.5rem !important;
}
.mt-2,
.my-2 {
	margin-top: 1rem !important;
}
.mt-3,
.my-3 {
	margin-top: 1.5rem !important;
}
.mt-4,
.my-4 {
	margin-top: 2rem !important;
}
.mt-5,
.my-5 {
	margin-top: 2.5rem !important;
}
.mt-6,
.my-6 {
	margin-top: 3rem !important;
}
.mt-7,
.my-7 {
	margin-top: 3.5rem !important;
}
.mt-8,
.my-8 {
	margin-top: 4rem !important;
}
.mt-9,
.my-9 {
	margin-top: 4.5rem !important;
}
.mt-10,
.my-10 {
	margin-top: 5rem !important;
}
.mt-minus {
	margin-top: -5rem !important;
}
.mb-1,
.my-1 {
	margin-bottom: 0.5rem !important;
}
.mb-2,
.my-2 {
	margin-bottom: 1rem !important;
}
.mb-3,
.my-3 {
	margin-bottom: 1.5rem !important;
}
.mb-4,
.my-4 {
	margin-bottom: 2rem !important;
}
.mb-5,
.my-5 {
	margin-bottom: 2.5rem !important;
}
.mb-6,
.my-6 {
	margin-bottom: 3rem !important;
}
.mb-7,
.my-7 {
	margin-bottom: 3.5rem !important;
}
.mb-8,
.my-8 {
	margin-bottom: 4rem !important;
}
.mb-9,
.my-9 {
	margin-bottom: 4.5rem !important;
}
.mb-10,
.my-10 {
	margin-bottom: 5rem !important;
}
.mb-minus {
	margin-bottom: -5rem !important;
}
.pt-1,
.py-1 {
	padding-top: 0.5rem !important;
}
.pt-2,
.py-2 {
	padding-top: 1rem !important;
}
.pt-3,
.py-3 {
	padding-top: 1.5rem !important;
}
.pt-4,
.py-4 {
	padding-top: 2rem !important;
}
.pt-5,
.py-5 {
	padding-top: 2.5rem !important;
}
.pt-6,
.py-6 {
	padding-top: 3rem !important;
}
.pt-7,
.py-7 {
	padding-top: 3.5rem !important;
}
.pt-8,
.py-8 {
	padding-top: 4rem !important;
}
.pt-9,
.py-9 {
	padding-top: 4.5rem !important;
}
.pt-10,
.py-10 {
	padding-top: 5rem !important;
}
.pt-12,
.py-12 {
	padding-top: 6rem !important;
}
.pt-14,
.py-14 {
	padding-top: 7rem !important;
}
.pt-17,
.py-17 {
	padding-top: 8.5rem !important;
}
.pt-18,
.py-18 {
	padding-top: 9rem !important;
}
.pt-19,
.py-19 {
	padding-top: 9.5rem !important;
}
.pt-20,
.py-20 {
	padding-top: 10rem !important;
}
.pt-lg-7,
.py-lg-7 {
	padding-top: 3.5rem !important;
}
.pb-1,
.py-1 {
	padding-bottom: 0.5rem !important;
}
.pb-2,
.py-2 {
	padding-bottom: 1rem !important;
}
.pb-3,
.py-3 {
	padding-bottom: 1.5rem !important;
}
.pb-4,
.py-4 {
	padding-bottom: 2rem !important;
}
.pb-5,
.py-5 {
	padding-bottom: 2.5rem !important;
}
.pb-6,
.py-6 {
	padding-bottom: 3rem !important;
}
.pb-7,
.py-7 {
	padding-bottom: 3.5rem !important;
}
.pb-8,
.py-8 {
	padding-bottom: 4rem !important;
}
.pb-9,
.py-9 {
	padding-bottom: 4.5rem !important;
}
.pb-10,
.py-10 {
	padding-bottom: 5rem !important;
}
.pb-12,
.py-12 {
	padding-bottom: 6rem !important;
}
.pb-14,
.py-14 {
	padding-bottom: 7rem !important;
}
.pb-17,
.py-17 {
	padding-bottom: 8.5rem !important;
}
.pb-18,
.py-18 {
	padding-bottom: 9rem !important;
}
.pb-19,
.py-19 {
	padding-bottom: 9.5rem !important;
}
.pb-20,
.my-20 {
	padding-bottom: 10rem !important;
}
.pb-lg-7,
.py-lg-7 {
	padding-bottom: 3.5rem !important;
}
.top-minus-20 {
	top: -20px !important;
}
.top-minus-40 {
	top: -40px !important;
}
.top-inherit {
	top: inherit !important;
}
.bottom-inherit {
	bottom: inherit !important;
}
.translatey-50 {
	transform: translateY(-50%);
}
.translate-50 {
	transform: translate(-50%, -50%);
}
.opacity-25 {
	opacity: 0.25 !important;
}
.opacity-50 {
	opacity: 0.5 !important;
}
.opacity-75 {
	opacity: 0.75 !important;
}
.opacity-90 {
	opacity: 0.9 !important;
}
.opacity-100 {
	opacity: 1 !important;
}
.z-index1 {
	z-index: 1;
}
.z-index2 {
	z-index: 2;
}
.z-index3 {
	z-index: 4;
}
.textupper {
	text-transform: uppercase;
}
.textcap {
	text-transform: capitalize;
}
.form-group {
	width: 100%;
	display: inline-block;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea,
select {
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: 1px solid #7070702b;
	border-radius: 0;
	padding: 12px 20px;
	color: #707070;
	margin-bottom: 0;
	height: 55px;
	box-shadow: none;
	width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
	outline: none;
	transition: all 0.5s ease;
	box-shadow: none;
}
select {
	width: 100%;
	height: inherit;
}
select option {
	color: #f7f7f7;
}
textarea {
	border-radius: none;
	resize: vertical;
	height: 120px;
}
label {
	display: inline-block;
	color: #707070;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 16px;
}
blockquote {
	font-size: 14px;
	font-weight: 400;
	background-color: var(--main-color);
	margin-bottom: 15px;
	border: 0;
	padding: 30px 70px;
	line-height: 1.5;
	color: #fff;
	margin: 20 0;
	font-style: italic;
	position: relative;
}
blockquote :after {
	content: "";
	position: absolute;
	height: 60%;
	width: 2px;
	background: #fff;
	top: 20%;
	left: 35px;
}
blockquote p {
	color: #fff;
	margin: 0;
}
blockquote :before {
	content: "\f10d";
	font-family: fontawesome;
	font-size: 45px;
	position: absolute;
	bottom: 26px;
	right: 20px;
	color: #fff;
	transform: rotate(180deg);
}
blockquote span {
	position: relative;
	padding-left: 20px;
}
blockquote span :before {
	content: "";
	width: 12px;
	height: 1px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
}
table > tbody tr td,
table > tbody tr th,
table > tfoot tr td,
table > tfoot tr th,
table > thead tr td,
table > thead tr th {
	padding: 15px;
	vertical-align: sub !important;
	border: 1px solid #7070702b;
}
table > tbody tr td,
table > tfoot tr td,
table > thead tr td {
	padding-left: 0;
}
table > tbody tr:nth-child(even),
table > tfoot tr:nth-child(even),
table > thead tr:nth-child(even) {
	background: #c7c7c7;
}
table {
	width: 100%;
}
table thead tr th {
	border-bottom: none !important;
}
.w-60 {
	width: 60% !important;
}
.overlay,
.theme-overlay,
.color-overlay,
.white-overlay,
.bread-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #002058;
	transition: all ease-in-out 0.5s;
	opacity: 0.6;
}
.theme-overlay {
	background-color: var(--sec-color);
	opacity: 0.7;
}
.color-overlay {
	top: inherit;
	bottom: 0;
	background: linear-gradient(to right, var(--ter-color), #002464);
	opacity: 1;
    mix-blend-mode: hard-light;
}
.bread-overlay {
	top: inherit;
	bottom: 0;
	background: linear-gradient(to right, var(--ter-color), #5d0326);
	opacity: 0.7;
}
.white-overlay {
	background: #fff;
	opacity: 0.7;
}
section {
	padding: 4.9rem 0 6rem;
	position: relative;
}
.section-title {
	position: relative;
	z-index: 1;
}
.section-title h2 {
	position: relative;
	line-height: 1.2;
}
@media (max-width: 991px) {
	.section-title {
		width: 100% !important;
	}
	.section-title .ah-words-wrapper {
		text-align: center;
	}
	.section-title h4 {
		margin-bottom: 0;
	}
}
.row.slick-slider {
	margin: 0 -15px;
}
iframe {
	width: 100%;
	border: none;
}
.border-t {
	border-top: 2px dashed #cccccc5e;
}
.box-shadow {
	box-shadow: 0 0 20px #9e9e9e45;
}
.rounded {
	border-radius: 10px !important;
}
.rounded-start {
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}
.rounded-top {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
.nav-tabs {
	border-bottom: none;
	background: #fff;
	overflow: hidden;
	margin-bottom: 30px;
}
.nav-tabs > li.nav-item {
	margin: 0 4px;
	flex: inherit !important;
	text-align: left !important;
}
.nav-tabs > li.nav-item button {
	padding: 15px 30px;
	margin: 0;
	border-radius: 0;
	line-height: inherit;
	border: none;
	display: inline-block;
	width: auto !important;
	background: #fff;
	font-weight: 500;
	font-size: 21px;
}
.nav-tabs > li.nav-item button:hover {
	color: var(--main-color); !important;
	background-color: #fff;
}
.nav-tabs > li.nav-item button.active {
	color: var(--main-color); !important;
	background-color: #fff;
}
.nav-tabs > li.nav-item button.active:hover {
	color: var(--main-color); !important;
	background-color: #fff;
}
@media (max-width: 991px) {
	.nav-tabs {
		width: 100% !important;
	}
}
@media (max-width: 767px) {
	.nav-tabs > li.nav-item {
		margin: 0 4px 4px;
	}
}
.pagination-main {
	line-height: 0.8;
}
.pagination-main .pagination {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}
.pagination-main .pagination li {
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.pagination-main .pagination li:before,
.pagination-main .pagination li:after {
	display: none;
}
.pagination-main .pagination li a {
	padding: 0;
	height: 40px;
	line-height: 38px;
	margin-right: 9px;
	text-align: center;
	width: 40px;
	color: #3f3f3f;
	font-size: 14px;
	border: 1px solid #7070702b;
	display: inline-block;
	background: #c7c7c7;
	background: #fff;
	border-radius: 0;
}
.pagination-main .pagination li a:hover,
.pagination-main .pagination li a:focus {
	background-color: var(--main-color);
	color: #fff !important;
	border-color: var(--main-color);
}
.pagination-main .pagination li:last-child > a,
.pagination-main .pagination li:last-child > span {
	border-radius: none;
	margin: 0;
}
.pagination-main .pagination li.active a {
	background: var(--main-color); !important;
	border-color: var(--main-color); !important;
	color: #fff;
}
.pagination-main .pagination .prev a,
.pagination-main .pagination .next a {
	border-radius: 0;
}
@media (max-width: 567px) {
	.pagination li a {
		height: 30px;
		width: 30px;
		line-height: 28px;
	}
}
@media (max-width: 359px) {
	.pagination li a {
		height: 28px;
		width: 28px;
		line-height: 28px;
	}
}
.fade:not(.show) {
	opacity: 1;
}
.breadcrumb-main {
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.breadcrumb-main .breadcrumb-outer {
	background: 0 0;
	position: relative;
	z-index: 1;
}
.breadcrumb {
	background: 0 0;
	margin: 0;
	padding: 0;
}
.breadcrumb li,
.breadcrumb li.active {
	margin-bottom: 0;
}
.breadcrumb li a,
.breadcrumb li.active a {
	color: var(--main-color);
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
	content: "/";
}
@media (max-width: 991px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content {
		display: block !important;
		text-align: center !important;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content nav {
		right: 0;
		margin: 0;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
		margin: 0 !important;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 44px;
	}
}
@media (max-width: 811px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 36px;
	}
}
@media (max-width: 639px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 28px;
	}
	.page-cover h1 {
		font-size: 28px;
	}
}
@media (max-width: 479px) {
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content {
		text-align: center;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h1 {
		font-size: 24px;
	}
	.breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
		display: block;
		font-size: 40px;
	}
}
button {
	border: none;
}
.nir-btn,
.nir-btn-black {
	position: relative;
	z-index: 1;
	font-size: 16px;
	text-align: center;
	padding: 15px 25px;
	text-transform: capitalize;
	transition: all ease-in-out 0.5s;
	background: var(--main-color);
	color: #fff;
	display: inline-block;
    border-radius: 10px;
	border: none;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
	overflow: hidden;
}
.nir-btn::before,
.nir-btn-black::before {
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	top: 0;
	content: "";
	background: var(--sec-color);
	color: #fff !important;
	transition: all ease-in-out 0.5s;
	z-index: -1;
}
.nir-btn:hover::before,
.nir-btn-black:hover::before {
	width: 100%;
	transition: all ease-in-out 0.5s;
}
.nir-btn:hover,
.nir-btn-black:hover {
	color: #fff !important;
	transition: all ease-in-out 0.5s;
}
.nir-btn-black {
	background: var(--sec-color);
}
.nir-btn-black:before {
	color: #fff;
}
.nir-btn-black:hover {
	background: #fff;
	color: #3f3f3f;
}
.nir-btn-black:hover:before {
	color: var(--sec-color);
}
input#submit {
	border: none;
}
input[type="submit"]:hover {
	background: var(--sec-color);
	color: #fff;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999999;
}
#preloader #status {
	position: fixed;
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	background: url(../images/loader.gif);
	background-size: cover;
	background-position: center;
	opacity: 1;
	transform: translate(-50%, -50%);
	visibility: visible;
	transition: all ease-in-out 0.5s;
	z-index: 9999999999;
}
#back-to-top {
	position: fixed;
	z-index: 1000;
	bottom: 20px;
	right: 20px;
	display: none;
}
#back-to-top a {
	display: block;
	width: 50px;
	height: 50px;
	background: var(--main-color);
	position: relative;
	transition: all ease-in-out 0.5s;
	text-align: center;
	border-radius: 50%;
}
#back-to-top a:after {
	position: absolute;
	content: "\f30c";
	font-family: "font awesome 5 free";
	font-size: 20px;
	color: #fff;
	top: 50%;
	left: 50%;
	z-index: 1;
	font-weight: 600;
	transform: translate(-50%, -50%);
}
.alert {
	margin-bottom: 10px;
	border-radius: 0;
	color: #e83737;
	padding: 0;
}
.alert .alert-success {
	background: 0 0;
	border: transparent;
	border-radius: 0;
	color: #3c763d;
}
.alert .alert-success h4 {
	margin-bottom: 8px;
}
.alert .alert-success p {
	color: #fff;
}
.accrodion-grp .accrodion {
	border: 1px solid #7070702b;
}
.accrodion-grp .accrodion .accrodion-title {
	border: none;
	background: #f7f7f7;
	padding: 20px;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
	border-radius: 0;
}
.accrodion-grp .accrodion .accrodion-title h6 {
	margin: 0;
	position: relative;
	text-transform: capitalize;
	border: none;
}
.accrodion-grp .accrodion .accrodion-title h6:before {
	content: "\f067";
	font-family: fontawesome;
	color: #222;
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.accrodion-grp .accrodion .accrodion-content {
	padding-top: 10px;
}
.accrodion-grp .accrodion .accrodion-content .inner {
	padding: 30px;
}
.accrodion-grp .accrodion .accrodion-content .inner p {
	margin: 0;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #74787d;
}
.accrodion-grp .accrodion.active .accrodion-title {
	background: #f7f7f7;
	border-color: #f7f7f7;
}
.accrodion-grp .accrodion.active .accrodion-title h6 {
	color: var(--main-color);
}
.accrodion-grp .accrodion.active .accrodion-title h6:before {
	content: "\f068";
	color: var(--main-color);
}
@media (max-width: 567px) {
	.accrodion-grp .accrodion .accrodion-title h5 {
		font-size: 14px;
	}
}
@-webkit-keyframes ripple {
	70% {
		box-shadow: 0 0 0 40px transparent;
	}
	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}
@keyframes ripple {
	70% {
		box-shadow: 0 0 0 40px transparent;
	}
	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}
@-webkit-keyframes ripple {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.75);
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}
@keyframes ripple {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.75);
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}
.nav-pills .nav-link {
	padding: 15px 20px;
	border-radius: 0;
	text-align: left;
	background-color: #f7f7f7;
	margin-bottom: 2px;
}
.nav-pills .nav-link:hover {
	color: #fff;
	background-color: var(--main-color);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: var(--main-color);
}
.navbar-default {
	background: #f5f5f5;
}
.navbar {
	border-bottom: 0;
	padding: 0;
}
.sidebar .navbar-nav {
	background: 0 0;
	margin: 0;
}
.navbar.navbar-default {
	transition: none;
}
main{
    margin-top: 84px;
}
header #navbar {
	width: 100%;
	background: #f49b00;
}
.navbar-default a.navbar-brand {
	font-size: 24px;
	position: relative;
	color: #f49b00;
	letter-spacing: 2px;
	font-weight: 400;
	display: block;
	padding: 0;
	height: auto;
	transition: all ease-in-out 0.5s;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	margin-right: 0;
	flex: 1;
}
.navbar-default a.navbar-brand span {
	color: #fc883a;
}
.navbar-default a.navbar-brand:hover {
	color: #d60d45;
}
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li.active {
	background: #f33807;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover {
	background: #f33807;
}
.navbar-nav li {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}
.navbar-nav li ul {
	z-index: 9999;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: 0;
	width: 190px;
	display: none;
	border: 1px solid #7070702b;
	border-top: 2px solid #f33807;
	-webkit-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.4);
}
.navbar-nav li ul li {
	border-bottom: 1px solid #f1f1f1;
}
.navbar-nav li ul li:last-child {
	border-bottom: none;
}
.navbar-nav li ul li:hover a {
	padding-left: 20px;
	padding-right: 10px;
	text-decoration: none;
}
.navbar-nav li ul li:hover ul li a {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar-nav li ul li a {
	display: block;
	padding: 7px 15px;
	font-size: 15px;
	font-weight: 500;
	color: #636363;
}
.navbar-nav li ul li a:hover {
	color: #f33807;
}
.navbar-nav li ul li ul {
	position: absolute;
	left: 188px;
	top: -2px;
}
.navbar-nav li ul li ul li ul li:hover a {
	padding-left: 20px;
	padding-right: 10px;
}
.navbar-nav li > ul > li:last-child > a {
	border-bottom: 0;
}
.navbar-nav li > ul > li ul > li:last-child > a {
	border-bottom: 0;
}
.main_header_area {
	position: fixed;
    background: #fff;
    color: #000;
	width: 100%;
	margin-top: 200px;
}
.main_header_area .header-content {
	position: relative;
	z-index: 1;
	background: #ffffff30;
}
.main_header_area .header-content li {
	display: inline-block;
	padding: 0 15px;
	border-left: 1px solid #f1f1f136;
	margin: 0;
}
.main_header_area .header-content li:first-child {
	border: none;
	padding-left: 0;
}
.main_header_area .header-content li:last-child {
	padding-right: 0;
}
.main_header_area .header-content a,
.main_header_area .header-content i {
	font-size: 14px;
}
.main_header_area .header_menu.fixed-top {
	box-shadow: 0 0 20px #9e9e9e45;
	background: #fff;
}
.main_header_area .header_menu.hide {
	top: -94px;
	animation-name: slideInUp;
}
.main_header_area .register-login a {
	font-size: 15px;
	text-transform: uppercase;
	color: #707070;
}
.main_header_area .register-login .dropdown a {
	color: #707070 !important;
	text-transform: capitalize;
}
.main_header_area .register-login .btn-info {
	border: none;
	background: 0 0;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0;
}
.main_header_area .header_menu.fixed-top .register-login a {
	color: #707070 !important;
}
.main_header_area .header_menu.fixed-top .register-login a.nir-btn {
	color: #fff !important;
}
.main_header_area .header_menu.fixed-top .register-login a.nir-btn:hover {
	color: #fff !important;
}
.main_header_area {
	position: absolute;
	width: 100%;
}
.main_header_area .header_menu .navbar.navbar-default .navbar-header .navbar-brand {
	padding: 0;
	margin: 0;
}
.main_header_area .header_menu .navbar.navbar-default .navbar-header .navbar-brand img {
	display: block;
    max-height: 40px;
}
.main_header_area .header_menu .navbar.navbar-default .navbar-header .navbar-brand img + img {
	display: none;
}
.main_header_area .header_menu .navbar.navbar-default .nav.navbar-nav li {
	margin-right: 0;
}
.main_header_area .header_menu .navbar.navbar-default .nav.navbar-nav li a {
	color: var(--ter-color);
	padding: 10px;
}
.main_header_area .header_menu .navbar.navbar-default .nav.navbar-nav li:hover > a {
	color: var(--main-color);
}
.main_header_area .header_menu .navbar.navbar-default .nav.navbar-nav li.active > a {
	color: var(--main-color);
}
.main_header_area .header_menu .search-main a i {
	color: #fff;
}
.main_header_area .header_menu.fixed-top .navbar-default {
	background: #fff;
}
.main_header_area .header_menu.fixed-top .navbar-default .navbar-header .navbar-brand {
	padding: 0;
	margin: 0;
}
.main_header_area .header_menu.fixed-top .navbar-default .navbar-header .navbar-brand img {
	display: none !important;
}
.main_header_area .header_menu.fixed-top .navbar-default .navbar-header .navbar-brand img + img {
	display: block !important;
}
.main_header_area .header_menu.fixed-top .search-main a i {
	color: #707070;
}
@media (max-width: 1400px) and (min-width: 1300px) {
	.main_header_area .header_menu .navbar.navbar-default .nav.navbar-nav li a,
	.main_header_area.headerstye-1 .header_menu .navbar.navbar-default .nav.navbar-nav li a {
		padding: 10px 6px;
		font-size: 14px;
	}
}
@media (max-width: 991px) {
	.headerstye-1 .header-content {
		display: none;
	}
	.headerstye-1 .navbar-header {
		display: block;
	}
	.main_header_area .header-content,
	.search-main {
		display: none !important;
	}
}
@media (max-width: 735px) {
	.main_header_area .header-content {
		display: none !important;
	}
}
.header_menu .navbar.navbar-default {
	border-radius: 0;
	margin-bottom: 0;
	background: 0 0;
	border: none;
	width: 100%;
	z-index: 9;
}
.header_menu .navbar.navbar-default .navbar-header .navbar-brand {
	padding: 0;
	margin: 0;
}
.header_menu .navbar.navbar-default .navbar-header .navbar-brand img {
	display: block;
}
.header_menu .navbar.navbar-default .navbar-header .navbar-brand img + img {
	display: none;
}
.header_menu .navbar.navbar-default .navbar-collapse {
	text-align: right;
	padding: 0;
}
.header_menu .navbar.navbar-default .nav.navbar-nav {
	float: none;
	text-align: right;
	display: inline-block;
	background: 0 0;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li {
	float: none;
	display: inline-block;
	margin-right: 0;
	background: 0 0;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li:last-child {
	margin: 0;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li a {
	background: 0 0;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0;
	line-height: inherit;
	transition: all 150ms linear;
	border: none;
	font-weight: 500;
	padding: 0 18px;
	color: #fff;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li a i {
	font-size: 16px;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li a i.fa-angle-right {
	position: absolute;
	right: 15px;
	top: 20px;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li a:after {
	display: none;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li:hover a,
.header_menu .navbar.navbar-default .nav.navbar-nav li.active a {
	color: var(--main-color);
	background: 0 0;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu {
	position: relative;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu {
	border: none;
	padding: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0;
	border-color: #eee transparent transparent transparent;
	position: absolute;
	right: 24px;
	top: 45px;
	z-index: 3;
	opacity: 0;
	-webkit-transition: all 400ms linear;
	-o-transition: all 400ms linear;
	transition: all 400ms linear;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li {
	display: block;
	float: none;
	margin-right: 0;
	border-bottom: 1px dashed #f7f7f7;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li a {
	line-height: 3;
	color: var(--ter-color);
	font-size: 16px;
	padding: 3px 20px;
	font-weight: 400;
	letter-spacing: 0.3px;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
	display: block;
	text-transform: capitalize;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li a:hover {
	background: var(--sec-color);
	color: #fff;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li:last-child {
	border-bottom: none;
}
.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li ul {
	overflow: visible;
}
.header_menu .navbar.navbar-default .nav.navbar-nav.navbar-right li:last-child {
	margin-right: 0;
}
.header_menu .navbar.navbar-default.navbar-sticky-in .nav.navbar-nav li:hover > a,
.header_menu .navbar.navbar-default.navbar-sticky-in .nav.navbar-nav li.active > a {
	color: var(--main-color);
}
@media (max-width: 991px) {
	.main_header_area .header_mlogo .navbar.navbar-default .navbar-header {
		display: block;
	}
}
#search1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
}
#search1 input[type="search"] {
	position: absolute;
	top: 40%;
	width: 50%;
	color: #707070;
	background: 0 0;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	border-width: 0 0 1px;
	margin: 0 auto;
	padding: 20px 30px;
	outline: none;
	margin-bottom: 30px;
	height: 82px;
	left: 0;
	right: 0;
	border-radius: 0;
	border-bottom: 1px solid #f1f1f1;
}
#search1 .btn {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: var(--main-color);
	padding: 15px 30px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	width: 10%;
}
#search1 .close {
	position: fixed;
	top: 15px;
	right: 15px;
	color: #fff;
	background-color: var(--main-color);
	border-color: var(--main-color);
	opacity: 1;
	padding: 4px 16px;
	border-radius: 10px;
	font-size: 27px;
}
#search1.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
}
.header_sidemenu .header_sidemenu_in .overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	transition: opacity 0.25s ease, visibility 0s ease 0.25s;
}
.header_sidemenu .header_sidemenu_in .overlay.show {
	opacity: 0.8;
	visibility: visible;
	background: #101010;
	transition: opacity 0.25s ease, visibility 0s ease;
}
.header_sidemenu .header_sidemenu_in .overlay.hide {
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	transition: opacity 0.25s ease, visibility 0s ease 0.25s;
}
.header_sidemenu .header_sidemenu_in .menu {
	width: 380px;
	height: 100%;
	position: fixed;
	right: -500px;
	top: 0;
	z-index: 9999;
	background-color: #fff;
	box-shadow: 0 0 20px #9e9e9e45;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
	box-shadow: 0 0 20px #9e9e9e45;
}
.header_sidemenu .header_sidemenu_in .menu .close-menu {
	float: right;
	font-size: 21px;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
}
.header_sidemenu .menu-ham {
	cursor: pointer;
}
.menu-ham {
	cursor: pointer;
}
.menu-ham a i {
	transition: all ease-in-out 0.5s;
}
.menu-ham a i:hover {
	background: var(--main-color) !important;
	color: #fff !important;
	transition: all ease-in-out 0.5s;
}
@media (min-width: 992px) {
	.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu {
		position: absolute;
		top: 40px;
		left: 0;
		min-width: 250px;
		background: #fff;
		box-shadow: 0 0 15px #cccccc57;
		text-align: left;
		opacity: 0;
		transition: all ease-in-out 0.5s;
		visibility: hidden;
		display: block;
		border: none;
		padding: 0;
		border-radius: 0;
	}
	.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li.submenu .dropdown-menu {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 0 50%;
		-ms-transform-origin: 0 50%;
		transform-origin: 0 50%;
		position: absolute;
		left: 100%;
		right: auto;
		width: auto;
		top: 0;
	}
	.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li.submenu .dropdown-menu li a {
		line-height: 3;
		color: #707070;
		font-size: 15px;
		padding: 3px 20px;
		letter-spacing: 0.3px;
		transition: all 150ms linear;
		display: block;
	}
	.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li.submenu .dropdown-menu li:hover a {
		color: #fff;
	}
	.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu .dropdown-menu li.submenu:hover .dropdown-menu {
		transform: scale(1, 1);
	}
	.header_menu .navbar.navbar-default .nav.navbar-nav li.submenu:hover ul {
		left: 0;
		visibility: visible;
		opacity: 1;
	}
}
header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 22;
}
.logo a {
	font-size: 28px;
	color: #fff;
}
.logo a [class^="flaticon-"]:before {
	font-size: 28px;
	color: #fff;
}
nav.navbar.navbar-default .logo-white {
	display: block;
}
nav.navbar.navbar-default .logo-black {
	display: none;
}
nav.navbar.navbar-default.navbar-sticky-in .logo-white {
	display: none;
}
nav.navbar.navbar-default.navbar-sticky-in .logo-black {
	display: block;
}
.nav-btn {
	display: inline-block;
}
.navbar-sticky-in .nir-btn:hover {
	color: var(--main-color);
}
.search-wrapper {
	position: relative;
	min-width: 250px;
	display: inline-block;
}
.search-wrapper .search_module {
	position: relative;
}
.search-wrapper .search_module .icon-left {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	transition: all ease-in-out 0.5s;
	z-index: 10;
	color: #fff;
}
.search-wrapper .search_module .search_area form .input-group {
	margin: 0;
}
.search-wrapper .search_module .search_area form .input-group .form-control {
	background: 0 0;
	padding-left: 40px;
	border: 1px solid #ffffff23;
	transition: all ease-in-out 0.5s;
	font-weight: 400;
	width: 100%;
	color: #fff;
}
.search-wrapper .search_module .search_area form .input-group .form-control::placeholder {
	transition: all ease-in-out 0.5s;
	color: #c7c7c7;
}
.search-wrapper .search_module .search_area form .input-group .form-control:focus {
	outline: 0;
	box-shadow: none;
}
.search-wrapper .search_module.active + .search-categories {
	visibility: visible;
	opacity: 1;
}
.search-wrapper .search_module.active .search_area form .input-group .form-control {
	border: none;
	padding-left: 2.66667rem;
	border: 1px solid #ffffff23;
	font-weight: 400;
}
.search-wrapper .search_module.active .search_area form .input-group .form-control:focus {
	border: none;
}
.main_header_area .header_menu.fixed-top {
	background: #fff;
	box-shadow: 0 0 15px #cccccc57;
}
.main_header_area .header_menu.fixed-top .navbar.navbar-default .navbar-header .navbar-brand img + img {
	display: block;
}
.main_header_area .header_menu.fixed-top .navbar.navbar-default .nav.navbar-nav li > a {
	color: #707070;
}
.main_header_area .header_menu.fixed-top .navbar.navbar-default .nav.navbar-nav li.active > a {
	color: var(--main-color);
}
.main_header_area .header_menu.fixed-top .search-wrapper .search_module .search_area form .input-group .form-control {
	border-color: #f7f7f7;
	color: #707070;
}
.main_header_area
	.header_menu.fixed-top
	.search-wrapper
	.search_module
	.search_area
	form
	.input-group
	.form-control::placeholder {
	color: #707070;
}
.main_header_area .header_menu.fixed-top .search-wrapper .search_module .icon-left {
	color: #707070;
}
.log-reg .nav-pills {
	margin-bottom: 20px;
}
.log-reg .nav-pills .nav-link {
	padding: 14px 18px;
}
.log-reg .nav-pills .nav-link.active,
.log-reg .nav-pills .show > .nav-link {
	background: var(--main-color);
	border-radius: 10px;
}
.log-reg .btn-fb,
.log-reg .btn-google {
	padding: 14px 18px;
	text-align: center;
	background: #506dab;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
}
.log-reg .btn-google {
	background: #dd4b39;
}
.log-reg hr.log-reg-hr {
	opacity: 1;
	background-color: #ccc;
}
.log-reg hr.log-reg-hr::before {
	background-color: #fff;
	bottom: 0;
	color: var(--main-color);
	content: "Or";
	font-size: 16px;
	position: absolute;
	left: 0;
	margin: 0 auto;
	right: 0;
	text-align: center;
	top: -12px;
	width: 10%;
}
@media (max-width: 1100px) {
	.search-wrapper {
		width: 200px;
	}
}
@media (max-width: 1100px) {
	.slicknav_btn.slicknav_open:before,
	.slicknav_btn.slicknav_collapsed:before {
		color: #fff !important;
	}
	.fixed-top .slicknav_btn.slicknav_open:before,
	.fixed-top .slicknav_btn.slicknav_collapsed:before {
		color: #707070 !important;
	}
	.dropdown-toggle::after,
	.search-wrapper,
	.header_menu .navbar.navbar-default a.cart-icon,
	.register-login {
		display: none !important;
	}
}
.banner {
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 650px;
}
.banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-in{
    margin-top: 140px;
    max-width: 700px;
}
.banner .banner-in .theme{
    color: var(--main-color-lighter);
}
.banner .banner-in h1{
    font-size: 50px;
    margin-bottom: 0;
}
.banner .banner-in p{
    font-size: 24px;
    font-weight: 500;
}
.banner .banner-in .banner-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	position: relative;
	bottom: -165px;
}
@media (max-width: 991px) {
	.banner {
		margin-top: 0 !important;
	}
	.banner .banner-in {
		padding-top: 8rem !important;
	}
    .banner .banner-in h1{
        font-size: 30px;
    }
	.banner .banner-in .banner-image {
		bottom: 0;
	}
}

.schedule-item .about-content{
    border-radius: 10px 0 0 10px;
}
.schedule-item .about-image-box{
    border-radius: 0 10px 10px 0;
}
.schedule-item .about-image-box h4{
    color: var(--ter-color);
}
@media (max-width: 991px) {
	.schedule-item .schedule-speaker {
		border-top: 1px solid #7070702b;
		border-left: 0 !important;
	}
	.schedule-item .speaker-content {
		margin: 10px 0 0 !important;
	}
}
.pricing-main .pricing-top {
	background-image: url(../images/pricebox-top.png);
	background-position: top center;
	background-repeat: repeat-x;
	background-size: contain;
	position: absolute;
	top: -13px;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
}
@media (max-width: 991px) {
	.pricing-main .pricing-top {
		top: -22px;
	}
}
@media (max-width: 991px) {
	.pricing-main .pricing-top {
		top: -11px;
	}
}

.event-calltoaction {
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.event-calltoaction .call-button {
	position: relative;
	z-index: 1;
}
.event-calltoaction .call-button button.play-btn {
	position: relative;
	left: 0;
	right: 0;
	padding: 5px;
	background: #ffffff2e;
	border: none;
	border-radius: 50%;
}
.event-calltoaction .call-button button.play-btn i {
	font-size: 28px;
	height: 70px;
	width: 70px;
	line-height: 2.5;
	text-align: center;
	color: #fff;
	background: var(--main-color);
	transition: all ease-in-out 0.5s;
	padding: 0 0 0 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
}
.event-calltoaction .call-button button.play-btn::after,
.event-calltoaction .call-button button.play-btn::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border: 2px solid #fdc70380;
	opacity: 0.3;
}
.event-calltoaction .call-button button.play-btn::before {
	-webkit-animation: ripple 2s linear infinite;
	animation: ripple 2s linear infinite;
}
.event-calltoaction .call-button button.play-btn::after {
	-webkit-animation: ripple 2s linear 1s infinite;
	animation: ripple 2s linear 1s infinite;
}
@media (max-width: 991px) {
	.event-calltoaction .event-expo,
	.event-calltoaction .video-expo {
		width: 100% !important;
	}
}
@media (max-width: 639px) {
	.event-calltoaction .event-expo-item p {
		padding: 1rem;
		text-align: center;
	}
}
.event-partners {
	background-size: 55%;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.event-partners .partners_inner {
	width: 100%;
	overflow: hidden;
}
.event-partners .partners_inner .partner-list {
	text-align: center;
	height: 120px;
	line-height: 120px;
	background: #fff;
}
.event-partners .partners_inner .partner-list img {
	opacity: 0.7;
	transition: all ease-in-out 0.5s;
	filter: grayscale(100%);
	width: 60%;
}
.event-partners .partners_inner .partner-list:hover img {
	opacity: 1;
	transition: all ease-in-out 0.5s;
	filter: grayscale(0%);
}
.coming-countermain {
	margin-top: -60px;
}
.coming-countermain::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 60%;
	height: 100%;
	background: var(--main-color);
    border-radius: 0 10px 10px 0;
}
.coming-countermain .counter-box {
	font-size: 16px;
	color: #fff;
}
.coming-countermain .counter-box span {
	font-size: 58px;
	font-weight: 500;
	line-height: 1;
}
@media (max-width: 991px) {
	.coming-countermain {
		margin-top: 0;
	}
	.coming-countermain::before {
		width: 100%;
	}
}
@media (max-width: 639px) {
	.coming-countermain .coming-counter {
		padding-bottom: 1rem !important;
	}
	.coming-countermain .coming-counter .counter-box {
		margin-bottom: 1.5rem;
	}
	.coming-countermain .coming-counter .counter-box span {
		font-size: 40px;
	}
}
.faq-bg {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-color: #f7f7f7;
}
.faq-quote-img {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/contentbg.png);
}
.faq-quote-main .faq-quote {
	border-left: 5px solid #fff;
}
.entry-author img {
	width: 36px !important;
	height: 36px !important;
	display: inline-block !important;
}
.sidebar-sticky {
	position: sticky;
	top: 0;
	transition: all ease-in-out 0.5s;
}
.sidebar-sticky .form-content {
	box-shadow: 0 0 30px #cccccc57;
	background: var(--main-color);
	padding: 30px;
}
.sidebar-sticky .form-content h4::before {
	display: none !important;
}
.sidebar-sticky .form-content .nice-select {
	padding: 13px 20px 10px 35px;
	font-weight: 400;
}
.sidebar-sticky .form-content .input-box {
	position: relative;
	display: inline-block;
	width: 100%;
}
.sidebar-sticky .form-content .input-box input {
	padding-left: 35px;
}
.sidebar-sticky .form-content .input-box i {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.sidebar-sticky .form-content .input-box [class^="fa-"]:before {
	color: #ef2853;
	font-weight: 600;
}
.sidebar-sticky.sticky1 {
	top: 120px;
}
.sidebar-sticky.sticky1.tab-sticky {
	top: 30px;
	box-shadow: none;
}
.tabs-navbar {
	border: 1px solid #7070702b;
}
.tabs-navbar ul li {
	display: block;
	width: 100%;
}
.tabs-navbar ul li a {
	padding: 15px;
	transition: all ease-in-out 0.5s;
	display: block;
	background: #ffffff00;
	width: 100%;
}
.tabs-navbar ul li a:hover {
	color: #fff;
	background: var(--main-color);
	transition: all ease-in-out 0.5s;
}
.tabs-navbar ul li.active a {
	color: #fff;
	background: var(--main-color);
	transition: all ease-in-out 0.5s;
}
.tabs-navbar1 {
	border: 1px solid #7070702b;
}
.tabs-navbar1 ul {
	display: inherit;
	text-align: center;
}
.tabs-navbar1 ul li a {
	padding: 10px 15px;
	transition: all ease-in-out 0.5s;
	border-radius: 10px;
}
.tabs-navbar1 ul li a:hover {
	color: #fff;
	background: var(--main-color);
	transition: all ease-in-out 0.5s;
}
.tabs-navbar1 ul li.active a {
	color: #fff;
	background: var(--main-color);
	transition: all ease-in-out 0.5s;
}
.navbar-sticky {
	z-index: 9;
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100%;
	animation-name: slideInUp;
	transition: all ease-in-out 0.5s;
}
.tabs-navbar1.navbar-sticky {
	top: 99px;
	transition: all ease-in-out 0.5s;
	border-top: 1px solid #f1f1f1 !important;
}
.sticky1.tab-sticky {
	top: 0;
	transition: all ease-in-out 0.5s;
	animation-name: slideInUp;
	box-shadow: 0 0 15px #cccccc57;
	padding-top: 1.5rem;
}
@media (max-width: 991px) {
	.tabs-navbar1.navbar-sticky {
		top: 0;
		position: relative !important;
	}
}
@media (max-width: 567px) {
	.trending .trend-item {
		display: block !important;
	}
	.trending .trend-item .trend-content-main,
	.trending .trend-item .trend-image {
		width: 100% !important;
	}
	.trending .trend-item .trend-content {
		padding: 20px 0;
	}
	.entry-meta {
		display: block !important;
	}
}
section.about-detail {
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
section.about-detail .about-image {
	border-radius: 0;
	overflow: hidden;
}
section.about-detail .about-image img {
	border-radius: 15px;
}
section.about-detail .p-about-us .p-call-action li {
	display: inline-block;
	padding: 5px;
	width: 49%;
}
section.about-detail .about-detail-content {
	border-radius: 15px;
}
@media (max-width: 811px) {
	section.about-detail {
		background-size: cover;
	}
}
.about-us {
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
	position: relative;
}
.about-us .about-features {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.about-us:hover .trend-item {
	transform: none;
}
.about-us .about-trending-topic ul li {
	display: inline-block;
	width: 49%;
	position: relative;
	line-height: 2.4;
	font-weight: 400;
}
.about-us .about-trending-topic ul li:before {
	content: "\f105";
	font-family: fontawesome;
	margin-right: 10px;
}
.about-us .about-image-box .about-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background: #fcdc6b;
	animation: border-transform 10s linear infinite alternate forwards;
}
.about-us .about-image-box img {
    border-radius: 10px;
}
.about-before::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f7f7f7;
}
.about-after::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: #f7f7f7;
}
@media (max-width: 639px) {
	.about-features {
		background-size: cover;
	}
}
.event-team {
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 55%;
}
.event-team .team-image {
	overflow: hidden;
	transition: all ease-in-out 0.5s;
    border-radius: 10px;
}
.event-team .team-image img {
	transition: all ease-in-out 0.5s;
	width: 100%;
    border-radius: 10px;
}
.event-team .team-list {
	overflow: hidden;
}
.event-team .team-list .team-content {
	transition: all 0.5s;
	position: relative;
	z-index: 1;
	position: absolute;
	bottom: -150px;
	width: 100%;
}
.event-team .team-list:hover .team-content {
	transition: all 0.5s;
	bottom: 0;
}
.event-team .team-list:hover .overlay {
	visibility: visible;
	height: 100%;
    border-radius: 10px;
}
.event-team .overlay {
	visibility: hidden;
	height: 0;
	bottom: 0;
	top: inherit;
	opacity: 0.7;
}
.event-testimonial {
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;
}
.event-testimonial .testimonial-item .testimonial-content {
	background: #fff;
	border: 1px solid #7070702b;
	position: relative;
}
.event-testimonial .testimonial-item .testimonial-content p {
	font-style: italic;
}
.event-testimonial .testimonial-item .testimonial-content .testimonial-icon {
	width: 50px;
	height: 45px;
	background: var(--main-color);
	text-align: center;
	font-size: 22px;
	color: #fff;
	line-height: 45px;
	position: absolute;
	top: 37px;
	left: -19px;
}
.event-testimonial .testimonial-item .testimonial-content .testimonial-icon:before {
	content: "";
	border-bottom: 16px solid #e41212;
	border-left: 18px solid transparent;
	position: absolute;
	top: -16px;
	left: 1px;
}
.event-testimonial .testimonial-item a {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.event-testimonial .testimonial-item a img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.event-testimonial .testimonial-item .author-info {
	position: relative;
}
.event-testimonial .testimonial-item .author-info img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
@media (max-width: 991px) {
	.event-testimonial .section-title {
		text-align: center !important;
		margin-bottom: 3rem;
	}
}
.contact-main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-main .contact-info .info-item {
	position: relative;
	padding: 20px;
}
.contact-main .contact-info .info-item .info-icon {
	height: 80px;
	width: 80px;
	line-height: 6;
}
.contact-main .contact-info .info-item .info-icon i {
	font-size: 36px;
}
.contact-main .contact-map .map-main {
	border-radius: 15px;
	overflow: hidden;
}
.contact-main .contact-map .contact-form {
	background: #3f3f3f;
	padding: 30px;
	border-radius: 15px;
}
@media (max-width: 991px) {
	.contact-main .contact-info .contact-form {
		padding: 0 !important;
	}
}
@media (max-width: 767px) {
	.contact-main .contact-map .contact-form {
		margin-top: 2rem;
	}
}
.contact-info-main {
	margin-top: -80px;
}
.event-gallery .event-gallerystart .gallery-item {
	position: relative;
	overflow: hidden;
}
.event-gallery .event-gallerystart .gallery-item .gallery-image {
	position: relative;
}
.event-gallery .event-gallerystart .gallery-item .gallery-image img {
	width: 100%;
	z-index: 1;
}
.event-gallery .event-gallerystart .gallery-item .gallery-image .overlay {
	opacity: 0;
	z-index: 0;
}
.event-gallery .event-gallerystart .gallery-item .gallery-image:hover {
	cursor: pointer;
}
a.lb-close {
	position: absolute;
	top: -30px;
	right: 30px;
}
.error {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.error::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../images/manbg1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}
.error.error1:before {
	content: "";
	background: url(../images/trending-bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}
@media (max-width: 991px) {
	.error .error-content {
		width: 100%;
	}
	.reservation-main {
		width: 100% !important;
		padding: 0 !important;
	}
}
@media (max-width: 811px) {
	.error {
		padding: 5rem 0 3rem !important;
	}
	.error .error-content {
		width: 100%;
	}
}
@media (max-width: 567px) {
	.error .error-content h1 {
		font-size: 140px;
		letter-spacing: -20px;
	}
	.error .error-content .nir-btn {
		margin: 0 0 1rem;
	}
	.error .newsletter-form {
		width: 100% !important;
	}
	.error .newsletter-form form {
		border-radius: 0;
	}
	.error .newsletter-form form input[type="email"] {
		padding-right: 20px;
	}
	.login-register .log-main {
		width: 100% !important;
	}
	.login-register .log-main button {
		width: 100% !important;
		margin: 0 0 10px !important;
	}
}
section.comingsoon {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 100vh;
}
section.comingsoon .comingsoon-content {
	position: relative;
	z-index: 1;
}
section.comingsoon .comingsoon-content .coming-title span {
	color: var(--main-color);
	font-size: 90px;
}
section.comingsoon .comingsoon-content .counter-box {
	text-align: center;
	display: inline-block;
	color: #fff;
	padding: 0 30px;
	text-transform: capitalize;
	font-size: 24px;
}
section.comingsoon .comingsoon-content .counter-box span {
	font-size: 90px;
	color: #fff;
	font-weight: 500;
	line-height: 1.5;
}
@media (max-width: 991px) and (min-width: 812px) {
	section.comingsoon {
		height: 200vh;
	}
}
@media (max-width: 911px) {
	section.comingsoon .comingsoon-content .newsletter-form {
		width: 100%;
	}
}
@media (max-width: 767px) {
	section.comingsoon .comingsoon-content .coming-title span {
		font-size: 40px;
	}
	section.comingsoon .comingsoon-content .counter-box span {
		font-size: 54px;
	}
	section.comingsoon .coming-image {
		margin-top: 2rem;
	}
}
@media (max-width: 639px) {
	section.comingsoon::before {
		display: none;
	}
	section.comingsoon .comingsoon-content .coming-title h1 {
		font-size: 44px;
		line-height: 1;
		margin-bottom: 15px !important;
	}
	section.comingsoon .comingsoon-content .coming-title span {
		font-size: 30px;
	}
	section.comingsoon .comingsoon-content .counter-box {
		width: 100%;
	}
	section.comingsoon .comingsoon-content .counter-box span {
		font-size: 42px;
	}
}
@media (max-width: 567px) {
	section.comingsoon .comingsoon-content .coming-title-main,
	section.comingsoon.comingsoon1 .comingsoon-content .coming-title-main {
		width: 100% !important;
	}
	section.comingsoon .comingsoon-content .newsletter-form form,
	section.comingsoon.comingsoon1 .comingsoon-content .newsletter-form form {
		border-radius: 0;
	}
	section.comingsoon .comingsoon-content .newsletter-form form input[type="email"],
	section.comingsoon.comingsoon1 .comingsoon-content .newsletter-form form input[type="email"] {
		padding-right: 20px;
	}
	section.comingsoon .comingsoon-content .newsletter-form form input.nir-btn,
	section.comingsoon.comingsoon1 .comingsoon-content .newsletter-form form input.nir-btn {
		position: relative;
		border-radius: 0;
		margin: 1rem 0 0;
	}
}
.newsletter {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.newsletter .newsletter-form {
	position: relative;
}
.newsletter .newsletter-form form {
	border-radius: 0;
	overflow: hidden;
	position: relative;
	border: 1px solid #7070702b;
}
.newsletter .newsletter-form form input {
	padding-right: 65px;
	border: none;
	height: 50px;
	outline: none;
}
.newsletter .newsletter-form form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px 24px;
	transition: all ease-in-out 0.5s;
}
.newsletter .newsletter-form form button:hover {
	background: var(--sec-color); !important;
	transition: all ease-in-out 0.5s;
	color: #fff;
	opacity: 0.8;
}
@media (max-width: 811px) {
	.newsletter .newsletter-main .newsletter-form {
		width: 60% !important;
	}
}
@media (max-width: 767px) {
	.newsletter .newsletter-main .newsletter-form {
		width: 100% !important;
	}
}
@media (max-width: 567px) {
	.newsletter .newsletter-main .newsletter-form form {
		border: none !important;
		border-radius: 0 !important;
	}
	.newsletter .newsletter-main .newsletter-form form input {
		border: 1px solid #7070702b !important;
		padding-right: 20px !important;
	}
	.newsletter .newsletter-main .newsletter-form form input.nir-btn,
	.newsletter .newsletter-main .newsletter-form form button {
		border: none !important;
		position: relative !important;
		margin-top: 16px;
		width: 100%;
	}
}
footer {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
footer a,
footer p,
footer li {
	color: #fff;
	font-weight: 400;
}
footer ul.list li {
	display: block;
	padding-left: 20px;
	position: relative;
}
footer ul.list li::before {
	content: "\f105";
	position: absolute;
	left: 0;
	top: 0;
	font-family: fontawesome;
}
.social-links {
	display: inline-block;
}
.social-links ul li {
	display: inline-block !important;
}
.social-links ul li a {
	background: #fff;
    color: var(--sec-color);
    width: 40px;
    height: 40px;
    display: inline-flex;
    text-align: center;
    font-size: 17px;
    line-height: 2.4;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.social-links ul li a:hover {
	color: #fff;
	background: var(--main-color);
}
.blog-full {
	overflow: hidden;
}
.blog-full .blog-image {
	position: relative;
	height: 100%;
	overflow: hidden;
	border-radius: 0;
	transition: all ease-in-out 0.5s;
}
.blog-full .blog-image .h-date {
	text-align: center;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 12px 20px;
	border-radius: 15px;
	z-index: 1;
}
.blog-full .blog-image > a {
	background-size: cover;
	height: 100%;
	width: 100%;
	background-position: center;
	display: inline-block;
	transition: all ease-in-out 0.5s;
}
.detail-comments .comment-box,
.single-comments .comment-box {
	display: flex;
	margin-bottom: 30px;
}
.detail-comments .comment-box:last-child,
.single-comments .comment-box:last-child {
	margin-bottom: 0;
}
.detail-comments .comment-box .comment-content,
.single-comments .comment-box .comment-content {
	border-bottom: 1px dashed #f1f1f1;
	position: relative;
	background: #f7f7f7;
	padding: 20px;
	margin-left: 30px;
}
.detail-comments .comment-box .comment-content:before,
.single-comments .comment-box .comment-content:before {
	content: "";
	position: absolute;
	left: -20px;
	top: 25px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #f7f7f7;
}
.detail-comments .comment-box .comment-content:last-child,
.single-comments .comment-box .comment-content:last-child {
	border: 0;
}
.detail-comments .comment-box .comment-content p.comment-date,
.single-comments .comment-box .comment-content p.comment-date {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 14px;
	margin: 0;
}
.detail-comments .comment-box .comment-content .comment-rate span.comment-title,
.single-comments .comment-box .comment-content .comment-rate span.comment-title {
	font-weight: 500;
	font-style: italic;
}
.detail-comments .comment-box .comment-content p.comment,
.single-comments .comment-box .comment-content p.comment {
	margin: 0.5rem 0;
}
.detail-comments .comment-box .comment-content .comment-like a,
.single-comments .comment-box .comment-content .comment-like a {
	padding: 6px 12px;
}
@media (max-width: 767px) {
	.blog-content {
		padding-top: 20px !important;
	}
}
@media (max-width: 639px) {
	.detail-comments .comment-box,
	.single-comments .comment-box {
		display: block !important;
		text-align: center;
	}
	.detail-comments .comment-box .comment-image,
	.single-comments .comment-box .comment-image {
		display: inline-block;
	}
	.detail-comments .comment-box .comment-content,
	.single-comments .comment-box .comment-content {
		margin-top: 1rem;
		margin-left: 0 !important;
	}
	.detail-comments .comment-box .comment-content:before,
	.single-comments .comment-box .comment-content:before {
		display: none;
	}
	.detail-comments .comment-box .comment-content p.comment-date,
	.single-comments .comment-box .comment-content p.comment-date {
		position: relative !important;
		top: 0;
		right: 0;
	}
	.detail-comments .comment-box .comment-content .rating-comment,
	.single-comments .comment-box .comment-content .rating-comment {
		display: inline-block !important;
		width: 100%;
	}
	.detail-comments .comment-box p.comment-date,
	.single-comments .comment-box p.comment-date {
		display: inline-block !important;
		margin-top: 2rem;
	}
	.review-box {
		margin-bottom: 15px;
	}
}
@media (max-width: 400px) {
	.detail-comments .comment-box .comment-content .comment-like,
	.single-comments .comment-box .comment-content .comment-like {
		display: block !important;
	}
	.detail-comments .comment-box .comment-content .comment-like .like-title,
	.single-comments .comment-box .comment-content .comment-like .like-title {
		float: none !important;
	}
	.detail-comments .comment-box .comment-content .comment-like .like-btn,
	.single-comments .comment-box .comment-content .comment-like .like-btn {
		float: none !important;
		margin-top: 0.5rem;
	}
	.detail-comments .comment-box .comment-content .comment-like .like-btn a,
	.single-comments .comment-box .comment-content .comment-like .like-btn a {
		padding: 0;
	}
}
section.blog .grid {
	position: relative;
	overflow: hidden;
	border-radius: 0;
}
section.blog .grid .gridblog-content {
	padding: 20px 0 0;
}
section.blog .grid .gridblog-content .date {
	border-bottom: 1px solid #7070702b;
	display: inline-block;
}
section.blog .grid .gridblog-content .date a {
	color: #999;
	font-size: 14px;
}
section.blog .grid .gridblog-content .date a:hover {
	color: var(--main-color);
}
section.blog .grid .grid-image {
	position: relative;
	transition: all ease-in-out 0.5s;
	overflow: hidden;
}
section.blog .grid .grid-image img {
	transition: all ease-in-out 0.5s;
	width: 100%;
}
section.blog .grid .grid-image:hover img {
	transform: scale(1.1);
	transition: all ease-in-out 0.5s;
}
section.blog .grid .grid-image:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	-webkit-transition: -webkit-transform 1.8s;
	transition: -webkit-transform 1.8s;
	transition: transform 1.8s;
	transition: transform 1.8s, -webkit-transform 1.8s;
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -200%, 0);
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -200%, 0);
	z-index: 1;
}
section.blog .grid .grid-image:hover:before {
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 200%, 0);
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 200%, 0);
}
section.blog .grid .grid-image .overlay {
	background: linear-gradient(to top, #0000007d, transparent);
}
section.blog .grid .grid-item1 .gridblog-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
	padding: 20px;
}
section.blog .grid .grid-item1 .date {
	border-bottom: 1px solid #fff;
	display: inline-block;
}
.author-news {
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: inline-block;
	width: 100%;
}
.author-news .author-news-content {
	position: relative;
	z-index: 1;
}
.author-news .author-news-content .author-thumb {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.author-news .author-news-content .author-thumb img {
	width: 100%;
	border-radius: 50%;
	height: 100%;
}
.header-social ul li {
	display: inline-block;
	margin: 0;
}
.header-social ul li a i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #5e5eb7;
	color: #fff;
	margin-right: 2px;
}
.header-social ul li a i:hover {
	opacity: 0.8;
}
.header-social ul li a i:last-child {
	margin-right: 0;
}
.header-social ul li:nth-child(2) a i {
	background: #c72026;
}
.header-social ul li:nth-child(3) a i {
	background: #29a4dd;
}
ul.sidebar-category li {
	display: block;
	line-height: 3;
}
ul.sidebar-category li a {
	position: relative;
	border-bottom: 1px dashed #ddd;
	display: block;
	padding-left: 25px;
}
ul.sidebar-category li a:hover {
	color: var(--main-color);
}
ul.sidebar-category li a::before {
	content: "\f00c";
	position: absolute;
	font-family: fontawesome;
	left: 0;
	top: 0;
	color: var(--main-color);
}
ul.sidebar-category li:last-child a {
	border-bottom: 0;
}
ul.sidebar-category li.active a {
	color: var(--main-color);
}
.blog-single .blog-next .prev,
.blog-single .blog-next .next {
	position: relative;
}
.blog-single .blog-next .prev i,
.blog-single .blog-next .next i {
	position: absolute;
	left: 0;
	top: 6px;
}
.blog-single .blog-next .next i {
	left: inherit;
	right: 0;
}
.blog-single .blog-author .blog-thumb img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
@media (max-width: 767px) {
	.blog-single .blog-next a {
		width: 100%;
		margin-bottom: 15px;
	}
	.blog-single .blog-author {
		text-align: center;
	}
	.blog-single .blog-author .blog-thumb {
		margin-bottom: 1rem;
	}
}
.product-slider .slider-nav .slick-slide {
	opacity: 0.5;
	padding: 0 5px;
}
.product-slider .slick-slide.slick-current.slick-active.slick-center {
	opacity: 1;
}
.product-quantity input.pro-num {
	width: 70px;
}
.gallery_trigger {
	position: absolute;
	top: 0.6em;
	right: 0.6em;
	font-size: 14px;
	width: 36px;
	height: 36px;
	line-height: 2.6;
	text-align: center;
	background: #fff;
	border-radius: 100%;
}
.gallery_trigger:hover {
	background-color: var(--main-color);
	color: #fff;
}
.product-table tr,
.product-table th,
.product-table td {
	border: 0 solid;
}
.product-table tbody tr:nth-child(even) {
	background: 0 0;
}
.product-table th {
	padding: 0 20px 8px 0;
	color: var(--sec-color);
}
.product-table .product-quantity input.pro-num {
	width: 60px;
	height: 40px;
}
.orders-info {
	padding: 1em 2em;
	margin: 0 0 2em;
	position: relative;
	background-color: #f7f6f7;
	color: #515151;
	border-top: 3px solid #1e85be;
}


.square-box{
    position: relative;
}

.square-box:before{
    content: "";
    width: 450px;
    height: calc(100% - 100px);
    border: 30px solid var(--sec-color);
    border-radius: 10px;
    opacity: .4;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

}

.rounded-box{
    position: relative;
}

.rounded-box:before, .rounded-box:after{
    content: "";
    width: 450px;
    height: 450px;
    border: 30px solid var(--sec-color);
    border-radius: 50%;
    opacity: .6;
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 10%;
}
.rounded-box:after{
    scale: 1.5;
    border: 22px solid var(--sec-color);
}