$page-limit: 1300px;
$indigo: #3949ab;
body {
    overflow-x: hidden;
    font-family: "Muli", Helvetica, Arial, sans-serif;

    &.home {
        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 60vw;
            height: 60vw;
            border-radius: 100px;
            z-index: -1;
        }
        &:before {
            background: #ffe799;
            top: -20vw;
            right: -10vw;
            transform: rotate(30deg);
        }

        &:after {
            background: #f5f5f5;
            top: 800px;
            left: -35vw;
            transform: rotate(45deg);
        }
    }

    &:before {
        content: "";
        position: absolute;
        border-radius: 0 0 300px 100px;
        z-index: -1;
        background: #ffe799;
        top: -20vw;
        right: -5vw;
        width: 40vw;
        height: 70vw;
        transform: rotate(30deg);
    }
}

header {
    height: 100px;
    display: inline-flex !important;
    justify-content: center;
    width: 100%;
    .header-wrapper {
        max-width: $page-limit;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: #333;
            font-weight: 500;
            text-transform: uppercase;
            &:hover {
                opacity: 0.85;
            }
        }
    }
    .logo {
        img {
            width: 120px;
        }
    }
}

.main-content {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    padding: 40px 10px;
    float: left;
    width: 100%;
}

p {
    font-size: 20px;
    font-weight: 300;
    max-width: 800px;
    color: #666;
}

.woffice-cta {
    background: $indigo;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 50px;
    border: none;
    &:hover {
        background: lighten($indigo, 7%);
    }
}

section.hero {
    img {
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(black, 0.1);
    }
    h1 {
        font-size: 46px;
    }
    h5 {
        color: #666;
        font-weight: 300 !important;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 992px) {
        h1 {
            font-size: 36px;
        }
        h5 {
            font-size: 25px;
        }
    }
    @media screen and (max-width: 992px) {
        text-align: center;

        img {
            margin-top: 30px;
        }
    }
}

section.what {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    iframe {
        width: 100%;
        max-width: 800px;
    }
}

section.features {
    height: 800px;

    @media screen and (max-width: 800px) {
        .features-content li:nth-of-type(2) .ft-content {
            flex-direction: column-reverse;
        }
        .ft-content {
            flex-direction: column;
            img {
                margin-bottom: 30px;
            }
            li {
                text-align: center !important;
            }
            .col {
                width: 100% !important;
            }
        }

        .features-tabs {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .features-wrapper {
        text-align: center;
        ul.features-tabs {
            display: inline-flex;
            justify-content: center;
            width: 100%;
            // max-width: 500px;

            li {
                margin-right: 20px;
                width: 180px;
                &:last-of-type {
                    margin-right: 0;
                }
                a {
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #333;
                    font-size: 18px;
                    padding: 10px;
                    border-radius: 6px;
                    i {
                        font-size: 35px;
                    }

                    &.active {
                        color: $indigo;
                        background: #f1f1f1;
                    }
                }
            }
        }
        ul.features-content {
            position: relative;
            & > li {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(10%);
                transition: all 0.5s ease-in-out;

                img {
                    width: 100%;
                    border-radius: 6px;
                }

                &.active {
                    opacity: 1;
                    transform: translateY(0%);
                }

                .row.ft-content {
                    display: inline-flex;
                    align-items: center;
                    li {
                        font-size: 18px;
                        color: #666;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

section.register {
    h1 {
        font-size: 46px;
    }
    h5 {
        color: #666;
        font-weight: 300 !important;
        margin-bottom: 30px;
    }

    form {
        background: #fff;
        box-shadow: 0 3px 10px rgba(black, 0.1);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        float: right;

        .woffice-cta {
            padding: 10px 20px;
        }

        .form-field {
            margin-bottom: 10px;

            &.domain {
                float: left;
                width: 100%;
                display: block;
                label {
                    width: 100%;
                    float: left;
                }
                .input_grid {
                    display: grid;
                    float: left;
                    width: 100%;
                    grid-template-columns: auto min-content;
                    align-items: center;

                    span {
                        font-weight: 600;
                        padding-left: 5px;
                    }
                }
            }
        }

        label {
            font-size: 16px;
            color: #333;
        }
        input {
            border: 1px solid rgba(black, 0.2) !important;
            border-radius: 4px !important;
            &:focus,
            &:active {
                border-bottom-color: $indigo !important;
                box-shadow: 0 1px 0 0 $indigo !important;
            }
        }
    }
}

footer {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    @media screen and (max-width: 600px) {
        padding-top: 60px;
    }

    .w-logo {
        margin: 50px 0 -50px 0;
        height: 250px;
        overflow: hidden;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin: 70px 0 -120px 0;
            img {
                text-align: center;
                width: 90% !important;
            }
        }
        img {
            width: 500px;
        }
    }
}

body.loading-page {
    background: #eef3f4;
    color: rgb(128, 156, 161);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    &:before {
        content: none !important;
    }

    .loading-box {
        margin: 5vh auto;
        width: 100%;
        height: 80%;
        max-height: 500px;
        max-width: 600px;
        text-align: center;
        position: relative;
        @media screen and (max-width: 600px){
            height: 70%;
        }
         &:before, &:after{
            content: "";
            position: absolute;
            width: 10%;
            height: 100%;
            top: 0%;
            z-index: 8;
        }
        
        &:before{
            left: 0;
            background: linear-gradient(-90deg, transparent 0%, #eef3f4 100%);
        }
        &:after{
            right: 0;
            width: 2% !important;
            background: linear-gradient(90deg, transparent 0%, #eef3f4 100%);
        }
    }

    .loading-animation-wrapper{
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;

        &:before, &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 30%;
            left: 0;
            z-index: 5;
        }

        &:before{
            top: 0%;
            background: linear-gradient(0deg, transparent 0%, #eef3f4 100%);
        }

        &:after{
            bottom: -1px;
            background: linear-gradient(180deg, transparent 0%, #eef3f4 100%);
        }

        img.ruler{
            position: absolute;
            bottom: 0;
            left: 38%;
            height: 70%;
            animation: ruler .90s linear infinite;

            @media screen and (max-width: 600px){
                left: 35%;
            }
        }

    }

    .loading-animation {
        position: relative;

        width: 100%;
        height: 100%;
        overflow: hidden;

        &:before,
        &:after {
            position: absolute;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:before {
            // background: url("http://twibbon.s3.amazonaws.com/238/63bb30c8-2649-465e-9df1-ab2f8e5f7ecc.jpg");
            background: url("building.png");
            background-repeat: repeat;
            background-position: 0 0;
            background-size: auto 100%;
            animation: building 82s linear infinite;
        }

        &:after {
            background: url("clouds.png");
            background-repeat: repeat;
            background-position: 0 0;
            background-size: auto 50%;
            animation: clouds 300s linear infinite;
            z-index: -1;
            width: 60%;
            left: 0;
        }
    }

    @keyframes building {
        from {
            background-position: 0 0;
        }
        /*use negative width if you want it to flow right to left else and positive for left to right*/
        to {
            background-position: 0 10000px;
        }
    }

    @keyframes clouds {
        from {
            background-position: 10000px 0;
        }
        /*use negative width if you want it to flow right to left else and positive for left to right*/
        to {
            background-position: 0 7000px;
        }
    }

    @keyframes ruler {
        0% {
            transform: skewY(0deg);
            background-position: 10000px 0;
        }
        25% {
            transform: skewY(3deg);
        }
        // 30% {
        //     transform: skewY(0deg);
        // }
        // 40% {
        //     transform: skewY(-3deg);
        // }
        50% {
            transform: skewY(0deg);
        }

        75% {
            transform: skewY(-3deg);
        }
        

        /*use negative width if you want it to flow right to left else and positive for left to right*/
        100% {
            transform: skewY(0deg);
            background-position: 0 7000px;
        }
    }

    img.woffice-logo {
        width: 100px;
        margin-top: 30px;
    }
}
