$blue-darker: #011738;
$blue-dark: #1a2b79;
$blue: #044cb8;
$green: #29823c;
$yellow: #ffc707;
$blue-light: #d0e0f8;

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

body {
	font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: $blue-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $blue-dark;
	font-weight: 700;
}

p {
	line-height: 1.6;
	font-size: 1.2rem;
}

:focus-visible {
	outline: 2px solid dashed;
	outline-offset: 4px;
}

a:not(.cta-btn) {
	color: #db6a1e;
	font-weight: 500;
	text-decoration: underline !important;
}

section {
	padding: 100px 0;
	&:not(:nth-of-type(2n + 1)) {
		background: $blue-dark;
		color: #fff;
		h2 {
			color: #fff;
		}
	}

	&:nth-of-type(2n + 1) {
		color: $blue-dark;
		background: #fff;
	}
}

section.steps {
	background: $blue-light;
	color: $blue-dark;
	h2 {
		color: $blue-dark;
	}
	.row {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0.5rem;
		margin-top: 2rem;
	}
	@media (min-width: 42em) {
		.row {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: 80em) {
		.row {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	.step {
		display: grid;
		grid-template-rows: 150px auto;
		justify-content: center;
		text-align: center;
		&-img {
			height: 150px;
			width: 150px;
			overflow: hidden;
			// background-color: #f5d839;
			// border: 4px dashed $blue-dark;
			justify-self: center;
			align-self: center;
			// border-radius: 50%;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: bottom center;
		}

		p {
			font-weight: 500;
		}
	}
}

section:not(.hero) {
	h2 {
		text-align: center;
		font-size: 1.8rem;
		font-weight: 600;
		position: relative;
		display: inline-flex;
		padding-left: 1.5rem;
	}
}

section.hero {
	background: $blue-dark;
	color: #fff;
	h1 {
		font-size: 2rem;
		font-weight: 700;
		margin: 0;
		text-wrap: balance;
		color: #fff;
		margin-bottom: 2rem;
	}
	h2 {
		margin-top: 0;
		font-size: 1rem;
	}
	strong {
		font-weight: 700;
	}
	.hero-box {
		display: flex;
		flex-direction: column-reverse;
		.hero-img {
			height: 200px;
		}
	}
	@media (min-width: 46em) {
		.hero-box {
			display: grid;
			grid-template-columns: 1fr 200px;
			align-items: center;
			.hero-img {
				height: 100%;
				width: 100%;
				img {
					width: 100%;
					align-self: end;
					max-height: 620px;
				}
			}
			.hero-text {
				padding-bottom: 4rem;
			}
		}
	}

	@media (min-width: 80em) {
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 1.3rem;
		}
		.hero-box {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			.hero-img {
				height: 100%;
				width: unset;
			}
			.hero-text {
				padding-bottom: 100px;
			}
		}
	}

	.box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		margin-top: 1rem;

		div {
			text-align: center;
			height: 100%;

			&:nth-of-type(2) {
				a {
					align-items: center;
					justify-content: center;
					background: $blue-dark;
					outline: 2px solid $yellow;
					color: $yellow;
				}
			}

			a {
				justify-self: center;
				box-shadow: 3px 3px 10px rgba($yellow, 0.1);
				background: $yellow;
				color: $blue-dark;
				display: inline-flex;
				flex-direction: column;
				height: 100%;
				width: 100%;
				min-width: 256px;
				border-radius: 10px;
				padding: 1rem 10px;
				text-decoration: none !important;
				font-size: 1.2rem;
				outline: 1px solid rgba($yellow, 0.1);
				outline-offset: 0;
				transition: all 0.3s ease-in-out;
				&:hover,
				&:focus-visible {
					outline: 10px solid rgba($yellow, 0.2);
				}

				img {
					// filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(0%) hue-rotate(179deg)
					// 	brightness(106%) contrast(101%);
					filter: brightness(0) saturate(100%) invert(14%) sepia(33%) saturate(6629%) hue-rotate(227deg)
						brightness(79%) contrast(94%);
				}

				span {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					gap: 0.5rem;
				}

				span span {
					color: #fff;
					opacity: 0.9;
					font-weight: 400;
				}
			}
		}
	}

	.hero-img {
		display: flex;
		justify-content: center;
	}

	.cta-btn {
		margin-top: 2rem;
		color: #fff;
		background: $green;
		padding: 10px 15px;
		font-size: 1.3rem;
		border-radius: 4px;
		display: inline-flex;
		align-items: center;
		img {
			height: 20px;
			margin-right: 8px;
		}

		& + p {
			margin-top: 0;
			color: #6b799c;
		}

		&.outline {
			margin-top: 1rem;
			background: #fff;
			outline: 2px solid $green;
			color: $green;
		}
	}
}

.question {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	h3 {
		font-size: 1.3rem;
		font-weight: 500;
		display: inline-block;
		align-items: center;
		gap: 0.5rem;
		img {
			margin-bottom: -4px;
		}
	}
	h3,
	p {
		margin: 0;
	}
}

section.faq {
	padding-bottom: 0;
	.question {
		margin-top: 2rem;
		&:first-of-type {
			margin-top: 4rem;
		}
		a img {
			filter: brightness(0) saturate(100%) invert(77%) sepia(73%) saturate(3129%) hue-rotate(354deg)
				brightness(109%) contrast(103%);
		}
	}
}

section.legisla {
	background: $blue-light;
	ul {
		margin-top: 4rem;
		display: grid;
		grid-template-rows: 1fr 1fr;
		gap: 1rem;
		align-items: center;
		width: 100%;

		@media screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}

		li {
			display: inline-block;
			width: 100%;
			justify-self: center;

			a {
				width: 100%;
				display: inline-flex;
				align-items: center;
				padding: 4px 10px;
				// background: #fdefe5;
				background: darken($blue-light, 10%);
				text-decoration: none !important;
				border-radius: 6px;
				color: $blue;
			}
			&:hover {
				a {
					background: $blue;
					color: #fff;
				}
				img {
					filter: invert(1);
				}
			}
			img {
				height: 32px;
				margin-right: 0.8rem;
				opacity: 0.8;
			}
		}
	}
}

section.comofaz {
	.videos-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;

		@media screen and (min-width: 601px) and (max-width: 992px) {
			grid-template-columns: 1fr 1fr !important;
		}

		@media screen and (max-width: 600px) {
			grid-template-columns: 1fr !important;
		}

		div {
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			display: inline-flex;
			flex-direction: column;
			iframe {
				width: 100%;
				max-height: 200px;
			}
			p {
				font-weight: 500;
				margin: 6px 0 0 0;
			}
		}
	}
}
