body {
  background: #eef2f3;
}

header {
  width: 100%;
  height: 64px;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 54px;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  margin: 10px 0;
}
main .container {
  border-radius: 40px 40px 20px 20px;
  padding: 20px;
  background: #fff;
}

section.hero {
  width: 100%;
  height: 250px;
}
section.hero img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section.links h2 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 20px;
}
section.links ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 0;
}
section.links .card {
  margin: 0;
  padding: 10px;
  box-shadow: none;
  border: 1px solid #eef2f3;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
section.links .card:hover {
  background: #eef2f3;
}
section.links .card a {
  display: flex;
  flex-direction: column;
}
section.links .card__title {
  font-size: 20px;
  font-weight: bold;
  color: #245aa7;
}
section.links .card__desc {
  color: #333;
  padding-bottom: 10px;
}
section.links .card__cta {
  color: #245aa7;
  text-decoration: underline;
  text-underline-offset: 2px;
}/*# sourceMappingURL=style.css.map */