body {
	background: #eef2f3;
}

header {
	width: 100%;
	height: 64px;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		height: 54px;
		object-fit: contain;
	}
}

main {
	margin: 10px 0;
	.container {
		border-radius: 40px 40px 20px 20px;
		padding: 20px;
		background: #fff;
	}
}

section.hero {
	width: 100%;
	height: 250px;
	img {
		border-radius: 20px;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

section.links {
	h2 {
		text-align: center;
		font-weight: bold;
		font-size: 26px;
		margin-top: 20px;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1rem;
		margin-bottom: 0;
	}

	.card {
		margin: 0;
		padding: 10px;
		box-shadow: none;
		border: 1px solid #eef2f3;
		border-radius: 10px;
		transition: 0.3s ease-in-out;
		&:hover {
			background: #eef2f3;
		}
		a {
			display: flex;
			flex-direction: column;
		}

		&__title {
			font-size: 20px;
			font-weight: bold;
			color: #245aa7;
		}

		&__desc {
			color: #333;
			padding-bottom: 10px;
		}
		&__cta {
			color: #245aa7;
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}
