@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Bold.ttf");
	font-weight: 700;
}
