@import url(_fonts.scss);
$sidebar-width: 300px;

:root {
	--blue-accent: #0086cc;
	--blue-accent-dark: #297fb8;
	--green-primary: #1bbc9b;
	--green-secondary: #16a086;
	--yellow: #fef5b2;
	--grey: #a7a9ac;
	--border: #e5e5e5;
	--grey-light: #f1f2f2;
	--grey-dark: #6d6e71;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: "Material-Icons";
	src: url("../fonts/MaterialIconsOutlined-Regular.otf");
}

html,
body {
	height: 100vh;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-rows: 64px auto;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-weight: 600;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 2.488rem;
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.2rem;
}

.inline-flex {
	display: inline-flex;
	align-items: center;
}

a {
	color: var(--green-primary);
	&:hover {
		text-decoration: none;
	}
}

header {
	width: 100%;
	height: 80px;
	display: inline-flex;
	position: fixed;
	top: 0;
	justify-content: center;
	z-index: 10;

	nav {
		height: 100%;
		display: inline-flex;
		justify-content: flex-start;
		border-bottom: 1px solid var(--border);
		gap: 1rem;

		.header-trigger {
			width: 50px;
			text-align: center;
			border-radius: 6px;

			&:hover,
			&:active {
				background: #f1f1f1;
			}
		}

		.logo {
			@extend .inline-flex;
			justify-content: space-between;
			padding: 0;
			// background: var(--green-secondary);
			height: 100%;
			width: $sidebar-width;
			position: relative;

			img {
				// max-height: 45px;
				height: 100%;
			}

			&:after {
				content: "";
				background: url("../img/logo_curves.svg") no-repeat;
				width: 69px;
				height: 64px;
				top: 0;
				right: 0;
				position: absolute;
				z-index: 1;
			}

			@media screen and (max-width: 600px) {
				width: 250px;
			}

			.sidenav-trigger {
				right: 50px;
				z-index: 2;
			}

			a i {
				color: var(--green-secondary) !important;
			}
		}

		.header-actions {
			flex-grow: 1;
			@extend .inline-flex;
			justify-content: flex-end;
		}

		.search {
			@extend .inline-flex;
			width: calc(100% - 332px);

			&.show {
				form {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
				}
			}
			@media screen and (max-width: 992px) {
				position: relative;
				width: auto;

				.header-trigger {
					display: inline-block;
				}

				form {
					position: absolute;
					padding: 0.5rem;
					box-shadow: 0 5px 6px rgba(black, 0.2);
					border-radius: 0 0 6px 6px;
					width: 100vw !important;
					right: -50px;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					input {
						margin: 0;
						padding: 0;
					}

					background: #fff;
					top: 100%;
				}
			}

			form {
				width: 100%;
				@extend .inline-flex;
				transition: all 0.3s ease-in-out;

				input {
					margin: 0 !important;
					text-indent: 1rem;
				}

				button {
					height: 44px;
					width: 44px;
					@extend .inline-flex;
					justify-content: center;
					background: none;
					border: none;
					margin-left: -50px;
					cursor: pointer;
					border-radius: 50%;

					&:hover {
						background: rgba(black, 0.2);
					}
				}
			}
		}
		.user {
			@extend .inline-flex;
			justify-content: flex-end;
			gap: 1rem;
			padding-right: 0.5rem;
			flex-grow: 1;

			@media screen and (max-width: 992px) {
				position: relative;
				width: 50px;
				flex-grow: 0;
				justify-self: flex-end;

				&.show {
					& > ul {
						opacity: 1;
						visibility: visible;
						pointer-events: all;
					}
				}

				& > ul {
					background-color: #fff;
					box-shadow: 0 5px 6px rgba(black, 0.2);
					border-radius: 0 0 6px 6px;
					position: absolute;
					top: 100%;
					display: inline-flex;
					flex-direction: column;
					width: 200px;
					transition: all 0.3s ease-in-out;
					overflow: hidden;

					li {
						a {
							display: inline-flex;
							gap: 1rem;
							color: var(--grey-dark);
							font-weight: 500;
							width: 100%;
							border-radius: 0 !important;
						}
					}
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
				}

				ul.collapsible {
					width: 100%;
					border: none !important;
					margin: 0;

					li {
						width: 100%;
						&.active {
							background: rgba(#1bbc9b, 0.1);
						}

						a {
							display: inline-flex;
							width: 100%;
							align-items: center;
							padding: 0 1rem;

							& > i {
								margin-right: 0;
							}
						}
					}

					.collapsible-body {
						border: none !important;
						padding: 0;
						ul {
							width: 100%;
						}
					}
				}
			}

			& > ul > li:last-of-type > a {
				border-radius: 10px;
			}
			& > ul > li > a {
				border-radius: 50%;
				&:hover {
					background: rgba(#1bbc9b, 0.2);
				}

				.notification-icon {
					position: relative;
				}

				.notification-counter {
					position: absolute;
					top: 6px;
					right: -6px;
					padding: 2px 4px;
					font-size: 0.8rem;
					background: var(--blue-accent);
					color: #fff;
					line-height: 1;
					border-radius: 50px;
					text-align: center;
					display: inline-flex;
					align-items: center;
				}
			}

			&-profile {
				a {
					width: 100%;
					color: var(--grey) !important;
					display: inline-flex;
					align-items: center;
					gap: 0.5rem;

					& + ul li a {
						color: var(--green-secondary) !important;
						i {
							color: var(--green-secondary) !important;
						}
					}
				}

				border-radius: 0;
			}
		}
	}
}

#menu {
	background-color: var(--green-primary);
	a {
		color: #fff;
		&:hover {
			background-color: var(--green-secondary);
		}
	}
	nav {
		width: 100%;
	}
}
main {
	height: calc(100vh - 80px);
	margin-top: 80px;
	display: grid;
	grid-template-columns: auto 300px;
	z-index: 1;
	// overflow-x: hidden;

	aside.shortcuts {
		width: 100%;
		border-left: 1px solid var(--border);
		padding: 1rem;
		height: 100%;
		@extend .inline-flex;
		flex-direction: column;
		gap: 1rem;

		.shortcut {
			background: var(--grey-light);
			border-radius: 10px;
			padding: 10px;
			width: 100%;
			&.lembretes {
				background: none;
				padding: 0;
				text-align: center;

				.shortcut-title {
					color: var(--grey);
					margin-bottom: 1rem;
					display: inline-block;
				}

				.shortcut-head {
					position: relative;

					.lembrete-pin {
						position: absolute;
						width: 24px;
						height: 24px;
						right: 0.5rem;
						opacity: 0.8;
						top: 3rem;
						z-index: 2;
						transform: rotate(30deg);
					}
				}

				.shortcut-content {
					z-index: 1;
					background: var(--yellow);
					border-radius: 10px;
					padding: 10px;
					color: var(--grey-dark);
					font-weight: 600;
				}
			}

			&-head {
				width: 100%;
				@extend .inline-flex;
				justify-content: space-between;
			}

			&-title {
				color: var(--grey-dark);
				font-weight: 600;
			}

			&-link {
				@extend .inline-flex;
				color: var(--grey-dark);
				font-size: 0.8rem;

				&:hover {
					color: var(--blue-accent);
					i {
						color: var(--blue-accent);
					}
				}
			}

			&-grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0.5rem;
			}

			&-item {
				@extend .inline-flex;
				justify-content: center;
				a {
					@extend .inline-flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: var(--grey-dark);
					width: 100%;

					.shortcut-icon {
						color: var(--blue-accent);
					}

					img {
						height: 36px;
						width: 36px;
						object-fit: contain;
					}

					&:hover,
					&:focus-visible {
						color: var(--blue-accent);
						img {
							filter: invert(40%) sepia(96%) saturate(3500%)
								hue-rotate(178deg) brightness(92%)
								contrast(101%);
						}
					}
				}
			}
		}
	}
	.main-content {
		width: 100%;
		max-width: 1000px;
		padding: 1rem 1rem 0 1rem;
		justify-self: center;

		section.content-section {
			.section-head {
				@extend .inline-flex;
				justify-content: space-between;
				width: 100%;
			}

			.section-title {
				color: var(--grey);
				font-weight: 600;
			}

			.section-link {
				@extend .inline-flex;
				color: var(--grey-dark);
				font-size: 0.8rem;

				&:hover {
					color: var(--blue-accent);
					i {
						color: var(--blue-accent);
					}
				}
			}

			&.main-news {
				ul {
					display: grid;
					grid-template-areas: "main1 main2" "li1 li1" "li2 li2" "li3 li3";
					gap: 0 1rem;

					@media screen and (max-width: 1200px) {
						grid-template-areas: "main1 main1" "main2 main2" "li1 li1" "li2 li2" "li3 li3";
					}

					li {
						font-weight: 600;

						a {
							display: inline-flex;
							flex-direction: column;
							color: var(--grey-dark);
							width: 100%;

							img {
								max-width: 100%;
								object-fit: cover;
								aspect-ratio: 4 / 3;
							}
							&:hover {
								background: var(--green-primary);
								color: #fff;
							}
						}
						&.news-head {
							font-size: 1.2rem;
							margin-bottom: 1rem;
							line-height: 1.3;
							img {
								margin-bottom: 0.5rem;
							}
							a {
								color: var(--green-primary);
								&:hover {
									background: none;
									color: var(--green-secondary);
								}
							}
						}
						&.other-news {
							a {
								border-top: 1px solid var(--grey);
								padding: 0.5rem 4px;
							}
							&:last-of-type a {
								border-bottom: 1px solid var(--grey);
							}
						}

						&:nth-of-type(1) {
							grid-area: main1;
						}
						&:nth-of-type(2) {
							grid-area: main2;
						}
						&:nth-of-type(3) {
							grid-area: li1;
						}
						&:nth-of-type(4) {
							grid-area: li2;
						}
						&:nth-of-type(5) {
							grid-area: li3;
						}
					}
				}
			}

			&.bdays {
				margin-bottom: 1.5rem;
				ul {
					display: grid;
					grid-template-columns: repeat(
						auto-fill,
						minmax(270px, 1fr)
					);
					gap: 1rem;

					li {
						display: grid;
						grid-template-columns: 50px auto;
						gap: 0.5rem;

						.bday-pic {
							@extend .inline-flex;
							justify-content: center;
							font-size: 2rem;
							font-weight: 600;
							color: #fff;
							width: 50px;
							height: 50px;
							border: 1px solid var(--grey);
							border-radius: 50%;
							background-color: var(--grey);
							overflow: hidden;

							img {
								object-fit: contain;
								width: 100%;
								height: 100%;
							}
						}

						.bday-info {
							display: inline-flex;
							flex-direction: column;
							width: 100%;

							p,
							span {
								margin: 0;
								padding: 0;
							}

							p {
								font-weight: 500;
							}

							span {
								color: var(--grey-dark);
							}
						}
					}
				}
			}

			&.banner {
				padding-top: 1rem;
				border-top: 1px solid var(--grey);
				img {
					width: 100%;
					object-fit: contain;
				}
			}

			&.sistemas {
				.sistemas-grid {
					display: grid;
					grid-template-columns: repeat(
						auto-fill,
						minmax(200px, 1fr)
					);
					gap: 1rem;
					li {
						border: 1px solid var(--grey);
						a {
							width: 100%;
							display: inline-flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							padding: 1rem 4px;
							height: 120px;
							font-weight: 500;

							&:hover {
								background-color: var(--green-primary);
								color: #fff;

								.sistema-icon {
									color: #fff;
									filter: invert(1);
								}
							}

							img {
								width: 40px;
							}
						}
					}
				}
			}

			&.all-news {
				ul.news-list {
					display: inline-flex;
					flex-direction: column;
					gap: 0.5rem;
					width: 100%;
					li {
						width: 100%;

						a {
							display: grid;
							grid-template-columns: 180px auto;
							gap: 1rem;
							font-weight: 500;
							padding: 0.5rem;
							&:hover {
								color: #fff;
								background-color: var(--green-primary);
							}
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}

		section.news {
			overflow-y: hidden;
			display: inline-flex;
			flex-direction: column;
			h1.news-title {
				font-size: 2.5rem;
				font-weight: 600;
				margin-bottom: 0;
				margin-top: 1rem;
				color: #444;
			}
			.news-date {
				color: var(--grey-dark);
			}

			.news-body {
				align-self: center;
				max-width: 80ch;

				a {
					text-decoration: underline;
				}
			}

			.news-main-image {
				text-align: center;
				img {
					width: 100%;
					object-fit: contain;
				}
			}

			.caption {
				color: var(--grey-dark);
			}

			.news-body-image {
				width: 100%;
				padding: 0 4rem;
				text-align: center;
				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}

	@media only screen and (max-width: 992px) {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;

		aside.shortcuts {
			order: 1;
			display: grid;
			grid-template-areas:
				"l l"
				"sys ser";
			align-items: flex-start;

			.shortcut {
				&.lembretes {
					grid-area: l;
					// width: 300px;
				}
				&:nth-of-type(2) {
					grid-area: sys;
				}
				&:nth-of-type(3) {
					grid-area: ser;
				}
				// min-width: 250px;
			}
		}
		.main-content {
			order: 2;
		}
	}

	@media only screen and (max-width: 600px) {
		aside.shortcuts {
			grid-template-areas:
				"l"
				"sys"
				"ser";
		}
		.main-content {
			order: 2;
		}
	}
}

main,
footer {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	main,
	footer {
		padding-left: 0;
	}
}

// Material Icons
i.material-icons {
	font-family: "Material-Icons";
	font-size: 24px;
	font-style: normal;
	color: var(--grey-dark);
}

.sidenav {
	li {
		a {
			display: inline-flex;
			width: 100%;
		}
		img {
			float: left;
			height: 48px;
			line-height: 48px;
			margin: 0 32px 0 0;
			width: 24px;
			object-fit: contain;
			filter: invert(1);
		}
	}
}
