@import url(_fonts.scss);
:root {
  --blue-accent: #0086cc;
  --blue-accent-dark: #297fb8;
  --green-primary: #1bbc9b;
  --green-secondary: #16a086;
  --yellow: #fef5b2;
  --grey: #a7a9ac;
  --border: #e5e5e5;
  --grey-light: #f1f2f2;
  --grey-dark: #6d6e71;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Material-Icons";
  src: url("../fonts/MaterialIconsOutlined-Regular.otf");
}
html,
body {
  height: 100vh;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 64px auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

.inline-flex, main .main-content section.content-section.bdays ul li .bday-pic, main .main-content section.content-section .section-link, main .main-content section.content-section .section-head, main aside.shortcuts .shortcut-item a, main aside.shortcuts .shortcut-item, main aside.shortcuts .shortcut-link, main aside.shortcuts .shortcut-head, main aside.shortcuts, header nav .user, header nav .search form button, header nav .search form, header nav .search, header nav .header-actions, header nav .logo {
  display: inline-flex;
  align-items: center;
}

a {
  color: var(--green-primary);
}
a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  height: 80px;
  display: inline-flex;
  position: fixed;
  top: 0;
  justify-content: center;
  z-index: 10;
}
header nav {
  height: 100%;
  display: inline-flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--border);
  gap: 1rem;
}
header nav .header-trigger {
  width: 50px;
  text-align: center;
  border-radius: 6px;
}
header nav .header-trigger:hover, header nav .header-trigger:active {
  background: #f1f1f1;
}
header nav .logo {
  justify-content: space-between;
  padding: 0;
  height: 100%;
  width: 300px;
  position: relative;
}
header nav .logo img {
  height: 100%;
}
header nav .logo:after {
  content: "";
  background: url("../img/logo_curves.svg") no-repeat;
  width: 69px;
  height: 64px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  header nav .logo {
    width: 250px;
  }
}
header nav .logo .sidenav-trigger {
  right: 50px;
  z-index: 2;
}
header nav .logo a i {
  color: var(--green-secondary) !important;
}
header nav .header-actions {
  flex-grow: 1;
  justify-content: flex-end;
}
header nav .search {
  width: calc(100% - 332px);
}
header nav .search.show form {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media screen and (max-width: 992px) {
  header nav .search {
    position: relative;
    width: auto;
  }
  header nav .search .header-trigger {
    display: inline-block;
  }
  header nav .search form {
    position: absolute;
    padding: 0.5rem;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
    width: 100vw !important;
    right: -50px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #fff;
    top: 100%;
  }
  header nav .search form input {
    margin: 0;
    padding: 0;
  }
}
header nav .search form {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
header nav .search form input {
  margin: 0 !important;
  text-indent: 1rem;
}
header nav .search form button {
  height: 44px;
  width: 44px;
  justify-content: center;
  background: none;
  border: none;
  margin-left: -50px;
  cursor: pointer;
  border-radius: 50%;
}
header nav .search form button:hover {
  background: rgba(0, 0, 0, 0.2);
}
header nav .user {
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 0.5rem;
  flex-grow: 1;
}
@media screen and (max-width: 992px) {
  header nav .user {
    position: relative;
    width: 50px;
    flex-grow: 0;
    justify-self: flex-end;
  }
  header nav .user.show > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  header nav .user > ul {
    background-color: #fff;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 100%;
    display: inline-flex;
    flex-direction: column;
    width: 200px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  header nav .user > ul li a {
    display: inline-flex;
    gap: 1rem;
    color: var(--grey-dark);
    font-weight: 500;
    width: 100%;
    border-radius: 0 !important;
  }
  header nav .user ul.collapsible {
    width: 100%;
    border: none !important;
    margin: 0;
  }
  header nav .user ul.collapsible li {
    width: 100%;
  }
  header nav .user ul.collapsible li.active {
    background: rgba(27, 188, 155, 0.1);
  }
  header nav .user ul.collapsible li a {
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
  }
  header nav .user ul.collapsible li a > i {
    margin-right: 0;
  }
  header nav .user ul.collapsible .collapsible-body {
    border: none !important;
    padding: 0;
  }
  header nav .user ul.collapsible .collapsible-body ul {
    width: 100%;
  }
}
header nav .user > ul > li:last-of-type > a {
  border-radius: 10px;
}
header nav .user > ul > li > a {
  border-radius: 50%;
}
header nav .user > ul > li > a:hover {
  background: rgba(27, 188, 155, 0.2);
}
header nav .user > ul > li > a .notification-icon {
  position: relative;
}
header nav .user > ul > li > a .notification-counter {
  position: absolute;
  top: 6px;
  right: -6px;
  padding: 2px 4px;
  font-size: 0.8rem;
  background: var(--blue-accent);
  color: #fff;
  line-height: 1;
  border-radius: 50px;
  text-align: center;
  display: inline-flex;
  align-items: center;
}
header nav .user-profile {
  border-radius: 0;
}
header nav .user-profile a {
  width: 100%;
  color: var(--grey) !important;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
header nav .user-profile a + ul li a {
  color: var(--green-secondary) !important;
}
header nav .user-profile a + ul li a i {
  color: var(--green-secondary) !important;
}

#menu {
  background-color: var(--green-primary);
}
#menu a {
  color: #fff;
}
#menu a:hover {
  background-color: var(--green-secondary);
}
#menu nav {
  width: 100%;
}

main {
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto 300px;
  z-index: 1;
}
main aside.shortcuts {
  width: 100%;
  border-left: 1px solid var(--border);
  padding: 1rem;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
}
main aside.shortcuts .shortcut {
  background: var(--grey-light);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
main aside.shortcuts .shortcut.lembretes {
  background: none;
  padding: 0;
  text-align: center;
}
main aside.shortcuts .shortcut.lembretes .shortcut-title {
  color: var(--grey);
  margin-bottom: 1rem;
  display: inline-block;
}
main aside.shortcuts .shortcut.lembretes .shortcut-head {
  position: relative;
}
main aside.shortcuts .shortcut.lembretes .shortcut-head .lembrete-pin {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0.5rem;
  opacity: 0.8;
  top: 3rem;
  z-index: 2;
  transform: rotate(30deg);
}
main aside.shortcuts .shortcut.lembretes .shortcut-content {
  z-index: 1;
  background: var(--yellow);
  border-radius: 10px;
  padding: 10px;
  color: var(--grey-dark);
  font-weight: 600;
}
main aside.shortcuts .shortcut-head {
  width: 100%;
  justify-content: space-between;
}
main aside.shortcuts .shortcut-title {
  color: var(--grey-dark);
  font-weight: 600;
}
main aside.shortcuts .shortcut-link {
  color: var(--grey-dark);
  font-size: 0.8rem;
}
main aside.shortcuts .shortcut-link:hover {
  color: var(--blue-accent);
}
main aside.shortcuts .shortcut-link:hover i {
  color: var(--blue-accent);
}
main aside.shortcuts .shortcut-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
main aside.shortcuts .shortcut-item {
  justify-content: center;
}
main aside.shortcuts .shortcut-item a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grey-dark);
  width: 100%;
}
main aside.shortcuts .shortcut-item a .shortcut-icon {
  color: var(--blue-accent);
}
main aside.shortcuts .shortcut-item a img {
  height: 36px;
  width: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}
main aside.shortcuts .shortcut-item a:hover, main aside.shortcuts .shortcut-item a:focus-visible {
  color: var(--blue-accent);
}
main aside.shortcuts .shortcut-item a:hover img, main aside.shortcuts .shortcut-item a:focus-visible img {
  filter: invert(40%) sepia(96%) saturate(3500%) hue-rotate(178deg) brightness(92%) contrast(101%);
}
main .main-content {
  width: 100%;
  max-width: 1000px;
  padding: 1rem 1rem 0 1rem;
  justify-self: center;
}
main .main-content section.content-section .section-head {
  justify-content: space-between;
  width: 100%;
}
main .main-content section.content-section .section-title {
  color: var(--grey);
  font-weight: 600;
}
main .main-content section.content-section .section-link {
  color: var(--grey-dark);
  font-size: 0.8rem;
}
main .main-content section.content-section .section-link:hover {
  color: var(--blue-accent);
}
main .main-content section.content-section .section-link:hover i {
  color: var(--blue-accent);
}
main .main-content section.content-section.main-news ul {
  display: grid;
  grid-template-areas: "main1 main2" "li1 li1" "li2 li2" "li3 li3";
  gap: 0 1rem;
}
@media screen and (max-width: 1200px) {
  main .main-content section.content-section.main-news ul {
    grid-template-areas: "main1 main1" "main2 main2" "li1 li1" "li2 li2" "li3 li3";
  }
}
main .main-content section.content-section.main-news ul li {
  font-weight: 600;
}
main .main-content section.content-section.main-news ul li a {
  display: inline-flex;
  flex-direction: column;
  color: var(--grey-dark);
  width: 100%;
}
main .main-content section.content-section.main-news ul li a img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
}
main .main-content section.content-section.main-news ul li a:hover {
  background: var(--green-primary);
  color: #fff;
}
main .main-content section.content-section.main-news ul li.news-head {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}
main .main-content section.content-section.main-news ul li.news-head img {
  margin-bottom: 0.5rem;
}
main .main-content section.content-section.main-news ul li.news-head a {
  color: var(--green-primary);
}
main .main-content section.content-section.main-news ul li.news-head a:hover {
  background: none;
  color: var(--green-secondary);
}
main .main-content section.content-section.main-news ul li.other-news a {
  border-top: 1px solid var(--grey);
  padding: 0.5rem 4px;
}
main .main-content section.content-section.main-news ul li.other-news:last-of-type a {
  border-bottom: 1px solid var(--grey);
}
main .main-content section.content-section.main-news ul li:nth-of-type(1) {
  grid-area: main1;
}
main .main-content section.content-section.main-news ul li:nth-of-type(2) {
  grid-area: main2;
}
main .main-content section.content-section.main-news ul li:nth-of-type(3) {
  grid-area: li1;
}
main .main-content section.content-section.main-news ul li:nth-of-type(4) {
  grid-area: li2;
}
main .main-content section.content-section.main-news ul li:nth-of-type(5) {
  grid-area: li3;
}
main .main-content section.content-section.bdays {
  margin-bottom: 1.5rem;
}
main .main-content section.content-section.bdays ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
}
main .main-content section.content-section.bdays ul li {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 0.5rem;
}
main .main-content section.content-section.bdays ul li .bday-pic {
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  background-color: var(--grey);
  overflow: hidden;
}
main .main-content section.content-section.bdays ul li .bday-pic img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
main .main-content section.content-section.bdays ul li .bday-info {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
main .main-content section.content-section.bdays ul li .bday-info p,
main .main-content section.content-section.bdays ul li .bday-info span {
  margin: 0;
  padding: 0;
}
main .main-content section.content-section.bdays ul li .bday-info p {
  font-weight: 500;
}
main .main-content section.content-section.bdays ul li .bday-info span {
  color: var(--grey-dark);
}
main .main-content section.content-section.banner {
  padding-top: 1rem;
  border-top: 1px solid var(--grey);
}
main .main-content section.content-section.banner img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .main-content section.content-section.sistemas .sistemas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
main .main-content section.content-section.sistemas .sistemas-grid li {
  border: 1px solid var(--grey);
}
main .main-content section.content-section.sistemas .sistemas-grid li a {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4px;
  height: 120px;
  font-weight: 500;
}
main .main-content section.content-section.sistemas .sistemas-grid li a:hover {
  background-color: var(--green-primary);
  color: #fff;
}
main .main-content section.content-section.sistemas .sistemas-grid li a:hover .sistema-icon {
  color: #fff;
  filter: invert(1);
}
main .main-content section.content-section.sistemas .sistemas-grid li a img {
  width: 40px;
}
main .main-content section.content-section.all-news ul.news-list {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
main .main-content section.content-section.all-news ul.news-list li {
  width: 100%;
}
main .main-content section.content-section.all-news ul.news-list li a {
  display: grid;
  grid-template-columns: 180px auto;
  gap: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}
main .main-content section.content-section.all-news ul.news-list li a:hover {
  color: #fff;
  background-color: var(--green-primary);
}
main .main-content section.content-section.all-news ul.news-list li a img {
  width: 100%;
}
main .main-content section.news {
  overflow-y: hidden;
  display: inline-flex;
  flex-direction: column;
}
main .main-content section.news h1.news-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 1rem;
  color: #444;
}
main .main-content section.news .news-date {
  color: var(--grey-dark);
}
main .main-content section.news .news-body {
  align-self: center;
  max-width: 80ch;
}
main .main-content section.news .news-body a {
  text-decoration: underline;
}
main .main-content section.news .news-main-image {
  text-align: center;
}
main .main-content section.news .news-main-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .main-content section.news .caption {
  color: var(--grey-dark);
}
main .main-content section.news .news-body-image {
  width: 100%;
  padding: 0 4rem;
  text-align: center;
}
main .main-content section.news .news-body-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 992px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  main aside.shortcuts {
    order: 1;
    display: grid;
    grid-template-areas: "l l" "sys ser";
    align-items: flex-start;
  }
  main aside.shortcuts .shortcut.lembretes {
    grid-area: l;
  }
  main aside.shortcuts .shortcut:nth-of-type(2) {
    grid-area: sys;
  }
  main aside.shortcuts .shortcut:nth-of-type(3) {
    grid-area: ser;
  }
  main .main-content {
    order: 2;
  }
}
@media only screen and (max-width: 600px) {
  main aside.shortcuts {
    grid-template-areas: "l" "sys" "ser";
  }
  main .main-content {
    order: 2;
  }
}

main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  main,
footer {
    padding-left: 0;
  }
}
i.material-icons {
  font-family: "Material-Icons";
  font-size: 24px;
  font-style: normal;
  color: var(--grey-dark);
}

.sidenav li a {
  display: inline-flex;
  width: 100%;
}
.sidenav li img {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(1);
}/*# sourceMappingURL=portal.css.map */