$azul1: #2A62AC;
$azul2: #2E6EB5;
$azul3: #0A68E8;
$verde1: #00875D;
$laranja1: #F58734;
$laranja2: #F69733;
$azul-light: #EAF3FF;
$border-color: #e5e5e5;

.reduced-animation{
    transition: all .3s ease-in-out;
    @media (prefers-reduced-motion){
        transition: none !important;
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

html{
    font-size: 100%;
    line-height: 1.6;
}

html, body{
    height: 100%;
}

input, textarea{
    caret-color: $laranja1;
}

body{
    background: #fafafa;
    color: #333;
    overflow-x: hidden;  
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    &.modal-open{
        overflow: hidden !important;
    }
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text_small {font-size: 0.889rem;}


a{
    color: $azul1;
}

:focus-visible:not(input) {
    outline: $azul3 solid 0.25rem !important;
}

#skip-link{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    left: -76px;
    margin-top: 1.3em;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    line-height: 2em;
    z-index: 1;
    display: block;
    color: #333;

    &:focus{
        position: absolute;
        height: auto;
        width: auto;
        overflow: hidden;
        clip: auto;
        top: 0;
        left: 1rem;
    }
}

header{
    background: #fff;

    @media (max-width: 600px){
        .container{
            max-width: 100% !important;
            padding: 4px 8px 0 8px;
            width: 100%;
        }

        .site-links{
            flex-direction: column;
        }

        .menu-links{
            display: grid !important;
            grid-template-columns: 50px auto 100px;
            grid-template-rows: 1fr 1fr;
            justify-content: unset !important;

            #menu-trigger{
                border-radius: 6px;
            }


            form{
                grid-row: 2 / 3;
                grid-column: 1 / 4;
                max-width: 100% !important;
            }

            .user-cart{
                grid-column: 3 / 4;
                width: auto !important;
                i{
                    margin-right: 0 !important;
                }
            }

            #user-name{
                clip: rect(1px, 1px, 1px, 1px);
                height: 1px;
                width: 1px;
                overflow: hidden;
            }

            #menu{
                ul{
                    background: #dedede;
                    gap: 1px;
                    margin: 0;

                    li{
                        background: #fff;

                        a{
                            padding: 1rem 8px !important;
                        }
                    }
                }
            }

        }
    }

    .container{
        position: relative;
    }

    a{
        color: #555;
        
    }

    .site-links{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        a:hover{
            text-decoration: underline 2px;
        }

        ul{
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            min-width: 300px;
        }
    }

    .menu-links{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
        position: relative;

        @media (max-width: 992px){
            #menu-wrapper{
                width: 50px !important;
            }
            #menu-trigger{
                width: 50px;
                i{
                    margin-right: 0;
                }
                span{
                    clip: rect(1px, 1px, 1px, 1px);
                    height: 1px;
                    width: 1px;
                    overflow: hidden;
                }
            } 
        }

        #menu-wrapper{
            width: 210px;
            
            #menu{
                position: absolute;
                // bottom: -150px;
                width: 100%;
                left: 0;
                border-radius: 0 0 6px 6px;
                background: #fff;
                box-shadow: 0 3px 3px rgba(black, .1);
                padding: 8px;
                visibility: hidden;
                @extend .reduced-animation;
                opacity: 0;
                transform: translateY(5%);
                border-top: 4px solid $azul1;
                z-index: 5;

                &.open{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0%);
                }

                ul{
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

                    li{
                        a{
                            padding: 8px;
                            width: 100%;
                            display: block;
                            font-weight: 600;
                            &:hover{
                                // text-decoration: underline 2px;
                                background: lighten($azul1, 50%);
                            }
                        }
                    }
                }
            }
        }

        form#busca-simples-produtos{
            display: inline-flex;
            width: 100%;
            max-width: 500px;

            @media (max-width: 992px){
                // position: absolute;
                // top: 100%;
                // background: blue;
                // z-index: 2;
                // left: 0;
                // max-width: inherit;
                // padding: 4px;
            }
            input{
                position: relative;
                z-index: 1;
                border-radius: 25px;
                // padding: 14px  ;
                text-indent: 24px;
                width: 100%;
                margin-bottom: 0;
                height: 42px !important;
                border-right: 0;
            }
            button{
                position: relative;
                z-index: 2;
                height: 42px;
                width: 60px;
                margin-left: -60px;
                border: 1px solid #929292;
                background: #fff;
                border-radius: 0 25px 25px 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: $azul1;
                i{
                    font-size: 2rem;
                }
            }
        }

        .user-cart{
            width: 200px;
            display: grid;
            grid-template-columns: auto 50px;
            justify-content: space-between;
            column-gap: 16px;
            flex-shrink: 0;

            #user-info{
                font-size: 0.9rem;
                display: inline-flex;
                align-items: center;
                border-radius: 4px;

                &:hover{
                    background: #f1f1f1;
                }
                i{
                    margin-right: 4px;
                    font-size: 2rem;
                }
            }

            #shopping-cart{
                border-radius: 50%;
                background: $azul1;
                color: #fff;
                position: relative;
                height: 40px;
                width: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                #cart-count{
                    position: absolute;
                    background-color: rgb(228, 56, 33);
                    color: #fff;
                    bottom: -5px;
                    right: -8px;
                    border-radius: 4px;
                    padding: 0 4px;
                    border: 2px solid #fff;
                    line-height: 1.2rem;
                }
            }
        }

    }


    #menu-trigger{
        color: #fff;
        background: $azul1;
        padding: 16px;
        border-radius: 6px 6px 0 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        &:hover, &:focus{
            background: lighten($azul1, 5%);
        }
        i{
            margin-right: 4px;
        }
        }

}

section#banner{
    height: 350px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    img{
        object-fit: cover;
    }
}

section#busca-avancada{
    margin-top: -80px;
    z-index: 1;
    position: relative;
    @media (max-width: 992px){
        form{
            flex-direction: column;
            justify-content: flex-end;
            label{
                width: 100% !important;
            }
        }
    }
    .container{
        background: $azul1;
        border-radius: 20px;
        padding: 24px;
    }
    
    h2{
        margin-top: 0;
        text-align: center;
        color: #fff;
    }

    form{
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        gap: 8px;

        label{
            color: #fff;
            width: 25%;
        }
        input{
            background: #fff;
            border: none;
            border-radius: 25px;
            text-indent: 16px;
            margin-bottom: 0;
        }
        button{
            flex-shrink: 0;
        }
    }

}

section#destaques, section#resultados{
    h2{
        text-align: center;
    }

    padding: 0 0 50px 0;

    .btn:not([type=reset]){
        border: 2px solid $azul1;
        color: $azul1;
        border-radius: 20px;
        box-shadow: none;
        background: transparent;
        text-transform: inherit;
        margin: 50px auto 0 auto;
        padding: 0 50px;
        display: table;
    }
}

// Produto
.texto-azul{
    color: $azul1 !important;
}

.texto-laranja{
    color: $laranja1 !important;
}

.produtos{
    width: 100%;
    
    ul{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;

        .produto{
            box-shadow: none !important;
            border: 1px solid $border-color;
            border-radius: 6px;
            padding: 12px 8px;
            position: relative;
            margin: 0;

            &:hover{
                box-shadow: 0px 3px 10px  rgba(black, .15) !important;
                border-color: rgba($azul1, .3);
            }

            &__cod{
                color: #555;
                font-size: 0.9rem;
            }

            &__desc{
                font-weight: 500;
                margin: 0 0 1rem 0;
            }

            &__preco{
                font-weight: 500;
                color: $azul1;
                font-size: 1.5rem;
                margin-bottom: -6px;
            }
            
            &__parcela{
                font-size: 1rem;

                .texto-azul{
                    font-style: italic;
                }
            }
            
            a{
                color: #333;
                display: flex;
                flex-direction: column;
            }

            button{
                background: #f2f2f2;
                position: absolute;
                color: #666;
                width: 50px;
                height: 50px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                @extend .reduced-animation;

                bottom: 12px;
                right: 8px;

                &:hover, &:focus-visible{
                    background: $azul1;
                    color: #fff;
                }
            }
        }
    }

}
// Fim produtos

.dropdown-content li>a, .dropdown-content li>span{
    color: #c45400 !important;
}

// Resultados
section#resultados{

    @media (max-width: 600px){
        .btn-trigger-filters{
            max-width: 100% !important;
        }

        .ordena_resultados{
            flex-direction: column;
            gap: 16px;

            span{
                order: -1;
            }

            .exibicao{
                flex-direction: column;
            }
        }
    }

    @media (min-width: 600px) and (max-width: 992px){
        .filtros{
            form{
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media (max-width: 992px){
        .container{
            grid-template-columns: 1fr !important;
            gap: 16px 0 !important;
        }

        .ordena_resultados, .pagination, .filtros, .produtos{
            grid-column: 1 / 3 !important;
        }

        button.btn-trigger-filters{
            width: fit-content;
            display: inline-flex !important;
        }

        .filtros{
            position: absolute;
            overflow-x: hidden;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            
            .filtro [type=checkbox]+span:not(.lever){
                width: calc(100% - 50px) !important;
            }

            .btns-filtro{
                position: fixed;
                bottom: 0;
                left: 0;
                display: inline-flex;
                flex-direction: row-reverse;
                width: 100%;
                justify-content: space-around;
                background: #fff;
                box-shadow: -5px 0 10px rgba(black, .2);
                padding: 8px 0;
                button{
                    margin: 0 !important;
                }
            }
            button[type=reset]{
                width: 30%;
                min-width: 100px;
            }

            button[type=submit]{
                width: 30%;
                min-width: 100px;
            }

            &.open{
                max-height: fit-content;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                padding-bottom: 50px !important;
                opacity: 1;
                visibility: visible;

                .btn-close-modal-filtros{
                    opacity: 1;
                    visibility: visible;   
                }
            }

        }
    }
    .container{
        display: grid;
        grid-template-columns: 250px auto;
        gap: 0 16px;
    }

    button.btn-trigger-filters{
        display: none;
        background: $laranja2;
        color: #222;
        align-items: center;
        border-radius: 6px;
        border: none;
        padding: 8px;
        justify-self: flex-end;
        justify-content: center;
        width: 100%;
        max-width: 250px;
        cursor: pointer;
    }
    h2{
        grid-column: 1 / 3;
    }
    .ordena_resultados, .pagination{
        grid-column: 2 / 3;
    }

    .ordena_resultados{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        color: #666;
        font-size: .9rem;
        
        label{
            color: #666;
            margin-right: 8px;
        }

        .exibicao, .ordenacao{
            display: inline-flex;
            align-items: center;
            input.select-dropdown{
                background: #fff !important;
                border: 1px solid $border-color;
                border-radius: 50px;
                height: 2.5rem;
                width: 100%;
                font-size: 16px;
                margin: 0;
                padding: 0 14px;
                box-shadow: none;
                transition: box-shadow .3s,border .3s;
                &:focus-visible{
                    outline: .25rem solid #0a68e8;
                }
            }
            .caret{
                z-index: 1;
                right: 14px;
            }
        }


        #ordena{
            max-width: 200px;
        }
    }
    .pagination{
        text-align: center; 
    }
    .filtros{
        background: white;
        padding: 16px;
        border: 1px solid $border-color;
        border-radius: 6px;
        height: fit-content;
        grid-row: 2 / 7;

        input{
            border-radius: 30px;
            text-indent: 16px;
        }

        .btn-close-modal-filtros{
            position: absolute;
            top: 8px;
            right: 8px;
            width: 48px;
            height: 48px;
            cursor: pointer;
            background: transparent;
            border: none;

            
        }

        button[type=reset]{
            margin-top: 1rem;
        }

        button{
            width: 100%;
            &[type=submit]{
                background: $laranja2;
                margin-top: 1rem;
                 border: none;
                 border-radius: 6px;
                 color: #222;
                 box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            }
        }

        h3{
            margin-top: 0;
            font-size: 1.2rem;
        }

        .filtro{
            padding: 24px 0;
            border-top: 1px solid $border-color;

            &__titulo{
                font-weight: 500;
                margin-bottom: 8px;
            }

            &__bd{
                max-height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            label{
                display: block;
                position: relative;
                color: #595959;
                margin-bottom: 8px;
            }
            [type="checkbox"]+span:not(.lever){
                width: 18ch;
            }
            [type="checkbox"]:focus-visible+span:not(.lever){
                outline: .25rem solid #0a68e8;
            }
            &_qtd{
                text-align: right;
                position: absolute;
                right: 0;
                top: 0;
                color: #767676;
            }

            .preco_sliders{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 8px;

                p{
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
    .produtos{
        ul{
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
    }
}
// Fim resultados

// Categorias
#categoria{
    background: #fff;
    padding: 50px 0 100px 0;

    h2{
        margin-top: 0;
        text-align: center;
    }
}
.categorias{

    @media (max-width: 600px){
        ul{
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)) !important; 
        }
    }
    
    ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 16px;
    }
    .categoria{
        box-shadow: none !important;
        margin: 0;
        height: 170px;
        
        a{
            border: 1px solid $border-color;
            border-radius: 6px;
            overflow: hidden;
            padding: 8px;
            height: 170px;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 500;
            &:hover{
                box-shadow: 0px 0px 0px 2px $azul3 inset;
            }
        }

        img{
            height: 120px;
            width: 120px;
        }

        p{
            margin: 0;
            flex-shrink: 0;
        }
    }
}

// Detalhes do produto

section#detalhes_produto{
    h2{
        font-size: 1.424rem;
    }
    .produto{
        
        &__basico{
            display: grid;
            grid-template-columns: 55% auto;
            gap: 8px;

            @media (max-width: 992px){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;

                .produto__galeria{
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr !important;

                    .foto-principal{
                        max-height: 350px !important;
                    }

                    .thumbs{
                        height: 80px;
                    }
                }
            }

            a{
                color: $azul3;
                text-decoration: underline;
            }

            h1{
                font-size: 1.602rem;
                margin: 0 0 8px 0;
            }
            .produto__galeria{
                display: grid;
                grid-template-rows: minmax(auto, 500px) auto;
                gap: 8px;

                .foto-principal{
                    max-height: 500px;
                    position: relative;
                    width: 100%;
                    div.selecionada{
                        visibility: visible;
                        opacity: 1;
                    }
                    div:not(.selecionada){
                        visibility: hidden;
                        opacity: 0;
                    }
                    div{
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    img{
                        object-fit: contain;
                    }
                }
                .thumbs{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 80px);
                    gap: 4px;

                    li{
                        cursor: pointer;
                        border: 4px solid #f1f1f1;
                        padding: 4px;
                        height: 80px;

                        &.selecionada{
                            border-color: $azul3;
                        }
                        img{
                            object-fit: contain;
                        }
                    }

                }
                img{
                    width: 100%;
                }
            }
        }
        &__cod{
            color: #555;
            font-size: 0.9rem;
        }

        &__desc{
            color: #444;
        }

        &__preco{
            font-weight: 500;
            color: $azul1;
            font-size: 1.5rem;
            margin-bottom: -6px;
        }
        
        &__parcela{
            font-size: 1rem;

            .texto-azul{
                font-style: italic;
            }
        }
        
        &__add_carrinho{
            display: grid;
            grid-template-rows: auto auto;

            @media (min-width: 600px) and (max-width: 992px){
                grid-template-columns: 55% auto;
                grid-template-rows: 1fr;
                gap: 3rem;
            }
            .preco-frete{
                display: inline-flex;
                flex-direction: column;
                gap: 8px;
            }

            .produto__preco{
                font-size: 1.9rem;
                margin-bottom: -1rem;
            }

            .formas-pgto{
                color: #555;
                text-decoration: underline;
            }

            .produto__situacao{
                text-align: center;
                color: #b60000;
                font-weight: 500;
                width: 100%;
                display: inline-block;
                margin-bottom: 8px;
                &.disponivel{
                    color: #018a01;
                }
            }

            label{
                color: #333;
            }
            input{
                text-indent: 8px;
            }

            .calcular-frete{
                display: grid;
                grid-template-columns: 40px auto 44px;
                gap: 4px;

                button{
                    width: 44px;
                    height: 40px;
                    margin-top: 23px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    grid-row: 1 / 2;
                    grid-column: 3/4;

                }

                a{
                    grid-column: 2/4;
                }

                &>i{
                    margin-top: 4px;
                    color: #666;
                    font-size: 2rem;
                }
            }

            button{
                background: $laranja2;
                color: #222;
                width: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                padding: 16px 8px;
    
                bottom: 12px;
                right: 8px;
    
                &:hover, &:focus-visible{
                    background: lighten($laranja2, 10%);
                }
            }
        }

        

        #produto__especificacoes{
            table{
                tr:nth-of-type(2n+1){
                    background: lighten($azul3, 50%);
                }
            }
        }
    }
}

aside#produtos_relacionados{
    .produtos ul{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 8px;

        .produto__desc{
            font-size: 1rem;
        }

        .produto__preco{
            font-size: 1.2rem;
        }
    }
}

// Carrinho

section#carrinho{
    .card{
        padding-bottom: 0 !important;
    }

    table.carrinho{
        @media (max-width: 600px){
            th{
                opacity: 0;
            }
            .produto{
                flex-direction: column;
            }
            td{
                vertical-align: middle !important;
            }
            td:last-of-type{
                width: fit-content;
            }

                display: block;
                width: 100%;

                tbody{
                    display: block;
                    tr{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        &:not(:nth-last-of-type(2), :last-of-type){
                            border-bottom: 1px solid $border-color !important;
                        }
                        td{
                            &:nth-of-type(1){
                                grid-column: 1/3;
                                grid-row: 1/2;
                            }
                            &:nth-of-type(2){
                                grid-column: 1/2;
                                grid-row: 2/3;
                            }
                            &:nth-of-type(3){
                                grid-column: 2/3;
                                grid-row: 2/3;
                            }
                        }
                    }
                }
        }
        tr{
            border-bottom: none !important;
        }
        td, th{
            vertical-align: top;
        }
        thead{
            th{
                font-weight: 400;
                font-size: 0.9rem;
                color: #555;
                padding: 0px 5px;

                &:last-of-type{
                    text-align: right;
                }
            }
        }
        tbody{

            tr:not(#subtotal){                
                td{
                    .produto{
                        display: inline-flex;

                        &-desc{
                            display: inline-flex;
                            align-items: start;
                            flex-direction: column;
                            span{
                                color: $laranja1;
                            }
                            a:not(.excluir-produto){
                                font-weight: 500;
                                margin-bottom: 8px;
                            }

                            .excluir-produto{
                                color: #555;
                                text-decoration: underline;
                            }
                        }
                        &-img{
                            width: 100px;
                            height: 100px;
                            img{
                                object-fit: contain;
                                width: 100%;
                            }
                        }
                    }

                    input{
                        max-width: 100px;
                        text-indent: 8px;
                    }

                    &:last-of-type{
                        text-align: right;
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }
            #subtotal{
                border-top: 1px solid $border-color;
                font-size: 1.5rem;
                font-weight: 300;
                td{
                    text-align: right;
                }
                &-valor{
                    font-weight: 500;
                }
            }
        }
    }

    .carrinho-total{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 8px;

        .carrinho-linha{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            span{
                font-size: 1.5rem;
                font-weight: 300;
                &:nth-of-type(2){
                    font-weight: 500;
                }
            }

            a{
                color: $azul3;
                text-decoration: underline;
            }

            &.total{
                margin: .5rem 0 2rem 0;
                color: $azul1;
                padding-top: .5rem;
                border-top: 1px solid $border-color;
            }

        }
        button{
            background: $laranja2;
            color: #222;
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            padding: 16px 8px;

            bottom: 12px;
            right: 8px;

            &:hover, &:focus-visible{
                background: lighten($laranja2, 10%);
            }
        }
    }

    .seus-dados{
        .endereco{
            background: #FFF7EF;
            padding: 8px 8px 8px 32px;
            border-radius: 6px;
            border: 2px solid $laranja2;
            margin-bottom: 8px;
            position: relative;

            &:before{
                content: "check_circle";
                font-family: "Material Icons";
                font-size: 24px;
                position: absolute;
                top: 4px;
                left: 4px;
                color: $azul3;
            }

            p{
                padding: 0;
                margin: 0;
                line-height: 1.5;
                &:first-of-type{
                    font-weight: 500;
                }
            }

        }
        a{
            text-align: right;
            color: #666;
            display: inline-flex;
            justify-content: flex-end;
            width: 100%;
        }

    }

    .seu-pedido{

        @media (max-width: 992px){
            table, tr{
                display: initial !important
            }
        }

        .produto{
            &-desc, &-desc span{
                color: #333 !important;
            }

        }
        table.carrinho tbody tr:not(#subtotal) td:last-of-type{
            font-size: 1rem;
            min-width: 100px;
            vertical-align: middle;
        }
        
        .carrinho-total{
            .carrinho-linha:not(.total) span{
                font-size: 1rem;
            }
            span{
                font-weight: 500 !important;
            }

        }
    }

    .forma-pagamento{
        .collapsible{
            &-header{
                justify-content: space-between;
                align-items: center;
                span{
                    display: inherit;
                    align-items: center;
                }
                .desconto{
                    color: green;
                }
            }
        }
    }
}

// Login

section#login{
    h2{
        color: $azul1;
        margin-top: 0;
    }

    .login-title{
        margin-top: 1rem;
        font-size: 1.4rem;
        color: $azul1;
        text-align: center;
    }

    .login-card-actions{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 .75rem;
    }
}

// Páginas comuns
section.pagina{
    margin-top: 2rem;

    h1#pagina__titulo{
        color: $azul1;
    }

    &.--com-galeria{
        h1{
            grid-column: 1/3;
        }

        @media (max-width: 600px){
            .card{
                grid-template-columns: 1fr !important;
            }
            #pagina__capa{
                grid-column: 1 / 3 !important;
                grid-row: unset !important;
            }
                #pagina__galeria{
                    grid-column: 1/3 !important;
                    grid-row: unset !important;
                    height: 150px;
                    ul{
                        display: inline-flex;
                        gap: 8px;

                    }
                    ul, li, a{
                        height: 100%;
                    }

                    img{
                        height: 100%;
                        border-radius: 6px;
                    }
                }
                #pagina__conteudo{
                    grid-column: unset !important;
                    grid-row: unset !important;
                }
        }
        .card{
            display: grid;
            grid-template-columns: minmax(0, 1fr) calc(30% - 18px);
            gap: 8px;
        }
        #pagina__capa{
            grid-row: 2/3;
            img{
                width: 100%;
            }
        }
        #pagina__galeria{
            grid-column: 2;
            grid-row: 2/4;
            ul{
                margin: 0;

                img{
                    object-fit: contain;
                    width: 100%;
                }

            }
        }
        #pagina__conteudo{
            grid-column: 1/2;
        }
    }




    .card{
        padding: 1rem;
    }

    a{
        text-decoration: underline;
    }

    // Outros
    .numero-pedido{
        margin: 0;
    }
    .imprimir-boleto{
        margin-top: 3rem;
    }

    &.--perfil{
        .pedidos{
            .pedido{
                @media (max-width: 600px){
                    .collapsible-header{
                        flex-direction: column;
                        justify-content: flex-start;

                        .badge{
                            margin-left: 0;
                        }
                    }
                }
                &:nth-of-type(2n):not(.active){
                    .collapsible-header{
                        background: #f5f5f5;
                    }
                }
                .collapsible-header > div{
                    display: inline-flex;
                    align-items: center;
                    gap: 8px;
                }
                .collapsible-body{
                    padding: 1rem;
                }
                &-num{
                    color: $azul1;
                    font-weight: 500;
                }
                &-data{

                }
                &-qtd{
                    color: #666;
                }
                &-status{
                    font-size: .9rem;
                    border-radius: 6px;
                    color: white;

                    &.transito{
                        background: $azul3;
                    }
                    &.entregue{
                        background: #9001b1;
                    }
                }

                h4{
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 0;
                }

                &-info{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    background: #f5f5f5;
                    gap: 8px;

                    p{
                        padding: 0;
                        margin: 0;
                    }
                }

                &-historico{
                    padding: 1rem .75rem;
                    table, th, td{
                        border: 1px solid #999;
                    }
                    table{
                        width: auto;
                        th, td{
                            padding: 6px;
                        }
                    }
                }

                .pedido-produtos{
                    ul{
                        margin: 0;
                        padding: 0;
                    }
                    .pedido-produto{
                        display: grid;
                        grid-template-columns: 80px auto 100px;
                        gap: 8px;
                        padding: 6px;

                        @media (max-width: 600px){
                            &-desc{
                                grid-column: 2 / 4;
                            }
                            &-valor{
                                grid-column: 3 / 4;
                            }
                        }

                        &:nth-of-type(2n){
                            background: $border-color;
                        }

                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                        p{
                            padding: 0;
                            margin: 0;
                        }
                        &-valor{
                            font-weight: 600;
                            text-align: right;
                        }
                    }

                    &-total{
                        padding: 1rem 0 0 0;
                        ul{
                            li{
                                display: inline-flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                padding: 2px;
                                font-weight: 500;
                                &:last-of-type{
                                    background: $border-color;
                                    padding: 6px;
                                    span:last-of-type{
                                        color: $laranja2;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

// Footer

footer{
    width: 100%;
    color: #fff;

    :focus-visible:not(input) {
        outline: black solid 0.25rem !important;
    }

    a{
        color: #fff;
    }

    .footer-links{
        background: $azul2;

        ul{
            width: 100%;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
            gap: 8px;

            li{
                height: 64px;
            }

            a{
                display: inline-flex;
                padding: 0 16px;
                height: 100%;
                white-space: nowrap;
                align-items: center;

                &:hover{
                    background: rgba(black, .2);
                }
            }
        }
    }

    .footer-logo{
        background: $azul1;
        padding: 50px 0;
        text-align: center;
        img{
            margin-bottom: 16px;
        }
    }
}

// Misc
.row{
    margin-right: -.75rem !important;
    margin-left: -.75rem !important;
}
// .row.no-pad{
//     @media (max-width: 992px){
//         & > .col.s12{
//             padding: 0 !important;
//         }
//     }
// }

.wizard{
    // display: inline-flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    width: 100%;
    margin: 1rem 0;
    gap: 8px;

    @media (max-width: 600px){
        flex-direction: column;
        div:after{
            content: unset !important;
        }
    }

    @media (min-width: 600px) and (max-width: 992px){
        div{
            
        }
        div:after{
            // content: unset !important;
        }
    }

    div{
        display: inline-flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        span{
            padding: 0 8px;
        }
        &:not(:first-of-type){
            // width: max-content;
            position: relative;
            // flex-grow: 1;

            &:before{
                content: "";
                width: calc(100% + 4px);
                height: 2px;
                background: $border-color;
                position: absolute;
                top: 1rem;
                left: -50%;
                z-index: -1;
            }
        }

        span{
            background: #fafafa;
        }


     &[disabled] {
         span.number{
             background: #999 !important;
         }
     }
        span.number{
            background: $azul1;
            color: #fff;
            height: 2rem;
            width: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        
        span.title{
            font-weight: 500;
            text-align: center;
        }
    }
}

// Botões

.btn-laranja, .btn-azul, .btn-verde{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 12px;
    &.btn-lg{
        min-width: 250px;
    }
}
.btn-laranja{
    background: $laranja2;
    color: #222;

    &:hover, &:focus-visible{
        background: lighten($laranja2, 10%);
    }
}

.btn-azul{
    background: $azul1;
    color: #fff;

    &:hover, &:focus-visible{
        background: lighten($azul1, 10%);
    }
}

.btn-verde{
    background: $verde1;
    color: #fff;

    &:hover, &:focus-visible{
        background: lighten($verde1, 5%);
    }
}

// Card

.card{
    .card-titulo{
        color: $azul1;
        font-size: 1.25rem;
        margin-top: 0;
    }
}