.tour-container .shepherd-header{background-color:#e8eaf6 !important}.tour-container .shepherd-header .shepherd-title{color:#3f51b5}.tour-container .shepherd-header .shepherd-cancel-icon span{font-size:1.4rem;position:absolute;top:8px;right:15px;color:#5c6bc0}.tour-container .shepherd-text{color:#6B6F82}
/*# sourceMappingURL=extra-components-tour.css.map */
