@font-face {
	font-family: "Inter";
	font-weight: 400;
	src: url("assets/fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Inter";
	font-weight: 500;
	src: url("assets/fonts/Inter-Medium.ttf") format("ttf");
}

@font-face {
	font-family: "Inter";
	font-weight: 600;
	src: url("assets/fonts/Inter-SemiBold.ttf") format("ttf");
}

@font-face {
	font-family: "Inter";
	font-weight: 700;
	src: url("assets/fonts/Inter-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "Inter";
	font-weight: 800;
	src: url("assets/fonts/Inter-ExtraBold.ttf") format("ttf");
}

@font-face {
	font-family: "Inter";
	font-weight: 900;
	src: url("assets/fonts/Inter-Black.ttf") format("ttf");
}
