:root {
	--primary-blue: #4658c1;
	--primary-blue-dark: hsl(230, 50%, 37%);
	--primary-yellow: #f5b000;
	--primary-yellow-dark: hsl(43, 100%, 55%);
	--gray: #eef2f3;

	--text-color: hsl(231, 20%, 10%);

	--gradient-blue: linear-gradient(45deg, var(--primary-blue), #401a92);
	--gradient-yellow: linear-gradient(-45deg, var(--primary-yellow), #ffd874);
	--gradient-green: linear-gradient(45deg, #1a924a, #46c170);

	--border-radius: 20px;
}
