@use "fonts.scss";
@use "_variables.scss";
@use "_base.scss";

*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Inter", Helvetica, Arial, sans-serif;
	overflow-x: hidden;

	&.home {
		background: linear-gradient(180deg, #fff 40%, #eef2f3);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0;
	font-weight: 600;
}

h1 {
	font-size: 6.25rem;
	font-weight: 900;
}

h2 {
	font-size: 1.875rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

.container {
	width: min(90%, 1280px);

	@media (max-width: 768px) {
		width: 100%;
		padding: 0 1rem;
	}
}

a {
	color: var(--primary-blue);
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px 60px;
	border-radius: 50px;
	border: 0;
	color: #333;
	background-color: var(--primary-yellow);
	text-decoration: none;
	flex-grow: 0;
	width: fit-content;

	&.--small {
		padding: 10px 20px;
	}

	&:hover {
		background-color: var(--primary-yellow-dark);
	}

	&.--blue {
		background-color: var(--primary-blue);
		color: #fff;

		&:hover {
			background-color: var(--primary-blue-dark);
		}
	}
}

header,
footer {
	display: inline-flex;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	height: 80px;
	position: relative;

	a {
		text-decoration: none;
		color: var(--text-color);
		font-weight: 500;

		&.mobile-trigger {
			display: none;
			background: var(--primary-yellow);
			height: 32px;

			img {
				width: 32px;
			}
		}
	}

	.container {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	.logo {
		width: 120px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	ul {
		display: inline-flex;
		gap: 20px;
		list-style-type: none;
		margin: 0;
		align-items: center;
		padding: 0;
		visibility: visible;
		opacity: 1;

		a {
			position: relative;
			width: 100%;
			white-space: nowrap;

			&.menu-cta {
				outline: 2px solid var(--primary-yellow);
				border-radius: 8px;
				/* outline-offset: 10px; */
				padding: 1rem;
				background: rgb(244 176 1 / 22%);
				&:after {
					content: none !important;
				}
				&:hover {
					background: rgb(244 176 1 / 30%);
				}
			}

			&:hover {
				&:after {
					content: "";
					position: absolute;
					width: 6px;
					height: 6px;
					border-radius: 6px;
					background-color: var(--primary-yellow);
					bottom: -10px;
					left: calc(50% - 3px);
				}
			}

			&[aria-current="page"] {
				font-weight: 700;
				&:after {
					content: "";
					position: absolute;
					width: 20px;
					height: 6px;
					border-radius: 6px;
					background-color: var(--primary-yellow);
					bottom: -10px;
					left: calc(50% - 10px);
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		a.mobile-trigger {
			display: block !important;
		}
		ul {
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s ease-in-out;

			&.active {
				visibility: visible !important;
				opacity: 1 !important;
			}

			position: absolute;
			top: 80px;
			left: 0;
			background: #fff;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			z-index: 10;
			gap: 0;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

			li {
				width: 100%;
				a {
					display: inline-block;
					padding: 1.5rem;
					width: 100%;
					&:hover {
						background: #f1f1f1;

						&:after {
							content: unset;
						}
					}
				}
			}
		}
	}
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;

	&:not(:first-of-type):not(.media) {
		margin-top: 250px;
		h2 {
			color: var(--primary-blue);
		}
	}

	@media (max-width: 768px) {
		&:not(:first-of-type):not(.media) {
			margin-top: 100px;
		}
	}
}

.hero {
	background: var(--gradient-blue);
	text-align: center;
	padding: 50px 10px;
	justify-content: flex-start;
	height: 400px;
	width: 100%;
	color: #fff;

	animation: fadeIn 0.3s ease-in-out;

	h1 {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		line-height: 1;
		margin-bottom: 2rem;
		animation: slideInFromUp 0.5s ease-in-out forwards;
		opacity: 0;
		animation-delay: 0.2s;
	}

	&-title {
		font-size: 1.5rem;
		font-weight: 500;
	}

	h2 {
		font-size: 1.3rem;
		font-weight: 400;
		animation: slideInFromUp 0.5s ease-in-out forwards;
		opacity: 0;
		animation-delay: 0.25s;
	}

	.btn {
		margin: 1rem 0;
		align-self: center;
		animation: slideInFromUp 0.5s ease-in-out forwards;
		opacity: 0;
		animation-delay: 0.3s;
	}

	@media screen and (min-width: 768px) {
		height: 700px;
		padding-top: 100px;

		h1 {
			font-size: 6.25rem;

			.hero-title {
				font-size: 2.5rem;
			}
		}

		h2 {
			font-size: 1.875rem;
			max-width: 750px;
		}

		.btn {
			margin: 44px 0;
		}
	}
}

.media {
	justify-content: center;
	height: fit-content;
	width: 100%;
	padding: 0;
	margin-top: -20%;

	position: relative;
	opacity: 0;

	animation: slideInFromUp 0.5s ease-in-out forwards;
	animation-delay: 0.4s;

	.play {
		position: absolute;
		width: 80px;
		height: 80px;
		top: calc(50% - 40px);
		left: calc(50% - 40px);
		cursor: pointer;
		border-radius: 50%;
		z-index: 1;
		margin: 0;
		padding: 0;
		border: 0;
	}

	&-wrapper {
		border-radius: var(--border-radius);
		// background: rgba(white, 0.15);
		background: linear-gradient(180deg, #6367c3 35%, #ffffff 65%);
		padding: 20px;
		// backdrop-filter: blur(60px);

		width: min(90%, 824px);

		video {
			width: 100%;
		}
	}

	@media screen and (min-width: 768px) {
		margin: -230px 0 0 0;
		height: 500px;
	}
}

.features {
	.feature {
		img {
			margin-bottom: 15px;
		}
		h2 {
			color: var(--primary-blue);
		}
		color: #666;
	}

	&-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		padding: 20px;
		background-color: var(--gray);
		border-radius: var(--border-radius);
		align-self: center;

		.features-image {
			position: relative;
			// grid-area: "cover";
			z-index: 2;
			margin-top: -150px;
			margin-right: -110px;
			width: 350px;
			height: 400px;
			display: none;
			border-radius: var(--border-radius);

			img {
				width: 100%;
			}

			&:before {
				content: "";
				position: absolute;
				top: 40px;
				right: 40px;
				width: 100%;
				height: 100%;
				background: var(--gradient-yellow);
				border-radius: var(--border-radius);
				z-index: -1;
			}
		}
	}
	@media screen and (min-width: 600px) {
		.features-wrapper {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
			padding: 40px 20px;
		}
	}

	@media screen and (min-width: 1024px) {
		.features-wrapper {
			grid-template-columns: repeat(3, 1fr);
			gap: 30px 60px;
			padding: 40px 20px;
		}
		.feature {
			img {
				margin-bottom: 30px;
			}
		}

		.features-image {
			display: block;
		}
	}
}

.more {
	h2 {
		margin-bottom: 80px;
		text-align: center;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		align-self: center;
	}

	.section-image {
		position: relative;
		z-index: 0;
		width: 100%;
		border-radius: var(--border-radius);
		display: none;

		&:before {
			content: "";
			position: absolute;
			bottom: -30px;
			left: 0;
			width: 200px;
			height: 260px;
			background-size: contain;
			background-image: url("../imgs/flair1.svg");
			z-index: 1;
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		list-style: none;
		padding: 0;
		margin: 0;
		align-items: center;

		li {
			border-radius: var(--border-radius);
			padding: 20px;
			min-height: 90px;
			width: min(100%, 480px);

			box-shadow: 0px 22px 68px rgba(0, 0, 0, 0.07),
				0px 9.19107px 28.4088px rgba(0, 0, 0, 0.0503198),
				0px 4.91399px 15.1887px rgba(0, 0, 0, 0.0417275),
				0px 2.75474px 8.51466px rgba(0, 0, 0, 0.035),
				0px 1.46302px 4.52207px rgba(0, 0, 0, 0.0282725),
				0px 0.608796px 1.88173px rgba(0, 0, 0, 0.0196802);

			h3 {
				color: var(--primary-blue);
				font-size: 1.125rem;
				margin-bottom: 10px;
			}
			p {
				margin: 0;
				color: #333;
			}
			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					background-color: darken(#ffd15c, $i * 5%);
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		&-wrapper {
			grid-template-columns: auto auto;
		}
		.section-image {
			display: block;
			width: 300px;
			img {
				width: 100%;
			}
		}
		&-list {
			align-items: flex-start;
		}
	}
	@media screen and (min-width: 1024px) {
		.section-image {
			width: 400px;
			align-self: center;
		}
		&-list {
			margin-left: -20px;
			li {
				@for $i from 1 through 4 {
					&:nth-of-type(#{$i}) {
						transform: translateX($i * 20px);
					}
				}
			}
		}
	}
}

.testemonials {
	h2 {
		margin-bottom: 80px;
		text-align: center;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		align-self: center;
	}

	.testemonial {
		display: flex;
		flex-direction: column;

		&-text {
			background: #fff;
			padding: 20px;
			border-radius: var(--border-radius);
			margin-bottom: 20px;
			p {
				margin: 0;
			}
		}

		&-person {
			display: grid;
			grid-template-columns: 80px auto;
			gap: 0 16px;

			img {
				grid-column: 1 / 2;
				grid-row: 1 / 3;
				border: 6px solid #fff;
				border-radius: 50%;
				width: 100%;
			}
			.person-name {
				font-size: 1.125rem;
				font-weight: 500;
			}
			.person-info {
				grid-row: 1 / 3;
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
			}
		}
	}

	@media screen and (min-width: 768px) {
		&-wrapper {
			gap: 20px;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.faq {
	h2 {
		margin-bottom: 80px;
		text-align: center;
	}

	&-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			border-radius: var(--border-radius);
			border: 1px solid rgba(0, 0, 0, 0.1);
			transition: all 0.5s ease-in-out;
			overflow: hidden;

			// background-color: hsla(0, 0%, 100%, 0.5);

			& > a {
				text-decoration: none;
				padding: 20px 20px;
				display: block;
				border-radius: var(--border-radius);

				&:focus-visible {
					outline: 2px solid black;
					outline-offset: -1px;
				}
				h3 {
					color: var(--text-color);
					position: relative;
					padding-right: 24px;
					font-size: 1.125rem;

					// arrow down
					&:after {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						width: 32px;
						height: 32px;
						background: url("../imgs/arrow.svg") no-repeat;
						background-size: contain;
						transition: all 0.3s ease-in-out;
					}
				}
			}

			&.open {
				background-color: #fff;
				border-color: transparent;
				box-shadow: 0px 22px 68px rgb(0 0 0 / 7%);

				tr & > a {
					h3 {
						color: var(--primary-blue);
						&:after {
							transform: rotate(180deg);
						}
					}
				}
				.faq-answer-wrapper {
					opacity: 1;
					visibility: visible;
					max-height: 800px;
					transform: translate3d(0, 0, 0);
				}

				.faq-answer {
					&:before {
						opacity: 1;
					}
				}
			}

			.faq-answer-wrapper {
				display: block;
				visibility: hidden;
				height: fit-content;
				opacity: 0;
				overflow: hidden;
				max-height: 0;
				transition: all 0.5s ease-in-out;
			}

			.faq-answer {
				display: block;
				height: fit-content;
				padding: 20px;
				transition: all 0.5s ease-in-out;
				position: relative;
				color: var(--text-color);

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 30px;
					width: calc(100% - 60px);
					height: 1px;
					background-color: rgba(0, 0, 0, 0.05);
					opacity: 0;
					transition: all 0.5s ease-in-out;
				}
			}
		}
	}

	@media (min-width: 768px) {
		&-list {
			& > li {
				& > a {
					padding: 30px 20px;
				}
			}
		}
	}
}

.comparison {
	--column-size: 80px;
	--font-size: 0.9rem;
	h2 {
		margin-bottom: 60px;
		text-align: center;
		max-width: 600px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&-table {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font-size: var(--font-size);
		padding: 50px 20px 30px 20px;
		// background: #fff;
		border-radius: var(--border-radius);
	}

	&-grid-head {
		display: grid;
		grid-template-columns: repeat(2, var(--column-size));
		gap: 4px;

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			justify-content: space-between;
			font-size: var(--font-size);
			padding-bottom: 1rem;

			&.woffice {
				position: relative;
				font-weight: 600;

				// star
				&:after {
					content: "";
					position: absolute;
					top: -42px;
					right: 50%;
					width: 32px;
					height: 32px;
					background: url("../imgs/comparison/best.svg") no-repeat;
					background-size: contain;
					transform: translateX(50%);
				}

				&:before {
					content: "";
					position: absolute;
					top: -30px;
					left: 0;
					width: 100%;
					height: calc(100% + 30px);
					border: 2px solid var(--primary-blue);
					border-radius: var(--border-radius) var(--border-radius) 0 0;
					border-bottom: 0;
					background-color: #e4e8f4;
					z-index: -1;
				}
			}

			img {
				max-height: 30px;
				max-width: 45px;
			}
		}
	}

	&-grid {
		display: grid;
		grid-template-columns: auto repeat(2, var(--column-size));
		width: 100%;
		gap: 4px;
	}

	&-topics,
	&-value {
		:nth-child(even) {
			background-color: var(--gray);
		}
		:last-child {
			background: none !important;
			display: flex;
		}

		&.woffice {
			position: relative;

			:nth-child(even) {
				background: hsla(0, 0%, 0%, 0.02);
			}

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 2px solid var(--primary-blue);
				border-radius: 0 0 var(--border-radius) var(--border-radius);
				border-top: 0;
				background-color: #e4e8f4;
				z-index: -1;
			}
		}

		li {
			padding: 0.5rem;
			height: 60px;
			display: inline-flex;
			align-items: center;
			width: 100%;
			color: var(--text-color);

			&:not(:last-child) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.05);
			}
		}
	}

	&-topics {
		li {
			font-weight: 500;
		}
	}

	&-value {
		:last-child {
			flex-direction: column;
			align-items: center;
		}
		li {
			justify-content: center;
			text-align: center;
			font-size: var(--font-size);

			img {
				max-height: 30px;
			}
		}
	}

	@media (min-width: 768px) {
		--column-size: 200px;
		--font-size: 1.125rem;
		h2 {
			margin-bottom: 80px;
		}

		&-table {
			font-size: var(--font-size);
		}
		&-topics,
		&-value {
			li {
				height: 70px;
			}
		}

		&-value,
		&-grid-head li {
			&.woffice {
				&:before {
					border-width: 3px;
				}
			}
		}
	}
}

.what {
	position: relative;
	overflow: visible;
	font-size: 1.125rem;
	line-height: 1.5;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 80vw;
		height: 100vh;
		background-image: url("../imgs/what/what-bg2.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		filter: blur(80px);
		z-index: -1;
	}

	&-wrapper {
		padding: 0 1rem;
	}

	&-heading {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		margin-bottom: 4rem;

		p {
			margin-top: 0;
		}

		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: -2rem;
			left: -4rem;
			width: 4rem;
			height: 4rem;
			background-image: url("../imgs/what/star.svg");
			background-repeat: no-repeat;
			z-index: -1;
		}
	}

	&-more {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		justify-items: center;
		gap: 20px;
		margin-bottom: 4rem;
		margin: 0;
		padding: 0;

		li {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			background-color: hsla(0, 0%, 100%, 0.8);
			border-radius: var(--border-radius);
			padding: 20px 20px 30px 20px;
			box-shadow: 0px 22px 68px rgb(0 0 0 / 7%);

			p:last-child {
				margin-bottom: 0;
			}

			img {
				border-radius: 50%;
				width: 36px;
				height: 36px;
				outline: 10px solid hsla(0, 0%, 80%, 0.4);
				margin: 10px 0 0 10px;
			}
		}
	}

	@media (min-width: 992px) {
		&-heading {
			grid-template-columns: 1fr 1fr;
		}
		&-more {
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		}
		&:before {
			width: 1100px;
			height: 400px;
			left: 250px;
			bottom: 0;
			top: unset;
		}
	}
}

footer {
	padding-top: 200px;
	color: #666;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		width: min(1000px, 90%);
		align-items: center;
		gap: 70px;
	}

	.footer-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		align-items: center;
		justify-items: center;
		width: 100%;
		text-align: center;

		.footer-links {
			order: 2;
		}

		.footer-logo {
			order: 3;
		}

		@media screen and (min-width: 1000px) {
			gap: 10px;
			text-align: left;
			grid-template-columns: repeat(3, 1fr);
			.footer-links {
				order: 3;
			}

			// .footer-logo {
			// 	order: 3;
			// }
		}
	}

	.footer-links {
		display: inline-flex;
		gap: 1rem;
	}

	.footer-logo {
		width: 100%;
		max-width: 350px;
		height: 140px;
		margin-bottom: 0px;
		overflow: hidden;
	}

	img {
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		padding-top: 300px;
	}
	@media screen and (min-width: 1024px) {
		padding-top: 420px;
	}
}

.about-hero {
	background-color: var(--primary-yellow);
	padding: 100px 20px;
	color: #000;
	align-items: center;
	width: 100%;
	margin-bottom: 50px;

	h1 {
		display: inline-flex;
		flex-direction: column;
		font-size: 3rem;
		font-weight: 900;
		align-items: center;
		text-align: center;

		span {
			font-size: 2rem;
			font-weight: 600;
			opacity: 0.7;
			mix-blend-mode: multiply;
		}
	}

	@media screen and (min-width: 768px) {
		h1 {
			font-size: 100px;
			span {
				font-size: 60px;
			}
		}
	}

	@media screen and (min-width: 1024px) {
		h1 {
			align-items: flex-start;
			text-align: left;
		}
	}
}

.history {
	font-size: 1.125rem;
	color: #666;
	line-height: 1.5;
	h2 {
		color: #000 !important;
	}
	&-wrapper {
		// display: grid;
		// grid-template-columns: auto 400px;
	}

	.first-part,
	.second-part {
		width: 100%;
		display: inline-flex;
		flex-direction: column;
	}

	&-image {
		width: min(60%, 300px);
		align-self: center;
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}

	@media screen and (min-width: 768px) {
		.first-part {
			display: grid;
			grid-template-columns: 50% auto;
		}
		&-image {
			width: min(100%, 400px);
			margin-right: 70px;
			margin-left: -10px;
		}
	}
}

.team {
	margin-top: 290px;
	position: relative;

	h2 {
		margin-bottom: 80px;
		text-align: center;
		color: #000 !important;
	}

	&-members {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;

		.member {
			justify-self: center;
			text-align: center;

			img {
				margin-bottom: 1rem;
				border: 8px solid #fff;
				border-radius: 50%;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
			span {
				color: var(--primary-blue);
				font-size: 1.3rem;
			}
		}
	}

	@media screen and (min-width: 768px) {
		&:before {
			content: "";
			position: absolute;
			top: -145px;
			width: 630px;
			left: calc(50% - 315px);
			height: 1px;
			background: var(--primary-yellow);
			z-index: 1;
		}
		&-members {
			grid-template-columns: repeat(3, 1fr);

			.member {
				span {
					font-size: 1rem;
				}
			}
		}
	}
}

.typed-cursor {
	font-weight: 700 !important;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideInFromUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes mediaSlideUp {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes blur-in {
	from {
		backdrop-filter: blur(0px);
	}
	to {
		backdrop-filter: blur(60px);
	}
}
