@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("assets/fonts/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("assets/fonts/Inter-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("assets/fonts/Inter-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("assets/fonts/Inter-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("assets/fonts/Inter-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("assets/fonts/Inter-Black.ttf") format("ttf");
}
:root {
  --primary-blue: #4658c1;
  --primary-blue-dark: hsl(230, 50%, 37%);
  --primary-yellow: #f5b000;
  --primary-yellow-dark: hsl(43, 100%, 55%);
  --gray: #eef2f3;
  --text-color: hsl(231, 20%, 10%);
  --gradient-blue: linear-gradient(45deg, var(--primary-blue), #401a92);
  --gradient-yellow: linear-gradient(-45deg, var(--primary-yellow), #ffd874);
  --gradient-green: linear-gradient(45deg, #1a924a, #46c170);
  --border-radius: 20px;
}

.lg-width {
  width: min(100%, 1280px);
}

.md-width {
  width: min(100%, 1000px);
}

.sm-width {
  width: min(100%, 846px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
body.home {
  background: linear-gradient(180deg, #fff 40%, #eef2f3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 6.25rem;
  font-weight: 900;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.container {
  width: min(90%, 1280px);
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

a {
  color: var(--primary-blue);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 60px;
  border-radius: 50px;
  border: 0;
  color: #333;
  background-color: var(--primary-yellow);
  text-decoration: none;
  flex-grow: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn.--small {
  padding: 10px 20px;
}
.btn:hover {
  background-color: var(--primary-yellow-dark);
}
.btn.--blue {
  background-color: var(--primary-blue);
  color: #fff;
}
.btn.--blue:hover {
  background-color: var(--primary-blue-dark);
}

header,
footer {
  display: inline-flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 80px;
  position: relative;
}
header a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
header a.mobile-trigger {
  display: none;
  background: var(--primary-yellow);
  height: 32px;
}
header a.mobile-trigger img {
  width: 32px;
}
header .container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .logo {
  width: 120px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header ul {
  display: inline-flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 0;
  visibility: visible;
  opacity: 1;
}
header ul a {
  position: relative;
  width: 100%;
  white-space: nowrap;
}
header ul a.menu-cta {
  outline: 2px solid var(--primary-yellow);
  border-radius: 8px;
  /* outline-offset: 10px; */
  padding: 1rem;
  background: rgba(244, 176, 1, 0.22);
}
header ul a.menu-cta:after {
  content: none !important;
}
header ul a.menu-cta:hover {
  background: rgba(244, 176, 1, 0.3);
}
header ul a:hover:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--primary-yellow);
  bottom: -10px;
  left: calc(50% - 3px);
}
header ul a[aria-current=page] {
  font-weight: 700;
}
header ul a[aria-current=page]:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--primary-yellow);
  bottom: -10px;
  left: calc(50% - 10px);
}
@media screen and (max-width: 768px) {
  header a.mobile-trigger {
    display: block !important;
  }
  header ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 80px;
    left: 0;
    background: #fff;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    gap: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  header ul.active {
    visibility: visible !important;
    opacity: 1 !important;
  }
  header ul li {
    width: 100%;
  }
  header ul li a {
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
  }
  header ul li a:hover {
    background: #f1f1f1;
  }
  header ul li a:hover:after {
    content: unset;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section:not(:first-of-type):not(.media) {
  margin-top: 250px;
}
section:not(:first-of-type):not(.media) h2 {
  color: var(--primary-blue);
}
@media (max-width: 768px) {
  section:not(:first-of-type):not(.media) {
    margin-top: 100px;
  }
}

.hero {
  background: var(--gradient-blue);
  text-align: center;
  padding: 50px 10px;
  justify-content: flex-start;
  height: 400px;
  width: 100%;
  color: #fff;
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
}
.hero h1 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
  -webkit-animation: slideInFromUp 0.5s ease-in-out forwards;
          animation: slideInFromUp 0.5s ease-in-out forwards;
  opacity: 0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.hero-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.hero h2 {
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-animation: slideInFromUp 0.5s ease-in-out forwards;
          animation: slideInFromUp 0.5s ease-in-out forwards;
  opacity: 0;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.hero .btn {
  margin: 1rem 0;
  align-self: center;
  -webkit-animation: slideInFromUp 0.5s ease-in-out forwards;
          animation: slideInFromUp 0.5s ease-in-out forwards;
  opacity: 0;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 700px;
    padding-top: 100px;
  }
  .hero h1 {
    font-size: 6.25rem;
  }
  .hero h1 .hero-title {
    font-size: 2.5rem;
  }
  .hero h2 {
    font-size: 1.875rem;
    max-width: 750px;
  }
  .hero .btn {
    margin: 44px 0;
  }
}

.media {
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin-top: -20%;
  position: relative;
  opacity: 0;
  -webkit-animation: slideInFromUp 0.5s ease-in-out forwards;
          animation: slideInFromUp 0.5s ease-in-out forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.media .play {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 0;
}
.media-wrapper {
  border-radius: var(--border-radius);
  background: linear-gradient(180deg, #6367c3 35%, #ffffff 65%);
  padding: 20px;
  width: min(90%, 824px);
}
.media-wrapper video {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .media {
    margin: -230px 0 0 0;
    height: 500px;
  }
}

.features .feature {
  color: #666;
}
.features .feature img {
  margin-bottom: 15px;
}
.features .feature h2 {
  color: var(--primary-blue);
}
.features-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  background-color: var(--gray);
  border-radius: var(--border-radius);
  align-self: center;
}
.features-wrapper .features-image {
  position: relative;
  z-index: 2;
  margin-top: -150px;
  margin-right: -110px;
  width: 350px;
  height: 400px;
  display: none;
  border-radius: var(--border-radius);
}
.features-wrapper .features-image img {
  width: 100%;
}
.features-wrapper .features-image:before {
  content: "";
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100%;
  height: 100%;
  background: var(--gradient-yellow);
  border-radius: var(--border-radius);
  z-index: -1;
}
@media screen and (min-width: 600px) {
  .features .features-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .features .features-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 60px;
    padding: 40px 20px;
  }
  .features .feature img {
    margin-bottom: 30px;
  }
  .features .features-image {
    display: block;
  }
}

.more h2 {
  margin-bottom: 80px;
  text-align: center;
}
.more-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-self: center;
}
.more .section-image {
  position: relative;
  z-index: 0;
  width: 100%;
  border-radius: var(--border-radius);
  display: none;
}
.more .section-image:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 200px;
  height: 260px;
  background-size: contain;
  background-image: url("../imgs/flair1.svg");
  z-index: 1;
}
.more-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.more-list li {
  border-radius: var(--border-radius);
  padding: 20px;
  min-height: 90px;
  width: min(100%, 480px);
  box-shadow: 0px 22px 68px rgba(0, 0, 0, 0.07), 0px 9.19107px 28.4088px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 15.1887px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 8.51466px rgba(0, 0, 0, 0.035), 0px 1.46302px 4.52207px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 1.88173px rgba(0, 0, 0, 0.0196802);
}
.more-list li h3 {
  color: var(--primary-blue);
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.more-list li p {
  margin: 0;
  color: #333;
}
.more-list li:nth-of-type(1) {
  background-color: #ffca43;
}
.more-list li:nth-of-type(2) {
  background-color: #ffc329;
}
.more-list li:nth-of-type(3) {
  background-color: #ffbb10;
}
.more-list li:nth-of-type(4) {
  background-color: #f5b000;
}
@media screen and (min-width: 768px) {
  .more-wrapper {
    grid-template-columns: auto auto;
  }
  .more .section-image {
    display: block;
    width: 300px;
  }
  .more .section-image img {
    width: 100%;
  }
  .more-list {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .more .section-image {
    width: 400px;
    align-self: center;
  }
  .more-list {
    margin-left: -20px;
  }
  .more-list li:nth-of-type(1) {
    transform: translateX(20px);
  }
  .more-list li:nth-of-type(2) {
    transform: translateX(40px);
  }
  .more-list li:nth-of-type(3) {
    transform: translateX(60px);
  }
  .more-list li:nth-of-type(4) {
    transform: translateX(80px);
  }
}

.testemonials h2 {
  margin-bottom: 80px;
  text-align: center;
}
.testemonials-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-self: center;
}
.testemonials .testemonial {
  display: flex;
  flex-direction: column;
}
.testemonials .testemonial-text {
  background: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}
.testemonials .testemonial-text p {
  margin: 0;
}
.testemonials .testemonial-person {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 0 16px;
}
.testemonials .testemonial-person img {
  grid-column: 1/2;
  grid-row: 1/3;
  border: 6px solid #fff;
  border-radius: 50%;
  width: 100%;
}
.testemonials .testemonial-person .person-name {
  font-size: 1.125rem;
  font-weight: 500;
}
.testemonials .testemonial-person .person-info {
  grid-row: 1/3;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .testemonials-wrapper {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.faq h2 {
  margin-bottom: 80px;
  text-align: center;
}
.faq-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.faq-list > li {
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.faq-list > li > a {
  text-decoration: none;
  padding: 20px 20px;
  display: block;
  border-radius: var(--border-radius);
}
.faq-list > li > a:focus-visible {
  outline: 2px solid black;
  outline-offset: -1px;
}
.faq-list > li > a h3 {
  color: var(--text-color);
  position: relative;
  padding-right: 24px;
  font-size: 1.125rem;
}
.faq-list > li > a h3:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: url("../imgs/arrow.svg") no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
.faq-list > li.open {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0px 22px 68px rgba(0, 0, 0, 0.07);
}
tr .faq-list > li.open > a h3 {
  color: var(--primary-blue);
}
tr .faq-list > li.open > a h3:after {
  transform: rotate(180deg);
}
.faq-list > li.open .faq-answer-wrapper {
  opacity: 1;
  visibility: visible;
  max-height: 800px;
  transform: translate3d(0, 0, 0);
}
.faq-list > li.open .faq-answer:before {
  opacity: 1;
}
.faq-list > li .faq-answer-wrapper {
  display: block;
  visibility: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;
}
.faq-list > li .faq-answer {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  color: var(--text-color);
}
.faq-list > li .faq-answer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .faq-list > li > a {
    padding: 30px 20px;
  }
}

.comparison {
  --column-size: 80px;
  --font-size: 0.9rem;
}
.comparison h2 {
  margin-bottom: 60px;
  text-align: center;
  max-width: 600px;
}
.comparison ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comparison-table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--font-size);
  padding: 50px 20px 30px 20px;
  border-radius: var(--border-radius);
}
.comparison-grid-head {
  display: grid;
  grid-template-columns: repeat(2, var(--column-size));
  gap: 4px;
}
.comparison-grid-head li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  font-size: var(--font-size);
  padding-bottom: 1rem;
}
.comparison-grid-head li.woffice {
  position: relative;
  font-weight: 600;
}
.comparison-grid-head li.woffice:after {
  content: "";
  position: absolute;
  top: -42px;
  right: 50%;
  width: 32px;
  height: 32px;
  background: url("../imgs/comparison/best.svg") no-repeat;
  background-size: contain;
  transform: translateX(50%);
}
.comparison-grid-head li.woffice:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: calc(100% + 30px);
  border: 2px solid var(--primary-blue);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: 0;
  background-color: #e4e8f4;
  z-index: -1;
}
.comparison-grid-head li img {
  max-height: 30px;
  max-width: 45px;
}
.comparison-grid {
  display: grid;
  grid-template-columns: auto repeat(2, var(--column-size));
  width: 100%;
  gap: 4px;
}
.comparison-topics :nth-child(even), .comparison-value :nth-child(even) {
  background-color: var(--gray);
}
.comparison-topics :last-child, .comparison-value :last-child {
  background: none !important;
  display: flex;
}
.comparison-topics.woffice, .comparison-value.woffice {
  position: relative;
}
.comparison-topics.woffice :nth-child(even), .comparison-value.woffice :nth-child(even) {
  background: hsla(0deg, 0%, 0%, 0.02);
}
.comparison-topics.woffice:before, .comparison-value.woffice:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-blue);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: 0;
  background-color: #e4e8f4;
  z-index: -1;
}
.comparison-topics li, .comparison-value li {
  padding: 0.5rem;
  height: 60px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  color: var(--text-color);
}
.comparison-topics li:not(:last-child), .comparison-value li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.comparison-topics li {
  font-weight: 500;
}
.comparison-value :last-child {
  flex-direction: column;
  align-items: center;
}
.comparison-value li {
  justify-content: center;
  text-align: center;
  font-size: var(--font-size);
}
.comparison-value li img {
  max-height: 30px;
}
@media (min-width: 768px) {
  .comparison {
    --column-size: 200px;
    --font-size: 1.125rem;
  }
  .comparison h2 {
    margin-bottom: 80px;
  }
  .comparison-table {
    font-size: var(--font-size);
  }
  .comparison-topics li, .comparison-value li {
    height: 70px;
  }
  .comparison-value.woffice:before, .comparison-grid-head li.woffice:before {
    border-width: 3px;
  }
}

.what {
  position: relative;
  overflow: visible;
  font-size: 1.125rem;
  line-height: 1.5;
}
.what:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-image: url("../imgs/what/what-bg2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(80px);
  z-index: -1;
}
.what-wrapper {
  padding: 0 1rem;
}
.what-heading {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 4rem;
  position: relative;
}
.what-heading p {
  margin-top: 0;
}
.what-heading:before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -4rem;
  width: 4rem;
  height: 4rem;
  background-image: url("../imgs/what/star.svg");
  background-repeat: no-repeat;
  z-index: -1;
}
.what-more {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 20px;
  margin-bottom: 4rem;
  margin: 0;
  padding: 0;
}
.what-more li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: var(--border-radius);
  padding: 20px 20px 30px 20px;
  box-shadow: 0px 22px 68px rgba(0, 0, 0, 0.07);
}
.what-more li p:last-child {
  margin-bottom: 0;
}
.what-more li img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  outline: 10px solid hsla(0deg, 0%, 80%, 0.4);
  margin: 10px 0 0 10px;
}
@media (min-width: 992px) {
  .what-heading {
    grid-template-columns: 1fr 1fr;
  }
  .what-more {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .what:before {
    width: 1100px;
    height: 400px;
    left: 250px;
    bottom: 0;
    top: unset;
  }
}

footer {
  padding-top: 200px;
  color: #666;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .container {
  display: flex;
  flex-direction: column;
  width: min(1000px, 90%);
  align-items: center;
  gap: 70px;
}
footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-items: center;
  justify-items: center;
  width: 100%;
  text-align: center;
}
footer .footer-grid .footer-links {
  order: 2;
}
footer .footer-grid .footer-logo {
  order: 3;
}
@media screen and (min-width: 1000px) {
  footer .footer-grid {
    gap: 10px;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer-grid .footer-links {
    order: 3;
  }
}
footer .footer-links {
  display: inline-flex;
  gap: 1rem;
}
footer .footer-logo {
  width: 100%;
  max-width: 350px;
  height: 140px;
  margin-bottom: 0px;
  overflow: hidden;
}
footer img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 300px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding-top: 420px;
  }
}

.about-hero {
  background-color: var(--primary-yellow);
  padding: 100px 20px;
  color: #000;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.about-hero h1 {
  display: inline-flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 900;
  align-items: center;
  text-align: center;
}
.about-hero h1 span {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.7;
  mix-blend-mode: multiply;
}
@media screen and (min-width: 768px) {
  .about-hero h1 {
    font-size: 100px;
  }
  .about-hero h1 span {
    font-size: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .about-hero h1 {
    align-items: flex-start;
    text-align: left;
  }
}

.history {
  font-size: 1.125rem;
  color: #666;
  line-height: 1.5;
}
.history h2 {
  color: #000 !important;
}
.history .first-part,
.history .second-part {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}
.history-image {
  width: min(60%, 300px);
  align-self: center;
  margin-bottom: 20px;
}
.history-image img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .history .first-part {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .history-image {
    width: min(100%, 400px);
    margin-right: 70px;
    margin-left: -10px;
  }
}

.team {
  margin-top: 290px;
  position: relative;
}
.team h2 {
  margin-bottom: 80px;
  text-align: center;
  color: #000 !important;
}
.team-members {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.team-members .member {
  justify-self: center;
  text-align: center;
}
.team-members .member img {
  margin-bottom: 1rem;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team-members .member span {
  color: var(--primary-blue);
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .team:before {
    content: "";
    position: absolute;
    top: -145px;
    width: 630px;
    left: calc(50% - 315px);
    height: 1px;
    background: var(--primary-yellow);
    z-index: 1;
  }
  .team-members {
    grid-template-columns: repeat(3, 1fr);
  }
  .team-members .member span {
    font-size: 1rem;
  }
}

.typed-cursor {
  font-weight: 700 !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInFromUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes mediaSlideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mediaSlideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes blur-in {
  from {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(60px);
            backdrop-filter: blur(60px);
  }
}
@keyframes blur-in {
  from {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(60px);
            backdrop-filter: blur(60px);
  }
}/*# sourceMappingURL=woffice.css.map */