body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 2.488rem;
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.2rem;
}

.menu {
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;

	nav {
		background-color: #044cb8;
		.nav-wrapper {
			display: flex;
			justify-content: center;
		}
	}
}

main {
	margin-top: 64px;
}

section {
	position: relative;
	padding: 32px 0;

	h2 {
		margin-top: 0;
		margin-bottom: 2rem;
		font-family: "Roboto Condensed";
		font-weight: 600;
	}

	@media (min-width: 80em) {
		padding: 96px 0;

		h2 {
			margin-bottom: 4rem;
		}
	}
}

.container {
	position: relative;

	& > h2 {
		margin-top: 0;
	}
}

.btn {
	padding: 10px;
	height: fit-content;
	text-transform: none;
	border-radius: 10px;
	min-width: 200px;
	background-color: #044cb8;
}

img {
	width: 100%;
}

.hero {
	background: url("https://picsum.photos/1920") center center no-repeat;
	background-size: cover;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#cfe8ff, 0.8);
		mix-blend-mode: color-dodge;
		z-index: 1;
	}
	.container {
		z-index: 2;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	&_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 700px;
		width: 100%;

		img {
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	h1 {
		font-size: 1.5rem;
		padding: 0 1rem;
	}
}

.extra-info {
	padding: 32px 0;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("https://picsum.photos/720") center center no-repeat;
		filter: blur(10px);
		z-index: 0;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#003464, 0.9);
		mix-blend-mode: darken;
		z-index: 1;
	}

	.container {
		z-index: 2;
		color: #fff;
	}

	.row {
		margin-bottom: 0;
		display: flex;
		align-items: end;
	}

	h2,
	h3 {
		font-family: "Roboto Condensed";
		font-weight: 600;
		text-transform: uppercase;
		margin: 4px 0;
	}

	h2 {
		font-size: 3rem;
	}

	h4 {
		margin-bottom: 0;
		font-family: "Roboto Condensed";
		font-weight: 600;
		color: #fec30b;
		font-size: 2rem;

		span {
			display: inline-flex;
			align-items: center;
			gap: 4px;
		}
	}
}

.evento {
	.container {
	}

	h2 {
		text-align: center;
	}

	h3 {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 600;

		& + p {
			margin-top: 4px;
		}
	}

	.box {
		& > p {
			margin-top: 0;
		}
	}
}

.programacao {
	background-color: #cfe8ff;

	h2 {
		text-align: center;
	}

	.boxes {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 20px;
	}

	.box {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0.5rem;

		background: rgba(black, 0.1);

		h5,
		h3,
		h4,
		ul {
			margin: 0;
			padding: 0;
		}

		h3 {
			font-size: 1.2rem;
		}
		h4,
		h5 {
			font-size: 1rem;
			font-weight: 600;
		}
	}
}

.local {
	h2 {
		margin-bottom: 1rem;
	}
}

.realizacao {
	text-align: center;

	h2,
	h3 {
		margin-bottom: 0;
	}

	.items {
		display: inline-flex;
		justify-content: center;
		flex-direction: column;
		padding: 1rem 0;
		height: fit-content;
	}

	h3 {
		border-top: 1px solid rgba(black, 0.1);
		padding-top: 0.5rem;
	}

	ul {
		display: inline-flex;
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	img {
		max-height: 100px;
	}
}
