body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.menu nav {
  background-color: #044cb8;
}
.menu nav .nav-wrapper {
  display: flex;
  justify-content: center;
}

main {
  margin-top: 64px;
}

section {
  position: relative;
  padding: 32px 0;
}
section h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "Roboto Condensed";
  font-weight: 600;
}
@media (min-width: 80em) {
  section {
    padding: 96px 0;
  }
  section h2 {
    margin-bottom: 4rem;
  }
}

.container {
  position: relative;
}
.container > h2 {
  margin-top: 0;
}

.btn {
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: none;
  border-radius: 10px;
  min-width: 200px;
  background-color: #044cb8;
}

img {
  width: 100%;
}

.hero {
  background: url("https://picsum.photos/1920") center center no-repeat;
  background-size: cover;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 232, 255, 0.8);
  mix-blend-mode: color-dodge;
  z-index: 1;
}
.hero .container {
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
}
.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;
}
.hero_content img {
  width: 100%;
  margin-bottom: 2rem;
}
.hero h1 {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.extra-info {
  padding: 32px 0;
}
.extra-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://picsum.photos/720") center center no-repeat;
  filter: blur(10px);
  z-index: 0;
}
.extra-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 52, 100, 0.9);
  mix-blend-mode: darken;
  z-index: 1;
}
.extra-info .container {
  z-index: 2;
  color: #fff;
}
.extra-info .row {
  margin-bottom: 0;
  display: flex;
  align-items: end;
}
.extra-info h2,
.extra-info h3 {
  font-family: "Roboto Condensed";
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 0;
}
.extra-info h2 {
  font-size: 3rem;
}
.extra-info h4 {
  margin-bottom: 0;
  font-family: "Roboto Condensed";
  font-weight: 600;
  color: #fec30b;
  font-size: 2rem;
}
.extra-info h4 span {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.evento h2 {
  text-align: center;
}
.evento h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.evento h3 + p {
  margin-top: 4px;
}
.evento .box > p {
  margin-top: 0;
}

.programacao {
  background-color: #cfe8ff;
}
.programacao h2 {
  text-align: center;
}
.programacao .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.programacao .box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}
.programacao .box h5,
.programacao .box h3,
.programacao .box h4,
.programacao .box ul {
  margin: 0;
  padding: 0;
}
.programacao .box h3 {
  font-size: 1.2rem;
}
.programacao .box h4,
.programacao .box h5 {
  font-size: 1rem;
  font-weight: 600;
}

.local h2 {
  margin-bottom: 1rem;
}

.realizacao {
  text-align: center;
}
.realizacao h2,
.realizacao h3 {
  margin-bottom: 0;
}
.realizacao .items {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  height: -moz-fit-content;
  height: fit-content;
}
.realizacao h3 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
}
.realizacao ul {
  display: inline-flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.realizacao img {
  max-height: 100px;
}/*# sourceMappingURL=style.css.map */