$dark-grey: #979c99;
$yellow-main: #fdc413;
$blue-main: #007bbf;

:root {
	--dark-grey: #979c99;
	--yellow-main: #fdc413;
	--blue-main: #007bbf;
}

body {
	font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 600;
	line-height: 1.3;
}

a {
	color: var(--blue-main);
	transition: 0.3s ease-in-out;
	&:focus-visible {
		outline: 2px dashed black;
		outline-offset: 2px;
	}
}

.heading-hero {
	padding: 1rem 0;
	color: var(--dark-grey);
	font-weight: 600;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.box {
		display: flex;
		flex: 1;
		justify-content: center;

		&:last-of-type {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}

	.logo {
		width: 100%;
		max-width: 300px;
		max-height: 80px;
		display: flex;
		object-fit: contain;
		flex: 1;
		justify-content: center;
	}

	ul {
		margin: 0;
		padding: 0.5rem 1rem;
		display: flex;
		justify-content: center;
		border: 1px solid var(--dark-grey);
		border-radius: 10px;

		&.markets {
			// margin-right: auto;
			gap: 1rem;

			li {
				display: flex;
				flex-direction: column;
			}

			.value {
				display: inline-flex;
				align-items: center;
				justify-content: flex-start;
				gap: 2px;
				&:before {
					content: "expand_less";
					font-family: "Material Icons";
					font-size: 20px;
					height: 20px;
					line-height: 20px;
					display: inline-block;
					color: green;
				}

				&.down {
					&:before {
						content: "expand_more";
						color: red;
					}
				}
			}
		}

		&.languages {
			// margin-left: auto;
			gap: 0.5rem;
			li {
				height: 32px;
				width: 32px;
				padding: 2px;
			}
			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}

		&.date {
			// margin-left: auto;
			display: inline-flex;
			align-items: center;
			gap: 1rem;

			li {
				display: flex;
				gap: 0.25rem;
				align-items: center;
			}

			i {
				font-size: 1.2rem;
			}
		}
	}

	@media (min-width: 80em) {
		padding: 4rem 0;
		color: var(--dark-grey);
		font-weight: 600;
		.container {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		ul.languages,
		ul.date {
			margin-left: auto;
		}
	}
}

header {
	nav {
		background-color: var(--yellow-main);
		a,
		ul li a {
			color: #664f1b;
			font-weight: 600;
		}
	}
	.nav-wrapper ul {
		margin: 0 auto;
		width: fit-content;
		border-radius: 10px;
		display: none;
	}
	@media (min-width: 993px) {
		nav a.sidenav-trigger {
			display: block;
		}
	}
	@media (min-width: 80em) {
		.nav-wrapper ul {
			display: block;
		}
		nav a.sidenav-trigger {
			display: none;
		}
	}
}

section {
	width: 100%;
	overflow: hidden;

	h2 {
		font-size: 2rem;
		padding-top: 2rem;
		margin-bottom: 2rem;
		position: relative;

		&:before {
			content: "";
			width: 100px;
			height: 10px;
			background-color: var(--blue-main);
			position: absolute;
			bottom: -0.5rem;
			left: 0;
		}

		@media (min-width: 62em) {
			font-size: 3rem;
		}
	}
}

.hero {
	min-height: 400px;
	.hero-title {
		transition: 0.3s all ease-in-out;
		opacity: 1;
		height: 500px;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: -50px;
		display: flex;
		justify-content: center;
		align-items: center;

		& + .container {
			position: relative;
			z-index: 5;
		}

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: var(--blue-main);
			mix-blend-mode: multiply;
			opacity: 0.7;
		}

		.container {
			position: relative;
			z-index: 2;
			width: min(600px, 100%);
			text-align: center;
		}

		h1 {
			color: var(--yellow-main);
			font-family: "Roboto Condensed";
			margin: 0;
			padding: 0;
		}
		h2:before {
			content: unset;
		}
		&.fade {
			transition: 0.3s all ease-in-out;
			opacity: 0;
		}

		.glider-prev,
		.glider-next {
			border-radius: 50%;
			height: 60px;
			width: 60px;
			aspect-ratio: 1 / 1;
			&:hover {
				background: rgba(black, 0.2);
			}
			i {
				font-size: 4rem;
				color: #fff;
			}
		}
	}

	.owl-theme .owl-nav {
		width: 100%;
		max-width: 800px;
		position: relative;
		top: -60% !important;
		transform: translate(-50%, -160px);
		left: 50%;
	}
}

// Misc

.dropdown-content {
	background-color: var(--blue-main);

	li {
		&:hover,
		&.active {
			background: none;
		}
		& > a,
		& > span {
			color: #fff;
		}
	}

	a:hover {
		background-color: rgba(black, 0.2) !important;
	}
}

#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
	border-radius: 50%;
	width: 3rem !important;
	height: 3rem !important;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: rgba(white, 0.2);
	}

	svg {
		width: 2rem;
		height: 2rem;
		filter: invert(1);
	}
}

.owl-dots {
	margin-top: -50px;
	position: relative;
	z-index: 10;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
	justify-content: center;
	justify-items: center;
	gap: 4px;

	.owl-dot {
		background: rgba(#fff, 0.2);
		height: 12px;
		width: 12px;
		border-radius: 50%;
		&.active {
			background: #fff;
		}
	}
}

@media (min-width: 80em) {
	.owl-dots {
		margin-top: -80px;
		margin-bottom: 50px;
	}
	.owl-theme .owl-nav {
		top: -60% !important;
		transform: translate(-50%, -260px);
	}
}

#sync1 {
	margin-bottom: -20px;
	.item {
		padding: 40px 0px;
		margin: 0;
		height: 300px;
		color: #fff;
		border-radius: 3px;
		text-align: center;
		background-size: cover;
		display: flex;
		align-items: center;

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0.5;
			background: var(--blue-main);
			mix-blend-mode: darken;
		}

		.container {
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 2;
			width: min(600px, 100%);
			text-align: center;
			justify-content: center;
			align-items: center;

			img {
				width: 100px;
				height: 100px;
				object-fit: contain;
			}
		}

		h1 {
			color: var(--yellow-main);
			font-family: "Roboto Condensed";
			margin: 0;
			padding: 0;
			font-size: 3rem;
		}
	}
	@media (min-width: 80em) {
		.item {
			height: 500px;
			margin-bottom: -50px;
			h1 {
				font-size: 4rem;
			}
		}
	}
}

#sync2 {
	.owl-item.current {
		.item {
			h2,
			a {
				color: #333;
			}
			a {
				border-color: #333;
			}
			&::before {
				background: var(--yellow-main);
			}
		}
	}
	.item {
		margin: 5px;
		color: #fff;
		border-radius: 12px;
		text-align: center;
		cursor: pointer;
		background-size: cover;
		height: 250px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
		justify-content: flex-end;
		position: relative;
		overflow: hidden;
		gap: 8px;

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: var(--blue-main);
			mix-blend-mode: hard-light;
			transition: 0.3s ease-in-out;
		}

		h2,
		a {
			position: relative;
			z-index: 4;
		}
		h2 {
			font-family: "Roboto Condensed";
			font-size: 2rem;
			color: #fff;
			margin: 0;
			&::before {
				content: none;
			}
		}

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 2px 4px;
			border: 1px solid #fff;
			border-radius: 10px;
			color: #fff;
			gap: 4px;

			&:hover {
				background-color: rgba(white, 0.2);
			}

			i {
				font-size: 1rem;
			}
		}
	}
}

.owl-theme {
	.owl-nav {
		/*default owl-theme theme reset .disabled:hover links */
		[class*="owl-"] {
			transition: all 0.3s ease;
			&.disabled:hover {
				background-color: #d6d6d6;
			}
		}
	}
}

//arrows on first carousel
#sync1.owl-theme {
	position: relative;
	.owl-next,
	.owl-prev {
		width: 22px;
		height: 40px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
	}
	.owl-prev {
		left: 10px;
	}
	.owl-next {
		right: 10px;
	}
}

.home-news {
	h2 {
		border-top: 1px solid var(--dark-grey);
	}
	.col {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.news-card {
		&.has-img {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			img {
				max-height: 300px;
				width: 100%;
				object-fit: cover;
				border-radius: 12px;
			}
			&:not(:last-of-type) {
				position: relative;
				&:before {
					content: "";
					width: 100%;
					height: 1px;
					background-color: var(--dark-grey);
					position: absolute;
					bottom: -0.5rem;
				}
			}

			.news-card__info {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}

			p {
				margin: 0;
				font-size: 1.125rem;
			}

			.info_title {
				font-size: 1.5rem;
			}

			.info_cta {
				border: 2px solid var(--dark-grey);
				padding: 2px 4px;
				border-radius: 10px;
				width: fit-content;
				display: inline-flex;
				gap: 8px;
				color: #333;
				i {
					font-size: 20px;
					color: #333;
				}
			}
		}
		&:not(&.has-img) {
			position: relative;
			&:before {
				content: "";
				width: calc(100% - 30px);
				height: 1px;
				right: 0;
				background-color: var(--dark-grey);
				position: absolute;
				bottom: 1rem;
			}

			.info_title {
				font-size: 1.5rem;
			}
		}

		.info {
			&_tag {
				border: 1px solid var(--dark-grey);
				padding: 2px 4px;
				border-radius: 10px;
				width: fit-content;
				display: inline-flex;
				gap: 8px;

				a {
					color: #000;
				}
			}
			&_title {
				font-size: 2rem;
				margin: 0;
				font-weight: 600;
				a {
					color: #000;
				}
			}
			&_cta {
				width: fit-content;
				&:hover {
					background-color: rgba($blue-main, 0.2);
				}
				i {
					font-size: 20px;
					color: #333;
				}
			}
		}
	}

	@media (min-width: 62em) {
		.col {
			gap: 2rem;
		}
		.news-card {
			&.has-img {
				display: grid;
				grid-template-columns: 200px auto;
				img {
					max-height: 300px;
				}
				&:not(:last-of-type) {
					&:before {
						bottom: -1rem;
					}
				}
			}
		}
	}
}

section.banner {
	padding: 2rem 0;
	.container {
		border-top: 1px solid var(--dark-grey);
		border-bottom: 1px solid var(--dark-grey);

		.row {
			padding: 1rem 0;
			margin: 0;
		}
		.col {
			padding: 0;
		}
	}
	a {
		display: block;
	}
	img {
		width: 100%;
	}
}

section.videos {
	background: black;

	h2 {
		color: #fff;
		&:before {
			background-color: red;
		}
	}

	.owl-carousel {
		gap: 1rem;
	}

	.video-card {
		margin: 10px;

		video {
			aspect-ratio: 16 / 9;
			width: 100%;
		}
	}

	.owl-nav {
		display: flex;
		justify-content: space-between;
		width: calc(100% + 6rem);
		position: relative;
		top: -60% !important;
		transform: translate(-50%, -160px);
		left: 50%;
		cursor: pointer;
	}
	.owl-carousel .owl-dots.disabled,
	.owl-carousel .owl-nav.disabled {
		display: flex;
	}

	.owl-prev,
	.owl-next {
		border-radius: 50%;
		width: 3rem !important;
		height: 3rem !important;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.owl-dots .owl-dot {
		background: rgba(white, 0.2);
		height: 12px;
		width: 12px;
		border-radius: 50%;

		&.active {
			background: #fff;
		}
	}

	.owl-prev {
		left: -40px;
	}

	@media (min-width: 993px) {
		.video-card {
			width: 100%;
		}
		.owl-nav {
			transform: translate(-50%, -220px);
		}

		.owl-dots {
			margin-top: -40px;
		}
	}
}

.testimonials {
	background-color: #f1f1f1;
	.testimonial_card {
		display: flex;
		flex-direction: column;
		border-radius: 12px;
		padding: 2px;
		padding-top: 2rem;
		overflow: hidden;

		.quote_wrapper {
			position: relative;
			background: #fff;
			width: calc(100% - 4px);
			margin: 2px 0 0 2px;
			border-radius: 12px 12px 0 0;
			padding: 10px 20px;
			text-align: left;

			&:after {
				content: "\201C";
				font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
				font-size: 6rem;
				font-weight: 600;
				line-height: 2rem;
				color: var(--yellow-main);
				position: absolute;
				top: 4px;
				left: 50%;
				transform: translateX(-50%);
			}

			.author {
				font-size: 1.5rem;
				font-weight: 600;
				color: var(--blue-main);
			}

			&:before {
				content: "";
				width: calc(100% + 4px);
				border-radius: 13px 13px 0 0;
				height: 100%;
				left: -2px;
				top: -2px;
				background: linear-gradient(180deg, var(--blue-main), white);
				position: absolute;
				z-index: -1;
			}
		}

		img {
			width: 100%;
			max-height: 250px;
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}
	}

	.owl-nav {
		display: flex;
		justify-content: space-between;
		width: calc(100% + 6rem);
		position: relative;
		top: -60% !important;
		transform: translate(-50%, -160px);
		left: 50%;
		cursor: pointer;
	}
	.owl-carousel .owl-dots.disabled,
	.owl-carousel .owl-nav.disabled {
		display: flex;
	}

	.owl-prev,
	.owl-next {
		border-radius: 50%;
		width: 3rem !important;
		height: 3rem !important;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.owl-dots .owl-dot {
		background: rgba(black, 0.2);
		height: 12px;
		width: 12px;
		border-radius: 50%;

		&.active {
			background: #333;
		}
	}

	.owl-prev {
		left: -40px;
	}

	@media (min-width: 993px) {
		.video-card {
			width: 100%;
		}
		.owl-nav {
			transform: translate(-50%, -220px);
		}

		.owl-dots {
			margin-top: -20px;
		}
	}
}

.footer {
	padding: 100px 0;
	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		text-align: center;
	}

	.logo {
		width: 100%;
		max-width: 400px;
		img {
			width: 100%;
			display: inline-block;
			object-fit: contain;
			max-height: 60px;
		}
	}

	.links_columns {
		display: grid;
		gap: 1rem;
		h2 {
			font-size: 1.2rem;
			margin: 0 0 1rem 0;
			padding: 0;
		}
		ul {
			margin: 0;
		}

		a {
			color: #333;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (min-width: 80em) {
		.container {
			flex-direction: row;
			justify-content: center;
		}

		.logo {
			position: relative;
			img {
				width: 300px;
			}

			&:before {
				content: "";
				width: 4px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
				background-color: var(--blue-main);
			}
		}

		.links_columns {
			gap: 4rem;
			text-align: left;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

// Páginas
.page-hero {
	background: url(../img/agro.jpg) no-repeat center center;
	background-size: cover;
	padding: 60px;

	&.sobre {
		background-image: url(../img/sobre.jpg);

		.page-info img {
			filter: unset;
		}
	}

	.page-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		img {
			width: 100px;
			height: 100px;
			object-fit: contain;
			filter: invert(1);
		}

		h1 {
			margin: 0;
			padding: 0;
			color: var(--yellow-main);
			line-height: 1;
		}
	}
}

.page-content {
	&_title {
		display: flex;
		width: 100%;
		text-align: center;
		justify-content: center;

		h2 {
			width: fit-content;
		}
	}

	&_body {
		h1,
		h2,
		h3,
		h4,
		h5 {
			text-transform: uppercase;
		}

		h2 {
			font-size: 1.602rem;
		}

		h3 {
			font-size: 1.424rem;
		}

		h4 {
			font-size: 1.266rem;
		}

		h5 {
			font-size: 1.125rem;
		}
	}

	p {
		line-break: strict;
		word-break: keep-all;
		text-wrap: pretty;
	}
	img {
		display: inline-block;
		padding: 20px;
		width: 100%;
		&.image-left {
			float: left;
			padding-left: 0;
			max-width: 400px;
			& + p,
			& + h3,
			& + h4,
			& + h5,
			& + h6 {
				clear: right;
			}
		}
		&.image-right {
			float: right;
			padding-right: 0;
			max-width: 400px;
			& + p,
			& + h3,
			& + h4,
			& + h5,
			& + h6 {
				clear: left;
			}
		}
	}
}

.cards {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	.card {
		all: unset;
		height: 200px;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: "Roboto Condensed";
		font-size: 1.8rem;
		font-weight: 600;
		padding: 10px 20px;
		line-height: 1;
		position: relative;
		mix-blend-mode: multiply;
		text-wrap: pretty;
		color: #333;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: var(--yellow-main);
			mix-blend-mode: hard-light;
			z-index: -1;
		}

		&:after {
			mix-blend-mode: unset;
			opacity: 0.7;
		}

		&:nth-of-type(2n + 1) {
			color: #fff;
			&:before,
			&:after {
				background-color: var(--blue-main);
			}
		}
	}

	@media (min-width: 700px) {
		.cards-list {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}

	@media (min-width: 1000px) {
		.cards-list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.gallery {
	.gallery_items {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (min-width: 993px) {
			grid-template-rows: 1fr 1fr;
			img {
				&:first-of-type {
					grid-column: 1 / 3;
					grid-row: 1 / 3;
				}
				&:nth-of-type(2) {
					grid-column: 3 / 5;
					grid-row: 1 / 2;
				}
				&:nth-of-type(3) {
					grid-column: 3 / 5;
					grid-row: 2 / 3;
				}
				&:nth-of-type(6) {
					grid-column: 6 / 7;
					grid-row: 1 / 3;
				}
			}
		}
	}
}

// Abas
.opportunities {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
	height: fit-content;
	gap: 1rem;

	&__list-wrapper {
		position: relative;

		.scroll {
			position: absolute;
			top: 10px;
			width: 40px;
			height: 40px;
			border: 0;
			overflow: hidden;
			border-radius: 50%;
			background: #fff;

			&:hover {
				background: #eee;
			}

			i {
				font-size: 2rem;
			}

			&.scroll-left {
				left: -46px;
			}

			&.scroll-right {
				right: -46px;
			}
		}
	}

	&__list {
		margin: 0;
		display: flex;
		width: 100%;
		background: #fff;
		border: 1px solid #eee;
		padding: 10px !important;
		overflow-x: auto;
		border-radius: 20px;
		scroll-snap-type: x proximity;
		scroll-behavior: smooth;
		scroll-snap-align: start;
		gap: 1rem;

		button {
			border: none;
			width: max-content;
			background: none;
			text-align: left;
			display: inline-flex;
			align-items: center;
			gap: 4px;
			height: 100%;
			border-radius: 10px;

			&:hover {
				background: #eee;
			}

			&.active {
				color: var(--blue-main);
				font-weight: 600;
			}
		}

		img {
			height: 32px;
			width: 32px;
			object-fit: contain;
			display: block;
			padding: 0;
		}
	}

	&__map {
		height: 300px;
		overflow: hidden;
		border-radius: 20px;
	}

	.map-wrapper {
		height: 100%;
	}

	@media (min-width: 80em) {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 250px auto;
		padding: 50px 0;
		gap: 1rem;

		&__list {
			gap: 2px;
			overflow: hidden;
			display: flex;
			flex-direction: column;

			button {
				width: 100%;
			}
		}

		&__map {
			height: 100%;
		}
	}
}
