@charset "UTF-8";
:root {
  --dark-grey: #979c99;
  --yellow-main: #fdc413;
  --blue-main: #007bbf;
}

body {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

a {
  color: var(--blue-main);
  transition: 0.3s ease-in-out;
}
a:focus-visible {
  outline: 2px dashed black;
  outline-offset: 2px;
}

.heading-hero {
  padding: 1rem 0;
  color: var(--dark-grey);
  font-weight: 600;
}
.heading-hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-hero .box {
  display: flex;
  flex: 1;
  justify-content: center;
}
.heading-hero .box:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.heading-hero .logo {
  width: 100%;
  max-width: 300px;
  max-height: 80px;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  flex: 1;
  justify-content: center;
}
.heading-hero ul {
  margin: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
}
.heading-hero ul.markets {
  gap: 1rem;
}
.heading-hero ul.markets li {
  display: flex;
  flex-direction: column;
}
.heading-hero ul.markets .value {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.heading-hero ul.markets .value:before {
  content: "expand_less";
  font-family: "Material Icons";
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: green;
}
.heading-hero ul.markets .value.down:before {
  content: "expand_more";
  color: red;
}
.heading-hero ul.languages {
  gap: 0.5rem;
}
.heading-hero ul.languages li {
  height: 32px;
  width: 32px;
  padding: 2px;
}
.heading-hero ul.languages img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.heading-hero ul.date {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.heading-hero ul.date li {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.heading-hero ul.date i {
  font-size: 1.2rem;
}
@media (min-width: 80em) {
  .heading-hero {
    padding: 4rem 0;
    color: var(--dark-grey);
    font-weight: 600;
  }
  .heading-hero .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .heading-hero ul.languages,
  .heading-hero ul.date {
    margin-left: auto;
  }
}

header nav {
  background-color: var(--yellow-main);
}
header nav a,
header nav ul li a {
  color: #664f1b;
  font-weight: 600;
}
header .nav-wrapper ul {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  display: none;
}
@media (min-width: 993px) {
  header nav a.sidenav-trigger {
    display: block;
  }
}
@media (min-width: 80em) {
  header .nav-wrapper ul {
    display: block;
  }
  header nav a.sidenav-trigger {
    display: none;
  }
}

section {
  width: 100%;
  overflow: hidden;
}
section h2 {
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
section h2:before {
  content: "";
  width: 100px;
  height: 10px;
  background-color: var(--blue-main);
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
@media (min-width: 62em) {
  section h2 {
    font-size: 3rem;
  }
}

.hero {
  min-height: 400px;
}
.hero .hero-title {
  transition: 0.3s all ease-in-out;
  opacity: 1;
  height: 500px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-title + .container {
  position: relative;
  z-index: 5;
}
.hero .hero-title:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--blue-main);
  mix-blend-mode: multiply;
  opacity: 0.7;
}
.hero .hero-title .container {
  position: relative;
  z-index: 2;
  width: min(600px, 100%);
  text-align: center;
}
.hero .hero-title h1 {
  color: var(--yellow-main);
  font-family: "Roboto Condensed";
  margin: 0;
  padding: 0;
}
.hero .hero-title h2:before {
  content: unset;
}
.hero .hero-title.fade {
  transition: 0.3s all ease-in-out;
  opacity: 0;
}
.hero .hero-title .glider-prev,
.hero .hero-title .glider-next {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  aspect-ratio: 1/1;
}
.hero .hero-title .glider-prev:hover,
.hero .hero-title .glider-next:hover {
  background: rgba(0, 0, 0, 0.2);
}
.hero .hero-title .glider-prev i,
.hero .hero-title .glider-next i {
  font-size: 4rem;
  color: #fff;
}
.hero .owl-theme .owl-nav {
  width: 100%;
  max-width: 800px;
  position: relative;
  top: -60% !important;
  transform: translate(-50%, -160px);
  left: 50%;
}

.dropdown-content {
  background-color: var(--blue-main);
}
.dropdown-content li:hover, .dropdown-content li.active {
  background: none;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #fff;
}
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sync1.owl-theme .owl-next:hover,
#sync1.owl-theme .owl-prev:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#sync1.owl-theme .owl-next svg,
#sync1.owl-theme .owl-prev svg {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}

.owl-dots {
  margin-top: -50px;
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  gap: 4px;
}
.owl-dots .owl-dot {
  background: rgba(255, 255, 255, 0.2);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.owl-dots .owl-dot.active {
  background: #fff;
}

@media (min-width: 80em) {
  .owl-dots {
    margin-top: -80px;
    margin-bottom: 50px;
  }
  .owl-theme .owl-nav {
    top: -60% !important;
    transform: translate(-50%, -260px);
  }
}
#sync1 {
  margin-bottom: -20px;
}
#sync1 .item {
  padding: 40px 0px;
  margin: 0;
  height: 300px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
#sync1 .item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  background: var(--blue-main);
  mix-blend-mode: darken;
}
#sync1 .item .container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: min(600px, 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
}
#sync1 .item .container img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
#sync1 .item h1 {
  color: var(--yellow-main);
  font-family: "Roboto Condensed";
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
@media (min-width: 80em) {
  #sync1 .item {
    height: 500px;
    margin-bottom: -50px;
  }
  #sync1 .item h1 {
    font-size: 4rem;
  }
}

#sync2 .owl-item.current .item h2,
#sync2 .owl-item.current .item a {
  color: #333;
}
#sync2 .owl-item.current .item a {
  border-color: #333;
}
#sync2 .owl-item.current .item::before {
  background: var(--yellow-main);
}
#sync2 .item {
  margin: 5px;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  gap: 8px;
}
#sync2 .item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--blue-main);
  mix-blend-mode: hard-light;
  transition: 0.3s ease-in-out;
}
#sync2 .item h2,
#sync2 .item a {
  position: relative;
  z-index: 4;
}
#sync2 .item h2 {
  font-family: "Roboto Condensed";
  font-size: 2rem;
  color: #fff;
  margin: 0;
}
#sync2 .item h2::before {
  content: none;
}
#sync2 .item a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  gap: 4px;
}
#sync2 .item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#sync2 .item a i {
  font-size: 1rem;
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}

.home-news h2 {
  border-top: 1px solid var(--dark-grey);
}
.home-news .col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home-news .news-card.has-img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home-news .news-card.has-img img {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.home-news .news-card.has-img:not(:last-of-type) {
  position: relative;
}
.home-news .news-card.has-img:not(:last-of-type):before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--dark-grey);
  position: absolute;
  bottom: -0.5rem;
}
.home-news .news-card.has-img .news-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-news .news-card.has-img p {
  margin: 0;
  font-size: 1.125rem;
}
.home-news .news-card.has-img .info_title {
  font-size: 1.5rem;
}
.home-news .news-card.has-img .info_cta {
  border: 2px solid var(--dark-grey);
  padding: 2px 4px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  gap: 8px;
  color: #333;
}
.home-news .news-card.has-img .info_cta i {
  font-size: 20px;
  color: #333;
}
.home-news .news-card:not(.home-news .news-card.has-img) {
  position: relative;
}
.home-news .news-card:not(.home-news .news-card.has-img):before {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  right: 0;
  background-color: var(--dark-grey);
  position: absolute;
  bottom: 1rem;
}
.home-news .news-card:not(.home-news .news-card.has-img) .info_title {
  font-size: 1.5rem;
}
.home-news .news-card .info_tag {
  border: 1px solid var(--dark-grey);
  padding: 2px 4px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  gap: 8px;
}
.home-news .news-card .info_tag a {
  color: #000;
}
.home-news .news-card .info_title {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}
.home-news .news-card .info_title a {
  color: #000;
}
.home-news .news-card .info_cta {
  width: -moz-fit-content;
  width: fit-content;
}
.home-news .news-card .info_cta:hover {
  background-color: rgba(0, 123, 191, 0.2);
}
.home-news .news-card .info_cta i {
  font-size: 20px;
  color: #333;
}
@media (min-width: 62em) {
  .home-news .col {
    gap: 2rem;
  }
  .home-news .news-card.has-img {
    display: grid;
    grid-template-columns: 200px auto;
  }
  .home-news .news-card.has-img img {
    max-height: 300px;
  }
  .home-news .news-card.has-img:not(:last-of-type):before {
    bottom: -1rem;
  }
}

section.banner {
  padding: 2rem 0;
}
section.banner .container {
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
}
section.banner .container .row {
  padding: 1rem 0;
  margin: 0;
}
section.banner .container .col {
  padding: 0;
}
section.banner a {
  display: block;
}
section.banner img {
  width: 100%;
}

section.videos {
  background: black;
}
section.videos h2 {
  color: #fff;
}
section.videos h2:before {
  background-color: red;
}
section.videos .owl-carousel {
  gap: 1rem;
}
section.videos .video-card {
  margin: 10px;
}
section.videos .video-card video {
  aspect-ratio: 16/9;
  width: 100%;
}
section.videos .owl-nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 6rem);
  position: relative;
  top: -60% !important;
  transform: translate(-50%, -160px);
  left: 50%;
  cursor: pointer;
}
section.videos .owl-carousel .owl-dots.disabled,
section.videos .owl-carousel .owl-nav.disabled {
  display: flex;
}
section.videos .owl-prev,
section.videos .owl-next {
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section.videos .owl-dots .owl-dot {
  background: rgba(255, 255, 255, 0.2);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
section.videos .owl-dots .owl-dot.active {
  background: #fff;
}
section.videos .owl-prev {
  left: -40px;
}
@media (min-width: 993px) {
  section.videos .video-card {
    width: 100%;
  }
  section.videos .owl-nav {
    transform: translate(-50%, -220px);
  }
  section.videos .owl-dots {
    margin-top: -40px;
  }
}

.testimonials {
  background-color: #f1f1f1;
}
.testimonials .testimonial_card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 2px;
  padding-top: 2rem;
  overflow: hidden;
}
.testimonials .testimonial_card .quote_wrapper {
  position: relative;
  background: #fff;
  width: calc(100% - 4px);
  margin: 2px 0 0 2px;
  border-radius: 12px 12px 0 0;
  padding: 10px 20px;
  text-align: left;
}
.testimonials .testimonial_card .quote_wrapper:after {
  content: "“";
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 6rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--yellow-main);
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials .testimonial_card .quote_wrapper .author {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue-main);
}
.testimonials .testimonial_card .quote_wrapper:before {
  content: "";
  width: calc(100% + 4px);
  border-radius: 13px 13px 0 0;
  height: 100%;
  left: -2px;
  top: -2px;
  background: linear-gradient(180deg, var(--blue-main), white);
  position: absolute;
  z-index: -1;
}
.testimonials .testimonial_card img {
  width: 100%;
  max-height: 250px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .owl-nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 6rem);
  position: relative;
  top: -60% !important;
  transform: translate(-50%, -160px);
  left: 50%;
  cursor: pointer;
}
.testimonials .owl-carousel .owl-dots.disabled,
.testimonials .owl-carousel .owl-nav.disabled {
  display: flex;
}
.testimonials .owl-prev,
.testimonials .owl-next {
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.testimonials .owl-dots .owl-dot {
  background: rgba(0, 0, 0, 0.2);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.testimonials .owl-dots .owl-dot.active {
  background: #333;
}
.testimonials .owl-prev {
  left: -40px;
}
@media (min-width: 993px) {
  .testimonials .video-card {
    width: 100%;
  }
  .testimonials .owl-nav {
    transform: translate(-50%, -220px);
  }
  .testimonials .owl-dots {
    margin-top: -20px;
  }
}

.footer {
  padding: 100px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.footer .logo {
  width: 100%;
  max-width: 400px;
}
.footer .logo img {
  width: 100%;
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 60px;
}
.footer .links_columns {
  display: grid;
  gap: 1rem;
}
.footer .links_columns h2 {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
.footer .links_columns ul {
  margin: 0;
}
.footer .links_columns a {
  color: #333;
}
.footer .links_columns a:hover {
  text-decoration: underline;
}
@media (min-width: 80em) {
  .footer .container {
    flex-direction: row;
    justify-content: center;
  }
  .footer .logo {
    position: relative;
  }
  .footer .logo img {
    width: 300px;
  }
  .footer .logo:before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: var(--blue-main);
  }
  .footer .links_columns {
    gap: 4rem;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-hero {
  background: url(../img/agro.jpg) no-repeat center center;
  background-size: cover;
  padding: 60px;
}
.page-hero.sobre {
  background-image: url(../img/sobre.jpg);
}
.page-hero.sobre .page-info img {
  filter: unset;
}
.page-hero .page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-hero .page-info img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(1);
}
.page-hero .page-info h1 {
  margin: 0;
  padding: 0;
  color: var(--yellow-main);
  line-height: 1;
}

.page-content_title {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.page-content_title h2 {
  width: -moz-fit-content;
  width: fit-content;
}
.page-content_body h1,
.page-content_body h2,
.page-content_body h3,
.page-content_body h4,
.page-content_body h5 {
  text-transform: uppercase;
}
.page-content_body h2 {
  font-size: 1.602rem;
}
.page-content_body h3 {
  font-size: 1.424rem;
}
.page-content_body h4 {
  font-size: 1.266rem;
}
.page-content_body h5 {
  font-size: 1.125rem;
}
.page-content p {
  line-break: strict;
  word-break: keep-all;
  text-wrap: pretty;
}
.page-content img {
  display: inline-block;
  padding: 20px;
  width: 100%;
}
.page-content img.image-left {
  float: left;
  padding-left: 0;
  max-width: 400px;
}
.page-content img.image-left + p, .page-content img.image-left + h3, .page-content img.image-left + h4, .page-content img.image-left + h5, .page-content img.image-left + h6 {
  clear: right;
}
.page-content img.image-right {
  float: right;
  padding-right: 0;
  max-width: 400px;
}
.page-content img.image-right + p, .page-content img.image-right + h3, .page-content img.image-right + h4, .page-content img.image-right + h5, .page-content img.image-right + h6 {
  clear: left;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.cards .card {
  all: unset;
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 1.8rem;
  font-weight: 600;
  padding: 10px 20px;
  line-height: 1;
  position: relative;
  mix-blend-mode: multiply;
  text-wrap: pretty;
  color: #333;
}
.cards .card:before, .cards .card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-main);
  mix-blend-mode: hard-light;
  z-index: -1;
}
.cards .card:after {
  mix-blend-mode: unset;
  opacity: 0.7;
}
.cards .card:nth-of-type(2n + 1) {
  color: #fff;
}
.cards .card:nth-of-type(2n + 1):before, .cards .card:nth-of-type(2n + 1):after {
  background-color: var(--blue-main);
}
@media (min-width: 700px) {
  .cards .cards-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 1000px) {
  .cards .cards-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gallery .gallery_items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
}
.gallery .gallery_items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 993px) {
  .gallery .gallery_items {
    grid-template-rows: 1fr 1fr;
  }
  .gallery .gallery_items img:first-of-type {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .gallery .gallery_items img:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .gallery .gallery_items img:nth-of-type(3) {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .gallery .gallery_items img:nth-of-type(6) {
    grid-column: 6/7;
    grid-row: 1/3;
  }
}

.opportunities {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
}
.opportunities__list-wrapper {
  position: relative;
}
.opportunities__list-wrapper .scroll {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  border: 0;
  overflow: hidden;
  border-radius: 50%;
  background: #fff;
}
.opportunities__list-wrapper .scroll:hover {
  background: #eee;
}
.opportunities__list-wrapper .scroll i {
  font-size: 2rem;
}
.opportunities__list-wrapper .scroll.scroll-left {
  left: -46px;
}
.opportunities__list-wrapper .scroll.scroll-right {
  right: -46px;
}
.opportunities__list {
  margin: 0;
  display: flex;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px !important;
  overflow-x: auto;
  border-radius: 20px;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  gap: 1rem;
}
.opportunities__list button {
  border: none;
  width: -moz-max-content;
  width: max-content;
  background: none;
  text-align: left;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 100%;
  border-radius: 10px;
}
.opportunities__list button:hover {
  background: #eee;
}
.opportunities__list button.active {
  color: var(--blue-main);
  font-weight: 600;
}
.opportunities__list img {
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  padding: 0;
}
.opportunities__map {
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
}
.opportunities .map-wrapper {
  height: 100%;
}
@media (min-width: 80em) {
  .opportunities {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px auto;
    padding: 50px 0;
    gap: 1rem;
  }
  .opportunities__list {
    gap: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .opportunities__list button {
    width: 100%;
  }
  .opportunities__map {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */